<template>
  <div class='service'>
    <div class="user">
      <div class="userInfo">
        <img :src='userInfo.avatar' alt="用户头像">
        <div class="name">
          <p>{{userInfo.name}}</p>
          <p>余额： 2365.00</p>
        </div>
      </div>
      <el-button type="primary">升级服务</el-button>
    </div>
    <div class="serviceList">
      <template v-for='item in menu'>
        <div class="item" v-if='item.icon' :key='item.title'>
          <i :class="[item.icon, 'iconfont']"></i>
          <span>{{item.title}}</span>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import menu from '@/assets/js/config/menudefine'
import forage from '@/assets/js/service/cacheservice.js'
export default {
  name: 'service',
  data () {
    return {
      menu: menu,
      userInfo: {
        name: '',
        avatar: ''
      }
    }
  },
  created () {
    forage.getItem('userInfo').then(res => {
      console.log(res)
      if (res) {
        if (res.name !== '') {
          this.userInfo.name = res.username
        }
        if (res.userImg !== '') {
          this.userInfo.avatar = res.userImg
        }
      }
    }).catch(err => {
      console.log(err)
    })
  }
}
</script>

<style scoped lang='scss'>
.service {
  background: $main-bg;
  // height: 100%;

  .user {
    min-height: 50px;
    padding: 20px;
    @extend %flex-center-row;
    justify-content: space-between;

    .userInfo {
      min-width: 100px;
      @extend %flex-center-row;
      justify-content: space-between;
      img {
        height: 70px;
        width: 70px;
        border-radius: 35px;
      }
      .name {
        height: 100%;
        padding-left: 20px;
        p {
          padding: 10px;
        }
      }
    }
  }

  .serviceList {
    min-height: 300px;
    padding: 0 0 32px 0;
    .item {
      @extend %flex-center-col;
      justify-content: space-around;
      float: left;
      width: 14.28%;
      text-align: center;
      margin-top: 63px;
      position: relative;
      height: 90px;
      cursor: pointer;

      &:hover {
        color: $color-text-active;
        .iconfont {
          @extend %iconfont;
          color: $color-text-active;
        }
      }

      .iconfont {
        @extend %iconfont;
        color: #409eff;
      }
    }
  }
}
</style>
