<template>
  <div class='invoice'>
    <div class="title">
      <div class="rest">
        账户余额：999元
      </div>
      <div class="rechargeIcon" @click='isShow'>
        <span>在线充值</span>
        <i class="icon-xiangxia2 iconfont"></i>
      </div>
    </div>
    <div :class="showRecharge?'maxRecharge':'hidden'">
      <transition name='fade'>
        <template v-if='showRecharge'>
          <div class="content" :style='{"minHeight": "1px"}'>
            <div class="sum">
              <div class="btnBox">
                <span class='sumTitle'>充值金额: </span>
                <el-button :class='money === 200?"active":""' @click='changeMoney(200)'>200元</el-button>
                <el-button :class='money === 500?"active":""' @click='changeMoney(500)'>500元</el-button>
                <el-button :class='money === 1000?"active":""' @click='changeMoney(1000)'>1000元</el-button>
                <el-button :class='money === 2000?"active":""' @click='changeMoney(2000)'>2000元</el-button>
              </div>
              <el-input size='small' placeholder="其他金额" type='number' @input='changeMoney'>
                <template slot="append">元</template>
              </el-input>
            </div>
            <div class="mode">
              <span class='sumTitle'>支付方式: </span>
              <el-button size='small' :class='mode === "weixin"?"active":""' @click='chooseMode("weixin")'>
                <i :class="['icon-weixinzhifu', 'iconfont']"></i>微信支付
              </el-button>
              <el-button size='small' :class='mode === "alipay"?"active":""' @click='chooseMode("alipay")'>
                <i :class="['icon-alipay', 'iconfont']"></i>支付宝支付
              </el-button>
            </div>
            <div class="money">
              <span class='sumTitle'>应付金额:</span>
              <p>{{money?money:0}}元</p>
            </div>
            <el-button class='goPay' type="primary">前往支付</el-button>
          </div>
        </template>
      </transition>
    </div>
    <div class="minRecharge"></div>
    <div class="records">
      <div class="top">
        <div class="recordTitle">已选0个消费记录，共计0元 ，还差100元可以开具发票</div>
        <div class="selectBox">
          <el-date-picker v-model="dateValue" size='small' type="daterange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期">
          </el-date-picker>
          <p>收支类型</p>
          <el-select class='select' v-model="selectValue" placeholder="请选择" size='small'>
            <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
          </el-select>
        </div>
      </div>
      <div class="main">暂无相关记录</div>
      <div class="bottom">
        <div class='bottomTitle'>开票说明</div>
        <p>1.每月15日、28日集中开具发票，如遇节假日将顺延<br/>
          2.根据相关政策规定，发票内容仅支持开具“技术服务费”<br/>
          3.订单完成后，可在6个月内申请开具增值税普通电子发票，请注意邮件查收<br/>
          4.公对公转账且单张开票金额满3000元以上，可在6个月内申请开具增值税专用发票（纸质）；发票快递费用您本人自行承担，具体费用以快递公司收费标准为参考，快递费发票请您向快递公司索要。（请在公对公转账后直接联系在线客服）<br/>
          5.开票金额以您实际的订单金额为准， 订单中包含的各种形式的折扣不支持开票；<br/>
          6.如您开具的增值税普通发票用于企业报销，根据国家税务相关政策要求请填写纳税人纳税人识别号；如您的单位是非企业性质或您要求开具个人名义抬头，您可以选择“个人/非企业单位”的开票选项，无需填写纳税人识别号；<br/>
          7.如您错填发票抬头等信息需要进行修改，请您及时联系官方客服为您处理；如果发票已寄出或已开具，还请您收到发票后立即跟客服人员联系处理（自开票日期开具日期算起，有效期为10天）。<br/>
          8.因您个人填写发票信息和快递信息有误等原因产生的发票退票及重寄的往来费用，需由您本人自行承担。<br/>
          9.如有其他问题请咨询
          <router-link to="/overview">在线客服</router-link>。
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'rechargeInvoice',
  data () {
    return {
      showRecharge: false,
      money: 200,
      mode: 'weixin',
      dateValue: '',
      options: [{
        value: '选项1',
        label: '黄金糕'
      }, {
        value: '选项2',
        label: '双皮奶'
      }, {
        value: '选项3',
        label: '蚵仔煎'
      }, {
        value: '选项4',
        label: '龙须面'
      }, {
        value: '选项5',
        label: '北京烤鸭'
      }],
      selectValue: ''
    }
  },
  methods: {
    isShow () {
      this.showRecharge = !this.showRecharge
    },
    changeMoney (num) {
      this.money = parseInt(num)
    },
    chooseMode (type) {
      this.mode = type
    }
  }
}
</script>

<style scoped lang='scss'>
.invoice {
  .title {
    height: 60px;
    box-sizing: border-box;
    padding: 0 20px;
    @extend %flex-center-row;
    justify-content: space-between;

    .rechargeIcon {
      cursor: pointer;
    }
  }

  .minRecharge {
    height: 4px;
    background: $content-bg;
    transition: all $duration ease-in-out;
  }
  .hidden,
  .maxRecharge {
    border-top: 1px solid $content-bg;
    padding: 10px 50px 10px 90px;
    transition: all $duration ease-in-out;
    height: 380px;

    .sumTitle {
      display: inline-block;
      width: 90px;
      font-size: 14px;
    }

    .sum {
      .btnBox {
        .el-button {
          margin: 20px 10px;
          padding: 10px 23px;
        }
      }
      .el-input {
        margin-left: 103px;
        width: 250px;
      }
    }

    .mode {
      border-top: $border-tint;
      padding-top: 20px;
      margin: 30px 0;
      margin-bottom: 10px;
      .iconfont {
        font-size: 16px;
        margin: 0 5px;
        line-height: 18px;
        color: #58b737;
      }

      .icon-alipay {
        color: #7ec1ef;
      }
      .el-button {
        margin: 20px 10px;
      }
    }
    .money {
      p {
        display: inline-block;
        margin: 10px 10px;
        color: $color-text-active;
      }
    }
    .goPay {
      margin: 20px 100px;
      padding: 10px 30px;
    }
  }

  .hidden {
    height: 0px;
    padding: 0 50px 0 90px;
  }
  .active {
    border: 2px solid $color-text-active;
  }

  .records {
    padding: 20px 20px;

    .top {
      font-size: 14px;
      @extend %flex-center-row;
      justify-content: space-between;
      .selectBox {
        @extend %flex-center-row;
        justify-content: space-between;

        .el-date-editor {
          width: 250px;
        }
        p {
          font-size: 14px;
          margin-left: 30px;
          margin-right: 10px;
        }
        .select {
          width: 100px;
        }
      }
    }
    .main {
      min-height: 300px;
      @extend %flex-center-row;
    }
    .bottom{

      .bottomTitle{
        padding: 10px 0;
      }
      p{
        font-size: 14px;
        color: $color-text;
        line-height: 18px;
      }
    }
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
}
</style>
