<template>
  <div class="areaConfig uiConfig">
    <div class='configGroup' v-if='data.openConfigs'>
      <div :class="[data.openConfigs.includes('base') ? 'reverse' : '', 'configTitle']" @click="changOpenConfig('base')">
        <span>基础信息</span>
        <i class="icon-xiala2 iconfont"></i>
      </div>
      <template v-if="data.openConfigs.includes('base')">
        <div class="configItem">
          <span class='itemTitle'>区块主题</span>
          <el-input v-model="data.label"></el-input>
        </div>
        <div class="configItem">
          <span class='itemTitle'>主题位置</span>
          <el-radio-group v-model="data.titlePosition">
            <el-radio-button label="left">左对齐</el-radio-button>
            <el-radio-button label="center">居中</el-radio-button>
            <el-radio-button label="right">右对齐</el-radio-button>
          </el-radio-group>
        </div>
        <div class="configItem">
          <span class='itemTitle'>允许折叠</span>
          <el-checkbox v-model="data.allowFolding">允许</el-checkbox>
        </div>
        <div class="configItem">
          <span class='itemTitle'>添加锚点</span>
          <el-checkbox v-model="data.haveAnchor">添加</el-checkbox>
        </div>
        <!-- <div class="configItem">
          <span class='itemTitle'>描述信息</span>
          <el-input type="textarea" placeholder="请输入描述" v-model="data.description" maxlength="200">
          </el-input>
        </div> -->
      </template>
    </div>
    <div class='configGroup' v-if='data.openConfigs'>
      <div :class="[data.openConfigs.includes('layout') ? 'reverse' : '', 'configTitle']" @click="changOpenConfig('layout')">
        <span>布局配置 </span>
        <i class="icon-xiala2 iconfont"></i>
      </div>
      <template v-if="data.openConfigs.includes('layout')">
        <!-- <div class="configItem">
          <span class='itemTitle'>栅格列数</span>
          <el-input-number v-model="data.span" :min="0" :max="24" :step="1"></el-input-number>
        </div> -->
        <div class="configItem" v-if='data.name === "formArea"'>
          <span class='itemTitle'>区块列数</span>
          <el-select class='select' v-model="data.columns" placeholder="请选择" @change='selectAreaColumn'>
            <el-option v-for="item in [1,2,3,4,6,8,12,24]" :key="item" :label="item" :value="item">
            </el-option>
          </el-select>
        </div>
        <!-- <div class="configItem">
          <span class='itemTitle'>左侧栅格</span>
          <el-input-number v-model="data.offset" :min="0" :max="24" :step="1"></el-input-number>
        </div> -->
        <!-- <div class="configItem">
          <span class='itemTitle'>栅格高度</span>
          <el-input-number v-model="data.height" :min="data.minHeight ? data.minHeight : 60" :max="100000" :step="2"></el-input-number>
        </div> -->
        <!-- <div class="configItem">
          <span class='itemTitle'>占据行数</span>
          <el-input-number v-model="data.rows" :min="1" :max="1000" :step="1"></el-input-number>
        </div> -->
        <!-- <div class="configItem">
          <span class='itemTitle'>上下间隔</span>
          <el-input-number v-model="data.gutterV" :min="0" :max="200" :step="2"></el-input-number>
        </div> -->
        <div class="configItem">
          <span class='itemTitle'>左右间隔</span>
          <el-input-number v-model="gutterH" :min="0" :max="200" :step="1"></el-input-number>
        </div>
        <div class="configItem">
          <span class='itemTitle'>标题位置</span>
          <el-radio-group v-model="data.labelPosition" @change='selectAreaLabelPosition'>
            <el-radio-button label="left">左对齐</el-radio-button>
            <el-radio-button label="right">右对齐</el-radio-button>
            <el-radio-button label="top">顶部对齐</el-radio-button>
          </el-radio-group>
        </div>
        <div class="configItem">
          <span class='itemTitle'>标题宽度</span>
          <el-input-number v-model="data.labelWidth" :min="0" :max="200" :step="2"></el-input-number>
        </div>
        <!-- <div class="configItem" v-if='data.name === "tabArea"'>
          <span class='itemTitle'>上下边距</span>
          <el-input-number v-model="data.marginV" :min="0" :max="200" :step="2"></el-input-number>
        </div>
        <div class="configItem" v-if='data.name === "tabArea"'>
          <span class='itemTitle'>左右边距</span>
          <el-input-number v-model="data.marginH" :min="0" :max="200" :step="2"></el-input-number>
        </div> -->
      </template>
    </div>
    <div class='configGroup'>
      <div :class="[data.openConfigs.includes('advanced') ? 'reverse' : '', 'configTitle']" @click="changOpenConfig('advanced')">
        <span>高级配置 </span>
        <i class="icon-xiala2 iconfont"></i>
      </div>
      <template v-if="data.openConfigs.includes('advanced')">
        <div class="configItem">
          <span class='itemTitle'>快速生成</span>
          <select-list :data="fieldList" maxWidth='250' :props='selectListProps' v-model="data.selectFields" placeholder="请选择" multiple @change='selectField'></select-list>
          <!-- <i class="icon-add iconfont" slot="reference" @click='popperVisible = !popperVisible'></i> -->
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import { bus } from '@/assets/js/comm/constant'
import { unique } from '@/assets/js/utils/utils'
import { getControl } from './static/controlList'
import SelectList from '@/components/searchBox/selectList' // 下拉列表
import lodash from 'lodash'
export default {
  props: {
    data: Object, // 当前控件
    fieldList: Array
  },
  components: { SelectList },
  data: function () {
    return {
      gutterH: this.data.gutterH / 2,
      selectListProps: { // selectList中的props
        label: 'label',
        valueKey: 'id'// 用来筛选或者显示的属性
      }
    }
  },
  watch: {
    data: function (val) {
      if (val.key) {
        this.initField()
      }
    },
    gutterH: function (val) {
      this.data.gutterH = 2 * val
    }
  },
  created () {
    this.initField()
  },
  methods: {
    initField () {
      this.data.selectFields = []
      this.fieldList.map(field => {
        this.data.children.map(control => {
          if (field.model === control.model) {
            this.data.selectFields.push(field)
          }
        })
      })
    },
    selectField (arr) { // arr: 选择的字段列表：1、新增勾选时增加控件 2、勾掉已有字段时干掉相关控件
      let newContorl = {}
      let isHave = false
      let newObj = {}
      let oldIndex = null
      arr.map((field, index) => { // 找到新增的字段
        this.data.children.map(control => {
          if (control.model === field.model) {
            isHave = true
          }
        })
        if (!isHave) {
          newContorl = lodash.cloneDeep(field)
        }
        isHave = false
      })
      if (newContorl.model) { // 添加新增的字段-控件
        const key = unique()
        const initData = getControl(newContorl.controlType)
        const cloneData = {
          ...lodash.cloneDeep(initData),
          key,
          dataSource: newContorl,
          model: newContorl.model,
          label: newContorl.displayName
        }
        this.data.children.push(cloneData)
        return false
      }
      this.fieldList.map(field => { // 从所有控件中，找到已经选择了数据源的那些
        this.data.children.map((control, index) => {
          if (control.model === field.model) {
            newObj[index] = field
          }
        })
      })
      for (let key in newObj) { // 找到已经勾掉的字段控件的下标
        let isCommon = false
        arr.map((field, index) => {
          if (newObj[key].model === field.model) {
            isCommon = true
          }
        })
        if (!isCommon) {
          oldIndex = key
        }
      }
      if (typeof oldIndex === 'string') { // 删除已经勾掉的字段控件
        this.data.children.splice(oldIndex, 1)
      }
    },
    selectAreaColumn (column) {
      bus.$emit('selectAreaColumn', column)
    },
    selectAreaLabelPosition (position) {
      if (this.data.name === 'baseArea') return
      bus.$emit('selectAreaLabelPosition', position)
    },
    changOpenConfig (groupName) {
      let { openConfigs } = this.data
      if (openConfigs.includes(groupName)) {
        const index = openConfigs.indexOf(groupName)
        openConfigs.splice(index, 1)
      } else {
        openConfigs.push(groupName)
      }
    }
  }
}
</script>
