<template>
  <div class="controlConfig uiConfig">
    <div class='configGroup' v-if='data.openConfigs'>
      <div :class="[data.openConfigs.includes('base') ? 'reverse' : '', 'configTitle']" @click="changOpenConfig('base')">
        <span>基础配置 </span>
        <i class="icon-xiala2 iconfont"></i>
      </div>
      <template v-if="data.openConfigs.includes('base')">
        <div class="configItem" v-if='data.area === "baseArea"'>
          <span class='itemTitle'>占据宽度</span>
          <el-input-number class='percent' v-model="data.width" :min="1" :max="100-data.offset" :step="1" suffix='%' @change='getPercent'>
          </el-input-number>
        </div>
        <div class="configItem" v-if='data.area === "baseArea"'>
          <span class='itemTitle'>左侧间距</span>
          <el-input-number class='percent' v-model="data.offset" :min="0" :max="100-data.width" :step="1" suffix='%' @change='getPercent'></el-input-number>
        </div>
        <div class="configItem" v-if='data.area === "baseArea"'>
          <span class='itemTitle'>占据高度</span>
          <el-input-number v-model="data.height" :min="data.minHeight ? data.minHeight : 60" :max="10000" :step="2"></el-input-number>
        </div>
        <div class="configItem" v-if='data.area === "formArea"'>
          <span class='itemTitle'>占据行数</span>
          <el-input-number v-model="data.rows" :min="1" :max="100" :step="1"></el-input-number>
        </div>
        <div class="configItem" v-if='data.placeholder !== undefined'>
          <span class='itemTitle'>占位内容</span>
          <el-input v-model="data.placeholder"></el-input>
        </div>
        <div class="configItem" v-if='data.label !== undefined'>
          <span class='itemTitle'>控件标题</span>
          <el-input v-model="data.label"></el-input>
        </div>
        <!-- <div class="configItem" v-if='data.size'>
          <span class='itemTitle'>控件尺寸</span>
          <el-radio-group v-model="data.size">
            <el-radio label="medium">大</el-radio>
            <el-radio label="small">中</el-radio>
            <el-radio label="mini">小</el-radio>
          </el-radio-group>
        </div> -->
        <div class="configItem" v-if='data.name==="tree"'>
          <span class='itemTitle'>默认展开</span>
          <el-checkbox v-model="data.expandAll">展开</el-checkbox>
        </div>
        <div class="configItem" v-if='data.name==="img"'>
          <span class='itemTitle'>图片宽度</span>
          <el-input-number v-model="data.size.width" :min="data.minHeight ? data.minHeight : 60" :max="1000" :step="2"></el-input-number>
        </div>
        <div class="configItem" v-if='data.name==="img"'>
          <span class='itemTitle'>图片高度</span>
          <el-input-number v-model="data.size.height" :min="data.minHeight ? data.minHeight : 60" :max="1000" :step="2"></el-input-number>
        </div>
        <!-- <div class="configItem">
          <span class='itemTitle'>是否多选</span>
          <el-checkbox v-model="data.multiple">多选</el-checkbox>
        </div> -->
        <!-- <div class="configItem">
          <span class='itemTitle'>上传个数</span>
          <el-input-number v-model="data.limit" :min="1" :max="100" :step="1"></el-input-number>
        </div> -->
      </template>
    </div>
    <div class='configGroup'>
      <div :class="[data.openConfigs.includes('rules') ? 'reverse' : '', 'configTitle']" @click="changOpenConfig('rules')">
        <span>校验配置 </span>
        <i class="icon-xiala2 iconfont"></i>
      </div>
      <template v-if="data.openConfigs.includes('rules') && data.rules">
        <div class="configItem">
          <span class='itemTitle'>是否必填</span>
          <el-checkbox v-model="data.rules[0].required">必填</el-checkbox>
        </div>
        <div class="configItem" v-if='data.rules[1]'>
          <span class='itemTitle'>最小长度</span>
          <el-input-number v-model="data.rules[1].min" :min="0" :max="data.rules[1].max" :step="1"></el-input-number>
        </div>
        <div class="configItem" v-if='data.rules[1]'>
          <span class='itemTitle'>最大长度</span>
          <el-input-number v-model="data.rules[1].max" :min="Math.max(data.rules[1].min, 32)" :max="1000" :step="1"></el-input-number>
        </div>
        <div class="configItem" v-if='data.reg'>
          <span class='itemTitle'>正则校验</span>
          <!-- class='select1' 加上即可变为120px-->
          <el-select v-model="data.reg" filterable placeholder="请选择" value-key="label" @change='selectReg'>
            <el-option v-for="item in regList" :key="item.value" :label="item.label" :value="item">
            </el-option>
          </el-select>
          <el-popover placement="right" width="300" popper-class='rulsePopover' v-model="popperVisible">
            <el-form :model="form" class='regForm' label-position="right" :label-width="80" :inline="true" ref='regForm' :rules="rules">
              <el-form-item label="名称" prop='label'>
                <el-input v-model="form.label" size='small'></el-input>
              </el-form-item>
              <el-form-item label="正则" prop='value'>
                <el-input v-model="form.value" size='small' maxlength="100"></el-input>
              </el-form-item>
              <el-form-item label="提示" prop='msg'>
                <el-input v-model="form.msg" size='small' maxlength="100"></el-input>
              </el-form-item>
            </el-form>
            <div class='formFooter'>
              <el-button type="primary" size='small' @click='saveReg'>保存</el-button>
              <el-button type="primary" plain size='small' @click='popperVisible = false'>取 消</el-button>
            </div>
            <!-- <i class="icon-add iconfont" slot="reference" @click='popperVisible = !popperVisible'></i> -->
          </el-popover>
        </div>
      </template>
    </div>
    <div class='configGroup'>
      <div :class="[data.openConfigs.includes('data') ? 'reverse' : '', 'configTitle']" @click="changOpenConfig('data')">
        <span>数据配置 </span>
        <i class="icon-xiala2 iconfont"></i>
      </div>
      <template v-if="data.openConfigs.includes('data')">
        <div class="configItem" v-if='data.name === "text"'>
          <span class='itemTitle itemBlock'>文本内容</span>
          <tinymce v-model="data.value" :max-size="data.maxSize" :with-credentials='false' :config='tinymceConfig' class='miniTynymce'></tinymce>
        </div>
        <div class="configItem" v-if='data.defaultValue !== underfined'>
          <span class='itemTitle'>数据来源</span>
          <el-select v-model="data.dataSource" filterable placeholder="请选择" value-key="id" @change='selectField'>
            <el-option v-for="item in fieldList" :key="item.name" :label="item.label" :value="item" :disabled="item.disabled">
            </el-option>
          </el-select>
        </div>
        <div class="configItem" v-if='data.name === "table"'>
          <span class='itemTitle'>数据来源</span>
          <el-select v-model="data.dataSource" filterable placeholder="请选择" value-key="name" @change='selectTableData'>
            <el-option v-for="item in dataModelTree" :key="item.name" :label="item.name + '('+  item.displayName +')'" :value="item">
            </el-option>
          </el-select>
        </div>
        <!-- <div class="configItem" v-if='data.name === "tree"'>
          <span class='itemTitle'>数据来源</span>
          <el-select v-model="data.dataSource" filterable placeholder="请选择" value-key="label" @change='selectTreeData'>
            <el-option v-for="item in treeData" :key="item.label" :label="item.label" :value="item">
            </el-option>
          </el-select>
        </div> -->
        <div class="configItem" v-if='data.name === "table"'>
          <span class='itemTitle'>展示列</span>
          <select-list :data="data.columnList" maxWidth='250' :props='selectListProps' v-model="selectColumns" placeholder="请选择" multiple sort disabled @change='selectColumnHandle'>
          </select-list>
        </div>
      </template>
    </div>
    <!-- <div class='configGroup'>
      <div :class="[data.openConfigs.includes('advanced') ? 'reverse' : '', 'configTitle']" @click="changOpenConfig('advanced')">
        <span>高级配置 </span>
        <i class="icon-xiala2 iconfont"></i>
      </div>
    </div> -->
  </div>
</template>

<script>
import lodash from 'lodash'
import Tinymce from '@/components/tinymce'
import SelectTree from '@/components/searchBox/beta' // 下拉选择树
import SelectList from '@/components/searchBox/selectList' // 下拉列表

export default {
  props: {
    data: Object, // 当前控件
    dataModelTree: Array, // 数据模型树形结构
    fieldList: Array, // 数据模型所有字段
    currentArea: Object // 当前区块
  },
  components: { Tinymce, SelectList, SelectTree },
  data: function () {
    return {
      str: '',
      formItem: ['input', 'textarea', 'radio', 'number', 'checkbox', 'time', 'date', 'rate', 'color', 'select', 'switch', 'slider'],
      baseItem: ['img', 'button', 'text', 'table', 'richText'],
      listLeft: '0',
      selectColumn: [], // 当前展示列的集合 ['', '']
      popperVisible: false, // 控制新增正则的显示与否
      regList: [
        { label: '邮箱', value: '^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$', msg: '请填写正确的邮箱格式' },
        { label: '名称', value: '^[a-zA-Z_\.-][a-zA-Z0-9_\.-]*$', msg: '字段只允许为字母数字或者._-且不能数字开头' },
        { label: '中文', value: '^[\u4e00-\u9fa5]+$', msg: '字段只允许为中文' },
        { label: '数字', value: '^[0-9]{1}$', msg: '字段只允许为数字' },
        { label: '手机号', value: '^1\d{10}$', msg: '请填入正确的手机号' },
        { label: '身份证', value: '^(\d{6})(\d{4})(\d{2})(\d{2})(\d{3})([0-9]|X)$', msg: '请输入正确的身份证号' },
        { label: 'URL地址', value: '[a-zA-z]+://[^\s]*', msg: '请输入正确的url地址' }
      ],
      form: {
        label: '',
        value: '',
        msg: ''
      },
      selectListProps: { // selectList中的props
        value: 'name',
        label: 'label',
        valueKey: 'id'// 用来判断作选项唯一性的标志的属性
      },
      selectTreeProps: { // 下拉树的props
        children: 'children', // 下拉树或者表格树中表示子节点数组的属性
        label: 'name', // 下拉树中用来显示的名称
        id: 'id', // 用来表示树节点唯一标志的属性
        keyWord: 'name'// 用来筛选或者显示的属性
      },
      tinymceConfig: {
        height: 150,
        menubar: 'edit format insert view ',
        menu: {
          edit: { title: 'Edit', items: 'undo redo | cut copy paste pastetext | selectall' },
          format: { title: 'Format', items: 'underline strikethrough superscript subscript  formats removeformat' },
          insert: { title: 'Insert', items: 'link image media template hr' },
          view: { title: 'View', items: 'visualaid fullscreen' }
        },
        // toolbar: false
        toolbar: ` forecolor backcolor bold  italic fontselect fontsizeselect `
      },
      rules: {
        label: [
          { required: true, trigger: 'blur', message: '正则名称不可为空' },
          { min: 0, max: 64, message: '长度不得超过64个字符', trigger: 'blur' }
        ],
        value: [
          { required: true, trigger: 'blur' },
          { min: 0, max: 100, message: '长度不得超过100个字符', trigger: 'blur' }
        ],
        msg: [
          { required: true, trigger: 'blur', message: '验证提示信息不可为空' },
          { min: 0, max: 32, message: '长度不得超过32个字符', trigger: 'blur' }
        ]
      }
    }
  },
  computed: {
    selectColumns () { // 当前选中的列只能是数组里面套字符串
      return this.data.columns.map(item => {
        return item.value
      })
    }
  },
  watch: {
    data: function (val) {
      this.initField()
    }
  },
  created () {
    this.initField()
  },
  methods: {
    initField () { // 初始化数据源禁用
      this.data.selectFields = []
      this.fieldList.map(field => {
        this.$set(field, 'disabled', false)
        this.currentArea.children.map(control => {
          if (field.model === control.model) {
            this.$set(field, 'disabled', true)
          }
        })
      })
    },
    changOpenConfig (groupName) { // 开关配置分组的回调
      let { openConfigs } = this.data
      if (openConfigs.includes(groupName)) {
        const index = openConfigs.indexOf(groupName)
        openConfigs.splice(index, 1)
      } else {
        openConfigs.push(groupName)
      }
    },
    selectReg (item) { // 选择正则
      console.log('数据', this.data)
      // console.log(item, this.data)
    },
    saveReg () { // 保存正则
      this.$refs.regForm.validate(valid => {
        if (valid) {
          this.regList.unshift(this.form)
          this.data.reg = lodash.cloneDeep(this.form)
          this.popperVisible = false
          this.form = { label: '', value: '', msg: '' }
        }
      })
    },
    selectField (data) { // 选择字段的数据源
      const arr = ['checkbox', 'radio', 'select']
      this.data.model = data.model
      this.data.label = data.displayName
      this.data.options = []
      if (arr.includes(this.data.name) && data.pickValue && data.pickValue.data && data.pickValue.data.length) {
        data.pickValue.data.map(item => {
          if (item.displayName && item.code) {
            this.data.options.push({ value: item.code, label: item.displayName })
          }
        })
      }
      this.$nextTick(() => {
        this.initField()
      })
    },
    selectTableData (data) { // 选择表格数据源
      this.data.columnList = [] // 所有可展示的列
      this.selectColumns = [] // 要展示的列
      this.data.columns = [] // 表格的columns
      this.data.data = [] // 表格的数据
      let row = {} // 拼凑一条表格数据
      const mockData = ['王小虎', '2016-05-04', '18', '杭州余杭区']
      data.children.map((table, tableIndex) => {
        if (table.children && table.children.length) {
          table.children.map((field, index) => {
            let column = lodash.cloneDeep(field)
            column.label = column.name + '(' + column.displayName + ')'
            this.data.columnList.push(column)
            row[column.name] = column.defaultValue ? column.defaultValue : mockData[index % 4]
            if (index < 3 && tableIndex === 0) {
              this.selectColumns.push(column.name)
              this.data.columns.push({ label: column.displayName, value: column.name })
            }
          })
        }
      })
      this.data.data.push(row)
      this.data.data.push(row)
      this.data.data.push(row)
      this.data.data.push(row)
    },
    selectColumnHandle (selectColumns) { // 选择可展示列
      this.data.columns = []
      this.data.columnList.map(column => {
        selectColumns.map(name => {
          if (name === column.name) {
            this.data.columns.push({ value: column.name, label: column.displayName })
          }
        })
      })
    },
    selectTreeData (data) {
      this.data.data = data.list
    }
  }
}
</script>
<style lang="scss">
// 处理新增正则
.el-popover {
  .regForm {
    width: 100%;
    .el-form-item {
      margin-bottom: 10px;
      // width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .el-form-item__content {
        flex: 1;
      }
    }
  }
  .formFooter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
</style>
