<template>
  <div id='dynamicArea' class="dynamicArea" @keyup.delete="keyFn">
    <el-row class='pageRow' :gutter="data.gutter" :justify="data.justify" :align="data.align" :style='{paddingTop:  data.gutter / 2 + "px", paddingBottom:  data.gutter / 2 + "px"}'>
      <draggable class="pageDraggable" v-model="data.children" :options="{group:{ name:'area', pull: false, put:true}, ghostClass: 'areaGhost'}" @add="addArea" @click.native.stop.self='changeTab("page")'>
        <template v-for="(area, index) in data.children">
          <el-col v-if="area.key " class="pageCol area" :key="area.key" :span='24/data.columns' :offset='area.offset' :push='area.push' :pull='area.pull'>
            <!-- 表单容器 -->
            <el-form v-if='area.name === "formArea"' :label-position="area.labelPosition" :label-width="area.labelWidth + 'px'">
              <el-row class="areaRow formArea" :class="{active: currentControl.key === area.key}" :gutter="area.gutterH" :justify="area.justify" :align="area.align" @click.native.prevent="selectControl(area, area)" :ref='area.name + area.key'>

                <i v-if='area.allowFolding' :class="[area.isFolding ? 'reverse' : '', 'icon-xiala2', 'iconfont']" @click='changeFolding(area)'></i>
                <label :key='index' v-if='area.label' class='areaTitle' :style="{paddingLeft: area.gutterH/2 + 'px', paddingRight: area.gutterH/2 + 'px', textAlign: area.titlePosition}">{{area.label}}</label>

                <draggable v-show='!area.isFolding || !area.allowFolding' class="draggableArea" v-model="area.children" filter="pageCol" :options="{group:{ name:'control2', pull: true, put:['control']}, ghostClass: 'controlGhost'}" @add="addControl($event, area, index, area.name + area.key)">
                  <template v-for="(control, conIndex) in area.children">
                    <el-col v-if='control && control.key' :key="conIndex" :class="[currentControl.key === control.key ? 'active' : '', 'areaCol']" :span="24/area.columns" :offset='control.offset' :push='control.push' :pull='control.pull' @keyup.delete.stop.native="keyFn(area, conIndex)">
                      <el-form-item class="controlItem formItem" :class="{isReq: control.rules && control.rules[0].required}" :label="control.label" @click.native.stop="selectControl(control, area)" :prop='data.model' :style='{ lineHeight: 40*control.rows + "px", minHeight: 40*control.rows + "px"}'>
                        <dynamic-control :key="control.key" v-if="control.key" :data="control" :areaData="area" :select.sync="currentControl" :index="conIndex"></dynamic-control>
                      </el-form-item>
                      <div class="iconBox" v-if="currentControl.key === control.key">
                        <el-tooltip class="tooltip" effect="dark" content="复制" placement="bottom">
                          <i class="icon-fuzhi iconfont" @click.stop="cloneControl(area, conIndex, index, area.name + area.key)"></i>
                        </el-tooltip>
                        <el-tooltip class="tooltip" effect="dark" content="删除" placement="bottom">
                          <i class="icon-shanchu iconfont" @click.stop="deleteControl(area, conIndex, index, area.name + area.key)"></i>
                        </el-tooltip>
                      </div>
                    </el-col>
                  </template>
                </draggable>

                <div class="iconBox" v-if="currentControl.key == area.key">
                  <el-tooltip class="tooltip" effect="dark" content="复制" placement="bottom">
                    <i class="icon-fuzhi iconfont" @click.stop="cloneArea(index)"></i>
                  </el-tooltip>
                  <el-tooltip class="tooltip" effect="dark" content="删除" placement="bottom">
                    <i class="icon-shanchu iconfont" @click.stop="deleteArea(index)"></i>
                  </el-tooltip>
                </div>
              </el-row>
            </el-form>
            <!-- 基础容器 -->
            <el-row v-if='area.name === "baseArea"' class="areaRow baseArea" :class="{active: currentControl.key === area.key}" :gutter="area.gutterH" :justify="area.justify" :align="area.align" @click.native.prevent="selectControl(area, area)" :ref='area.name + area.key'>
              <i v-if='area.allowFolding' :class="[area.isFolding ? 'reverse' : '', 'icon-xiala2', 'iconfont']" @click='changeFolding(area)'></i>
              <label :key='index' v-if='area.label' class='areaTitle' :style="{paddingLeft: area.gutterH/2 + 'px', paddingRight: area.gutterH/2 + 'px', textAlign: area.titlePosition}">{{area.label}}</label>

              <draggable v-show='!area.isFolding || !area.allowFolding' class="draggableArea" v-model="area.children" filter="pageCol" :options="{group:{ name:'control1', pull: true, put:['control1', 'control']}, ghostClass: 'controlGhost'}" @add="addControl($event, area, index, area.name + area.key)">
                <template v-for="(control, conIndex) in area.children">
                  <el-col v-if='control && control.key' :key="conIndex" :class="[currentControl.key === control.key ? 'active' : '', 'areaCol']" :span="24" :style='{width: control.width + "%", marginLeft:control.offset + "%"}'>

                    <div :class="[currentControl.key === control.key ? 'active' : '' , 'controlItem' , 'baseItem' ]" v-if="control && control.key" :style='{ minHeight: control.height - 20 + "px"}' @click.stop="selectControl(control, area)">
                      <label v-if='!baseItem.includes(control.name) && control.label' class='baseItemLabel' :style="{width: area.labelPosition === 'top' ? '100%' : area.labelWidth + 'px', float: area.labelPosition === 'top' ? none : 'left', textAlign: area.labelPosition === 'right' ? 'right': 'left'}" :class="{isReq: control.rules && control.rules[0].required}">{{control.label}}</label>
                      <dynamic-control :key="control.key" v-if="control.key" :data="control" :areaData="area" :select.sync="currentControl" :index="conIndex" :style="{marginLeft: area.labelPosition === 'top' || baseItem.includes(control.name) || !control.label? '0px': area.labelWidth + 'px'}"></dynamic-control>
                    </div>
                    <div class="iconBox" v-if="currentControl.key === control.key">
                      <el-tooltip class="tooltip" effect="dark" content="复制" placement="bottom">
                        <i class="icon-fuzhi iconfont" @click.stop="cloneControl(area, conIndex)"></i>
                      </el-tooltip>
                      <el-tooltip class="tooltip" effect="dark" content="删除" placement="bottom">
                        <i class="icon-shanchu iconfont" @click.stop="deleteControl(area, conIndex)"></i>
                      </el-tooltip>
                    </div>
                  </el-col>
                </template>
              </draggable>

              <div class="iconBox" v-if="currentControl.key == area.key">
                <el-tooltip class="tooltip" effect="dark" content="复制" placement="bottom">
                  <i class="icon-fuzhi iconfont" @click.stop="cloneArea(index)"></i>
                </el-tooltip>
                <el-tooltip class="tooltip" effect="dark" content="删除" placement="bottom">
                  <i class="icon-shanchu iconfont" @click.stop="deleteArea(index)"></i>
                </el-tooltip>
              </div>
            </el-row>
            <!-- 标签页容器 -->
            <div class="areaRow tabArea" v-else-if='area.name === "tabArea"' :class="{active: currentControl.key === area.key}" :style='{paddingTop:  area.marginV + "px", paddingBottom:  area.marginV + "px", paddingLeft:  area.marginH + "px", paddingRight:  area.marginH + "px"}' :justify="area.justify" :align="area.align" @click.prevent="selectControl(area, area)">
              <el-tabs type="border-card">
                <el-tab-pane v-for='(tab, tabIndex) in area.tabs' :key='tabIndex' :label="tab.label">

                  <el-row class="tabRow" :gutter="area.gutter" :justify="area.justify" :align="area.align" :style='{minHeight: area.height + "px"}' :ref='area.name + area.key + tabIndex'>
                    <draggable class="draggableArea" :style='{minHeight: area.height - 22 + "px"}' v-model="tab.children" filter="pageCol" :options="{group:{ name:'control', pull: true, put:['control','control1']}, ghostClass: 'controlGhost'}" @add="addControl($event, tab, index, area.name + area.key + tabIndex)">

                      <el-col v-for="(control, conIndex) in tab.children" :class="[currentControl.key === control.key ? 'active' : '', 'areaCol']" :key="conIndex" :span="control.span" :offset='control.offset'>
                        <div :class="['controlItem' , 'tabItem' ]" v-if="control && control.key" :style='{minHeight: control.height + "px"}' @click.stop="selectControl(control,area)">
                          <dynamic-control :key="control.key" v-if="control.key" :data="control" :areaData="area" :select.sync="currentControl" :index="conIndex"></dynamic-control>
                        </div>
                        <div class="iconBox" v-if="currentControl.key === control.key">
                          <el-tooltip class="tooltip" effect="dark" content="复制" placement="bottom">
                            <i class="icon-fuzhi iconfont" @click.stop="cloneControl(tab, conIndex, index, area.name + area.key + tabIndex)"></i>
                          </el-tooltip>
                          <el-tooltip class="tooltip" effect="dark" content="删除" placement="bottom">
                            <i class="icon-shanchu iconfont" @click.stop="deleteControl(tab, conIndex, index, area.name + area.key + tabIndex)"></i>
                          </el-tooltip>
                        </div>
                      </el-col>
                    </draggable>
                  </el-row>

                </el-tab-pane>
              </el-tabs>
              <div class="iconBox" v-if="currentControl.key == area.key">
                <el-tooltip class="tooltip" effect="dark" content="复制" placement="bottom">
                  <i class="icon-fuzhi iconfont" @click.stop="cloneArea(index)"></i>
                </el-tooltip>
                <el-tooltip class="tooltip" effect="dark" content="删除" placement="bottom">
                  <i class="icon-shanchu iconfont" @click.stop="deleteArea(index)"></i>
                </el-tooltip>
              </div>
            </div>
          </el-col>
        </template>
      </draggable>
    </el-row>
    <!-- </el-form> -->
  </div>
</template>

<script>
import lodash from 'lodash'
import { unique } from '@/assets/js/utils/utils'
import { bus } from '@/assets/js/comm/constant'
import Draggable from 'vuedraggable'
import DynamicControl from './DynamicControl'

export default {
  components: {
    Draggable,
    DynamicControl
  },
  props: {
    data: Object, // 操作区的完整json数据
    select: Object, // 当前选中控件的数据
    selectArea: Object // 当前区块
  },
  data () {
    return {
      formItem: ['input', 'textarea', 'radio', 'number', 'checkbox', 'time', 'date', 'rate', 'color', 'select', 'switch', 'slider'],
      baseItem: ['img', 'button', 'text', 'table', 'richText'],
      currentControl: this.select // 当前选中控件
    }
  },
  computed: { // 利用计算属性将当前表单项数据变为双向的
    currentArea: {
      get () {
        return this.selectArea
      },
      set (val) {
        this.$emit('update:selectArea', val)
      }
    }
  },
  watch: {
    select: { // data更新时更新属性
      handler (val, oldVal) {
        this.$set(this, 'currentControl', val)
      },
      deep: true
    },
    currentControl: { // data更新时更新属性
      handler (val, oldVal) {
        this.$emit('update:select', val)
      },
      deep: true
    }
  },
  created () {
    bus.$on('selectAreaColumn', msg => {
      this.changeMinHeight(this.currentArea)
    })
    bus.$on('selectAreaLabelPosition', msg => {
      this.changeMinHeight(this.currentArea)
    })
  },
  mounted () {
    document.onkeydown = (e) => {
      if (e.target.nodeName === 'BODY') {
        if (e.keyCode === 8 || e.keyCode === 46) {
          this.keyFn()
        }
      }
    }
    // window.document.addEventListener('click', this.keyFn, false)
  },
  destroyed () {
    document.onkeydown = null
  },
  methods: {
    changeTab (newTab) { // 切换到页面配置面板
      this.$emit('changeTab', newTab)
    },
    keyFn (e) { // 快捷键删除控件或者区块
      if (this.currentArea.name) {
        if (this.currentArea.key === this.currentControl.key) {
          this.data.children.map((item, index) => {
            if (item.key === this.currentArea.key) {
              this.deleteArea(index)
            }
          })
        } else {
          this.currentArea.children.map((item, index) => {
            if (item.key === this.currentControl.key) {
              this.deleteControl(this.currentArea, index)
            }
          })
        }
      }
    },
    selectControl (item, area) { // 点击区块或者控件需要高亮并且重新调整区块高度
      this.currentControl = item
      this.currentArea = area
      this.changeMinHeight(area)
      if (item.name === 'formArea' || item.name === 'baseArea') {
        this.changeTab('area')
      } else {
        this.changeTab('control')
      }
    },
    changeFolding (area) { // 改变区块折叠状态
      area.isFolding = !area.isFolding
    },
    changeMinHeight (area) { // 点击区块需要高亮并且更新最小高度
      if (area.name === 'formArea1') {
        let totalRows = 0 // 区块占据的总行数
        let realRow = 0 // 每一行的真实行数
        if (area.children && area.children.length) {
          const arr = []
          const rowNum = Math.ceil(area.children.length / area.columns)
          for (let i = 0; i < rowNum; i++) {
            arr.push(area.children.slice(i * area.columns, area.columns * (i + 1)))
          }
          arr.map(row => {
            if (row.length) {
              row.map(item => {
                realRow = Math.max(realRow, item.rows)
              })
              if (area.labelPosition === 'top') {
                totalRows += realRow + 1
              } else {
                totalRows += realRow
              }
              realRow = 0
            }
          })
        }
        // area.rows = Math.floor(totalRows / area.columns) + lastRow || 1 // 此时计算的区块行数其实只适合标准的布局方式，真实的布局方式非常复杂，所以如果想适应所有情况需要一个更加智能的算法
        area.rows = totalRows || 1
      }
    },
    addArea (evt) { // 有新的区块加入的回调
      const newIndex = evt.newIndex
      const key = unique() // 为拖拽到容器的元素添加唯一 key,没有唯一的key,不能渲染出来
      const newItem = {
        ...lodash.cloneDeep(this.data.children[newIndex]), // 深拷贝防止控件相互影响
        key,
        remoteFunc: 'func_' + key
      }
      this.$set(this.data.children, newIndex, newItem)
      this.currentControl = this.data.children[newIndex]
      this.currentArea = this.data.children[newIndex]
    },
    addControl ($event, area) { // 有新元素拖拽加入区块的回调 area:当前区块的data或者tab的data
      const newIndex = $event.newIndex
      const key = unique()
      this.$set(area.children, newIndex, {
        key,
        area: area.name,
        remoteFunc: 'func_' + key,
        model: area.children[newIndex].name + '_' + key, // 绑定键值用的v-model
        ...lodash.cloneDeep(area.children[newIndex])
      })
      this.currentControl = area.children[newIndex]
      this.currentArea = area
      this.$nextTick(() => {
        this.changeMinHeight(area)
      })
    },
    cloneArea (index) { // 复制区块
      let cloneData = lodash.cloneDeep(this.data.children[index])
      cloneData.key = unique()
      if (cloneData.tabs && cloneData.tabs.length) { // 如果是具有tab的tabArea
        cloneData.tabs.map(tab => {
          if (tab.children.length) {
            tab.children.map(item => {
              const key = unique()
              item.key = key
              item.model = item.name + '_' + key
            })
          }
        })
      } else {
        if (cloneData.children.length) {
          cloneData.children.map(item => {
            const key = unique()
            item.key = key
            item.model = item.name + '_' + key
          })
        }
      }
      this.data.children.splice(index, 0, cloneData)
      this.$nextTick(() => {
        this.currentControl = this.data.children[index + 1]
        this.currentArea = this.data.children[index + 1]
      })
    },
    deleteArea (index) { // 删除区块
      if (this.data.children[index].children && this.data.children[index].children.length) {
        this.$confirm('这将删除本容器及其内的控件，确定？', '提示', {
          cancelButtonText: '取消',
          confirmButtonText: '确定',
          type: 'warning'
        }).then(() => {
          if (this.data.children.length - 1 === index) {
            if (index === 0) {
              this.currentControl = { openConfigs: ['base'] }
            } else {
              this.currentControl = this.data.children[index - 1]
            }
          } else {
            this.currentControl = this.data.children[index + 1]
          }
          this.currentArea = this.currentControl
          this.data.children.splice(index, 1)
        }).catch(() => { })
      } else {
        this.data.children.splice(index, 1)
      }
    },
    cloneControl (areaData, index) { // 复制控件
      const key = unique()
      let cloneData = {
        ...lodash.cloneDeep(areaData.children[index]),
        key: unique(),
        model: areaData.children[index].name + '_' + key
      }
      areaData.children.splice(index, 0, cloneData)
      this.$nextTick(() => {
        this.currentControl = areaData.children[index + 1]
        this.changeMinHeight(areaData)
      })
    },
    deleteControl (areaData, index) { // 删除控件
      if (areaData.children.length - 1 === index) {
        if (index === 0) {
          this.currentControl = areaData
        } else {
          this.currentControl = areaData.children[index - 1]
        }
      } else {
        this.currentControl = areaData.children[index + 1]
      }
      areaData.children.splice(index, 1)
      this.$nextTick(() => {
        this.changeMinHeight(areaData)
      })
    }
  }
}
</script>
<style lang="scss" scoped>
.dynamicArea {
  width: 100%;
  height: 100%;
  .pageRow {
    height: 100%;
    // 区块拖拽区
    .pageDraggable {
      height: 100%;
      overflow-y: auto;
      box-sizing: border-box;
    }
  }
  .pageCol {
    position: relative;
    margin-top: 5px; // 每个区块上下之间的间隔
    margin-bottom: 5px;
    .areaRow {
      background: #f4f6fc;
      position: relative;
      border: 1px dashed $color-info;
      &.active {
        background: #b3d8ff;
      }
      .areaTitle {
        font-size: 18px;
        color: #606266;
        line-height: 40px;
        height: 50px;
        width: 100%;
        font-weight: 600;
        // background: pink;
        display: inline-block;
        box-sizing: border-box;
      }
      & > .icon-xiala2 {
        font-size: 20px;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        color: $link-active;
        &:before {
          display: inline-block;
          transition: transform 0.3s;
          transform: rotate(0deg);
        }
      }
      & > .reverse {
        color: $link-active;
        &:before {
          display: inline-block;
          transition: transform 0.3s;
          transform: rotate(-90deg);
        }
      }

      // 控件拖拽区
      .draggableArea {
        width: 100%;
        min-height: 60px;
        // margin-bottom: 18px;
        box-sizing: border-box;
        .areaCol {
          position: relative;
          padding-top: 10px;
          padding-bottom: 10px;
          &:hover {
            background: #b3d8ff;
          }
          &.active {
            background: #b3d8ff;
          }
          .controlItem {
            position: relative;
            box-sizing: border-box;
            margin: 0;
            // border: 1px dashed $color-text-active;
            &:after {
              content: "";
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              top: 0;
              display: block;
              z-index: 1001;
            }
            .baseItemLabel {
              text-align: right;
              font-size: 14px;
              color: #606266;
              // background: pink;
              line-height: 40px;
              // line-height: inherit;
              height: 100%;
              padding: 0 12px 0 0;
              display: inline-block;
              box-sizing: border-box;
            }
          }
        }
      }
      &.tabArea {
        .el-tabs {
          height: 100%;
          .tabRow {
            // min-height: 100%;
            padding-bottom: 20px;
            // min-height: 100px;
            background: #f4f6fc;
            position: relative;
            border: 1px dashed $color-info;
          }
        }
      }
    }
  }
}
</style>

<style lang="scss">
.dynamicArea {
  // 去掉默认的margin,消除滚动条
  .el-row {
    margin: 0 !important;
  }
  .areaGhost {
    float: left; // 因为操作区使用的栅格化是浮动的，所以这里也要浮动才能占据对应的文本流
    display: block;
    list-style: none;
    font-size: 0;
    margin: 0;
    padding: 0;
    // width: 20%;
    box-sizing: border-box;
    border: 2px dashed $link-active;
    background: #fff;
  }
  .controlGhost {
    float: left; // 因为操作区使用的栅格化是浮动的，所以这里也要浮动才能占据对应的文本流
    width: 100%;
    display: block;
    list-style: none;
    box-sizing: border-box;
    border: 2px dashed $link-active !important;
  }
  // 普通表单项的样式
  .formItem {
    .el-form-item__label {
      line-height: inherit;
    }
  }
  // 必填的表单项样式
  .isReq {
    .el-form-item__label::before {
      content: "*";
      color: red;
      margin-right: 4px;
    }
    &.baseItemLabel::before {
      content: "*";
      color: red;
      margin-right: 4px;
    }
  }
  // 标题在顶部的表单样式
  .el-form--label-top {
    .el-form-item {
      line-height: 40px !important;
      .el-form-item__label {
        line-height: 40px;
        padding: 0;
      }
    }
  }
}
</style>
