<template>
  <div class="dynamicControl" @click='selectControl' :style='{lineHeight: 40*data.rows + "px", height: 40*data.rows + "px"}'>
    <template v-if="data.name === 'input'">
      <el-input v-model="data.defaultValue" :style='data.style' :placeholder="data.placeholder"></el-input>
    </template>
    <template v-if="data.name === 'textarea'">
      <el-input type="textarea" v-model="data.defaultValue" :style='data.style' :placeholder="data.placeholder"></el-input>
    </template>

    <template v-if="data.name === 'number'">
      <el-input-number v-model="data.defaultValue" :disabled="data.disabled" :controls-position="data.controlsPosition" :style='data.style'></el-input-number>
    </template>

    <template v-if="data.name === 'radio'">
      <el-radio-group v-model="data.defaultValue" :style='data.style'>
        <el-radio :style="{display: data.inline ? 'inline-block' : 'block'}" v-for="(item, index) in data.options" :label="item.value" :key="item.value + index">
          {{data.label ? item.label : item.value}}
        </el-radio>
      </el-radio-group>
    </template>

    <template v-if="data.name === 'checkbox'">
      <el-checkbox-group v-model="data.defaultValue" :style='data.style'>
        <el-checkbox :style="{display: data.inline ? 'inline-block' : 'block'}" v-for="(item, index) in data.options" :label="item.value" :key="item.value + index">
          {{item.label ? item.label : item.value}}
        </el-checkbox>
      </el-checkbox-group>
    </template>

    <template v-if="data.name === 'time'">
      <el-time-picker v-model="data.defaultValue" :is-range="data.isRange" :placeholder="data.placeholder" :start-placeholder="data.startPlaceholder" :end-placeholder="data.endPlaceholder" :readonly="data.readonly" :disabled="data.disabled" :editable="data.editable" :clearable="data.clearable" :arrowControl="data.arrowControl" :style='data.style'>
      </el-time-picker>
    </template>

    <template v-if="data.name === 'date'">
      <el-date-picker v-model="data.defaultValue" :type="data.type" :is-range="data.isRange" :placeholder="data.placeholder" :start-placeholder="data.startPlaceholder" :end-placeholder="data.endPlaceholder" :readonly="data.readonly" :disabled="data.disabled" :editable="data.editable" :clearable="data.clearable" :style='data.style'>
      </el-date-picker>
    </template>

    <template v-if="data.name === 'rate'">
      <el-rate v-model="data.defaultValue" :max="data.max" :disabled="data.disabled" :allow-half="data.allowHalf"></el-rate>
    </template>

    <template v-if="data.name === 'color'">
      <el-color-picker v-model="data.defaultValue" :disabled="data.disabled" :show-alpha="data.showAlpha"></el-color-picker>
    </template>

    <template v-if="data.name === 'select'">
      <el-select v-model="data.defaultValue" :disabled="data.disabled" :multiple="data.multiple" :clearable="data.clearable" :placeholder="data.placeholder" :style='data.style'>
        <el-option v-for="item in data.options" :key="item.value" :value="item.value" :label="data.label ? item.label : item.value"></el-option>
      </el-select>
    </template>

    <template v-if="data.name==='switch'">
      <el-switch v-model="data.defaultValue" :disabled="data.disabled"></el-switch>
    </template>

    <template v-if="data.name==='slider'">
      <el-slider v-model="data.defaultValue" :min="data.min" :max="data.max" :step="data.step" :show-input="data.showInput" :range="data.range" :style='data.style'></el-slider>
    </template>

    <template v-if="data.name==='button'">
      <el-button :type="data.type">{{data.label}}</el-button>
    </template>

    <template v-if="data.name==='text'">
      <P :style='data.style' class='textP' v-html='data.value'></p>
    </template>

    <template v-if="data.name==='tree'">
      <el-tree :data="data.data" :default-expand-all='data.expandAll' node-key='id' :props="data.props" style="width: 100%" ref='treeControl'>
      </el-tree>
    </template>

    <template v-if="data.name==='table'">
      <el-table :data="data.data" border style="width: 100%" tooltip-effect="light">
        <el-table-column v-for='(column, index) in data.columns' :key='index' :prop="column.value" :label="column.label" :width="column.width?column.width: ''" :show-overflow-tooltip="column.tooltip">
        </el-table-column>
      </el-table>
    </template>

    <template v-if="data.name==='img'">
      <img-upload v-model="data.defaultValue" :disabled="data.disabled" :style="data.style" :width="data.size.width" :height="data.size.height" token="xxx" domain="xxx" :limit='data.limit'>
      </img-upload>
    </template>

    <template v-if="data.name==='richText'">
      <tinymce :config="data.config" v-model="data.value" :url="data.url" :max-size="data.maxSize" :accept="data.accept" :with-credentials='false' @on-ready="onEditorReady" @on-destroy="onEditorDestroy" @on-upload-success="onEditorUploadComplete" @on-upload-fail="onEditorUploadFail"></tinymce>
    </template>

    <!-- <template v-if="data.name==='blank'">
      <div style="height: 50px;color: #999;background: #eee;line-height:50px;text-align:center;">自定义区域</div>
    </template> -->

    <!-- <template v-if="data.name==='tabs'">
      <el-tabs type="border-card">
        <el-tab-pane v-for='(tab, index) in data.tabs' :key='index' :label="tab.label">
          <dynamic-area ref="widgetForm" :data="pageData" :select.sync="currentControl"></dynamic-area>
        </el-tab-pane>
      </el-tabs>
    </template> -->
  </div>
</template>

<script>
import ImgUpload from './ImgUpload'
import tinymce from '@/components/tinymce'
import DynamicArea from './DynamicArea' // 动态UI组件
// import { unique } from '@/assets/js/utils/utils'

export default {
  props: {
    data: Object, // 当前控件数据
    areaData: Object, // 所属区块的数据
    select: Object, // 当前选中控件数据
    index: Number // 当前控件在操作区控件列表中的下标
  },
  components: {
    ImgUpload,
    tinymce,
    DynamicArea
  },
  data () {
    return {
      // currentControl: this.select
    }
  },
  computed: { // 利用计算属性将当前表单项数据变为双向的
    currentControl: {
      get () {
        return this.select
      },
      set (val) {
        this.$emit('update:select', val)
      }
    }
  },
  watch: {
    'currentControl.expandAll': function (val, oldVal) {
      for (var i = 0; i < this.$refs.treeControl.store._getAllNodes().length; i++) {
        this.$refs.treeControl.store._getAllNodes()[i].expanded = val
      }
    }
  },
  methods: {
    selectControl (index) {
      console.log('选取当前', this.currentControl)
      // this.currentControl = this.areaData.children[index]
    }
  }
}
</script>
<style lang="scss">
.dynamicControl {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // 单行文本框
  & > .el-input,
  & > .el-input > .el-input__inner {
    line-height: inherit;
    height: 100%;
  }
  // 多行文本
  & > .el-textarea,
  & > .el-textarea > textarea {
    // line-height: inherit;
    height: 100%;
    textarea {
      padding: 0;
      // border: 0;
      box-sizing: border-box;
      min-height: 40px !important;
    }
  }
  // 下拉框
  // & > .el-select {
  //   line-height: inherit;
  //   height: 100%;
  //   .el-input,
  //   .el-input__inner {
  //     line-height: inherit;
  //     height: 100%;
  //   }
  // }
  // 时间、日期选择器
  & > .el-date-editor {
    line-height: 40px;
    height: 40px;
    .el-input__inner {
      line-height: 40px;
      height: 40px;
    }
  }
  .textP {
    overflow: visible;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
</style>
