<template>
  <div class="imgUpload" :id="uploadId" ref='box'>
    <!-- 图片和上传成功 -->
    <div :id="item.key" :style="{width: width+'px', height: height+'px'}" :class="{uploading: item.status=='uploading', 'is-success': item.status=='success'}" class="upload-file" v-for="(item) in fileList" :key="item.key">
      <img :src="item.url" />
      <el-progress v-if="item.status==='uploading'" :width="miniWidth*0.9" class="upload-progress" type="circle" :percentage="item.percent"></el-progress>
      <label class="item-status" v-if="item.status=='success'">
        <i class="el-icon-upload-success el-icon-check"></i>
      </label>
      <!-- 预览和删除 -->
      <div class="uplaod-action">
        <i class="el-icon-view" @click="handlePreviewFile(item.key)" :style="{'font-size': miniWidth/4+'px'}"></i>
        <i class="el-icon-delete" @click="handleRemove(item.key)" :style="{'font-size': miniWidth/4+'px'}"></i>
      </div>
    </div>
    <!-- 右边新增 -->
    <div class="el-upload el-upload--picture-card" :style="{width: width+'px', height: height+'px'}">
      <i class="el-icon-plus" :style="{fontSize:miniWidth/4+'px'}"></i>
      <input type="file" accept="image/*" multiple name="file" ref="uploadInput" class="el-upload__input upload-input" @change="uploadImg" :style="{width: width+'px', height: height+'px'}">
    </div>
  </div>
</template>

<script>
import Viewer from 'viewerjs'
require('viewerjs/dist/viewer.css')

export default {
  props: {
    value: {
      type: Array,
      default: () => []
    },
    width: {
      type: Number,
      default: 100
    },
    height: {
      type: Number,
      default: 100
    },
    multiple: {
      type: Boolean,
      default: true
    },
    limit: { // 上传个数限制
      type: Number,
      default: 1
    }
  },
  data () {
    return {
      fileList: [],
      // viewer: null,
      dialogVisible: false, // 预览上传列表中的图片
      dialogImageUrl: '',
      uploadId: 'upload_' + new Date().getTime()
    }
  },
  computed: {
    miniWidth () {
      return Math.min(this.height, this.width)
    }
  },
  mounted () {
  },
  methods: {
    uploadImg () { // 选择文件后触发change的回调
      const files = this.$refs.uploadInput.files // 通过原生dom可以获取到选择的文件数组
      for (let i = 0; i < files.length; i++) {
        let reader = new FileReader()
        reader.readAsDataURL(files[i])
        const key = (new Date().getTime()) + '_' + Math.ceil(Math.random() * 99999)
        let newImg = {
          key,
          percent: 0,
          url: '',
          status: 'uploading'
        }
        reader.onload = () => {
          newImg.url = reader.result
          this.fileList.push(newImg)
        }
        var formdata = new FormData()
        formdata.append('file', files[i])
        this.$axios({
          url: '/fuhao/component/picture/upload',
          method: 'post',
          data: formdata,
          onUploadProgress: (progressEvent) => {
            if (i > 0) return
            if (progressEvent.lengthComputable) { // 属性lengthComputable主要表明总共需要完成的工作量和已经完成的工作是否可以被测量
              let complete = (progressEvent.loaded / progressEvent.total * 100 | 0)
              newImg.percent = complete
            }
          }
        }).then((res) => {
          newImg.status = 'success'
          // console.log(上传成功)
        }).catch((err) => {
          console.log(err)
        })
      }
    },
    handleRemove (key) { // 移除图片
      this.fileList.splice(this.fileList.findIndex(item => item.key === key), 1)
    },
    handlePreviewFile (key) { // 图片预览
      this.viewer && this.viewer.destroy()
      this.uploadId = 'upload_' + new Date().getTime()
      this.$nextTick(() => {
        this.viewer = new Viewer(document.getElementById(this.uploadId))
        this.viewer.view(this.fileList.findIndex(item => item.key === key))
      })
    }
  }
}
</script>

<style lang="scss">
.imgUpload {
  .upload-file {
    margin: 0 10px 10px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    // background: #fff;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #c0ccda;
    border-radius: 6px;
    box-sizing: border-box;
    position: relative;
    vertical-align: top;

    &:hover {
      .uplaod-action {
        display: flex;
      }
    }

    .uplaod-action {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.6);
      display: none;
      justify-content: center;
      align-items: center;

      i {
        color: #fff;
        cursor: pointer;
        margin: 0 5px;
      }
    }

    &.is-success {
      .item-status {
        position: absolute;
        right: -15px;
        top: -6px;
        width: 40px;
        height: 24px;
        background: #13ce66;
        text-align: center;
        transform: rotate(45deg);
        box-shadow: 0 0 1pc 1px rgba(0, 0, 0, 0.2);

        & > i {
          font-size: 12px;
          margin-top: 11px;
          color: #fff;
          transform: rotate(-45deg);
        }
      }
    }

    &.uploading {
      &:before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3);
      }
    }

    .upload-progress {
      position: absolute;

      .el-progress__text {
        color: #fff;
        font-size: 16px !important;
      }
    }

    img {
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }
  }

  .el-upload--picture-card {
    position: relative;
    overflow: hidden;

    .el-icon-plus {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .upload-input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    opacity: 0;
    cursor: pointer;
  }
}
</style>
