<template>
  <div class='uiDesign'>
    <div class="uiHeader">
      <!-- <img class="uiLogo" src="@/assets/image/logo.png"> -->
      <router-link to="/ui" class="goBack" title='返回ui模型'>
        <i class="icon-shangyige iconfont"></i>
        <span class="uiTitle">UI 设计</span>
      </router-link>
    </div>

    <el-container class='uiMain'>
      <!-- 选择区 -->
      <el-aside class='selectBox'>
        <div class="controlGroup">表单控件</div>
        <draggable element="ul" :list="basicControls" :options="{group:{ name:'control', pull:'clone',put:false},sort:false, ghostClass: 'ghost'}">
          <li class="controlItem" v-for="(item, index) in basicControls" :key="index">
            <i :class="[item.icon, 'iconfont']"></i>
            <span>{{item.displayName}}</span>
          </li>
        </draggable>

        <div class="controlGroup">布局控件</div>
        <draggable element="ul" :list="advancedControls" :options="{group:{ name:'control1', pull:'clone',put:false},sort:false, ghostClass: 'ghost'}">
          <li class="controlItem" v-for="(item, index) in advancedControls" :key="index">
            <i :class="[item.icon, 'iconfont']"></i>
            <span>{{item.displayName}}</span>
          </li>
        </draggable>

        <div class="controlGroup">控件容器</div>
        <draggable element="ul" :list="layoutControls" :options="{group:{ name:'area', pull:'clone',put:false},sort:false, ghostClass: 'ghost'}">
          <li class="controlItem data-grid" v-for="(item, index) in layoutControls" :key="index">
            <i :class="[item.icon, 'iconfont']"></i>
            <span>{{item.displayName}}</span>
          </li>
        </draggable>
      </el-aside>
      <!-- 操作区 -->
      <el-container :class="[uiData.children.length === 0 ? 'haveBg' : '', 'operationBox']" direction="vertical">
        <el-header class="uiBtnBox">
          <el-button type="text" size="medium" @click="handleReset">
            <i class="icon-reset iconfont"></i>
            <span>重置</span>
          </el-button>
          <el-button type="text" size="medium" @click="previewJson">
            <i class="icon-json1 iconfont"></i>
            <span>JSON</span>
          </el-button>
          <el-button type="text" size="medium" @click="previewPage">
            <i class="icon-yulan iconfont"></i>
            <span>预览</span>
          </el-button>
          <el-button type="text" size="medium" @click="saveModel">
            <i class="icon-queding iconfont"></i>
            <span>保存</span>
          </el-button>
        </el-header>
        <el-main class="operationMain">
          <dynamic-area ref="widgetForm" :data="uiData" :select.sync="currentControl" :selectArea.sync='currentArea' @changeTab='changeTab'></dynamic-area>
        </el-main>
      </el-container>
      <!-- 配置区 -->
      <el-aside class="configBox">
        <el-header class="configHeader">
          <div class="configTab" :class="{active: activeTab==='control'}" @click="changeTab('control')">控件属性</div>
          <div class="configTab" :class="{active: activeTab==='area'}" @click="changeTab('area')">区块属性</div>
          <div class="configTab" :class="{active: activeTab==='page'}" @click="changeTab('page')">页面属性</div>
        </el-header>
        <el-main class="configMain">
          <control-config v-if="activeTab==='control'" :data="currentControl" :dataModelTree='dataModelTree' :fieldList='fieldList' :currentArea='currentArea'></control-config>
          <area-config v-if="activeTab==='area'" :data="currentControl" :fieldList='fieldList'></area-config>
          <page-config v-if="activeTab==='page'" :data="uiData" @change-fun='changeFun'></page-config>
        </el-main>
      </el-aside>
      <!-- 效果预览 -->
      <preview-dialog :visible="previewVisible" @on-close="previewVisible = false" ref="widgetPreview" @on-save="saveModel" width="1000px">
        <real-area v-if="previewVisible" :data="uiData" :remote="remoteFuncs" :value="form" ref="realArea">
          <template slot="blank" slot-scope="scope">
            宽度：<el-input v-model="scope.model.blank.width" style="width: 100px"></el-input>
            高度：<el-input v-model="scope.model.blank.height" style="width: 100px"></el-input>
          </template>
        </real-area>
      </preview-dialog>
      <!-- json预览 -->
      <preview-dialog :visible="jsonVisible" @on-close="jsonVisible = false" ref="jsonPreview" width="800px" title='Json预览'>
        <div id="jsoneditor" style="height: 400px;width: 100%;">{{uiData}}</div>
        <template slot="action">
          <el-button id="copybtn" data-clipboard-target=".ace_text-input">双击复制</el-button>
        </template>
      </preview-dialog>
      <!-- 代码预览 -->
      <!-- <cus-dialog :visible="codeVisible" @on-close="codeVisible = false" ref="codePreview" width="800px" :action="false" title='代码预览'>
      <div id="codeeditor" style="height: 500px; width: 100%;">{{htmlTemplate}}</div>
    </cus-dialog>-->
    </el-container>
  </div>
</template>

<script>
import Draggable from 'vuedraggable' // 拖拽插件
import Ace from 'ace' // 编辑器插件
import lodash from 'lodash'
import ModelService from '@/assets/js/service/modelservice'
import ControlConfig from './ControlConfig' // 控件配置
import AreaConfig from './AreaConfig' // 区块控件
import PageConfig from './PageConfig' // 页面配置
import DynamicArea from './DynamicArea' // 动态UI组件
import PreviewDialog from './PreviewDialog' // 弹出框
import RealArea from './RealArea' // 效果预览组件
// import Clipboard from 'clipboard' // clipboard.js是一款轻量级的实现复制文本到剪贴板功能的JavaScript插件
import { basicControls, advancedControls, layoutControls } from './static/controlList.js' // 控件列表
// import generateCode from './generateCode.js' // 得到预览代码的函数
import { nameReg, chineseReg } from '@/assets/js/comm/constant'

export default {
  name: 'uiDesign',
  components: {
    Draggable,
    DynamicArea,
    ControlConfig,
    AreaConfig,
    PageConfig,
    PreviewDialog,
    RealArea
  },
  data () {
    return {
      basicControls, // 基础控件列表
      advancedControls, // 高级控件列表
      layoutControls, // 布局控件列表
      activeTab: 'page', // 配置区当前tab
      currentControl: { openConfigs: ['base'] }, // 展开的配置组}, // 当前选中控件
      currentArea: { openConfigs: ['base'] }, //  当前区块
      jsonVisible: false, // json数据预览是否可见
      previewVisible: false, // 预览页面是否可见
      form: {}, // 表单数据对象
      dataModelTree: [], // 数据模型树形结构
      fieldList: [], // 数据模型下所有字段列表
      uiData: JSON.parse(localStorage.uiData), // 完整ui数据
      canLeave: true, // 编辑后是否保存
      remoteFuncs: { // 设置默认数据
        func_test (resolve) {
          setTimeout(() => {
            const options = [
              { id: '1', name: '1111' },
              { id: '2', name: '2222' },
              { id: '3', name: '3333' }
            ]
            resolve(options)
          }, 2000)
        }
      }
    }
  },
  watch: {
    currentControl: {
      handler: function (val, oldVal) {
        if (val.name !== oldVal.name) {
          let areas = ['baseArea', 'formArea', 'tabArea']
          if (areas.includes(val.name) && val.name) this.activeTab = 'area'
          if (!areas.includes(val.name) && val.name) this.activeTab = 'control'
        }
      },
      deep: true
    },
    uiData: {
      handler: function (val) { // 数据变动后就不可轻易离开了
        this.canLeave = false
      },
      deep: true
    }
  },
  beforeRouteLeave (to, from, next) { // 离开组件对应路由触发
    if (this.canLeave) next()
    if (!this.canLeave && confirm('系统可能不会保留您所做的更改。')) next()
  },
  created () {
    window.onbeforeunload = () => {
      return false
    }
    this.getDataSource()
    this.getFieldList()
    if (this.uiData.children.length) {
      this.currentControl = this.uiData.children[0]
    }
  },
  mounted () {
    this.$nextTick(() => { // 初始化的时候可以离开
      this.canLeave = true
    })
  },
  destroyed () {
    window.onbeforeunload = null
  },
  methods: {
    getDataSource () { // 获取关联的数据模型的结构树
      if (!this.uiData.functionModel) return
      const str = this.uiData.functionModel + '/tree_struct'
      ModelService.getModelTree({}, str).then(res => { // 获取要导入的树结构并添加level和disabled
        if (res.data) {
          this.dataModelTree = res.data
          if (this.dataModelTree.length) {
            this.dataModelTree.map(dataSet => {
              this.$set(dataSet, 'level', 2)
              this.$set(dataSet, 'disabled', true)
              if (dataSet.children && dataSet.children.length) {
                dataSet.children.map(table => {
                  this.$set(table, 'level', 3)
                  this.$set(table, 'disabled', true)
                  if (table.children && table.children.length) {
                    table.children.map(field => {
                      this.$set(field, 'level', 4)
                    })
                  }
                })
              }
            })
          }
        }
      })
    },
    getFieldList () {
      if (!this.uiData.functionModel) return
      const str = this.uiData.functionModel + '/listFields'
      ModelService.getModelTree({}, str).then(res => { // 获取要导入的树结构并添加level和disabled
        if (res.data.length) {
          res.data.map(field => {
            this.$set(field, 'label', field.setName + '_' + field.name + '(' + field.displayName + ')') // 展示文本
            this.$set(field, 'model', field.setName + '_' + field.name) // 作为表单中取数据时唯一的标志
          })
        }
        this.fieldList = res.data
      })
    },
    changeTab (newTab) { // 切换配置区tab
      let areas = ['baseArea', 'formArea', 'tabArea']
      if (areas.includes(this.currentControl.name) && newTab === 'control') {
        if (!this.currentArea.children.length) {
          this.$messageService.info('请先添加控件', 1500)
        } else {
          this.currentControl = this.currentArea.children[0]
        }
      } else if (!areas.includes(this.currentControl.name) && newTab === 'area') {
        if (!this.currentControl.name) {
          this.$messageService.info('请先添加区块', 1500)
        } else {
          this.currentControl = this.currentArea
        }
      } else {
        this.activeTab = newTab
      }
    },
    changeFun () { // 重新选择功能模型,清空控件的数据源
      this.getDataSource()
      this.getFieldList()
      if (this.uiData.children.length) {
        this.uiData.children.map(area => {
          if (area.children && area.children.length) {
            area.children.map(control => {
              if (control.dataSource) {
                control.label = control.displayName
                control.model = control.name + '_' + control.key
                control.dataSource = ''
              }
            })
          }
        })
      }
    },
    handleReset () { // 重置所有控件
      this.$confirm('这将清空你当前界面的所有控件，确定？', '提示', {
        cancelButtonText: '取消',
        confirmButtonText: '确定',
        type: 'warning'
      }).then(() => {
        this.$set(this.uiData, 'children', [])
      }).catch(() => { })
    },
    previewJson () { // 预览json
      this.jsonVisible = true
      this.$nextTick(() => {
        const editor = Ace.edit('jsoneditor') // ace初始化
        editor.session.setMode('ace/mode/json') // 设置语言
        // const btnCopy = new Clipboard('#copybtn') // 初始化剪贴板插件
      })
    },
    previewPage () {
      this.previewVisible = true
    },
    saveModel () { // 保存新增/编辑
      const appInfo = JSON.parse(localStorage.appInfo)
      let obj = { appName: appInfo.appName, appVersion: appInfo.appVersion, ...this.uiData }
      if (!obj.name) {
        this.$messageService.error('名称不能为空')
        return
      } else {
        if (!nameReg.test(obj.name)) {
          this.$messageService.error('名称只允许为字母数字或者._-且不能数字开头')
          return
        }
      }
      if (!obj.displayName) {
        this.$messageService.error('中文名称不能为空')
        return
      } else {
        if (!chineseReg.test(obj.displayName)) {
          this.$messageService.error('中文名称只允许为中文')
          return
        }
      }
      console.log('打印', obj)
      ModelService.saveModel('uilayoutmodel', obj).then((res) => {
        this.$messageService.success(`保存UI模型成功!`)
        this.previewVisible = false
        localStorage.uiData = JSON.stringify(lodash.cloneDeep(this.uiData))
        this.canLeave = true
        this.$refs.widgetPreview.end()
      })
    }
  }
}
</script>

<style scoped lang='scss'>
.uiDesign {
  height: 100%;
  box-sizing: border-box;
  @extend %flex-center-col;
  justify-content: space-around;

  .uiHeader {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 0 20px;
    position: relative;
    box-shadow: 0 2px 10px rgba(70, 160, 252, 0.6);
    background-image: linear-gradient(to right, #1278f6, #00b4aa);

    // .uiLogo {
    //   height: 26px;
    //   vertical-align: middle;
    // }
    .goBack {
      line-height: 50px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      .icon-shangyige {
        color: #fff;
        font-size: 22px;
        font-weight: 600;
      }
      .uiTitle {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        opacity: 0.8;
        margin-left: 6px;
      }
    }
  }
  .uiMain {
    flex: 1;
    width: 100%;
    background: $main-bg;
    @extend %flex-center-row;
    justify-content: space-between;
    align-items: stretch;

    .selectBox {
      width: 300px;
      padding: 8px 0;
      height: 100%;

      .controlGroup {
        padding: 8px 12px;
        font-size: 15px;
        font-family: "Avenir", Helvetica, Arial, sans-serif;
        color: $link-active;
      }

      ul {
        position: relative;
        overflow: hidden;
        padding: 0 10px 10px;
        margin: 0;
        box-sizing: border-box;

        .controlItem {
          display: block;
          box-sizing: border-box;
          font-size: 12px;
          width: 48%;
          line-height: 26px;
          float: left;
          text-overflow: ellipsis;
          margin: 1%;
          color: $color-text-dark;
          border: 1px solid #f4f6fc;
          cursor: move;
          background: #f4f6fc;
          position: relative;

          &:hover {
            color: $link-active;
            border: 1px dashed $link-active;
          }
          .iconfont {
            margin-right: 6px;
            margin-left: 8px;
            font-size: 16px;
            display: inline-block;
            vertical-align: middle;
          }
          span {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }
    .operationBox {
      flex: 1;
      // padding: 10px;
      border: $border;
      border-top: none;
      border-bottom: none;
      box-sizing: border-box;
      .uiBtnBox {
        height: 45px !important;
        line-height: 45px;
        border-bottom: solid 2px #e4e7ed;
        text-align: right;
        .iconfont {
          font-size: 14px;
        }
      }
      .operationMain {
        padding: 0;
        height: 100%;
        width: 100%;
      }
      &.haveBg {
        background: url(~@/assets/image/tips.png) no-repeat;
        background-position: 50%;
      }
    }
    .configBox {
      position: relative;
      .configHeader {
        border-bottom: solid 2px #e4e7ed;
        padding: 0;
        height: 45px !important;
        text-align: center;
        .configTab {
          box-sizing: border-box;
          height: 45px;
          line-height: 45px;
          display: inline-block; // 会造成布局间隙而导致换行的问题
          width: 30%;
          text-align: center;
          font-size: 14px;
          font-weight: 500;
          position: relative;
          cursor: pointer;
          // cursor: url(~@/assets/image/default.cur),default;
          &.active {
            color: $link-active;
            border-bottom: solid 2px $link-active;
          }
        }
      }
      .configMain {
        padding: 10px;
        min-height: 92%;
      }
    }
  }
}
</style>
<style lang="scss">
.uiDesign {
  // 设置操作区的拖拽排序影子的样式
  .operationBox {
    .ghost {
      float: left; // 因为操作区使用的栅格化是浮动的，所以这里也要浮动才能占据对应的文本流
      height: 60px;
      list-style: none;
      font-size: 0;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      border: 2px dashed $link-active;
      width: 30%;
      .iconfont {
        opacity: 0;
      }
    }
    // 复制和删除的icon的样式
    .iconBox {
      position: absolute;
      right: 0px;
      bottom: 0px; // 注意，写负值可能会溢出父元素撑开滚动条
      z-index: 1001;
      width: 100px;
      text-align: right;
      .iconfont {
        height: 24px;
        width: 24px;
        cursor: pointer;
        padding: 8px;
        font-size: 16px;
        margin-right: 6px;
        border-radius: 17px;
        &.icon-fuzhi {
          color: $icon-blue3;
          border: 1px solid $icon-blue2;
          background: $icon-blue1;
          &:hover {
            color: $icon-blue1;
            border: 1px solid $icon-blue2;
            background: $icon-blue3;
          }
        }
        &.icon-shanchu {
          color: $icon-red3;
          border: 1px solid $icon-red2;
          background: $icon-red1;
          &:hover {
            color: $icon-red1;
            border: 1px solid $icon-red2;
            background: $icon-red3;
          }
        }
      }
    }
  }
}
</style>
