<template>
  <div class="pageConfig uiConfig">
    <div class='configGroup'>
      <div :class="[data.openConfigs.includes('base') ? 'reverse' : '', 'configTitle']" @click="changOpenConfig('base')">
        <span>基础信息</span>
        <i class="icon-xiala2 iconfont"></i>
      </div>
      <template v-if="data.openConfigs.includes('base')">
        <div class="configItem">
          <span class='itemTitle'>UI名称</span>
          <el-input v-model="data.name"></el-input>
        </div>
        <div class="configItem">
          <span class='itemTitle'>中文名称</span>
          <name-express class='nameExpress' @getExpress='getExpress' :initExpress='data.displayNameFormat'></name-express>
        </div>
        <div class="configItem">
          <span class='itemTitle'>关联功能</span>
          <el-select ref='functionModel' v-model="data.functionModel" placeholder="请选择" filterable @change='selectFun'>
            <el-option v-for='fun in functionList' :label='fun.name+"("+fun.displayName+")"' :value="fun.name" :key='fun.name'>
            </el-option>
          </el-select>
        </div>
        <div class="configItem">
          <span class='itemTitle'>描述信息</span>
          <el-input type="textarea" placeholder="请输入描述" v-model="data.description" maxlength="200">
          </el-input>
        </div>
      </template>
    </div>
    <div class='configGroup'>
      <div :class="[data.openConfigs.includes('layout') ? 'reverse' : '', 'configTitle']" @click="changOpenConfig('layout')">
        <span>布局配置</span>
        <i class="icon-xiala2 iconfont"></i>
      </div>
      <template v-if="data.openConfigs.includes('layout')">
        <div class="configItem">
          <span class='itemTitle'>页面列数</span>
          <el-select class='select' v-model="data.columns" placeholder="请选择">
            <el-option v-for="item in [1,2,3,4,6,8,12,24]" :key="item" :label="item" :value="item">
            </el-option>
          </el-select>
        </div>
        <div class="configItem">
          <span class='itemTitle'>边缘间隔</span>
          <el-input-number v-model="gutter" :min="0" :max="50" :step="1"></el-input-number>
        </div>
      </template>
    </div>
    <!-- <div class='configGroup'>
      <div :class="[data.openConfigs.includes('advanced') ? 'reverse' : '', 'configTitle']" @click="changOpenConfig('advanced')">
        <span>高级配置 </span>
        <i class="icon-xiala2 iconfont"></i>
      </div>
    </div> -->
  </div>
</template>

<script>
import nameExpress from '@/components/nameExpress/input.vue'
import modelService from '@/assets/js/service/modelservice'

export default {
  props: {
    data: Object
  },
  components: { nameExpress },
  data: function () {
    return {
      gutter: this.data.gutter / 2,
      functionList: [], // 功能模型列表
      functionModel: this.data.functionModel
    }
  },
  watch: {
    gutter: function (val) {
      this.data.gutter = 2 * val
    }
  },
  created () {
    modelService.getFunctionList().then(res => { // 获取功能模型列表
      this.functionList = res.data
    })
  },
  methods: {
    changOpenConfig (groupName) {
      let { openConfigs } = this.data
      if (openConfigs.includes(groupName)) {
        const index = openConfigs.indexOf(groupName)
        openConfigs.splice(index, 1)
      } else {
        openConfigs.push(groupName)
      }
    },
    getExpress (name, format) { // 选择中文名称格式
      this.data.displayName = name
      this.data.displayNameFormat = format
    },
    selectFun () {
      this.$confirm('切换功能模型将清空所有控件已选的数据来源，继续？', '提示', {
        cancelButtonText: '取消',
        confirmButtonText: '确定',
        type: 'warning'
      }).then(() => {
        this.functionModel = this.data.functionModel
        this.$emit('change-fun')
        this.$refs.functionModel.blur()
      }).catch(() => {
        this.data.functionModel = this.functionModel
        this.$refs.functionModel.blur()
      })
    }
    // clearFun () {
    //   console.log('清空', this.funtionModel)
    // }
  }
}
</script>

<style lang='scss'>
.uiConfig {
  .configGroup {
    .configTitle {
      height: 30px;
      min-width: 10%;
      display: inline-block;
      cursor: pointer;
      line-height: 30px;
      color: $link-active;
      span {
        font-size: $ui-small-size;
      }
      .icon-xiala2 {
        font-size: $ui-small-size;
        height: 18px;
        width: 16px;
        padding-left: 5px;
        &:before {
          display: inline-block;
          transition: transform 0.3s;
          transform: rotate(-90deg);
        }
      }
    }
    .reverse {
      color: $link-active;
      .icon-xiala2 {
        &:before {
          display: inline-block;
          transition: transform 0.3s;
          transform: rotate(0deg);
        }
      }
    }
    .configItem {
      padding: 5px 0;
      .itemTitle {
        width: 80px;
        color: $color-text;
        display: inline-block;
        font-size: $control-mini-size;
        &.itemBlock {
          margin-bottom: 8px;
        }
      }
      .icon-add {
        margin-left: 5px;
        color: $link-active;
        cursor: pointer;
      }
      // 定制radio的样式
      .el-radio-group {
        .el-radio-button__inner {
          padding: 6px 5px;
          border-radius: 3px;
          font-size: $control-mini-size;
        }
      }
      // 定制单行文本的样式
      .el-input {
        width: 150px;
        .el-input__inner {
          height: 27px;
          line-height: 25px;
        }
      }
      // 定制数字加减的样式
      .el-input-number {
        width: 150px;
        line-height: 25px;
        span {
          height: 25px;
          width: 25px;
          font-size: $control-mini-size;
        }
        .el-input {
          .el-input__inner {
            height: 27px;
            line-height: 25px;
          }
        }
        // 为计数器加上百分号
        &.percent {
          .el-input {
            position: relative;
            &::after {
              content: "%";
              position: absolute;
              left: 103px;
              top: 2px;
              color: #606266;
              display: block;
              width: auto;
              height: 100%;
            }
          }
        }
      }
      // 定制下拉选项样式
      .el-select {
        .el-input {
          width: 150px;
          .el-input__inner {
            height: 27px;
            line-height: 25px;
          }
        }
        .el-input__suffix {
          i {
            line-height: 25px;
          }
        }
        &.select1 {
          .el-input {
            width: 120px;
            .el-input__inner {
              height: 27px;
              line-height: 25px;
            }
          }
        }
      }
      // 定制单选框组的样式
      .el-radio-group {
        .el-radio + .el-radio {
          margin-left: 15px;
        }
      }

      .selectList,
      .selectTree {
        width: 150px;
        display: inline-block;
      }
      // 中文名称样式
      .nameExpress {
        width: 120px;
        line-height: 25px;
        display: inline-block;
      }
      .el-textarea {
        margin-top: 10px;
      }
    }
  }
}
</style>
