<template>
  <el-dialog class="previewDialog" :title="title" :visible.sync="visible" :close-on-click-modal="false" :close-on-press-escape='false' :before-close='close' center :width="width" ref="elDialog" :id="id">
    <span v-if='visible'>
      <slot></slot>
    </span>
    <span v-if="action" slot="footer" class="dialog-footer" v-loading="loading" :element-loading-text="loadingText">
      <slot name="action">
        <el-button type="primary" @click="submit">保存</el-button>
        <el-button @click="close">取消</el-button>
      </slot>
    </span>
  </el-dialog>
</template>

<script>
export default {
  props: {
    visible: Boolean, // dialog是否显示
    loadingText: {
      type: String,
      default: ''
    },
    title: { // dialog的标题
      type: String,
      default: ''
    },
    width: { // dialog的宽度
      type: String,
      default: '600px'
    },
    action: { // 是否显示操作按钮
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      loading: false,
      id: 'dialog_' + new Date().getTime()
    }
  },
  methods: {
    close () {
      this.$emit('on-close')
    },
    submit () {
      this.loading = true
      this.$emit('on-save')
    },
    end () {
      this.loading = false
    }
  }
}
</script>

<style lang="scss">
.previewDialog {
  .el-dialog__body {
    min-height: 450px;
    padding: 10px 10px 15px;
  }
  .el-dialog__footer {
    margin: 0 20px;
    // border-top: 1px dashed #ccc;
    padding: 15px 0 16px;
    text-align: center;
    position: relative;

    .dialog-footer {
      display: block;

      .circular {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        width: 24px;
        height: 24px;
      }

      .el-loading-text {
        display: inline-block;
        vertical-align: middle;
      }

      .el-loading-spinner {
        margin-top: -12px;
      }
    }
  }
}
</style>
