<template>
  <div class='realArea'>
    <el-row class='pageRow' :type="data.layoutType" :gutter="data.gutter" :justify="data.justify" :align="data.align" :style='{paddingTop:  data.gutter / 2 + "px", paddingBottom:  data.gutter / 2 + "px"}'>
      <template v-for="(area, index) in data.children">
        <el-col v-if="area.key" class="pageCol" :key="index" :span='24/data.columns' :offset='area.offset' :push='area.push' :pull='area.pull'>
          <!-- 表单容器 -->
          <el-form v-if='area.name === "formArea"' :ref="area.model" :model="area.model" :rules="area.rules" :label-position="area.labelPosition" :label-width="area.labelWidth + 'px'">
            <el-row class="areaRow formArea" :type="area.layoutType" :gutter="area.gutterH" :justify="area.justify" :align="area.align">

              <i v-if='area.allowFolding' :class="[area.isFolding ? 'reverse' : '', 'icon-xiala2', 'iconfont']" @click='changeFolding(area)'></i>
              <label :key='index' v-if='area.label' class='areaTitle' :style="{paddingLeft: area.gutterH/2 + 'px', paddingRight: area.gutterH/2 + 'px', textAlign: area.titlePosition}">{{area.label}}</label>
              <el-col v-for="(control, conIndex) in area.children" class="areaCol" :key="conIndex" :span="24/area.columns" :offset='control.offset'>
                <el-form-item v-if="control && control.key" class="controlItem formItem" :style='{ lineHeight: 40*control.rows + "px", minHeight: 40*control.rows + "px"}' :label="control.label" :prop="control.model">
                  <real-control :model.sync="area.model[control.model]" :remote="remote" :data="control"></real-control>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
          <!-- 基础容器 -->
          <el-row v-if='area.name === "baseArea"' class="areaRow baseArea" :type="area.layoutType" :gutter="area.gutterH" :justify="area.justify" :align="area.align">
            <i v-if='area.allowFolding' :class="[area.isFolding ? 'reverse' : '', 'icon-xiala2', 'iconfont']" @click='changeFolding(area)'></i>
            <label :key='index' v-if='area.label' class='areaTitle' :style="{paddingLeft: area.gutterH/2 + 'px', paddingRight: area.gutterH/2 + 'px', textAlign: area.titlePosition}">{{area.label}}</label>
            <template v-for="(control, conIndex) in area.children">
              <el-col v-if='area.children.length' class="areaCol" :key="conIndex" :span="control.span" :offset='control.offset' :style='{width: control.width + "%",marginLeft:control.offset + "%"}'>
                <label v-if='!baseItem.includes(control.name)' class='baseItemLabel' :style="{width: area.labelPosition === 'top' ? '100%' : area.labelWidth + 'px', float: area.labelPosition === 'top' ? none : 'left', textAlign: area.labelPosition === 'right' ? 'right': 'left'}">{{control.label}}</label>

                <div v-if="control && control.key" :class="[ 'controlItem' , 'baseItem' ]" :style='{minHeight: control.height - 20 + "px"}'>
                  <real-control :model.sync="control.defaultValue" :remote="remote" :data="control"></real-control>
                </div>
              </el-col>
            </template>
          </el-row>
          <!-- 标签页容器 -->
          <!-- <div v-else-if='area.name === "tabArea"' class="areaRow tabArea" :type="area.layoutType" :style='{paddingTop:  area.marginV + "px", paddingBottom:  area.marginV + "px", paddingLeft:  area.marginH + "px", paddingRight:  area.marginH + "px"}' :justify="area.justify" :align="area.align">
            <el-tabs type="border-card">
              <el-tab-pane v-for='(tab, tabIndex) in area.tabs' :key='tabIndex' :label="tab.label">
                <el-row class="tabRow" :type="area.layoutType" :gutter="area.gutter" :justify="area.justify" :align="area.align" :style='{minHeight: area.height + "px"}'>
                  <el-col v-if='tab.children.length' class="areaCol" v-for="(control, conIndex) in tab.children" :key="conIndex" :span="control.span">
                    <div v-if="control && control.key" :class="[ 'controlItem' , 'tabItem' ]" :style='{minHeight: control.height + "px"}'>
                      <real-control :model.sync="control.defaultValue" :remote="remote" :data="control"></real-control>
                    </div>
                  </el-col>
                </el-row>
              </el-tab-pane>
            </el-tabs>
          </div> -->

        </el-col>
      </template>
    </el-row>
  </div>
</template>

<script>
import RealControl from './RealControl'

export default {
  name: 'RealArea',
  components: {
    RealControl
  },
  props: {
    data: Object, // 操作区的完整json数据
    remote: Object, // 获取远端或者默认的数据
    value: Object // 表单数据对象
  },
  data () {
    return {
      formItem: ['input', 'textarea', 'radio', 'number', 'checkbox', 'time', 'date', 'rate', 'color', 'select', 'switch', 'slider'],
      baseItem: ['img', 'button', 'text', 'table', 'richText']
    }
  },
  watch: {
    data: {
      deep: true,
      handler (val, oldVal) {
        if (val.mid !== oldVal.mid) {
          this.initForm(val.children)
        }
      }
    }
  },
  created () {
    this.initForm(this.data.children)
  },
  mounted () {
    console.log(this.data.children)
  },
  methods: {
    initForm (areaList) { // 主要处理表单的数据源和校验规则
      if (areaList && areaList.length) {
        areaList.map(area => {
          if (area.name === 'formArea' && area.children.length) {
            area.children.map(control => {
              if (control.rules && control.rules.length) {
                control.rules[0].message = control.label + '不可为空'
                if (control.rules[1]) {
                  control.rules[1].message = '字段长度请保持在' + control.rules[1].min + '-' + control.rules[1].max + '之间'
                }
              }
              if (control.reg && control.reg.label) {
                let check = (rule, value, callback) => {
                  if (!value) {
                    return callback(new Error('字段不能为空'))
                  }
                  setTimeout(() => {
                    console.log(control.reg.value)
                    const regObj = new RegExp(control.reg.value)
                    if (!regObj.test(value)) {
                      callback(new Error(control.reg.msg))
                      return
                    }
                    callback()
                  }, 300)
                }
                control.rules.push({ validator: check, trigger: 'blur' })
              }
              this.$set(area.rules, control.model, control.rules) // 组合表单的校验规则
              if (Object.keys(area.model).indexOf(control.model) < 0) { // 组合表单数据对象，formItem的v-model可以是用户选择的，也可以是默认生成的
                this.$set(area.model, control.model, control.defaultValue) // 组合表单的校验规则
              }
            })
            this.$nextTick(() => { // 切换模板时，发现表单会显示校验状态，所以这里清除一下，如果影响到正常校验，就添加个参数来区分选择模板还是实际显示
              this.$refs[area.model][0].resetFields()
            })
          }
        })
      }
    },
    getData () {
      return new Promise((resolve, reject) => {
        this.$refs.generateForm.validate(valid => {
          if (valid) {
            resolve(this.model)
          } else {
            reject(new Error('表单数据校验失败').message)
          }
        })
      })
    }
  }
}
</script>
<style lang="scss" scoped>
.realArea {
  width: 100%;
  min-height: 100%;
  .el-form {
    height: 100%;
    .pageRow {
      height: 100%;
    }
  }

  .pageCol {
    position: relative;
    margin: 0;
    .areaRow {
      position: relative;
      .areaTitle {
        font-size: 18px;
        color: #606266;
        line-height: 40px;
        height: 50px;
        width: 100%;
        font-weight: 600;
        display: inline-block;
        box-sizing: border-box;
      }
      & > .icon-xiala2 {
        font-size: 20px;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        color: $link-active;
        &:before {
          display: inline-block;
          transition: transform 0.3s;
          transform: rotate(0deg);
        }
      }
      & > .reverse {
        color: $link-active;
        &:before {
          display: inline-block;
          transition: transform 0.3s;
          transform: rotate(-90deg);
        }
      }
      .areaCol {
        position: relative;
        padding-top: 10px; // 默认每个控件上下边距
        padding-bottom: 10px;
        // padding-left: 5px;
        // padding-right: 5px;
        .controlItem {
          box-sizing: border-box;
          margin: 0;
        }
        .baseItemLabel {
          text-align: right;
          font-size: 14px;
          color: #606266;
          // background: pink;
          line-height: 40px;
          // line-height: inherit;
          height: 100%;
          padding: 0 12px 0 0;
          display: inline-block;
          box-sizing: border-box;
        }
      }
      &.tabArea {
        .el-tabs {
          height: 100%;
          .tabRow {
            position: relative;
          }
        }
      }
    }
  }
  .formItem {
    .el-form-item__label {
      line-height: inherit;
    }
    // 必填的表单项样式
    &.isReq {
      .el-form-item__label::before {
        content: "*";
        color: red;
        margin-right: 4px;
      }
    }
  }
  .el-form--label-top {
    .el-form-item {
      line-height: 40px !important;
      .el-form-item__label {
        // line-height: 40px;
        padding: 0;
      }
    }
  }
}
</style>
<style lang="scss">
.realArea {
  .el-row {
    margin: 0 !important;
  }
}
</style>
