<template>
  <div class="realControl" :style='{lineHeight: 40*data.rows + "px", height: 40*data.rows + "px"}'>
    <template v-if="data.name === 'input'">
      <el-input v-if="data.dataType === 'number' || data.dataType === 'integer' || data.dataType === 'float'" :type="data.dataType" v-model.number="value" :placeholder="data.placeholder" :style='data.style'></el-input>
      <el-input :type="data.dataType" v-model="value" :minlength='data.minlength' :maxlength='data.maxlength' :size='data.size' :placeholder="data.placeholder" :style='data.style'></el-input>
    </template>

    <template v-if="data.name === 'textarea'">
      <el-input type="textarea" :rows="5" v-model="value" :placeholder="data.placeholder" :style='data.style'></el-input>
    </template>

    <template v-if="data.name === 'number'">
      <el-input-number v-model="data.defaultValue" :style='data.style' :step="data.step" :controls-position="data.controlsPosition"></el-input-number>
    </template>

    <template v-if="data.name === 'radio'">
      <el-radio-group v-model="value" :style='data.style'>
        <el-radio :style="{display: data.inline ? 'inline-block' : 'block'}" v-for="(item, index) in data.options" :label="item.value" :key="index">
          {{item.label}}
        </el-radio>
      </el-radio-group>
    </template>

    <template v-if="data.name === 'checkbox'">
      <el-checkbox-group v-model="value" :style='data.style'>
        <el-checkbox :style="{display: data.inline ? 'inline-block' : 'block'}" v-for="(item, index) in data.options" :label="item.value" :key="index">
          {{item.label}}
        </el-checkbox>
      </el-checkbox-group>
    </template>

    <template v-if="data.name === 'time'">
      <el-time-picker v-model="value" :is-range="data.isRange" :placeholder="data.placeholder" :start-placeholder="data.startPlaceholder" :end-placeholder="data.endPlaceholder" :readonly="data.readonly" :disabled="data.disabled" :editable="data.editable" :clearable="data.clearable" :arrowControl="data.arrowControl" :value-format="data.format" :style='data.style'>
      </el-time-picker>
    </template>

    <template v-if="data.name==='date'">
      <el-date-picker v-model="value" :type="data.type" :placeholder="data.placeholder" :start-placeholder="data.startPlaceholder" :end-placeholder="data.endPlaceholder" :readonly="data.readonly" :disabled="data.disabled" :editable="data.editable" :clearable="data.clearable" :value-format="data.timestamp ? 'timestamp' : data.format" :format="data.format" :style='data.style'>
      </el-date-picker>
    </template>

    <template v-if="data.name ==='rate'">
      <el-rate v-model="value" :max="data.max" :disabled="data.disabled" :allow-half="data.allowHalf"></el-rate>
    </template>

    <template v-if="data.name === 'color'">
      <el-color-picker v-model="value" :disabled="data.disabled" :show-alpha="data.showAlpha"></el-color-picker>
    </template>

    <template v-if="data.name === 'select'">
      <el-select v-model="value" :disabled="data.disabled" :multiple="data.multiple" :clearable="data.clearable" :placeholder="data.placeholder" :style='data.style'>
        <el-option v-for="item in (data.remote ? data.remoteOptions : data.options)" :key="item.value" :value="item.value" :label="data.showLabel || data.remote?item.label:item.value"></el-option>
      </el-select>
    </template>

    <template v-if="data.name==='switch'">
      <el-switch v-model="value" :disabled="data.disabled">
      </el-switch>
    </template>

    <template v-if="data.name==='slider'">
      <el-slider v-model="value" :min="data.min" :max="data.max" :disabled="data.disabled" :step="data.step" :show-input="data.showInput" :range="data.range"></el-slider>
    </template>

    <template v-if="data.name==='button'">
      <el-button :type="data.type">{{data.label}}</el-button>
    </template>

    <template v-if="data.name==='text'">
      <div :style='data.style' class='textP' v-html='data.value'></div>
    </template>

    <template v-if="data.name==='tree'">
      <el-tree :data="data.data" :default-expand-all='data.expandAll' :props="data.props" style="width: 100%">
      </el-tree>
    </template>

    <template v-if="data.name==='table'">
      <!-- <el-table :data="data.data" border style="width: 100%" tooltip-effect="light">
        <el-table-column v-for='(column, index) in data.columns' :key='index' :prop="column.value" :label="column.label" :width="column.width?column.width: ''" :show-overflow-tooltip="column.tooltip">
        </el-table-column>
      </el-table> -->
      <el-table :data="data.data" border style="width: 100%" tooltip-effect="light">
        <el-table-column v-for='(column, index) in data.columns' :key='index' :prop="column.value" :label="column.label" :width="column.width?column.width: ''" :show-overflow-tooltip="column.tooltip">
        </el-table-column>
      </el-table>
    </template>

    <template v-if="data.name==='img'">
      <img-upload :disabled="data.disabled" :width="data.size.width" :height="data.size.height" :limit='data.limit'>
      </img-upload>
    </template>

    <template v-if="data.name==='richText'">
      <tinymce :config="data.config" v-model="data.value" :url="data.url" :max-size="data.maxSize" :accept="data.accept" :with-credentials='false' @on-ready="onEditorReady" @on-destroy="onEditorDestroy" @on-upload-success="onEditorUploadComplete" @on-upload-fail="onEditorUploadFail"></tinymce>
    </template>

    <!-- <template v-if="data.name==='tabs'">
      <el-tabs type="border-card">
        <el-tab-pane v-for='(tab, index) in data.tabs' :key='index' :label="tab.label">
          <dynamic-area ref="widgetForm" :data="pageData" :select.sync="currentControl"></dynamic-area>
        </el-tab-pane>
      </el-tabs>
    </template> -->

  </div>
</template>

<script>
import ImgUpload from './ImgUpload'
import Tinymce from '@/components/tinymce'
export default {
  props: {
    data: Object, // 当前控件数据
    model: null, // 当前表单项数据
    remote: Object // 获取远端或者默认的数据
  },
  components: {
    ImgUpload,
    Tinymce
  },
  data () {
    return {
    }
  },
  computed: { // 利用计算属性将当前表单项数据变为双向的
    value: {
      get () {
        return this.model
      },
      set (val) {
        this.$emit('update:model', val)
      }
    }
  },
  created () {

  },
  destroyed () {
    this.data.value = ''
  }
}
</script>
<style lang="scss">
.realControl {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // width: 100%;
  // 单行文本框
  & > .el-input,
  & > .el-input > .el-input__inner {
    line-height: inherit;
    height: 100%;
  }
  // 多行文本
  & > .el-textarea,
  & > .el-textarea > textarea {
    // line-height: inherit;
    height: 100%;
    textarea {
      padding: 0;
      // border: 0;
      box-sizing: border-box;
      min-height: 40px !important;
    }
  }
  // 下拉框  // 放出来下拉框就会跟随行数扩大
  // & > .el-select {
  //   line-height: inherit;
  //   height: 100%;
  //   .el-input,
  //   .el-input__inner {
  //     line-height: inherit;
  //     height: 100%;
  //   }
  // }
  // 时间、日期选择器
  & > .el-date-editor {
    line-height: 40px;
    height: 40px;
    .el-input__inner {
      line-height: 40px;
      height: 40px;
    }
  }
  .textP {
    overflow: visible;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .el-slider {
    width: 100%;
  }
}
</style>
