<template>
  <div class='uiModel'>
    <div class="functionTop">
      <div class="functionTitle">
        <h3>UI模型维护</h3>
        <p>基于丰富的模板、区块库、组件库和Icon库快速创建UI</p>
      </div>
      <div class="functionButton">
        <div class="topRow el-form-item">
          <el-input v-model="keyWord" placeholder="请输入需要搜索的名称" maxlength="64" @keyup.enter.native="search"></el-input>
        </div>
        <div class="topRow">
          <el-button type="primary" plain @click="getList(keyWord)" icon="el-icon-search">查询</el-button>
        </div>
        <div class="topRow">
          <el-button type="primary" @click="openDialog({}, '添加')" icon="el-icon-plus">添加</el-button>
        </div>
      </div>
    </div>
    <!-- 表格 -->
    <div class="table">
      <el-table :data="tableData" style="width: 100%" border tooltip-effect="light">
        <el-table-column type="index" label="序号" width="50"></el-table-column>
        <el-table-column v-for='column in columns' :prop="column.value" :label="column.text" :key='column.value' :width="column.width" :show-overflow-tooltip="column.tooltip"></el-table-column>
        <el-table-column label="操作" width="100" align='left' fixed='right'>
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="goDesign(scope.row)">编辑</el-button>
            <!-- <el-button type="text" size="small" @click="openDialog(scope.row, '编辑')">编辑</el-button> -->
            <el-button type="text" size="small" @click='handleConfirm("您确定删除这个UI项吗？", scope, "delete")'>删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <!-- 分页 -->
    <div class="pagination" v-show="tableData.length > 0">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="pageNo" :page-sizes="[10, 20, 30, 40]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="pageTotal">
      </el-pagination>
    </div>
    <!-- dialog中包裹表单 -->
    <el-dialog title="UI明细" :visible.sync="dialogVisible" :close-on-click-modal="false" :close-on-press-escape='false' :before-close='handleClose' width='800px'>
      <el-form :model="form" class='clearfix' label-position="right" :inline="true" :rules="rules" ref='dialogForm'>
        <el-form-item label="名称" :label-width="formLabelWidth" prop='name' maxlength="64">
          <el-input v-model.trim="form.name" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="中文名称" prop="displayName" :label-width="formLabelWidth">
          <name-express @getExpress='getExpress' :initExpress='form.displayNameFormat'></name-express>
        </el-form-item>
        <el-form-item label="关联功能" prop="functionModel" :label-width="formLabelWidth">
          <el-select v-model="form.functionModel" placeholder="请选择" filterable clearable>
            <el-option v-for='fun in functionList' :label='fun.name+"("+fun.displayName+")"' :value="fun.name" :key='fun.name'></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="描述:" :label-width="formLabelWidth">
          <el-input type="text" placeholder="请输入描述" v-model="form.description" maxlength="200">
          </el-input>
        </el-form-item>
        <!-- <el-form-item label="作为模板" :label-width="formLabelWidth">
          <el-radio v-model="form.modelStyle" label="CUSTOMER_TEMPLATE">是</el-radio>
          <el-radio v-model="form.modelStyle" label="CUSTOMER_DEFAULT">否</el-radio>
        </el-form-item> -->
        <div class="templateBox">
          <div class='templateHeader'>选择模板</div>
          <div class="templateMain">
            <div :class='[{active: !form.template},"templateItem"]' @click='selectTemplate("")'>
              <i class="icon-icon--1 iconfont"></i>
              <div class="textBox">
                <p class='templateTitle'>空白模板</p>
                <p class="templateInfo">进入后创建全新界面</p>
              </div>
            </div>
            <div :class='[{active: form.template},"templateItem"]' @click='selectTemplate("1")'>
              <i class="icon-moban iconfont"></i>
              <div class="textBox">
                <p class='templateTitle'>已有模板</p>
                <p class="templateInfo">从已创建的模板中选择</p>
              </div>
            </div>
          </div>
        </div>

      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="saveModel">确定</el-button>
        <el-button type="primary" plain @click="handleConfirm('是否放弃当前编辑并退出？', {}, 'cancel')">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { nameReg, chineseReg } from '@/assets/js/comm/constant'
import { mapState, mapActions } from 'vuex'
import nameExpress from '@/components/nameExpress/input.vue'
import modelService from '@/assets/js/service/modelservice'
import { pageCommon } from '@/assets/js/mixin/mixin.js'
import lodash from 'lodash'

let defaultData = {
  mid: 0, // 主键 可选
  name: '', // 名称
  displayName: '', // 中文名称
  displayNameFormat: '',
  template: '', // 模板
  functionModel: '', // 关联功能
  modelStyle: 'CUSTOMER_TEMPLATE', // 模型类型
  description: '', // 描述
  mode: 'PC', // 显示模式 PC/MOBILE
  columns: 1, // 分的列数
  labelWidth: 90, // label宽度
  labelPosition: 'left', // label的位置
  gutter: 10, // 栅格间隔，单位px
  layoutType: '', // 布局方式可选flex
  justify: '', // flex布局下水平排列方式start/end/center/space-around/space-between
  align: '', // flex布局下垂直排列方式top/middle/bottom
  openConfigs: ['base', 'layout'], // 展开的配置组
  useCondition: '', // 使用条件，可控制不同客户使用不同page
  customStyle: '', // 自定义样式
  children: [] // 下面的区组
}
export default {
  name: 'spmodel',
  components: { nameExpress },
  mixins: [pageCommon],
  data () {
    let checkName = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('名称不能为空'))
      }
      setTimeout(() => {
        if (!nameReg.test(value)) {
          callback(new Error('名称只允许为字母数字或者._-且不能数字开头'))
          return
        }
        callback()
      }, 300)
    }
    let checkDisplayName = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('中文名称不能为空'))
      }
      setTimeout(() => {
        if (!chineseReg.test(value)) {
          callback(new Error('中文名称只允许为中文'))
          return
        }
        callback()
      }, 300)
    }
    return {
      keyWord: '', // 关键字搜索
      currentRow: {}, // 当前要去设计的ui模型
      dialogVisible: false,
      templateDialog: false, // 选择模板
      formLabelWidth: '100px',
      tableData: [], // ui模型列表
      functionList: [], // 功能模型列表
      templateList: [], // 模板列表
      time: 1, // 用来计数，判断关闭时是否询问
      form: lodash.cloneDeep(defaultData),
      modelStyleList: [],
      columns: [
        {
          text: '名称',
          value: 'name',
          width: 200
        },
        {
          text: '中文名称',
          value: 'displayName',
          width: 200
        },
        {
          text: '关联功能',
          value: 'functionModel',
          width: 200
        },
        {
          text: '描述信息',
          value: 'description',
          tooltip: true
        }
      ],
      rules: { // 新增/编辑校验
        name: [
          { required: true, validator: checkName, trigger: 'blur' }
        ],
        displayName: [
          { required: true, validator: checkDisplayName, trigger: 'blur' }
        ],
        functionModel: [
          { required: true, message: '关联功能不能为空', trigger: 'blur' }
        ]
      }
    }
  },
  computed: {
    ...mapState({
      'uiData': state => state.models.uiData // 当前模型的数据
    })
  },
  watch: {
    dialogVisible: function (val) {
      if (!val) {
        this.form = lodash.cloneDeep(defaultData)
      } else {
        modelService.getTemplates().then((res) => { // 获取模板列表
          this.templateList = res.data
        })
        modelService.getFunctionList().then(res => { // 获取功能模型列表
          this.functionList = res.data
        })
      }
    },
    form: {
      handler: function (newV) {
        if (this.dialogVisible) {
          this.time++
        }
      },
      deep: true
    }
  },
  created () {
    this.listAll()
  },
  methods: {
    ...mapActions('models', ['setUiData']),
    selectNameExpress (key) {
      this.focusRowKey = key
    },
    listAll () {
      modelService.listAll('uilayoutmodel').then(res => { // 获取UI模型列表
        this.tableData = res.data
      })
    },
    getList (keyWord) { // 分页获取ui列表
      modelService.queryByPage('uilayoutmodel', this.pageNo, this.pageSize, keyWord).then((res) => {
        this.tableData = res.data.list
        this.pageTotal = parseInt(res.data.totalRow)
      })
    },
    search () { // 关键字查询列表
      this.getList(this.keyWord)
    },
    selectTemplate (type) {
      this.form.template = type
      // const uiList = this.tableData.filter(item => {
      //   return item.mid !== this.currentRow.mid
      // })
      // localStorage.uiList = JSON.stringify(lodash.cloneDeep(uiList))
      // localStorage.currentUi = JSON.stringify(lodash.cloneDeep(this.currentRow))
      // this.$router.push('template')
    },
    goDesign (row) {
      this.setUiData(lodash.cloneDeep(row))
      localStorage.uiData = JSON.stringify(lodash.cloneDeep(row))
      this.$router.push({
        name: 'uiDesign',
        query: {
          name: row.name
        }
      })
    },
    openDialog (data, type) { // 添加/编辑菜单节点 data:要编辑的菜单节点数据
      if (type === '编辑') {
        this.form = lodash.cloneDeep(data)
      }
      this.time = 1
      this.changeType = type // 保存时有用
      this.dialogVisible = true
    },
    getExpress (name, format) { // 选择中文名称格式
      this.form.displayName = name
      this.form.displayNameFormat = format
    },
    saveModel () { // 保存新增/编辑
      this.$refs.dialogForm.validate((valid) => {
        if (valid) {
          const appInfo = JSON.parse(localStorage.appInfo)
          const currentRow = lodash.cloneDeep(this.form)
          let obj = { appName: appInfo.appName, appVersion: appInfo.appVersion, ...this.form }
          modelService.saveModel('uilayoutmodel', obj).then((res) => {
            modelService.listAll('uilayoutmodel').then(res => { // 获取UI模型列表
              this.tableData = res.data
              let currentIndex = 0
              this.tableData.map((item, index) => {
                if (item.name === currentRow.name) {
                  this.currentRow = item
                  currentIndex = index
                }
              })
              if (!this.currentRow.template) {
                this.goDesign(this.currentRow)
              } else {
                this.tableData.splice(currentIndex, 1)
                localStorage.uiList = JSON.stringify(lodash.cloneDeep(this.tableData))
                localStorage.currentUi = JSON.stringify(lodash.cloneDeep(this.currentRow))
                console.log(currentRow)
                this.$router.push('template')
              }
            })
            // this.$messageService.success(`${this.changeType}UI模型成功!`)
            this.$refs.dialogForm.clearValidate()
            this.dialogVisible = false
          })
        }
      })
    },
    deleteModel (scope) { // 删除菜单模型
      modelService.deleteModel('uilayoutmodel', scope.row.mid).then((res) => {
        this.listAll()
        this.$messageService.success('删除菜单成功!')
      })
    },
    handleConfirm (msg, scope, type) { // 删除或者取消前的询问
      if (type === 'delete') {
        this.$confirm(msg, '提示', {
          cancelButtonText: '取消',
          confirmButtonText: '确定',
          type: 'warning'
        }).then(() => {
          this.deleteModel(scope)
        }).catch(() => { })
      } else {
        if (this.time > 2) {
          this.$confirm(msg, '提示', {
            cancelButtonText: '取消',
            confirmButtonText: '确定',
            type: 'warning'
          }).then(() => {
            this.$refs.dialogForm.clearValidate() // 清除校验结果
            this.dialogVisible = false
          }).catch(() => { })
        } else {
          this.$refs.dialogForm.clearValidate() // 清除校验结果
          this.dialogVisible = false
        }
      }
    },
    handleClose (type) { // 对话框关闭
      this.handleConfirm('是否放弃当前编辑并退出？', {}, 'close')
    }
  }
}
</script>

<style scoped lang='scss'>
.uiModel {
  background: $main-bg;
  min-height: 100%;
  box-sizing: border-box;
  padding: $main-padding;
  .functionTop {
    // 统一表格头部
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 16px 0;
    .functionTitle {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h3 {
        line-height: 24px;
        font-weight: 700;
        font-size: 18px;
      }
      p {
        line-height: 16px;
        font-size: 14px;
        color: #999;
      }
    }
    .functionButton {
      display: flex;
      align-items: center;
      .topRow {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: 12px;
      }
    }
  }
  .pagination {
    // 分页
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  .templateBox {
    float: left;
    height: 180px;
    // padding-left: 100px;
    width: 100%;
    box-sizing: border-box;
    // background: pink;
    // background: pink;
    // display: flex;
    // justify-content: space-around;
    // align-items: center;
    .templateHeader {
      width: 100%;
      height: 25px;
      font-size: 14px;
      padding-left: 32px;
      box-sizing: border-box;
    }
    .templateMain {
      width: 100%;
      height: 150px;
      padding-left: 100px;
      box-sizing: border-box;
      // background: seagreen;
      .templateItem {
        float: left;
        border-radius: 5px;
        cursor: pointer;
        width: 257px;
        height: 100px;
        border: 2px solid $color-tint;
        display: flex;
        justify-content: center;
        align-items: center;
        &:nth-child(1) {
          margin-right: 70px;
        }
        .iconfont {
          font-size: 50px;
          color: $color-tint;
        }
        .textBox {
          margin-left: 20px;
          color: $color-info;
          .templateTitle {
            // color: $link-active;
            font-size: 20px;
            font-weight: 500;
            line-height: 34px;
          }
        }
        &.active {
          border: 2px solid $color-active;
          .iconfont {
            color: $color-active;
          }
          .textBox {
            color: $color-active;
          }
        }
        &:hover {
          border: 2px solid $color-active;
          .iconfont {
            color: $color-active;
          }
          .textBox {
            color: $color-active;
          }
        }
      }
    }
  }
}
</style>
<style lang='scss'>
.uiModel {
  .el-dialog {
    .el-form {
      // overflow: hidden;
      .el-form-item {
        float: left;
        width: 47%;
        display: flex;
        justify-content: space-between;
        &:nth-child(even) {
          // 偶数
          float: right;
        }
        .el-form-item__content {
          flex: 1;
        }
        .el-select {
          width: 100%;
        }
        .el-form-item__label,
        .el-form-item__content {
          height: 32px;
          line-height: 32px;
        }
      }
    }
  }
}
</style>
