<template>
  <div class='template'>
    <div class="templateHeader">
      <router-link to="/ui" class="goBack" title='返回ui模型'>
        <i class="icon-shangyige iconfont"></i>
        <span class="templateTitle">选择模板</span>
      </router-link>
    </div>

    <el-container class='templateMain'>
      <!-- 选择区 -->
      <div class='selectBox'>
        <div class="uiTitle">可选模板</div>
        <li :class="[item.mid === currentTemplate.mid ? 'active': '', 'templateItem']" v-for="(item, index) in uiList" :key="index" @click='selectTemplate(item, index)'>
          <span>{{item.name + '(' + item.displayName + ')'}}</span>
        </li>
      </div>
      <!-- 展示区 -->
      <div class="previewTemplate">
        <real-area :data="currentTemplate" :remote="remoteFuncs" :value="form" ref="realArea">
          <template slot="blank" slot-scope="scope">
            宽度：<el-input v-model="scope.model.blank.width" style="width: 100px"></el-input>
            高度：<el-input v-model="scope.model.blank.height" style="width: 100px"></el-input>
          </template>
        </real-area>
        <div class="submit">
          <el-button type="primary" @click='saveModel'>确定</el-button>
          <el-button type="primary" plain @click='goBack'>取 消</el-button>
        </div>
      </div>
    </el-container>
  </div>
</template>

<script>
import ModelService from '@/assets/js/service/modelservice'
import RealArea from '../uiDesign/RealArea' // 效果预览组件
import lodash from 'lodash'
// import DynamicArea from '../uiDesign/DynamicArea' // 动态UI组件

export default {
  name: 'selectTemplate',
  components: {
    RealArea
    // DynamicArea
  },
  data () {
    return {
      uiList: JSON.parse(localStorage.uiList), // 可选模板列表
      currentUi: JSON.parse(localStorage.currentUi), // 当前UI模型
      currentTemplate: {}, // 当前选中模板
      form: {}, // 表单数据对象
      remoteFuncs: {}
    }
  },
  created () {
    if (this.uiList.length) {
      this.currentTemplate = this.uiList[0]
    }
  },
  methods: {
    goBack () {
      this.$router.push('/ui')
    },
    selectTemplate (item, index) {
      this.currentTemplate = item
    },
    saveModel () { // 选取模板并跳转到Ui设计页面
      let { currentUi, currentTemplate } = this
      let template = lodash.cloneDeep(currentTemplate)
      if (currentUi.functionModel !== template.functionModel && template.children.length) {
        template.children.map(area => {
          if (area.children.length) {
            area.children.map(control => {
              if (control.dataSource) {
                control.label = control.displayName
                control.model = control.name + '_' + control.key
                control.dataSource = ''
              }
            })
          }
        })
      }
      currentUi = {
        ...template,
        name: currentUi.name,
        mid: currentUi.mid,
        mode: currentUi.mode,
        displayName: currentUi.displayName,
        displayNameFormat: currentUi.displayNameFormat,
        template: template.name,
        functionModel: currentUi.functionModel,
        modelStyle: currentUi.modelStyle,
        description: currentUi.description
      }
      const appInfo = JSON.parse(localStorage.appInfo)
      let obj = { appName: appInfo.appName, appVersion: appInfo.appVersion, ...currentUi }
      ModelService.saveModel('uilayoutmodel', obj).then((res) => {
        localStorage.uiData = JSON.stringify(lodash.cloneDeep(currentUi))
        this.$router.push({
          name: 'uiDesign',
          query: {
            name: currentUi.name
          }
        })
      })
    }
  }
}
</script>

<style scoped lang='scss'>
.template {
  height: 100%;
  background: $main-bg;
  box-sizing: border-box;
  @extend %flex-center-col;
  justify-content: space-around;

  .templateHeader {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 0 20px;
    position: relative;
    box-shadow: 0 2px 10px rgba(70, 160, 252, 0.6);
    background-image: linear-gradient(to right, #1278f6, #00b4aa);

    .goBack {
      line-height: 50px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      .icon-shangyige {
        color: #fff;
        font-size: 22px;
        font-weight: 600;
      }
      .templateTitle {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        opacity: 0.8;
        margin-left: 6px;
      }
    }
  }
  .templateMain {
    flex: 1;
    width: 100%;
    background: #f4f6fc;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    .selectBox {
      width: 300px;
      padding: 8px 0;
      box-sizing: border-box;
      height: 100%;
      border-right: $border;
      background: $main-bg;
      overflow-y: auto;

      .uiTitle {
        padding: 8px 12px;
        font-size: 18px;
        font-weight: 600;
        font-family: "Helvetica", "Avenir", "Arial", "sans-serif";
        color: $link-active;
      }

      .templateItem {
        display: block;
        box-sizing: border-box;
        margin: 5px 0 5px 5%;
        width: 90%;
        padding: 0 2%;
        height: 40px;
        line-height: 40px;
        color: $color-text-dark;
        border-radius: 5px;
        // border: 1px solid #f4f6fc;
        background: #f4f6fc;
        cursor: pointer;
        &:hover,
        &.active {
          color: $link-active;
          // border: 1px dashed $link-active;
        }
      }
    }
    .previewTemplate {
      flex: 1;
      min-width: 0;
      padding: 0 15%;
      box-sizing: border-box;
      position: relative;
      overflow-y: auto;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        display: block;
        z-index: 5;
      }
      .realArea {
        background: $main-bg;
      }
      .submit {
        width: calc(100% - 300px);
        height: 80px;
        position: fixed;
        bottom: 0;
        right: 0;
        // background: rgba(3, 71, 100, 0.5);
        box-shadow: 0px -2px 6px 0px rgba(0, 0, 0, 0.18);
        background: rgba(253, 251, 251, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        .el-button {
          margin: 0 20px;
          cursor: pointer;
        }
      }
    }
  }
}
</style>
