<template>
  <el-table :data="tableData" stripe style="width: 100%;margin-top:20px;" border>
    <el-table-column prop="code" label="订单号" width="180">
    </el-table-column>
    <el-table-column prop="name" label="名称" width="180">
    </el-table-column>
    <el-table-column prop="price" label="价格" width="180">
    </el-table-column>
    <el-table-column prop="type" label="支付方式" width="180">
    </el-table-column>
    <el-table-column prop="status" label="使用情况" width="180">
    </el-table-column>
    <el-table-column prop="time" label="购买时间">
    </el-table-column>
  </el-table>
</template>

<script>
export default {
  name: 'modulePubHistory',
  data () {
    return {
      tableData: [{
        id: 1,
        code: '34206005',
        name: '1年云服务',
        price: '299.00',
        type: '支付宝',
        status: '已启用',
        time: '2018-09-12'

      }, {
        id: 1,
        code: '34206250',
        name: '6个月云数据库',
        price: '199.00',
        type: '支付宝',
        status: '已启用',
        time: '2018-09-21'

      }, {
        id: 1,
        code: '342062015',
        name: '1年云服务',
        price: '299.00',
        type: '微信',
        status: '未启用',
        time: '2018-09-12'

      }, {
        id: 1,
        code: '34206005',
        name: '6个月云数据库',
        price: '299.00',
        type: '微信',
        status: '已启用',
        time: '2018-09-12'

      }]
    }
  }
}
</script>

<style scoped lang='scss'>
.table3 {
    background: $main-bg;
}
</style>
