<template>
  <div class="computeDialog">
    <el-dialog title="表达式明细" :visible.sync="dialogVisible" :before-close="handleClose" class="dialog">
      <div class="dialogMain">
        <div class="field">
          <div class="top" style="height:32px;line-height:32px;font-size:16px;background-color:rgb(220, 223, 230)">字段</div>
          <el-scrollbar style="height:100%">
            <el-tree class="treeContent" :data="datas" ref="tree" node-key="id" :props="defaultProps" default-expand-all :expand-on-click-node="false">
              <span class="custom-tree-node" slot-scope="{ node, data }" @dblclick="addButton(node,data)">
                <span>{{ node.label }}</span>
                <span>
                  <!-- <i class="el-icon-circle-plus" @click="addButton(node,data)"></i> -->
                </span>
              </span>
            </el-tree>
          </el-scrollbar>
        </div>
        <div class="expression">
          <div class="top" style="height:32px;line-height:32px;font-size:16px;background-color:rgb(220, 223, 230)">表达式</div>
          <el-input type="textarea" :rows="16" ref='tempInput' v-model="textarea" class="textarea" @mouseup.native="tempMouseup"></el-input>
        </div>
        <div class="rightBox">
          <div class="function">
            <div class="top" style="height:32px;line-height:32px;font-size:16px;background-color:rgb(220, 223, 230)">函数</div>
            <el-scrollbar style="height:100%">
              <el-tree class="treeContent" :data="funTreeData" :props="funProps" default-expand-all :expand-on-click-node=false>
                <span class="custom-tree-node" slot-scope="{ node, data }" @dblclick="addText(node,data)">
                  <span>{{ node.label }}</span>
                  <span>
                    <!-- <i class="el-icon-circle-plus" @click="addButton(node,data)" @mouseenter="nodeHover(node,data)"></i> -->
                    <el-popover placement="top-start" title="帮助" width="200" trigger="hover" :content="node.data.tips || node.data.displayName">
                      <i class="el-icon-question" slot="reference"></i>
                    </el-popover>
                  </span>
                </span>
              </el-tree>
            </el-scrollbar>
          </div>
          <div class="symbol">
            <div class="top" style="height:32px;line-height:32px;font-size:16px;background-color:rgb(220, 223, 230)">运算符</div>
            <ul class="keyboard">
              <li v-for="(arr,index) in array" :key="index" style="cursor:pointer" @click="symbol(arr.icon,index)">
                {{arr.icon}}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="save">保 存</el-button>
        <el-button @click="cancel">取 消</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import Tools from './tools.js'

export default {
  name: 'computeDialog',
  props: {
    dialogVisible: {
      type: Boolean,
      default: false
    },
    textarea: {
      type: String,
      default: ''
    },
    codeTreeData: {
      type: Array
    },
    funTreeData: {
      type: Array
    }
  },
  data () {
    return {
      // activeName: 'first',
      tempInputIndex: 0,
      array: [
        { icon: '+' },
        { icon: '-' },
        { icon: '*' },
        { icon: '/' },
        { icon: '<' },
        { icon: '≤' },
        { icon: '≥' },
        { icon: '=' },
        { icon: '≠' },
        { icon: '&&' },
        { icon: '||' },
        { icon: '！' },
        { icon: '""' },
        { icon: '(' + ')' },
        { icon: 'true' },
        { icon: 'false' }
      ],
      defaultProps: {
        label: 'name',
        children: 'children'
      },
      funProps: {
        label: 'name',
        children: 'children'
      },
      datas: []
    }
  },
  watch: {
    textarea (n) {
      this.changeNum = 1
    },
    codeTreeData: {
      handler: function (newVal) {
        this.$nextTick(() => {
          this.datas = [...newVal]
        })
      },
      deep: true
    }
  },
  methods: {
    tempMouseup () {
      this.tempInputIndex = this.$refs.tempInput.$el.children[0].selectionStart
    },
    // 点击加号
    addButton (node, data) {
      if (!data.children) {
        this.textarea = Tools.insertByIndex(this.textarea, data.fieldName, this.tempInputIndex)
        this.tempInputIndex = this.textarea.length
      }
    },
    addText (node, data) {
      console.log(node)
      if (!data.children) {
        this.textarea = Tools.insertByIndex(this.textarea, data.value, this.tempInputIndex)
        this.tempInputIndex = this.textarea.length
      }
    },
    handleClose (done) {
      this.cancel()
    },
    // 点击运算符
    symbol (data, index) {
      this.textarea = Tools.insertByIndex(this.textarea, data, this.tempInputIndex)
      this.tempInputIndex = this.textarea.length
    },
    save () {
      this.dialogVisible = false
      this.$emit('getConditions', this.textarea)
    },
    cancel (done) {
      if (this.changeNum === 1) {
        this.$confirm(`是否放弃当前编辑并退出？`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.dialogVisible = false
          this.changeNum = 0
        })
      } else {
        this.dialogVisible = false
        this.changeNum = 0
      }
    }
  }
}
</script>
<style scoped lang='scss'>
.computeDialog {
  .dialog {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .dialogMain {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex: 1;
      .field {
        height: 500px;
        width: 25%;
        border: 1px solid rgb(220, 223, 230);
        overflow-y: hidden;
      }
      .expression {
        width: 45%;
      }
      .rightBox {
        width: 25%;
        display: flex;
        flex-direction: column;
        .function {
          height: 250px;
          width: 100%;
          overflow-y: hidden;
        }
        .symbol {
          height: 270px;
          width: 100%;
          display: flex;
          flex-direction: column;
          .keyboard {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            box-sizing: border-box;
            li {
              border: 1px solid #000;
              width: 20%;
              height: 46.8px;
              margin-top: 10px;
              list-style: none;
              text-align: center;
              line-height: 46.8px;
            }
          }
        }
      }
    }
    .dialog-footer {
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
}
</style>
<style>
.computeDialog .el-dialog {
  width: 1000px;
}
.computeDialog .tree .is-current > .el-tree-node__content {
  background: #f5f8fb;
}
.computeDialog .textarea .el-textarea__inner {
  font-family: Arial, Helvetica, sans-serif;
}
</style>
