// @import "./theme-blue.scss"; // 偏蓝色主题
@import "./theme-green.scss"; // 偏绿色主题

// ui模型配置字体大小
$ui-max-size: 18px;
$ui-medium-size: 16px;
$ui-small-size: 14px;
$control-mini-size: 12px;
// 侧边栏宽度
$menu-max-width: 235px;
$menu-mid-width: 65px;
$menu-min-width: 0px;
$menu-padding: 40px;
$duration: 0.2s;
// 各种标配高度
$tags-height: 45px;
$header-height: 56px;
$menu-item-height: 50px;
// 内容区盒子
$content-box-righ-padding: 20px;
$content-padding: 15px;
$main-padding: 20px;
body,
html {
  line-height: 1;
  // font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-family: Muli, 'Helvetica Neue', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft Yahei', sans-serif;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
pre,
form,
fieldset,
legend,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
}
// 去除序列前面的点
ul,dl,li{
  list-style: none;
}

a {
  text-decoration: none;
  color: $color-text;
  background: transparent;
}

// 禁止用户选中 鼠标变为手形
%unable-select {
  user-select: none;
  cursor: pointer;
}

// 填满父元素,组要父元素 position: relative | absolute;
%full {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

// flex 垂直水平居中/两端对齐
%flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-center-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// 将元素模拟成卡片外观
%card {
  border: 1px solid #dddee1;
  border-color: #e9eaec;
  background: #fff;
  border-radius: 4px;
  font-size: 14px;
  position: relative;
}

//icon简单通用样式
%iconfont {
  width: 24px;
  text-align: center;
  font-size: 20px;
  color: $color-text;
  margin-right: 5px;
}

// 按钮样式 ---留待后来开发中完善，统一管理按钮风格
// .el-button--primary{
//   background: $color-text-active;
//   border-color: $color-text-active;
//   height:
// }
// 侧边栏菜单样式
.el-menu {
  background: $color-menu;
  .el-menu-item {
    // 每一个menu-item
    height: $menu-item-height;
    background: $color-menu;
    color: $color-text;
    &.is-active {
      border: 0;
      color: $color-text-active;
      background: $menu-item-active !important;
    }
    &:hover {
      color: $color-text-active;
      background: $menu-item-active !important;
      &>i {
        color: $color-text-active;
      }
    }
  }
  .el-submenu__title {
    // 每一个submenu
    &:hover {
      color: $color-text-active;
      background: $menu-item-active !important;
      &>i {
        color: $color-text-active;
      }
    }
  }
  // 图标通用样式
  .iconfont {
    @extend %iconfont;
  }
}

// 组件全局样式
#app {
  width: 100%;
  height: 100%;
  .content {
    .el-form-item:not(.mulitiSelect){
      .el-input {
        height: 32px !important;
        line-height: 32px !important;
      }
      .el-input__inner {
        height: 32px !important;
        line-height: 32px !important;
      }
    }
    .el-pagination{
      .el-input {
        height: 28px !important;
        line-height: 28px !important;
      }
      .el-input__inner {
        height: 28px !important;
        line-height: 28px !important;
      }
      .el-select .el-input .el-select__caret {
        height: 100% !important;
        line-height: 28px !important;
      }
    }
    .el-select .el-input .el-select__caret {
      height: 100% !important;
      line-height: 32px !important;
    }
    .el-textarea__inner {
      height: 100% !important;
    }
    .el-button--danger,
    .el-button--default,
    .el-button--primary {
      height: 32px !important;
      line-height: 32px !important;
      padding: 0 20px !important;
    }
    .el-table__body tr {
      height: 36px !important;
      line-height: 36px !important;
      padding: 0 !important;
    }
    .el-table__body {
      .even {
        background-color: oldlace !important;
      }
      .odd {
        background-color: #f0f9eb !important;
      }
    }
    .el-table td,
    .el-table th {
      padding: 0 !important;
    }
    .el-table__header {
      height: 42px !important;
      line-height: 42px !important;
    }
    .cell {
      height: 36px !important;
      line-height: 36px !important;
    }
    .el-form-item {
      margin-bottom: 16px !important;
      &.topRow{
        margin-bottom: 0px !important;
      }
    }
  }
  .container {
    padding: 30px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
}

.el-message-box__message p {
  line-height: 30px !important;
  margin: 10px 0;
}

.el-table th.gutter {
  display: table-cell !important;
}

// 用来展示源代码的标签
pre {
  padding: 10px 0;
}

// h3标题样式
.h3Title {
  font-size: 1.2em;
  font-weight: 600;
  padding: 20px 0 10px;
  text-align: center;
  color: rgb(85, 81, 81);
}

// 简单表格头部搜索新增部分,风格统一管理.示例：菜单/配置包/存储过程模型
.tableTitleSeach {
  width: 100%;
  margin-bottom: 20px;
  @extend %flex-center-row;
  justify-content: space-between;
  .titleBox {
    h2 {
      margin-bottom: 10px;
    }
  }
  .searchBox {
    min-width: 30%;
    min-height: 30px;
    @extend %flex-center-row;
    justify-content: flex-end;
    .el-input {
      width: 300px;
      margin-right: 20px;
    }
  }
}

// 使用iconfont做input框后缀图标
.el-input__suffix-inner {
  .iconfont {
    color: #c0c4cc;
    font-size: 8px;
    padding-right: 5px;
    cursor: pointer;
    &:before {
      display: inline-block;
      transition: transform 0.3s;
      transform: rotate(0deg);
    }
  }
  .reverse:before {
    display: inline-block;
    transition: transform 0.3s;
    transform: rotate(-180deg);
  }
}

// 使用:after伪类解决高度塌陷
.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
}

// 使用未来选择符添加表格上的红*来表示必选
.require {
  &>div {
    &::before {
      content: "* ";
      color: red;
    }
  }
}
