// 主题名称
$name: 'green';

// 登陆背景
$color-bg: #f8f8f9;

// header背景
$color-header: #fff;

// 菜单栏背景
$color-menu: #fff;
$menu-item-active: #f5f8fb;

// 内容背景
$content-bg: #ecf0ef;
$main-bg: #fff;
// Icon的一些颜色
$icon-red1:#fef0f0;
$icon-red2: #fbc4c4;
$icon-red3: #f56c6c;
$icon-blue1: #ecf5ff;
$icon-blue2: #b3d8ff;
$icon-blue3:#409EFF;


// 辅助色
$color-info: #909399;
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;

// 文字
$color-text-placehoder: #C0C4CC;
$color-text: #606266;
$color-text-dark: #2b2c2e;
$color-text-gray: #999;
$color-text-active: #8aae00;
// $link-active: #4f83c3;
$link-active: #409EFF;
$color-active: rgb(103,159,216);
$color-tint: rgb(197, 199, 201);

// 边框
$border: 1px solid #cfd7e5;
$border-tint: 1px solid #e7e9eb;
$border-active: 1px solid #8aae00;
$border-double: 2px solid #cfd7e5;

// 书签样式
$color-tags-li: rgba(0, 0, 0, 0.03);
$color-tags-text: #606266;
