// // 主题名称
// $name: 'blue';

// // 登陆背景
// $color-bg: #f8f8f9;

// // header背景
// $color-header: #ebf1f6;

// // 菜单栏背景
// $color-menu: #ebf1f6;
// $menu-item-active: #f5f8fb;

// // 内容背景
// $content-bg: #f5f7fa;
// $main-bg: #fff;

// // 辅助色
// $color-info: #909399;
// $color-success: #67C23A;
// $color-warning: #E6A23C;
// $color-danger: #F56C6C;

// // 文字
// $color-text-placehoder: #C0C4CC;
// $color-text: #606266;
// $color-text-gray: #999;
// $color-text-dark: #2b2c2e;
// $color-text-active: #4582ff;
// $link-active: #8aae00;

// // 边框
// $border: 1px solid #cfd7e5;
// $border-tint: 1px solid #e7e9eb;
// $border-active: 1px solid #4582ff;
// $border-double: 2px solid #cfd7e5;

// // 书签样式
// $color-tags-li: rgba(0, 0, 0, 0.03);
// $color-tags-text: #606266;
$color: green;
