<template>
  <div class="search-container" :style='{width: width + "px"}'>
    <div class="inputBox">
      <div class="selectValue" v-if='selected.length && !isFocus'>
        <p>{{selected[0][showKeys[0]]}}</p>
        <p v-if='selected.length && selected.length > 1 && type === "list"'>+{{selected.length-1}}</p>
      </div>
      <el-input v-model="inputText" :placeholder="placeholder" @input='inputChange' @focus='changeShow("focus")' @blur='changeShow("blur")' :disabled='disabled'>
        <i :class="[showOptions ? 'reverse' : '', 'icon-xiangxia2', 'iconfont']" slot="suffix" @click='changeShow("xiala")'></i>
      </el-input>
    </div>
    <div class="list" v-show='showOptions' :style='{width: treeWidth ? treeWidth + "px" : "100%", left: treeLeft + "px"}'>
      <el-scrollbar style='height: 100%;'>
        <span v-if='!filted.length && type === "list"' class='noData'>暂无数据</span>
        <div v-if='type === "list"'>
          <li v-for='(item, index) in filted' :key="index" @click.stop.prevent="selectItem(item, index)">
            <el-checkbox v-model="item.checked" class="checkBox" v-if='multiple'></el-checkbox>
            <div class="textItem">
              <p v-for='keyItem in showKeys' :key="keyItem" :class="{'blue':item.checked}">{{item[keyItem] || ''}}</p>
            </div>
          </li>
        </div>
        <el-tree v-else ref="tree" :data="filted" :props='props' show-checkbox :node-key='props.id' :check-strictly='true' check-on-click-node default-expand-all :filter-node-method="filterNode" @check-change="checkChange" @check='selectTreeNode' v-bind="$attrs">
        </el-tree>
      </el-scrollbar>
    </div>
  </div>
</template>

<script>
import lodash from 'lodash'

export default {
  name: 'search-box',
  props: {
    value: Object, // 数据双向绑定
    options: Array, // 列表项 | 树节点
    type: String, // 'tree' 'list'
    multiple: Boolean, // 是否多选
    placeholder: String,
    width: String, // 整体宽度
    treeWidth: String, // 下拉树的宽度
    treeLeft: String, // 下拉树左边的距离
    showKeys: Array, // 显示列名
    limit: Number, // 控制只能在前几级选择树节点
    disabled: Boolean, // 禁用，只读状态
    props: Object // 下拉树的props
  },
  data () {
    return {
      selecedIndex: -1,
      filted: [], // 不期望本组件能直接改变数据源，所有拷贝一下
      selected: [], // 选中的列表或者树节点
      inputText: '', // 搜索框的value
      showOptions: false, // 是否展示整个选项框
      isFocus: false // input框是否聚焦
    }
  },
  watch: {
    options: function (newV) {
      this.filted = lodash.cloneDeep(this.options)
      this.initData(this.filted)
    },
    value: function (val) { // 监听v-model变化，来联动显示文本和选中状态
      this.initValue()
    }
  },
  mounted () {
    this.options.map(item => {
      this.$set(item, 'checked', !!item.checked)
    })
    this.filted = lodash.cloneDeep(this.options)
    this.initData(this.filted)
    this.initValue()
    window.document.addEventListener('click', this.fn, false)
  },
  destroyed () {
    window.document.removeEventListener('click', this.fn, false)
  },
  methods: {
    fn (e) { // 监听全部点击事件，控制选项框的显示和隐藏
      const className = e.target.className
      if (className === 'el-input__inner' || className === 'icon-xiangxia2 iconfont' || className === 'el-scrollbar__thumb' || className === 'el-scrollbar' || className === 'el-scrollbar__wrap') return false
      this.showOptions = false
    },
    initData (data) { // 去除不能选的树层级节点,配合limit效果
      const { children } = this.props
      data.map((item) => {
        if (item[children] && item[children].length > 0) {
          if (item._level >= this.limit) {
            this.$set(item, children, [])
          } else {
            this.initData(item[children])
          }
        }
      })
    },
    initValue () { // 初始化选中状态
      this.$refs.tree.setCheckedKeys([])
      this.inputText = ''
      if (this.value && this.props) {
        const { label, id } = this.props
        if (typeof (this.value) === 'string') {
          this.inputText = this.value
        } else {
          this.inputText = this.value[label]
        }
        this.$refs.tree.setCheckedKeys([this.value[id]], true)
      }
    },
    inputChange (val) { // 筛选效果
      const { keyWord } = this.props
      if (this.type !== 'tree') {
        if (val) {
          this.filted = this.filted.filter((item) => {
            const itemStr = item[keyWord].toUpperCase()
            const valStr = val.toUpperCase()
            return itemStr.indexOf(valStr) > -1
          })
        }
      } else {
        this.showOptions = true
        this.$refs.tree.filter(val)
      }
    },
    changeShow (type) { // 控制选项框的显示
      if (type === 'xiala' && !this.disabled) {
        this.showOptions = !this.showOptions
      } else if (type === 'focus') {
        this.showOptions = true
        this.isFocus = true
      } else if (type === 'blur') {
        // this.showOptions = false
        this.isFocus = false
      }
    },
    selectItem (item, index) { // 下拉列表选择事件
      item.checked = !item.checked
      if (!this.multiple) {
        if (this.selecedIndex >= 0 && this.selecedIndex !== index) this.filted[this.selecedIndex].checked = false
        this.selected[0] = item
        this.selecedIndex = index
      } else {
        if (item.checked) {
          this.selected.push(item)
        } else {
          const index = this.selected.indexOf(item)
          this.selected.splice(index, 1)
        }
      }
      this.$emit('select', lodash.cloneDeep(this.selected))
      this.$emit('input', lodash.cloneDeep(this.selected))
    },
    selectTreeNode (data, node) { // 当复选框被点击时 下拉树选择事件
      const { label, id } = this.props
      if (!this.multiple) { // 单选的控制
        if (node.checkedKeys.length === 0) {
          this.$refs.tree.setCheckedKeys([])
          data = {}
        } else if (node.checkedKeys.length === 1) {
          if (node.checkedKeys[0] === data[id]) {
            this.$refs.tree.setCheckedKeys([data[id]])
          }
        } else if (node.checkedKeys.length === 2) {
          this.$refs.tree.setCheckedKeys([data[id]])
        }
        this.inputText = data[label]
        this.showOptions = false
      }
      this.$emit('select', lodash.cloneDeep(data), lodash.cloneDeep(node))
      // this.$emit('input', lodash.cloneDeep(data), lodash.cloneDeep(node))
    },
    filterNode (value, data) {
      const { label } = this.props
      if (!value) return true
      return data[label].indexOf(value) !== -1
    }
  }
}
</script>

<style lang='scss' scoped>
.search-container {
  background: #fff;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, SimSun, sans-serif;
}
</style>
<style lang='scss'>
// 使用局部样式修改element-ui组件样式时需格外注意！一定要用局部父元素来限制作用域
.search-container {
  position: relative;
  min-height: 100%;
  // z-index: 1000;
  .inputBox {
    width: 100%;
    height: 100%;
    line-height: 32px;
    .selectValue {
      min-width: 25%;
      // height: 40px;
      margin-left: 15px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1000;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      p {
        color: #909399;
        height: 20px;
        padding: 2px 4px;
        border-radius: 4px;
        line-height: 20px;
        font-size: 12px;
        margin-right: 5px;
        background-color: #f0f2f5;
      }
    }
  }
  .list {
    z-index: 1000;
    // width: 100%;
    // overflow: auto;
    position: absolute;
    top: 48px;
    left: 0px;
    background: $main-bg;
    text-align: center;
    .el-scrollbar {
      border: $border-tint;
      .el-scrollbar__wrap {
        // el-scrollbar的外容器
        padding: 14px;
        max-height: 150px;
        .el-tree-node__children {
          overflow: visible; // 防止溢出时隐藏
        }
        li {
          z-index: 1000;
          height: 30px;
          line-height: 30px;
          list-style: none;
          display: flex;
          .checkBox {
            width: 30px;
          }
          .textItem {
            display: flex;
            min-width: 100%;
            justify-content: space-between;
            cursor: pointer;
            p {
              &.blue {
                color: #409eff;
              }
            }
          }
        }
      }
    }
  }
}
</style>
