<template>
    <div class="search-box">
      <div class="inputBox">
        <el-input v-model="inputText" :placeholder="placeholder">
          <i class="el-icon-search el-input__icon" slot="suffix"></i>
        </el-input>
      </div>
      <el-scrollbar style="heigh:100%" wrap-class="list">
        <p v-if='!filted.length'>暂无数据</p>
        <div v-if='type!=="tree"'>
          <ul>
            <li v-for='(item, index) in filted' :key="item.id">
              <el-checkbox v-model="item.checked" v-if='muliti' @change="selectItem(item, index)">
                <template>
                  <div class="textItem">
                    <p v-for='keyItem in showKeys' :key="keyItem" :class="{'blue':item.checked}">
                      {{item[keyItem] || ''}}
                    </p>
                  </div>
                </template>
              </el-checkbox>
            </li>
          </ul>
        </div>
        <div v-else>
          <el-tree
            :data="filted"
            show-checkbox
            node-key="id"
            default-expand-all
            :filter-node-method="filterNode"
            @check="selectTreeNode"
            ref="tree">
          </el-tree>
        </div>
      </el-scrollbar>
    </div>
</template>

<script>
export default {
  name: 'search-box',
  props: {
    options: Array, // 列表项 | 树节点
    type: String, // 'tree' 'list'
    muliti: Boolean, // 是否多选
    placeholder: String,
    showKeys: Array, // 显示列名
    filterKey: String
  },
  data () {
    return {
      selecedIndex: -1,
      filted: [],
      selected: [],
      inputText: ''
    }
  },
  watch: {
    inputText (val) {
      if (this.type !== 'tree') {
        if (val) {
          this.filted = this.options.filter((item) => {
            const key = this.filterKey || 'value'
            const itemStr = item[key].toString().toUpperCase()
            const valStr = val.toUpperCase()
            return itemStr.indexOf(valStr) > -1
          })
        } else {
          this.filted = this.options
        }
      } else {
        this.$refs.tree.filter(val)
      }
    }
  },
  mounted () {
    this.options.map(item => {
      this.$set(item, 'checked', !!item.checked)
      if (item.checked) {
        this.selected.push(item)
      }
    })
    this.filted = this.options
  },
  methods: {
    selectItem (item, index) {
      if (!this.muliti) {
        if (this.selecedIndex >= 0 && this.selecedIndex !== index) this.filted[this.selecedIndex].checked = false
        this.selected[0] = item
        this.selecedIndex = index
      } else {
        if (item.checked) {
          this.selected.push(item)
        } else {
          const index = this.selected.indexOf(item)
          this.selected.splice(index, 1)
        }
      }
      this.$emit('select', this.selected)
    },
    selectTreeNode (data, node) {
      this.$emit('select', data, node)
    },
    filterNode (value, data) {
      if (!value) return true
      return data.label.indexOf(value) !== -1
    }
  }
}
</script>

<style lang='scss'>
.search-box{
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0px 0px 2px #ccc;
  -webkit-font-smoothing:antialiased;
  color: #606266;
  font-size: 14px;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  .inputBox {
    padding: 10px;
  }
  .list {
    padding: 15px;
    border-top: 1px solid #eee;
    max-height: 155px;
    li {
      height: 30px;
      line-height: 30px;
      list-style: none;
      label {
        width: 100%;
        display: flex;
        .el-checkbox__label {
          width: 100%;
        }
        .textItem {
          line-height: 1;
          display: flex;
          width: 100%;
          justify-content: space-between;
          overflow: hidden;
          cursor: pointer;
          p{
              &.blue {
              color: #409eff;
            }
          }
        }
      }
    }
  }
}
</style>
