<template>
  <div class="selectList" ref='selectList'>
    <el-input :value='inputText' :placeholder="placeholder" @focus="listShow=true">
      <!-- <i slot="suffix" class="el-input__icon" :class="listShow ? 'el-icon-arrow-up' :" @click="listShow=!listShow"></i> -->
      <i :class="[listShow ? 'reverse' : '', 'icon-xiangxia2', 'iconfont']" slot="suffix" @click="listShow = !listShow"></i>
    </el-input>
    <el-scrollbar v-show="listShow" :style='{maxWidth: maxWidth ? maxWidth + "px" : "100%", left: left + "px"}' ref='listBox'>
      <span v-if='!data.length' class='noData'>暂无数据</span>
      <el-checkbox-group else v-model="value" @change='valueChange'>
        <draggable element="ul" :list="data" :options="{group:{ name:'checkbox', pull:true,put:true},sort:sort, ghostClass: 'ghost'}" @update='updateSort'>
          <el-checkbox v-for="(item, index) in data" :disabled='item.disabled && disabled ? item.disabled : false' :label="props.value ? item[props.value] : item" :key="index">
            {{props.label ? item[props.label] : item}}
          </el-checkbox>
        </draggable>
      </el-checkbox-group>
    </el-scrollbar>
  </div>
</template>
<script type="text/ecmascript-6">
import Draggable from 'vuedraggable'

export default {
  name: 'selectList',
  components: { Draggable },
  props: {
    value: {// 当前选中的选项
      type: Array, // 对象或数组的默认值必须从一个工厂函数获取
      default: function () {
        return []
      }
    },
    data: Array, // 下拉列表
    placeholder: String, // 默认提示文本
    multiple: Boolean, // 是否多选
    props: Object, // 下拉列表的默认属性,类似el-tree的props label显示文本 vaule 实际值 valueKey 表示选项的唯一标志
    maxWidth: String, // 下拉列表的最大宽度
    sort: Boolean, // 可否拖拽排序
    disabled: Boolean // 可否禁用选项
  },
  data () {
    return {
      listShow: false,
      inputText: '', // 要显示的input文本
      left: '' // 下拉列表的定位left
    }
  },
  watch: {
    value: function (val, old) { // 下拉列表的value变化时要更新显示的文本
      this.inputText = this.initText(val)
    },
    data: function (val, old) { // 数据源变化时组件要恢复默认状态
      // console.log('数据对比：', val, old) // 本意是切换db表时，要关闭下拉列表，但是每次第一次选的时候莫名检测到data(数据源)变动，所以用length判断下
      if (val.length !== old.length) {
        this.inputText = this.initText(this.value) // 关联模型这里，取消时清空数据源，导致input文本丢失,
        this.listShow = false
      }
    },
    listShow: function (val) {
      if (val) {
        this.$nextTick(() => { // 自动调节下拉列表左右位置
          let left = -(this.$refs.listBox.$el.clientWidth - this.$refs.selectList.clientWidth) / 2
          this.left = left
        })
      }
    }
  },
  created () {
    this.$nextTick(() => {
      this.inputText = this.initText(this.value)
    })
  },
  mounted () {
    window.document.addEventListener('click', this.addListener, false)
  },
  destroyed () { // 卸载时移除监听函数
    window.document.removeEventListener('click', this.addListener, false)
  },
  methods: {
    updateSort (e) { // 拖拽后排序更新
      const arr = []
      this.value.map(name => {
        this.data.map(item => {
          if (name === item.name) {
            arr.push(name)
          }
        })
      })
      this.$emit('input', arr) // 更新到当前组件v-model
      this.$emit('change', arr) // 暴露一个选择值改变事件给外面用
    },
    addListener (e) {
      const className = e.target.className
      let change = false
      const classArr = ['el-scrollbar__thumb', 'el-input__inner', 'el-checkbox__label', 'el-checkbox__original', 'el-checkbox__inner', 'el-checkbox', 'is-checked', 'icon-xiangxia2']
      classArr.map(item => {
        if (className.includes(item)) change = true
      })
      if (change) {
        return false
      } else {
        // console.log(className, change)
        this.listShow = false
      }
    },
    valueChange (value) { // 选中的元素有变化时
      if (!this.multiple && value.length === 2) {
        value = [value[1]]
      }
      this.$emit('input', value) // 更新到当前组件v-model
      this.$emit('change', value) // 暴露一个选择值改变事件给外面用
    },
    initText (arr) { // 将接收到的v-model转换为input要展示的文本,arr: 当前this.value
      const { label, value, valueKey } = this.props
      let text = ''
      if (label) {
        if (value) {
          this.data.map((val) => {
            arr.map((item) => {
              if (val[value] === item) {
                text += ';' + val[label]
              }
            })
          })
        } else {
          this.data.map((val) => {
            arr.map((item) => {
              if (val[valueKey] === item[valueKey]) {
                text += ';' + val[label]
              }
            })
          })
        }
      } else {
        if (arr && arr.length) {
          arr.map(item => {
            text += ';' + item
          })
        }
      }
      return text.replace(';', '')
    }
  }
}
</script>
<style scoped lang='scss'>
.selectList {
  width: 100%;
  position: relative;

  .el-scrollbar {
    border: 1px solid #eee;
    min-width: 100%;
    background: #fff;
    .noData {
      display: inline-block;
      line-height: 40px;
      width: 100%;
      text-align: center;
      color: #aaa;
    }
    .el-checkbox-group {
      // width: 100%;
      background: #fff;
      box-sizing: border-box;
      .el-checkbox {
        width: 100%;
        height: 32px;
        padding: 0 16px;
        line-height: 32px;
        box-sizing: border-box;
      }
      .el-checkbox:hover {
        background: #ecf5ff;
      }
    }
  }
  .iconfont {
    line-height: 32px;
    font-size: 12px;
    z-index: 2002;
  }
}
</style>
<style lang='scss'>
.selectList {
  .el-scrollbar {
    position: absolute;
    top: 42px;
    left: 0;
    z-index: 1000;
    .el-scrollbar__wrap {
      max-height: 250px;
      .el-checkbox + .el-checkbox {
        margin-left: 0px;
      }
    }
  }
}
</style>
