<template>
  <div class='setting'>
    <div class="userInfo">
      <div class="avatar">
        <img :src='userInfo.avatar' alt="用户头像">
        <div class='changeAvatar'>更换头像</div>
      </div>
      <div class="name">
        <p>{{userInfo.name}}
          <!-- <i class="iconfont icon-gerenxinxi" /> -->
        </p>
        <p>{{userInfo.email}}</p>
      </div>
    </div>
    <div class="data">
      <el-form ref="sizeForm" :model="sizeForm" :rules="rules" label-width="80px" size="small">
        <div class="formTitle">基本资料</div>
        <el-form-item label="登录名" prop="account">
          <el-input placeholder="请输入登录名" v-model="sizeForm.account">
          </el-input>
        </el-form-item>
        <el-form-item label="真实姓名" prop="name">
          <el-input v-model="sizeForm.name" placeholder="请输入真实姓名"></el-input>
          <div class="shenQing">
            申请实名认证
            <i class="iconfont icon-iconfontquestion" />
          </div>
        </el-form-item>
        <el-form-item label="手机号" prop="phone">
          <el-input placeholder="请输入手机号" v-model="sizeForm.phone">
          </el-input>
        </el-form-item>
        <el-form-item label="邮箱" prop="email">
          <el-input placeholder="请输入邮箱地址" v-model="sizeForm.email">
          </el-input>
        </el-form-item>
        <el-form-item label="性别">
          <el-select v-model="sizeForm.gender" style="width:270px;">
            <el-option label="男" value="1"></el-option>
            <el-option label="女" value="2"></el-option>
            <el-option label="未知" value="0"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item size="small">
          <el-button type="primary" @click="onSubmit('sizeForm')">保存</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="safe">
      <el-form ref="form" :model="passForm" label-width="80px" size="small">
        <div class="formTitle">修改密码</div>
        <!-- <el-form-item label="密码">
          <el-input placeholder="请输入密码" v-model="phone" disabled>
          </el-input>
        </el-form-item> -->
        <el-form-item label="新密码">
          <el-input placeholder="请输入密码" v-model="passForm.password" type="password">
          </el-input>
        </el-form-item>
        <el-form-item label="确认密码">
          <el-input placeholder="请输入密码" v-model="passForm.password2" type="password">
          </el-input>
        </el-form-item>
        <el-form-item size="small">
          <el-button type="primary" @click="change">保存</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import forage from '@/assets/js/service/cacheservice.js'
import userservice from '../../../assets/js/service/userservice.js'
export default {
  name: 'service',
  data () {
    var checkPhone = (rule, value, callback) => {
      if (value === '') {
        return callback(new Error('手机号不能为空'))
      } else {
        if (!(/^1[34578]\d{9}$/.test(value))) {
          return callback(new Error('请输入正确的手机号码'))
        } else {
          callback()
        }
      }
    }
    return {
      userInfo: {
        name: '',
        avatar: ''
      },
      sizeForm: {
        account: '',
        name: '',
        phone: '',
        email: '',
        gender: ''
      },
      rules: {
        account: [
          { required: true, message: '请输入登录名', trigger: 'blur' },
          { min: 2, max: 20, message: '长度在 2 到 20 个字符', trigger: 'blur' }
        ],
        phone: [
          { required: true, validator: checkPhone, trigger: 'blur' }
        ],
        email: [
          { required: true, message: '请输入邮箱地址', trigger: 'blur' },
          { type: 'email', message: '请输入正确的邮箱地址', trigger: ['blur', 'change'] }
        ]
      },
      passForm: {
        password: '',
        password2: ''
      },
      id: '',
      lastLoginTime: '',
      password: '',
      username: ''
    }
  },
  created () {
    forage.getItem('userInfo').then(res => {
      console.log(res)
      if (res) {
        this.userInfo.name = res.username ? res.username : ''
        this.sizeForm.account = res.username ? res.username : ''
        this.id = res.userId ? res.userId : ''
        this.sizeForm.phone = res.telephone ? res.telephone : ''
        this.sizeForm.gender = res.gender ? res.gender.toString() : '0'
        this.sizeForm.name = res.name ? res.name : ''
        this.lastLoginTime = res.lastLoginTime ? res.lastLoginTime : ''
        if (res.userImg !== '') {
          this.userInfo.avatar = res.userImg
        }
        if (res.userEmail !== '') {
          this.sizeForm.email = res.userEmail
        }
      }
    }).catch(err => {
      console.log(err)
    })
    forage.getItem('user').then(res => {
      console.log(res)
      if (res) {
        if (res.username !== '') {
          this.username = res.username
          this.password = res.password
        }
      }
    }).catch(err => {
      console.log(err)
    })
  },
  methods: {
    // 提交基本信息
    onSubmit (formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          let params = {
            account: this.sizeForm.account,
            email: this.sizeForm.email,
            gender: this.sizeForm.gender,
            id: this.id,
            telephone: this.sizeForm.phone,
            username: this.sizeForm.name
          }
          userservice.updataInfo(params).then(res => {
            console.log(res)
            if (res.code === 200) {
              this.$messageService.success('操作成功')
              forage.setItem('userInfo', {
                username: res.data.account,
                userId: res.data.id,
                userEmail: res.data.email,
                gender: res.data.gender,
                password: this.password,
                telephone: res.data.telephone,
                userImg: 'http://img.zcool.cn/community/012cce5a587491a80120121f1e67e9.jpg@2o.jpg',
                name: res.data.username,
                lastLoginTime: this.lastLoginTime
              })
              // location.reload()
              forage.setItem('user', {
                password: res.data.password,
                username: res.data.account
              })
              history.go(0)
            } else {
              this.$messageService.error(res.message)
            }
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    // 修改密码
    change () {
      if (this.passForm.password === '' || this.passForm.password2 === '') {
        this.$messageService.error('密码不能为空')
      } else {
        if (this.passForm.password !== this.passForm.password2) {
          this.$messageService.error('两次密码设置不一样哦')
        } else {
          let params = {
            password: this.passForm.password,
            id: this.id
          }
          userservice.updataInfo(params).then(res => {
            console.log(res)
            if (res.code === 200) {
              this.$messageService.success('操作成功')
              forage.removeItem('user')
              // location.reload()
            } else {
              this.$messageService.error(res.message)
            }
          })
        }
      }
    }
  }
}
</script>

<style scoped lang='scss'>
.setting {
    background: $main-bg;
    padding: 20px;

    .userInfo {
        margin-top: 30px;
        min-width: 50px;
        @extend %flex-center-row;
        justify-content: flex-start;

        .avatar {
            img {
                height: 70px;
                width: 70px;
                border-radius: 35px;
            }
            .changeAvatar {
                line-height: 24px;
                font-size: 14px;
                text-align: center;
                cursor: pointer;
                color: $color-text-active;
            }
        }
        .name {
            height: 100%;
            padding-left: 15px;
            p {
                padding: 10px;
                i {
                    display: inline-block;
                    margin-left: 5px;
                }
            }
        }
    }
    // }
    .data {
        border-top: $border;
        min-height: 200px;
        margin: 20px 0;
        .el-form {
            width: 350px;
            padding: 50px 30px;

            .formTitle {
                padding: 18px 11px;
            }
            .el-form-item__content {
                position: relative;
                .shenQing {
                    cursor: pointer;
                    position: absolute;
                    right: -140px;
                    top: -2px;
                    color: $link-active;
                    .iconfont {
                        color: $color-text-placehoder;
                    }
                }
                .changeText {
                    cursor: pointer;
                    color: $link-active;
                }
            }
        }
    }
    .safe {
        border-top: $border;
        min-height: 200px;
        margin: 20px 0;
        .el-form {
            width: 350px;
            padding: 50px 30px;

            .formTitle {
                padding: 18px 11px;
            }
            .el-form-item__content {
                position: relative;
                .shenQing {
                    cursor: pointer;
                    position: absolute;
                    right: -140px;
                    top: -2px;
                    color: $link-active;
                    .iconfont {
                        color: $color-text-placehoder;
                    }
                }
                .changeText {
                    cursor: pointer;
                    color: $link-active;
                }
            }
        }
    }
}
</style>
