<template>
  <div class="functionModel">
    <el-form :model="dialogForm" label-position="right" :rules="rules" ref="dialogForm" label-width="100px" class="demo-ruleForm">
      <el-form-item label="功能名称" prop="name">
        <el-input v-model="dialogForm.name" placeholder="请输入名称" maxlength="64"></el-input>
      </el-form-item>
      <el-form-item label="中文名称" prop="displayName">
        <name-express @getExpress='getExpress' :initExpress='dialogForm.displayName'></name-express>
      </el-form-item>
      <el-form-item label="类型" prop="functionType">
        <el-select collapse-tags v-model="dialogForm.functionType" placeholder="请选择类型" style="width:100%">
          <el-option v-for="item in functionType" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="快捷码" prop="tCode">
        <el-input v-model="dialogForm.tCode" placeholder="请输入内容" maxlength="64"></el-input>
      </el-form-item>
      <el-form-item label="权限行为" prop="permissionPoints">
        <permissions :permissions="permissionsArr" :inputStatus.sync="inputStatus" :selectStr="selectStr" @addPonit="addPonit" @deleteFc="deleteFc" @changeSelect="changeSelect"></permissions>
      </el-form-item>
      <el-form-item label="数据模型" prop="dataSourceName">
        <el-input v-model="dataName" disabled v-if="this.dataName"></el-input>
        <el-input v-model="dialogForm.dataSourceName" disabled v-else></el-input>
      </el-form-item>
      <el-form-item label="配置包" prop="deployModuleName">
        <searchBox1 style="z-index:1" ref='searchBox' :options='exthree' :default-checked-keys="checkedArr" type='tree' v-model="dialogForm.deployModuleName" @select="selectThree" placeholder="请选择或者搜索" class='searchBox' limit=2 :props='betaProps' :initText='dialogForm.deployModuleDisplayName'></searchBox1>
      </el-form-item>
      <el-form-item label="UI模型" prop="uiModuleName">
        <el-select v-model="dialogForm.uiModuleName" filterable placeholder="请选择UI模型（可搜索）" style="width:100%">
          <el-option v-for="item in UIOptions" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="报表抬头" prop="reportTitle">
        <el-input v-model="dialogForm.reportTitle" placeholder="请输入内容" maxlength="64"></el-input>
      </el-form-item>
      <div class="switch">
        <span style="width:80px;">挂接菜单</span>
        <el-switch v-model="dialogForm.allowMenuHook" active-color="#13ce66" inactive-color="#dcdfe6">
        </el-switch>
        <span style="width:80px;margin-left:10px;">权限检查</span>
        <el-switch v-model="dialogForm.needCheckPermission" active-color="#13ce66" inactive-color="#dcdfe6">
        </el-switch>
        <span style="width:80px;margin-left:10px;">包含清单</span>
        <el-switch v-model="dialogForm.containsList" active-color="#13ce66" inactive-color="#dcdfe6">
        </el-switch>
      </div>
    </el-form>
    <!-- 新增权限点 -->
    <!-- dialog -->
    <el-dialog title="新增权限行为" :visible.sync="dialogShow" width="500px" center :before-close="handleClosePonit" :close-on-click-modal="false">
      <el-form label-position="left" label-width="80px" :model="ponitForm" ref="ponitForm">
        <el-form-item label="KeyName">
          <el-input v-model="ponitForm.key" maxlength="32"></el-input>
        </el-form-item>
        <el-form-item label="中文名称">
          <el-input v-model="ponitForm.name" maxlength="32"></el-input>
        </el-form-item>
        <div class="buttonBox1" style="display:flex;justify-content:flex-end;width:100%;">
          <el-button type="primary" @click=addPointForm>确 定</el-button>
          <el-button @click="resetPoint('ponitForm')">取 消</el-button>
        </div>
      </el-form>
    </el-dialog>
  </div>
</template>
<script type="text/ecmascript-6">
import permissions from '../../../components/permissions/permissions'
import nameExpress from '../../../components/nameExpress/input.vue'
import searchBox1 from '../../../components/searchBox/beta'
import { functionType } from '@/assets/js/data/data'
import storage from '../../../assets/js/service/cacheservice.js'
import ModelService from '../../../assets/js/service/modelservice.js'
import Userservice from '../../../assets/js/service/userservice.js'

export default {
  name: 'functionModel',
  components: {
    nameExpress,
    permissions,
    searchBox1
  },
  props: {
    functionData: Object
  },
  data () {
    var checkNum = (rule, value, callback) => {
      let re = /(^[1-9]\d*$)/
      if (!value) {
        return callback(new Error('请输入快捷码'))
      }
      setTimeout(() => {
        if (!re.test(value)) {
          callback(new Error('请输入正确的快捷码'))
        } else {
          callback()
        }
      }, 1000)
    }
    var checkName = (rule, value, callback) => {
      let checkKey = /^[a-zA-Z0-9_.-]*$/
      if (!value) {
        return callback(new Error('请输入功能名称'))
      }
      setTimeout(() => {
        if (!checkKey.test(value)) {
          callback(new Error('请输入正确的功能名称'))
        } else {
          callback()
        }
      }, 1000)
    }
    var checkDisplayName = (rule, value, callback) => {
      let checkName = /[\u4E00-\u9FA5\uF900-\uFA2D]/
      if (!value) {
        return callback(new Error('请输入中文名称'))
      }
      setTimeout(() => {
        if (!checkName.test(value)) {
          callback(new Error('请输入正确的中文名称'))
        } else {
          callback()
        }
      }, 1000)
    }
    return {
      // 查询输入框内容
      queryVal: '',
      // 中文名称
      expressShow: false,
      expressTableData: [],
      // 组件
      parent: {},
      exthree: [],
      betaProps: { // searchBox中下拉树的props
        children: 'child', // 下拉树或者表格树中表示子节点数组的属性
        label: 'label', // 下拉树中用来显示的名称
        id: 'mid', // 用来表示树节点唯一标志的属性
        keyWord: 'displayName'// 用来筛选或者显示的属性
      },
      functionType,
      // dialog
      dialogVisible: false,
      // dialog内容
      dialogForm: {
        // 名称
        name: '',
        // 中文名称
        displayName: '',
        displayNameFormat: '',
        // 类型
        functionType: '',
        tCode: '',
        // 权限行为
        permissionPoints: [],
        // 数据模型
        dataSourceName: '',
        // 配置包
        deployModuleName: '',
        // ui模型
        uiModuleName: '',
        reportTitle: '',
        allowMenuHook: true,
        containsList: true,
        needCheckPermission: true,
        permissionPointsArr: []
      },
      rules: {
        name: [
          { required: true, validator: checkName, trigger: 'blur' }
        ],
        displayName: [
          { required: true, validator: checkDisplayName, trigger: 'blur' }
        ],
        functionType: [
          { required: true, message: '请选择类型', trigger: 'change' }
        ],
        tCode: [
          { required: true, validator: checkNum, trigger: 'blur' }
        ],
        permissionPoints: [
          { required: true, message: '请选择类型', trigger: 'change' }
        ]
      },
      appName: '',
      appVersion: '',
      checkedArr: [],
      // 权限列表
      permissionsArr: [],
      // 权限行为选中ipt展示的字符串,
      inputStatus: false,
      selectStr: '',
      // 新增权限行为
      dialogShow: false,
      // 新增权限行为的数组
      newPointerArr: [],
      ponitForm: {
        key: '',
        name: ''
      },
      functionName: '',
      ponitList: [],
      tmie: 0,
      timePoint: 0,
      dataName: '',
      name: '',
      status: '',
      clickType: 0,
      appInfo: {},
      time: 1,
      arrLen: 0

    }
  },
  created () {
    this.clickType = parseInt(localStorage.getItem('clickType'))
    this.dataName = localStorage.getItem('dataName')
    storage.getItem('appInfo').then(res => {
      this.appName = res.appName
      this.appVersion = res.appVersion
      // 获取类型，权限行为
      // Userservice.getDefaultFct(this.appName, this.appVersion).then(res => {
      //   // console.log(res)
      // })
    })
    this.appInfo = JSON.parse(localStorage.getItem('appInfo'))
    this.appName = this.appInfo.appName
    this.appVersion = this.appInfo.appVersion
    this.name = localStorage.getItem('funName')
    this.status = localStorage.getItem('status')
    if (this.clickType === 0) {
      localStorage.removeItem('funId')
      if (this.name && this.status) {
        this.getList()
      } else {
        this.add()
      }
    } else {
      this.getList()
    }
    this.getDataModel()
    this.getDeployModule()
  },
  watch: {
    // 深度监听权限行为选择事件
    permissionsArr: {
      // 深度监听，可监听到对象、数组的变化
      handler: function (val) {
        // console.log(val)
        let arr = []
        let Arr = []
        for (let list of val) {
          if (list.checked === true) {
            arr.push({
              permissionName: list.value,
              permissionValue: list.text
            })
            Arr.push(
              list.value + '-' + list.text
            )
          }
        }
        this.selectStr = Arr.join(',')
        // let newarrLen = Arr.length
        // if (this.dialogForm.permissionPoints.length !== newarrLen && newarrLen) {
        //   console.log('改变了', this.inputStatus)
        //   this.inputStatus = true
        // }
        this.dialogForm.permissionPoints = [...arr]
        this.dialogForm.permissionPointsArr = [...arr]
      },
      deep: true
    },
    queryVal (Nval) {
      if (Nval === '') {
        this.search()
      }
    },
    dialogVisible (newValue) {
      if (!newValue) {
        this.$refs.searchBox.selectTreeNode({}, { checkedKeys: [] })
      }
    },
    dialogForm: {
      handler: function (newV) {
        this.time++
        // console.log('当前time', this.time)
      },
      deep: true
    },
    ponitForm: {
      handler: function (newV) {
        if (this.dialogShow) {
          this.timePoint++
        }
      },
      deep: true
    }
    // 'dialogForm.tCode': function () {
    //   console.log(111)
    //   this.inputStatus = true
    // }
  },
  methods: {
    tcodeChange () {
      // console.log(this.inputStatus)
    },
    getList () {
      ModelService.getFunctionDetail({}, this.name + '/' + this.status).then((res) => {
        // console.log(res)
        if (res.code === 200) {
          let data = res.data
          this.ponitList = data.permissionPoints
          // this.dialogVisible = true
          this.getPoint()
          for (let key in data) {
            this.dialogForm[key] = data[key]
          }
          this.dialogForm.deployModuleName = data.deployModuleName
          this.checkedArr = data.checkedArr.length > 1 ? JSON.parse(data.checkedArr) : []
          this.inputStatus = false
          this.dialogForm.dataSourceName = data.dataSourceName
          this.dialogForm.uiModuleName = data.uiModel
          this.dialogForm.displayName = data.displayName
          this.dialogForm.displayNameFormat = data.displayNameFormat
          this.$set(this.dialogForm, 'deployModuleDisplayName', data.deployModuleDisplayName)
          this.functionName = data.name
        }
      })
    },
    // 获得编辑数据
    // getData () {
    //   if (this.clickType === 0) {
    //     this.add()
    //     this.getList()
    //   } else {
    //     this.getList()
    //   }
    // },
    getExpress (shownameResult, express) {
      this.expressShow = false
      this.dialogForm.displayName = shownameResult
      this.dialogForm.displayNameFormat = express
    },
    selectNameExpress (row, key) {
      // console.log(row, key)
      this.focusRow = row
      this.focusRowKey = key
      this.expressShow = true
    },
    // 点击编辑获取权限行为数据
    getPoint () {
      Userservice.getpermissionpoints(this.appName, this.appVersion, this.functionName).then(res => {
        // console.log(res)
        if (res.data) {
          let arr = []
          if (this.ponitList.length > 0) {
            for (let list of res.data) {
              for (let item of this.ponitList) {
                if (list.permissionName === item.permissionName) {
                  list.checked = true
                }
              }
              arr.push({
                value: list.permissionName,
                text: list.permissionValue,
                label: list.permissionName + '-' + list.permissionValue,
                checked: list.checked,
                type: list.kind,
                delectShow: false
              })
            }
          } else {
            for (let item of res.data) {
              arr.push({
                value: item.permissionName,
                text: item.permissionValue,
                label: item.permissionName + '-' + item.permissionValue,
                checked: false,
                type: item.kind,
                delectShow: false
              })
            }
          }
          this.permissionsArr = [...arr]
        }
      })
    },
    // 获取数据模型
    getDataModel () {
      ModelService.listAll('datasourcemodel').then((res) => {
        // console.log(res)
        if (res.code === 200) {
          if (res.data.length > 0) {
            let arr = []
            for (let item of res.data) {
              arr.push({
                value: item.name,
                label: item.name
              })
            }
            this.dataOptions = [...arr]
          } else {
            this.dataOptions = []
          }
        } else {
          this.$messageService.error(res.message)
        }
      })
    },
    // 获取配置包
    getDeployModule () {
      ModelService.listAll('deploymodulemodel').then((res) => {
        // console.log(res)
        // this.exthree = res.data
        if (res.data) {
          if (res.data.length > 0) {
            this.exthree = res.data
            this.setLabel(this.exthree)
          }
        } else {
          this.exthree = []
        }
      })
    },
    // 配置包组件
    selectThree (data, nodes) {
      // console.log(data, nodes)
      this.parent = data
      // console.log(data)
      this.dialogForm.deployModuleName = data.name
      this.checkedArr = [data.mid]
      // console.log(this.dialogForm.deployModuleName)
    },
    // 添加按钮
    add () {
      // console.log(2)
      this.time = 1
      this.ponitList = []
      this.inputStatus = false
      this.dialogForm = {
        // 名称
        name: '',
        // 中文名称
        displayName: '',
        // 类型
        functionType: '',
        tCode: '',
        // 权限行为
        permissionPoints: [],
        // 数据模型
        dataSourceName: '',
        // 配置包
        deployModuleName: '',
        // ui模型
        uiModuleName: '',
        reportTitle: '',
        allowMenuHook: true,
        containsList: true,
        needCheckPermission: true
      }
      this.functionName = ''
      this.dialogForm.permissionPointsArr = []
      this.dialogVisible = true
      this.dialogForm.deployModuleName = ''
      Userservice.getpermissionpoints(this.appName, this.appVersion, null).then(res => {
        // console.log(res)
        if (res.data) {
          let arr = []
          for (let item of res.data) {
            arr.push({
              value: item.permissionName,
              text: item.permissionValue,
              label: item.permissionName + '-' + item.permissionValue,
              checked: false,
              type: item.kind,
              delectShow: false
            })
          }
          this.permissionsArr = [...arr]
        }
      })
      // console.log(this.permissionsArr)
    },
    // 表格删除
    del (row) {
      // console.log(row)
      this.$confirm('此操作将会永久删除本条数据, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        ModelService.deleteModel('functionmodel', row.mid).then(res => {
          // console.log(res)
          if (res.code === 200) {
            this.$messageService.success('操作成功')
            this.getList()
          } else {
            this.$messageService.error('操作失败，刷新试试')
          }
        })
      }).catch(() => {
        // this.$messageService.info('已取消')
      })
    },
    // 同步获取差异
    getdiffmessage (list) {
      // console.log(list)
      Userservice.getdiffmessageFct(this.appName, this.appVersion, list.name).then(res => {
        // console.log(res)
        if (res.code === 200) {
          let message = res.data + '确认同步？'
          this.publish(message, this.appName, this.appVersion, list.name)
        } else {
          this.$messageService.error(res.message)
        }
      })
    },
    // 同步
    publish (message, appName, appVersion, name) {
      this.$confirm(message, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        Userservice.publishfunction(appName, appVersion, name).then(res => {
          // console.log(res)
          if (res.code === 200) {
            this.$messageService.success('同步成功')
          } else {
            this.$messageService.error(res.message)
          }
        })
      }).catch(() => {
        // this.$messageService.info('已取消同步')
      })
    },
    // 全部发布
    pushAll () {
      let message = '确认同步全部功能模型？'
      this.publish(message, this.appName, this.appVersion, 'other')
    },
    // 中文名称选择
    handleShowName () {
      this.expressShow = true
      this.dialogForm.displayName = this.expressResult
    },
    setLabel (data) { // 给每个树节点设置自定义文本
      data.map((item, index) => {
        item.label = item.name + '(' + item.displayName + ')'
        if (item.child && item.child.length) {
          this.setLabel(item.child)
        }
      })
    },
    // 新增权限点
    addPonit () {
      // console.log(11)
      this.dialogShow = true
      this.timePoint = 1
      this.inputStatus = false
      // if (this.functionName === '') {
      //   this.$messageService.error('新增功能时不能新增权限行为')
      // } else {
      //   // this.dialogShow = true
      //   // this.timePoint = 1
      // }
    },
    changeSelect () {
      console.log('很怀疑')
      this.inputStatus = !this.inputStatus
    },
    // 新增权限行为确认
    addPointForm () {
      if (this.ponitForm.key === '' || this.ponitForm.name === '') {
        this.$messageService.error('KeyName和中文名称不能为空')
      } else {
        let checkKey = /^[a-zA-Z0-9_.-]*$/
        let checkName = /[\u4E00-\u9FA5\uF900-\uFA2D]/
        if (!checkKey.test(this.ponitForm.key)) {
          this.$messageService.error('KeyName只能输入字母，数字或者.-_')
          return false
        }
        if (!checkName.test(this.ponitForm.name)) {
          this.$messageService.error('中文名称只能输入中文')
          return false
        }
        this.permissionsArr.push({
          value: this.ponitForm.key,
          text: this.ponitForm.name,
          label: this.ponitForm.key + '-' + this.ponitForm.name,
          checked: false,
          type: 0,
          delectShow: false,
          kind: 1,
          permissionName: this.ponitForm.key,
          permissionValue: this.ponitForm.name
        })
        this.newPointerArr.push({
          value: this.ponitForm.key,
          text: this.ponitForm.name,
          label: this.ponitForm.key + '-' + this.ponitForm.name,
          checked: false,
          type: 0,
          kind: 1,
          delectShow: false,
          permissionName: this.ponitForm.key,
          permissionValue: this.ponitForm.name
        })
        this.$messageService.success('添加成功')
        this.ponitForm.key = ''
        this.ponitForm.name = ''
        this.dialogShow = false
        // Userservice.addPointFct(this.appName, this.appVersion, this.functionName, this.ponitForm.key, this.ponitForm.name).then((response) => {
        //   // console.log(response)
        //   if (response.code === 200) {

        //   }
        // })
      }
    },
    // 新增权限行为取消
    resetPoint (formName) {
      this.handleClosePonit()
      this.$refs[formName].resetFields()
    },
    // 删除权限行为
    deleteFc (val) {
      // console.log(val)
      this.$confirm('确认删除该权限行为', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        Userservice.deletePonitFct(this.appName, this.appVersion, this.functionName, val.value, val.text).then(res => {
          if (res.code === 200) {
            this.$messageService.success('删除成功')
            this.getPoint()
          } else {
            this.$messageService.error(res.message)
          }
        })
      }).catch(() => {
        // this.$messageService.info('已取消同步')
      })
    },
    handleClosePonit () {
      // console.log(this.timePoint)
      if (this.ponitForm.key !== '' || this.ponitForm.name !== '') {
        this.$confirm('此操作会清空填入的数据', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.dialogShow = false
          this.ponitForm.key = ''
          this.ponitForm.name = ''
        }).catch(() => {
        })
      } else {
        this.dialogShow = false
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.switch {
  span {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #606266;
  }
}
.searchBox {
  width: 100%;
}
</style>
<style>
.functionModel .el-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.functionModel .el-form-item {
  width: 48% !important;
  height: 32px;
  line-height: 32px;
  margin-bottom: 18px;
}
.functionModel .el-form-item__label {
  height: 32px;
  line-height: 32px;
}
.functionModel .el-input__inner,
.functionModel .el-form-item__content {
  height: 32px;
  line-height: 32px;
}
.functionModel .switch {
  width: 48%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}
.functionModel .dialog-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 24px 0;
}
</style>
