<template>
  <div class='storage'>
    <div class="functionTop">
      <div class="functionTitle">
        <h3>模型导入工具</h3>
        <p>从其他版本或产品内导入(复制)模型到当前版本的产品中使用</p>
      </div>
      <div class="functionButton">
        <div class="topRow">
          <el-select v-model="selectVersion" placeholder="请选择版本号" clearable size="small">
            <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
          </el-select>
        </div>
        <div class="topRow">
          <el-input v-model="keyWord" placeholder="请输入要查找的模型名称" @keyup.enter.native="search" clearable size="small"></el-input>
        </div>
        <div class="topRow">
          <el-button type="primary" icon="el-icon-search" @click="search">查询</el-button>
        </div>
      </div>
    </div>
    <!-- 表格 -->
    <div class="table">
      <el-table :data="tableData" style="width: 100%" border @selection-change="handleSelectionChange" ref="multipleTable">
        <!-- id: '',
          name: '',
          displayName: '',
          type: '',
          version: '',
          lastEditor: '',
          lastTime: '',
          status: '' -->
        <el-table-column type="selection">
        </el-table-column>
        <el-table-column prop="name" label="模型名称">
        </el-table-column>
        <el-table-column prop="displayName" label="中文名称">
        </el-table-column>
        <el-table-column prop="type" label="模型类型">
        </el-table-column>
        <el-table-column prop="version" label="版本号">
        </el-table-column>
        <el-table-column prop="lastEditor" label="最后编辑人">
        </el-table-column>
        <el-table-column prop="lastTime" label="最后编辑时间">
        </el-table-column>
        <el-table-column prop="status" label="状态">
        </el-table-column>
      </el-table>
    </div>
    <!-- 分页 -->
    <div class="functionPagination" v-show="tableData.length > 0">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :page-sizes="pageSizeArray" :page-size="pageSize" :total="pageTotal" :current-page="pageNo" layout="total, sizes, prev, pager, next, jumper">
      </el-pagination>
    </div>
    <div class="buttonBox">
      <el-button type="primary" @click="importFct('all')">全部导入</el-button>
      <el-button type="primary" plain @click="importFct('part')">导入</el-button>
    </div>
    <!-- 弹出框 -->
    <el-dialog title="导入过程" :visible.sync="dialogTableVisible" width="800px">
      <div class="dialogTable">
        <el-scrollbar style="height:100%;overflow-x:hidden;">
          <el-table :data="gridData" border>
            <el-table-column prop="name" label="模型名称"></el-table-column>
            <el-table-column prop="displayName" label="显示名称"></el-table-column>
            <el-table-column prop="type" label="模型类型"></el-table-column>
            <el-table-column prop="version" label="版本号"></el-table-column>
            <el-table-column label="导入结果">
              <template slot-scope="scope">
                <el-switch v-model="scope.row.status" active-color="#13ce66" inactive-color="#ff4949">
                </el-switch>
                <span v-if="scope.row.status">成功</span>
                <span v-else>失败</span>
              </template>
            </el-table-column>
          </el-table>
        </el-scrollbar>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import UserService from '../../assets/js/service/userservice.js'
import storage from '../../assets/js/service/cacheservice.js'
import { pageCommon } from '../../assets/js/mixin/mixin.js'
export default {
  name: 'storage',
  mixins: [pageCommon],
  data () {
    return {
      options: [
        {

        }
      ],
      selectVersion: '',
      keyWord: '',
      tableData: [
        // {
        //   name: '',
        //   displayName: '',
        //   type: '',
        //   version: '',
        //   lastEditor: '',
        //   lastTime: '',
        //   status: ''
        // }
      ],
      dialogTableVisible: false,
      gridData: [
        // {
        //   name: '',
        //   displayName: '',
        //   type: '',
        //   version: '',
        //   status: ''
        // }
      ],
      appName: '',
      appVersion: '',
      multipleSelection: [],
      nocreat: true,
      selectArr: []
    }
  },
  created () {
    storage.getItem('appInfo').then(res => {
      this.appName = res.appName
      this.appVersion = res.appVersion
      UserService.getVersionList(this.appName).then(res => {
        console.log(res)
        if (res.code === 200) {
          this.setVersionFct(res)
        } else {
          this.$messageService.error(res.message)
        }
      })
      this.getList()
    })
  },
  watch: {
    keyWord (Nval) {
      if (Nval === '') {
        this.search()
      }
    }
  },
  methods: {
    // 导入
    importFct (val) {
      let message = ''
      if (val === 'all') {
        message = '是否确定要导入所有模型'
        this.$confirm(message, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          UserService.setImportAll(this.appName, this.appVersion).then(res => {
            console.log(res)
            this.setImportData(res)
          })
        }).catch(() => {
          // this.$messageService.info('操作')
        })
      } else {
        if (this.selectArr.length < 1) {
          this.$messageService.error('请至少选择一条数据，再进行该操作')
        } else {
          message = '是否确定要导入以上列表中所选模型'
          this.$confirm(message, '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            let modelList = []
            for (let list of this.selectArr) {
              modelList.push({
                displayName: list.displayName,
                lastEditTime: list.lastTime,
                lastEditor: list.lastEditor,
                modelKind: list.modelKind,
                modelStatus: list.modelStatus,
                name: list.name,
                oldVersion: list.version
              })
            }
            UserService.setImport(this.appName, this.appVersion, modelList).then(res => {
              console.log(res)
              this.setImportData(res)
              this.toggleSelection()
            })
          }).catch(() => {
            // this.$messageService.info('已取消操作')
          })
        }
      }
    },
    // 导入结果
    setImportData (res) {
      if (res.code === 200) {
        if (res.data.length > 0) {
          let arr = []
          for (let list of res.data) {
            arr.push({
              name: list.name,
              displayName: list.displayName,
              type: list.modelKindName,
              modelKind: list.modelKind,
              version: list.oldVersion,
              status: list.result
            })
          }
          this.gridData = [...arr]
          console.log(this.gridData)
        } else {
          this.gridData = []
        }
        this.dialogTableVisible = true
      }
    },
    // 获取版本号下拉框内容
    setVersionFct (val) {
      console.log(val)
      if (val.data.length > 0) {
        let arr = []
        for (let list of val.data) {
          arr.push({
            value: list.appVersion,
            label: list.appVersion
          })
        }
        console.log(arr)
        this.options = arr
        console.log(this.versionList)
      } else {

      }
    },
    // 取消已选中
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    // 获取分页初始数据
    getList () {
      console.log(this.appName, this.appVersion)
      UserService.geImportList(this.appName, this.appVersion, this.pageNo, this.pageSize, this.keyWord, this.selectVersion).then(res => {
        console.log(res)
        if (res.code === 200 && res.data.modelList.length > 0) {
          let arr = []
          for (let list of res.data.modelList) {
            console.log(list)
            arr.push({
              name: list.name,
              displayName: list.displayName,
              type: list.modelKindName,
              modelKind: list.modelKind,
              version: list.oldVersion,
              lastEditor: list.lastEditor,
              lastTime: list.lastEditTime,
              status: list.modelStatusName,
              modelStatus: list.modelStatus
            })
          }
          this.tableData = [...arr]
          this.pageTotal = parseInt(res.data.totalRow)
        } else {
          this.tableData = []
        }
      })
    },
    // 获取多选
    handleSelectionChange (val) {
      console.log(val)
      this.selectArr = val
    },
    // 查询
    search () {
      this.pageNo = 1
      this.getList()
    }
  }
}
</script>

<style scoped lang='scss'>
.storage {
  background: $main-bg;
  min-height: 100%;
  box-sizing: border-box;
  padding: $main-padding;
  .table {
    margin-top: 15px;
    margin-bottom: 32px;
  }
  .pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  .buttonBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 24px;
  }
  .functionTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 16px 0;
    .functionTitle {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h3 {
        line-height: 24px;
        font-weight: 700;
        font-size: 18px;
      }
      p {
        line-height: 16px;
        font-size: 14px;
        color: #999999;
      }
    }
    .functionButton {
      display: flex;
      align-items: center;
      .topRow {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: 12px;
      }
    }
  }
  .functionPagination {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .dialogTable {
    height: 500px;
  }
}
</style>
<style lang='scss'>
.storage .dialogTable .el-scrollbar__wrap {
  overflow-x: hidden;
}
</style>
