<template>
  <div class="firRow">
    <el-row :gutter="0">
      <el-col :span="8">
        <div class="grid-content bg-purple">
          <div class="productBox">
            <div class="top">
              <div class="logo">
                <img :src=this.ruleForm.logo alt="" width="100%" height="100%">
              </div>
              <div class="info">
                <p class="name"><span>{{this.appName}}</span><span class="num">{{this.appVersion}}</span></p>
                <p class="id">ID：{{form.mid}}</p>
                <p style="overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;">
                  <span class="peopleName">{{form.lastEditor}}</span>
                  <span>创建于：
                    <span class="time">{{form.lastEditTime}}</span>
                  </span>
                </p>
              </div>
              <el-dropdown @command="handleCommand" style="height:20px;" trigger="click">
                <span class="el-dropdown-link">
                  <span class="iconfont icon-xiangxia2"></span>
                </span>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item :command=index v-for="(list,index) in versionList" :key="(list,index)">{{list.name}}</el-dropdown-item>
                  <el-dropdown-item command="e" divided>新增版本</el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            </div>
            <div class="bottom">
              <div class="content">{{form.description}}</div>
              <div class="icon">
                <span class="iconfont icon-xiugai2" @click="dialogVisibleShow"></span>
              </div>
            </div>
          </div>
        </div>
      </el-col>
      <el-col :span="6" class="numBox">
        <div class="grid-content bg-purple">
          <div class="title">新增功能</div>
          <div class="num blue">25</div>
        </div>
      </el-col>
      <el-col :span="6" class="numBox">
        <div class="grid-content bg-purple">
          <div class="title">调整功能</div>
          <div class="num red">65</div>
        </div>
      </el-col>
      <el-col :span="4" class="totalBox">
        <div class="grid-content bg-purple">
          <div class="box">
            <div class="title">模型总数</div>
            <div class="num red">65</div>
          </div>
          <div class="box">
            <div class="title">功能总数</div>
            <div class="num red">65</div>
          </div>
        </div>
      </el-col>
    </el-row>
    <!-- 弹出框 -->
    <el-dialog title="编辑产品" :visible.sync="dialogVisible" width="800px" :before-close="handleClose" :close-on-click-modal="false">
      <div class="form">
        <div>
          <el-form label-position="right" :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="名称" prop="name">
              <el-input v-model="ruleForm.name" :disabled=nameDisabled class="input-with-select">
                <el-button slot="append" icon="el-icon-edit" @click="changeName"></el-button>
              </el-input>
            </el-form-item>
            <el-form-item label="中文名称" prop="displayName">
              <el-input v-model="ruleForm.displayName" maxlength="100"></el-input>
            </el-form-item>
            <el-form-item label="APP TOKEN" prop="appToken">
              <el-input v-model="ruleForm.appToken" disabled="true" class="input-with-select">
                <el-button slot="append" icon="el-icon-refresh" @click="changeToken"></el-button>
              </el-input>
            </el-form-item>
            <el-form-item label="SECRET ID" prop="secretId">
              <el-input v-model="ruleForm.secretId" disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="数据库IP" prop="dbServer">
              <el-input v-model="ruleForm.dbServer"></el-input>
            </el-form-item>
            <el-form-item label="数据库名称" prop="dbName">
              <el-input v-model="ruleForm.dbName"></el-input>
            </el-form-item>
            <el-form-item label="端口" prop="dbPort">
              <el-input v-model="ruleForm.dbPort"></el-input>
            </el-form-item>
            <el-form-item label="用户名" prop="dbUser">
              <el-input v-model="ruleForm.dbUser"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="dbPwd">
              <el-input v-model="ruleForm.dbPwd" type="password"></el-input>
            </el-form-item>
            <el-form-item label="产品版本号" prop="appVersion">
              <el-input v-model="ruleForm.appVersion" disabled></el-input>
            </el-form-item>
            <el-form-item label="说明" prop="tip">
              <el-input v-model="ruleForm.tip" style="height:144px;" type="textarea" maxlength="400"></el-input>
            </el-form-item>
            <el-form-item label="LOGO" prop="logo">
              <div class="com-upload-img">
                <div class="img_group">
                  <div class="img_box" v-if="allowAddImg">
                    <input type="file" accept="image/*" multiple="multiple" @change="changeImg($event)">
                    <div class="filter"></div>
                  </div>
                  <div class="img_show_box" style="width:100px;height:100px;border:1px dashed #dcdfe6;">
                    <img :src="ruleForm.logo" alt="" width="100px" height="100px">
                  </div>
                </div>
              </div>
            </el-form-item>
            <div class="buttonBox1">
              <el-button type="primary" @click="submitForm('ruleForm')">保存</el-button>
              <el-button @click="resetForm('ruleForm')">取消</el-button>
            </div>
          </el-form>
        </div>
      </div>
    </el-dialog>
    <!-- 版本弹出框 -->
    <el-dialog title="新增版本" :visible.sync="dialogNum" width="500px" center :before-close="handleClose1" :close-on-click-modal="false">
      <el-form label-position="right" label-width="80px" :model="formNum" ref="formNum">
        <el-form-item label="版本名称">
          <el-input v-model="formNum.name" maxlength="64"></el-input>
        </el-form-item>
        <el-form-item label="版本说明">
          <el-input v-model="formNum.text" type="textarea" maxlength="400" style="height:48px;"></el-input>
        </el-form-item>
        <div class="buttonBox1" style="display:flex;justify-content:flex-end;margin-top:36px;">
          <el-button type="primary" @click=addVersion>确 定</el-button>
          <el-button @click="resetForm1('formNum')">取 消</el-button>
        </div>
      </el-form>
    </el-dialog>
  </div>
</template>
<script type="text/ecmascript-6">
import UserService from '../../assets/js/service/userservice.js'
import ModelService from '../../assets/js/service/modelservice.js'
import storage from '../../assets/js/service/cacheservice.js'
import { bus } from '@/assets/js/comm/constant'
export default {
  name: 'firRow',
  computed: {
    apiParams () {
      return {
        name: this.ruleForm.name,
        appToken: this.ruleForm.appToken,
        description: this.ruleForm.tip,
        secretId: this.ruleForm.secretId,
        logo: this.ruleForm.logo.split(',')[1],
        dbServer: this.ruleForm.dbServer,
        dbPort: this.ruleForm.dbPort,
        dbUser: this.ruleForm.dbUser,
        dbPwd: this.ruleForm.dbPwd,
        redisUrl: 'redisUrl',
        redisPwd: 'redisPwd',
        // modelStatus: '',
        appName: this.ruleForm.name,
        dbName: this.ruleForm.dbName,
        displayNameFormat: this.ruleForm.displayName,
        appVersion: this.ruleForm.appVersion,
        mid: this.ruleForm.mid
      }
    },
    addParams () {
      return {
        appName: this.appName,
        verison: this.verison,
        description: this.formNum.text
      }
    }
  },
  data () {
    // 验证端口号
    var dbPort = (rule, value, callback) => {
      var re = /^([0-9]|[1-9]\d{1,3}|[1-5]\d{4}|6[0-4]\d{4}|65[0-4]\d{2}|655[0-2]\d|6553[0-5])$/
      if (!value) {
        return callback(new Error('端口号不能为空'))
      }
      setTimeout(() => {
        if (!re.test(value)) {
          callback(new Error('正确的端口号'))
        } else {
          callback()
        }
      }, 1000)
    }
    // 验证全英文加数字
    // var checkEnglish = (rule, value, callback) => {
    //   var re = /^[a-zA-Z0-9_]+$/
    //   if (!value) {
    //     return callback(new Error('请输入名称'))
    //   }
    //   setTimeout(() => {
    //     if (!re.test(value)) {
    //       callback(new Error('请输入正确的名称'))
    //     } else {
    //       callback()
    //     }
    //   }, 1000)
    // }
    // 验证ip
    var testIp = (rule, value, callback) => {
      var re = /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/
      if (!value) {
        return callback(new Error('请输入数据库ip'))
      }
      setTimeout(() => {
        if (!re.test(value)) {
          callback(new Error('请输入正确的数据库ip'))
        } else {
          callback()
        }
      }, 1000)
    }
    var checkName = (rule, value, callback) => {
      let checkKey = /^[a-zA-Z0-9_.-]*$/
      if (!value) {
        return callback(new Error('请输入产品名称'))
      }
      setTimeout(() => {
        if (!checkKey.test(value)) {
          callback(new Error('请输入正确的产品名称'))
        } else {
          callback()
        }
      }, 1000)
    }
    var checkDisplayName = (rule, value, callback) => {
      let checkName = /[\u4E00-\u9FA5\uF900-\uFA2D]/
      if (!value) {
        return callback(new Error('请输入中文名称'))
      }
      setTimeout(() => {
        if (!checkName.test(value)) {
          callback(new Error('请输入正确的中文名称'))
        } else {
          callback()
        }
      }, 1000)
    }
    return {
      // 产品修改弹窗

      appName: '',
      appVersion: '',
      dialogVisible: false,
      radio: 'web app',
      form: {
        mid: '',
        appVersion: '',
        displayName: '',
        name: '',
        description: '',
        lastEditTime: '',
        lastEditor: ''
      },
      ruleForm: {
        name: '',
        appToken: '',
        tip: '',
        secretId: '',
        logo: '',
        dbServer: '',
        dbPort: '',
        dbUser: '',
        dbPwd: '',
        dbName: '',
        appVersion: '',
        displayName: '',
        mid: ''
      },
      rules: {
        name: [
          { required: true, validator: checkName, trigger: 'blur' }
        ],
        displayName: [
          { required: true, validator: checkDisplayName, trigger: 'blur' }
        ],
        tip: [
          { required: true, message: '请输入说明', trigger: 'blur' }
        ],
        // logo: [
        //   { required: true, message: '请设置logo', trigger: 'blur' }
        // ],
        dbServer: [
          { required: true, validator: testIp, trigger: 'blur' }
        ],
        dbPort: [
          { required: true, trigger: 'blur', validator: dbPort }
        ],
        dbUser: [
          { required: true, message: '请输入数据库用户名', trigger: 'blur' }
        ],
        dbPwd: [
          { required: true, message: '请输入数据库密码', trigger: 'blur' }
        ],
        dbName: [
          { required: true, message: '请输入数据库名称', trigger: 'blur' }
        ],
        appVersion: [
          { required: true, message: '请输入版本号', trigger: 'blur' }
        ]
      },
      // 版本新增弹窗
      dialogNum: false,
      formNum: {
        name: '',
        text: ''
      },
      allowAddImg: true,
      imgData: '',
      imgArr: '',
      imgSrc: '',
      versionList: [
        {
          name: ''
        }
      ],
      nameDisabled: true,
      mid: '',
      time: 0,
      time2: 0
    }
  },
  created () {
    storage.getItem('appInfo').then(res => {
      console.log('好久不见', res)
      this.appName = res.appName
      this.appVersion = res.appVersion
      this.mid = res.id
      this.getProductInfo(this.appName, this.appVersion)
      UserService.getVersionList(this.appName).then(res => {
        if (res.code === 200) {
          this.setVersionFct(res)
        } else {
          this.$messageService.error(res.message)
        }
      })
    })
  },
  watch: {
    dialogVisible (newV) {
      if (newV) {
        this.nameDisabled = true
        this.getProductInfo(this.appName, this.appVersion)
      }
    },
    ruleForm: {
      handler: function (newV) {
        if (this.dialogVisible) {
          this.time++
        }
      },
      deep: true
    },
    formNum: {
      handler: function (newV) {
        if (this.dialogNum) {
          this.time2++
        }
      },
      deep: true
    }
  },
  methods: {
    // 获取产品信息
    getProductInfo (name, version) {
      UserService.getInfo(name, version).then(res => {
        storage.setItem('appInfo', res.data)
        if (res.code === 200) {
          for (let key in res.data) {
            this.form[key] = res.data[key]
          }
          this.ruleForm.name = res.data.name
          this.ruleForm.appToken = res.data.appToken
          this.ruleForm.tip = res.data.description
          this.ruleForm.secretId = res.data.secretId
          this.ruleForm.logo = res.data.logo ? 'data:image/jpeg;base64,' + res.data.logo : '../../../static/default.png'
          this.imgArr = res.data.logo
          this.ruleForm.dbServer = res.data.dbServer
          this.ruleForm.dbPort = res.data.dbPort
          this.ruleForm.dbUser = res.data.dbUser
          this.ruleForm.dbPwd = res.data.dbPwd
          this.ruleForm.dbName = res.data.dbName
          this.ruleForm.appVersion = res.data.appVersion
          this.ruleForm.displayName = res.data.displayName
          this.ruleForm.mid = res.data.mid
        } else {
          this.$messageService.error(res.message)
        }
      })
    },
    // 图片转码
    changeImg (e) {
      var _this = this
      var imgLimit = 1024
      var files = e.target.files
      console.log(files)
      var image = new Image()
      if (files.length > 0) {
        var dd = 0
        var timer = setInterval(function () {
          if (files.item(dd).type !== 'image/png' && files.item(dd).type !== 'image/jpeg' && files.item(dd).type !== 'image/gif') {
            return false
          }

          if (files.item(dd).size > imgLimit * 102400) {
            // to do sth
          } else {
            image.src = window.URL.createObjectURL(files.item(dd))
            image.onload = function () {
              // 默认按比例压缩
              var w = image.width
              var h = image.height
              var scale = w / h
              w = 200
              h = w / scale
              // 默认图片质量为0.7，quality值越小，所绘制出的图像越模糊
              var quality = 0.7
              // 生成canvas
              var canvas = document.createElement('canvas')
              var ctx = canvas.getContext('2d')
              // 创建属性节点
              var anw = document.createAttribute('width')
              anw.nodeValue = w
              var anh = document.createAttribute('height')
              anh.nodeValue = h
              canvas.setAttributeNode(anw)
              canvas.setAttributeNode(anh)
              ctx.drawImage(image, 0, 0, w, h)
              var ext = image.src.substring(image.src.lastIndexOf('.') + 1).toLowerCase()
              console.log(ext)
              // 图片格式
              var base64 = canvas.toDataURL(quality)
              console.log(base64.split(',')[1])
              _this.ruleForm.logo = base64
              _this.imgArr = base64
            }
          }

          if (dd < files.length - 1) {
            dd++
          } else {
            clearInterval(timer)
          }
        }, 1000)
      }
    },
    // 编辑
    dialogVisibleShow () {
      this.dialogVisible = true
      this.time = 1
      this.getProductInfo(this.appName, this.appVersion)
    },
    // 编辑保存
    submitForm (formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          ModelService.saveModel('appmodel', this.apiParams).then(response => {
            console.log(response)
            if (response.code === 200) {
              this.appName = this.ruleForm.name
              this.dialogVisible = false
              this.$messageService.success('产品编辑成功')
              this.getProductInfo(this.ruleForm.name, this.appVersion)
              bus.$emit('appInfo', { appName: this.ruleForm.name, appVersion: this.appVersion })
              this.$refs[formName].resetFields()
            } else {
              this.$messageService.error(response.message)
              this.getProductInfo(this.appName, this.appVersion)
            }
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    // 取消
    resetForm (formName) {
      console.log(this.time)
      if (this.time > 2) {
        this.$confirm('此操作将会放弃更改, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.dialogVisible = false
          this.$refs[formName].resetFields()
        }).catch(() => {
          // this.$messageService.info('已取消')
        })
      } else {
        this.dialogVisible = false
      }
    },
    // 弹出框右上角x
    handleClose (name) {
      this.resetForm('ruleForm')
    },
    // 版本
    resetForm1 (formName) {
      console.log(this.time2)
      if (this.time2 > 1) {
        this.$confirm('此操作将会清空填入的数据, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.dialogNum = false
          this.formNum.name = ''
          this.formNum.text = ''
        }).catch(() => {
          // this.$messageService.info('已取消')
        })
      } else {
        this.dialogNum = false
      }
    },
    // 弹出框右上角x
    handleClose1 (name) {
      this.resetForm1('formNum')
    },
    // 获取版本列表
    setVersionFct (val) {
      console.log(val)
      if (val.data.length > 0) {
        let arr = []
        for (let list of val.data) {
          arr.push({
            name: list.appVersion
          })
        }
        console.log(arr)
        this.versionList = arr
        console.log(this.versionList)
      } else {

      }
    },
    // 新增产品版本
    addVersion () {
      if (this.formNum.name === '') {
        this.$messageService.error('请输入版本号再保存')
      } else {
        let params = {
          appName: this.appName,
          appVersion: this.formNum.name,
          description: this.formNum.text
        }
        UserService.addVersionFct(params).then(res => {
          if (res.code === 200) {
            this.$messageService.success('操作成功')
          }
          this.dialogNum = false
          UserService.getVersionList(this.appName).then(res => {
            console.log(res)
            if (res.code === 200) {
              this.setVersionFct(res)
            } else {
              this.$messageService.error(res.message)
            }
          })
        }).catch(err => {
          this.$messageService.error(err.message)
        })
      }
      // UserService.addVersionFct(this.appVersion)
    },
    // 切换版本
    handleCommand (command) {
      console.log(this.versionList[command])
      if (command === 'e') {
        this.dialogNum = true
        this.time2 = 1
      } else {
        // this.getProductInfo(this.appName, this.versionList[command].name)
        this.appVersion = this.versionList[command].name
      }
    },
    // 切换产品名称
    changeName () {
      this.$confirm('是否要更改产品名称', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.nameDisabled = false
      }).catch(() => {
        // this.$messageService.info('已取消')
      })
    },
    // 修改Apptoken
    changeToken () {
      this.$confirm('是否要更改APP TOKEN 和 SECRET ID?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        UserService.getId().then(response => {
          console.log(response)
          let res = response.data
          if (response.code === 200) {
            this.ruleForm.appToken = res.appToken
            this.ruleForm.secretId = res.secretId
          }
        })
      }).catch(() => {
        // this.$messageService.info('已取消')
      })
    }
  }
}
</script>
<style scoped lang='scss'>
.firRow {
  width: 100%;
  height: 170px;
  background: #fff;
  .productBox {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-right: 1px solid #e8e8e8;
    .top {
      width: 100%;
      display: flex;
      .logo {
        margin-right: 10px;
        width: 75px;
        height: 75px;
      }
      .num {
        margin-right: 16px;
        font-size: 14px;
      }
      .info {
        flex: 1;
        height: 100%;
        font-size: 14px;
        .name {
          font-size: 18px;
          font-weight: 500;
          color: #333;
          margin: 6px 0;
          display: flex;
          justify-content: space-between;
        }
        .id {
          font-size: 14px;
          font-weight: 500;
          color: #333;
          margin-bottom: 6px;
        }
        .peopleName,
        .time {
          font-size: 14px;
          font-weight: 500;
          color: #333;
          margin-bottom: 6px;
        }
      }
    }
    .bottom {
      margin-top: 12px;
      .content {
        font-size: 12px;
        color: #333;
        margin-bottom: 12px;
      }
      .icon {
        float: right;
        .iconfont {
          cursor: pointer;
        }
      }
    }
  }
  .numBox {
    text-align: center;
    border-right: 1px solid #e8e8e8;
    .title {
      width: 100%;
      height: 50px;
      line-height: 50px;
      color: #999;
      font-size: 14px;
    }
    .num {
      width: 100%;
      height: 90px;
      line-height: 90px;
      font-size: 45px;
    }
    .blue {
      color: #4d8ceb;
    }
    .red {
      color: #ff7233;
    }
  }
  .totalBox {
    .box {
      width: 100%;
      height: 85px;
      box-sizing: border-box;
      .title {
        width: 100%;
        height: 30px;
        text-align: center;
        line-height: 30px;
        color: #999;
        font-size: 14px;
      }
      .num {
        width: 100%;
        height: 47px;
        text-align: center;
        line-height: 47px;
        font-size: 24px;
        color: #333;
      }
    }
    .box:first-child {
      border-bottom: 1px solid #e8e8e8;
    }
  }
  .form {
    .buttonBox1 {
      width: 100%;
      margin-top: 116px;
      display: flex;
      justify-content: flex-end;
    }
  }
  .avatar-uploader {
    border: 1px dashed #dcdfe6;
    text-align: center;
    width: 78px;
    height: 78px;
  }
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409eff;
  }
  .avatar-uploader-icon {
    font-size: 20px;
    color: #8c939d;
    width: 78px;
    height: 78px;
    line-height: 78px;
    text-align: center;
  }
  .avatar {
    width: 78px;
    height: 78px;
    display: block;
  }
  .el-dropdown-link {
    cursor: pointer;
    color: #409eff;
  }
  .el-icon-arrow-down {
    font-size: 12px;
  }
}
</style>
<style >
.firRow .el-row {
  width: 100%;
  height: 100%;
}
.firRow .grid-content,
.firRow .el-col {
  height: 100%;
}
.firRow .form .el-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}
.firRow .form .el-form-item {
  width: 48% !important;
  height: 32px;
  line-height: 32px;
  margin-bottom: 18px;
}
.firRow .el-form-item__label {
  height: 32px;
  line-height: 32px;
}
.firRow .el-input__inner,
.firRow .el-form-item__content {
  height: 32px;
  line-height: 32px;
}
.firRow .el-input-group__append {
  height: 30px !important;
  line-height: 30px !important;
  box-sizing: border-box !important;
  background: #fff;
}
.firRow .el-dialog__body {
  padding: 0 40px 50px 20px;
  color: #606266;
  font-size: 14px;
}
/*
.firRow .el-textarea__inner {
    width: 100%;
    height: 100%;
}
.firRow .el-form--label-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 0 20px;
    box-sizing: border-box;
} */
/* .firRow .el-form--label-left .el-form-item {
    width: 100%;
} */
</style>
