<template>
  <div class="overView">
    <firRow></firRow>
    <secRow></secRow>
    <thirdRow></thirdRow>
    <div class="four">
      <div class="totalBox">
        <div class="topBox">
          本月云服务统计
        </div>
        <div class="rowBox">
          <div class="commonRow">
            <div class="text">带宽流量</div>
            <div class="commonBox red">0.0GB</div>
          </div>
          <div class="commonRow">
            <div class="text">带宽流量</div>
            <div class="commonBox orange">0.0GB</div>
          </div>
          <div class="commonRow">
            <div class="text">带宽流量</div>
            <div class="commonBox green">0.0GB</div>
          </div>
          <div class="commonRow">
            <div class="text">带宽流量</div>
            <div class="commonBox gray">0.0GB</div>
          </div>
        </div>
      </div>
      <div class="infoBox">
        <div class="top">
          <div class="info">
            <div class="topBox">
              已更新版本
            </div>
            <div class="storyText">
              提交历史
            </div>
          </div>
          <div class="logo">
            <img src="https://www.apicloud.com/img/rocket.png" alt="" class="logoSrc">
            <div>更新版本</div>
          </div>
        </div>
        <div class="bottom">
          <div class="imgBox"><img :src=userImg alt="" width="100%" height="100%" style="border-radius:50%;"></div>
          <div class="logoInfo">
            <span>{{userName}}</span>
            <span>{{lastLoginTime}}</span>
            <span>登录</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import firRow from './firRow.vue'
import secRow from './secRow.vue'
import thirdRow from './thirdRow'
import storage from '@/assets/js/service/cacheservice'
export default {
  name: 'overView',
  components: {
    firRow,
    secRow,
    thirdRow
  },
  data () {
    return {
      userImg: '',
      userName: '',
      lastLoginTime: '',
      isProduct: true
    }
  },
  watch: {

  },
  created () {
    storage.getItem('userInfo').then(res => {
      this.userName = res.username
      this.userImg = res.userImg
      this.lastLoginTime = res.lastLoginTime
    })
  },
  methods: {
  }
}
</script>
<style scoped lang='scss'>
.overView {
  width: 100%;
  height: 100%;
  .four {
    width: 100%;
    height: 310px;
    margin: 15px 0;
    display: flex;
    .totalBox {
      width: 50%;
      height: 100%;
      background: #fff;
      margin-right: 15px;
      display: flex;
      flex-direction: column;
      .topBox {
        border-bottom: 1px solid #e8e8e8;
        width: 100%;
        height: 60px;
        line-height: 60px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        font-size: 14px;
        box-sizing: border-box;
        .textColor {
          font-weight: 600;
          font-size: 15px;
          color: #54b533;
        }
      }
      .rowBox {
        flex: 1;
        width: 100%;
        .commonRow {
          width: 100%;
          height: 20%;
          display: flex;
          align-items: center;
          padding: 0 40px 0 50px;
          box-sizing: border-box;
          font-size: 14px;
          color: #999;
          margin-top: 10px;
          .text {
            margin-right: 80px;
          }
          .commonBox {
            flex: 1;
            height: 30px;
            line-height: 30px;
            color: #fff;
            text-align: right;
            padding-right: 30px;
            box-sizing: border-box;
            border-radius: 4px;
          }
          .red {
            background: #e48070;
          }
          .orange {
            background: #f5a966;
          }
          .green {
            background: #79b967;
          }
          .gray {
            background: #c9c9ca;
          }
        }
      }
    }
    .infoBox {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      .top {
        width: 100%;
        height: 140px;
        background: #fff;
        margin-bottom: 15px;
        display: flex;
        .info {
          width: 70%;
          height: 100%;
          .topBox {
            border-bottom: 1px solid #e8e8e8;
            width: 100%;
            height: 60px;
            line-height: 60px;
            display: flex;
            align-items: center;
            padding: 0 20px;
            font-size: 14px;
            box-sizing: border-box;
            .textColor {
              font-weight: 600;
              font-size: 15px;
              color: #54b533;
            }
          }
          .storyText {
            width: 100%;
            flex: 1;
            padding: 10px 20px;
            font-size: 14px;
            box-sizing: border-box;
            color: #999;
          }
        }
        .logo {
          width: 30%;
          height: 100%;
          background: #4d8ceb;
          color: #fff;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .logoSrc {
            margin-bottom: 10px;
          }
        }
      }
      .bottom {
        width: 100%;
        flex: 1;
        background: #fff;
        padding: 30px;
        box-sizing: border-box;
        .imgBox {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
        .logoInfo {
          margin-top: 10px;
          font-size: 14px;
          color: #999;
        }
        .logoInfo span {
          margin-right: 12px;
        }
      }
    }
  }
}
</style>
