<template>
  <div class="secRow">
    <el-row :gutter="0">
      <el-col :span="10">
        <div class="grid-content bg-purple">
          <div class="stepBox">
            <el-steps :active="0">
              <el-step title="创建产品" icon="el-icon-edit"></el-step>
              <el-step title="设置参数" icon="el-icon-upload"></el-step>
              <el-step title="创建模型" icon="el-icon-picture"></el-step>
              <el-step title="编译生成" icon="el-icon-upload"></el-step>
              <el-step title="部署上线" icon="el-icon-picture"></el-step>
            </el-steps>
          </div>
        </div>
      </el-col>
      <el-col :span="10">
        <div class="grid-content bg-purple">
          <div class="storyBox">
            <div class="topBox">
              <div class="right">代码版本：
                <span class="textColor">V10.250</span>
              </div>
              <div class="left">提交时间：
                <span class="textColor">2018-02-30 17:00:00</span>
              </div>
            </div>
            <div class="storyText">
              提交历史
            </div>
          </div>
        </div>
      </el-col>
      <el-col :span="4">
        <div class="grid-content bg-purple">
          <div class="logo">
            <img src="https://www.apicloud.com/img/cloud-big.png" alt="" class="logoSrc">
            <div>云编译</div>
          </div>
        </div>
      </el-col>
    </el-row>
  </div>
</template>
<script type="text/ecmascript-6">
export default {
  name: 'secRow',
  data () {
    return {
    }
  }
}
</script>
<style scoped lang='scss'>
.secRow {
  width: 100%;
  height: 140px;
  background: #fff;
  margin: 15px 0;
  .stepBox {
    width: 100%;
    height: 100%;
    padding: 50px 20px;
    box-sizing: border-box;
    border-right: 1px solid #e8e8e8;
  }
  .storyBox {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid #e8e8e8;
    .topBox {
      border-bottom: 1px solid #e8e8e8;
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      padding: 0 20px;
      font-size: 14px;
      box-sizing: border-box;
      .right {
        margin-right: 50px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .left {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .textColor {
        font-weight: 600;
        font-size: 15px;
        color: #54b533;
      }
    }
    .storyText {
      width: 100%;
      flex: 1;
      padding: 10px 20px;
      font-size: 14px;
      box-sizing: border-box;
      color: #999;
      p {
        margin: 4px 0;
      }
    }
  }
  .logo {
    width: 100%;
    height: 100%;
    background: #8fb300;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logoSrc {
      margin-bottom: 10px;
    }
  }
}
</style>
<style>
.secRow .el-row {
  width: 100%;
  height: 100%;
}
.secRow .grid-content,
.firRow .el-col {
  height: 100%;
}
</style>
