<template>
  <div class="thirdRow">
    <div class="left commonBox">
      <div class="topBox">正式包：
        <span class="textColor">authority-pro2080820V1.0.war</span>
      </div>
      <div class="storyText">
        <p>正式包版本信息</p>
        <p>1.功能更新</p>
        <p>2.bug修复</p>
      </div>
    </div>
    <div class="right commonBox">
      <div class="topBox">测试包：
        <span class="textColor">
          authority-uat-2080820V1.0.war</span>
      </div>
      <div class="storyText">
        <p>正式包版本信息</p>
        <p>1.功能更新</p>
        <p>2.bug修复</p>
      </div>
    </div>
  </div>
</template>
<script type="text/ecmascript-6">
export default {
  name: 'thirdRow',
  data () {
    return {
    }
  }
}
</script>
<style scoped lang='scss'>
.thirdRow {
    width: 100%;
    height: 140px;
    margin: 15px 0;
    display: flex;
    .left {
        width: 50%;
        height: 100%;
        background: #fff;
        margin-right: 15px;
    }
    .right {
        flex: 1;
        height: 100%;
        background: #fff;
    }
    .commonBox {
        .topBox {
            border-bottom: 1px solid #e8e8e8;
            width: 100%;
            height: 60px;
            line-height: 60px;
            display: flex;
            align-items: center;
            padding: 0 20px;
            font-size: 14px;
            box-sizing: border-box;
            .textColor {
                font-weight: 600;
                font-size: 15px;
                color: #54b533;
            }
        }
        .storyText {
            width: 100%;
            flex: 1;
            padding: 10px 20px;
            font-size: 14px;
            box-sizing: border-box;
            color: #999;
        }
    }
}
</style>
