<template>
  <div class="baseSetting">
    <!-- 基础设置 -->
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="常用名词" name="name">
        <nameModel></nameModel>
      </el-tab-pane>
      <el-tab-pane label="下拉选项" name="list">
        <listModel></listModel>
      </el-tab-pane>
      <el-tab-pane label="字段模板" name="word">
        <wordModel></wordModel>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>
<script type="text/ecmascript-6">
import listModel from './listModel.vue'
import nameModel from './nameModel.vue'
import wordModel from './wordModel.vue'
export default {
  name: 'baseSetting',
  components: {
    listModel,
    nameModel,
    wordModel
  },
  data () {
    return {
      activeName: 'name'
    }
  }
}
</script>
<style lang='scss'>
.baseSetting {
    background: $main-bg;
    min-height: 100%;
    box-sizing: border-box;
    padding: $main-padding;
    .el-tabs--top {
        // width: 100%;
        // min-height: 100%;
        // background: $main-bg;
        .el-tabs__content {
            min-height: 10px;
            overflow: visible;
            .el-tab-pane {
                width: 100%;
                min-height: 100%;
            }
        }
    }
}
</style>
