<template>
  <div class="listModel">
    <div class="listTitle">
      <h3>下拉选项维护</h3>
      <p>设置下拉选项，可添加、删除、修改显示下拉选项信息</p>
    </div>
    <div class="outBox">
      <div class="optionsList">
        <div class="listTop">
          <i class="icon-iconfontadd iconfont" style="font-size:16px" @click="add"> 添加</i>
        </div>
        <div class="listMain">
          <div class="listTitle1">系统预置</div>
          <!-- <li :class="{active:activeNum===index}" v-for="(data,index) in tableData" :key="index" style="cursor:pointer;position:relative" @click="handleList(index,data,'dialogForm')">
            {{data.name+' -- '+data.displayName}}
          </li> -->
          <div v-for="(data,index) in tableData" :key="(data,index)">
            <el-tooltip placement="top">
              <div slot="content">{{data.name}} <span>--</span> {{data.displayName}}</div>
              <li class="listContent" :class="{active:activeNum === index}" @click="handleList(index,data,'dialogForm')" style="cursor:pointer">{{data.name}} -- {{data.displayName}}</li>
            </el-tooltip>
          </div>
        </div>
      </div>
      <div class="optionsForm">
        <div class="FormTop" style="font-size:16px">下拉选项信息 > {{this.topName}}</div>
        <el-form :model="dialogForm" label-position="left" :rules="rules" ref="dialogForm" label-width="80px" class="demo-ruleForm">
          <el-form-item label="名称" prop="nameVal">
            <el-input v-model="dialogForm.nameVal" placeholder="请输入名称" maxlength="64" :disabled="editFlag===0"></el-input>
          </el-form-item>
          <el-form-item label="中文名称" prop="showNameVal">
            <el-input v-model="dialogForm.showNameVal" maxlength="64" v-if="editFlag===0" disabled></el-input>
            <name-express @getExpress='getExpress' :initExpress='dialogForm.showNameVal' v-if="editFlag===1"></name-express>
          </el-form-item>
          <div class="collection">
            <div class="collectionTable">
              <el-table :data="collectionTableData" border class="el-form-item">
                <el-table-column prop="key" label="代码" width="" label-class-name='require'>
                  <template slot-scope="scope">
                    <span v-if="editFlag===0">{{ scope.row.key }}</span>
                    <span v-if="editFlag===1" class="cell-edit-input">
                      <el-input v-model="scope.row.key" maxlength="64"></el-input>
                    </span>
                  </template>
                </el-table-column>
                <el-table-column prop="membersNum" label="名称" width="" label-class-name='require'>
                  <template slot-scope="scope">
                    <span v-if="editFlag===0">{{ scope.row.membersNum }}</span>
                    <span v-if="editFlag===1" class="cell-edit-input">
                      <el-input v-model="scope.row.membersNum" maxlength="100"></el-input>
                    </span>
                  </template>
                </el-table-column>
                <el-table-column prop="useCondition" label="启用" width="100">
                  <template slot-scope="scope">
                    <!-- <span v-if="editFlag===0">{{ scope.row.conditions }}</span>
                    <span v-if="editFlag===1" class="cell-edit-input">
                      <el-input v-model="scope.row.conditions" maxlength="100"></el-input>
                    </span> -->
                    <el-switch v-if="editFlag===0" v-model="scope.row.useCondition" active-color="#13ce66" inactive-color="#ff4949" disabled>
                    </el-switch>
                    <el-switch v-if="editFlag===1" v-model="scope.row.useCondition" active-color="#13ce66" inactive-color="#ff4949">
                    </el-switch>
                  </template>
                </el-table-column>
                <el-table-column fixed="right" label="操作" width="180">
                  <template slot-scope="scope">
                    <el-button @click="moveUp(scope.row,scope.$index)" type="text" size="small" :disabled="editFlag===0">上移</el-button>
                    <el-button @click="moveDown(scope.row,scope.$index)" type="text" size="small" :disabled="editFlag===0">下移</el-button>
                    <el-button @click="addCollection(scope.row,scope.$index)" type="text" size="small" :disabled="editFlag===0">新增</el-button>
                    <el-button @click="delCollection(scope.row,scope.$index)" type="text" size="small" :disabled="editFlag===0">删除</el-button>
                  </template>
                </el-table-column>
              </el-table>
            </div>
          </div>
          <div class="dialog-footer" style="display:flex;justify-content:flex-end;margin-top:16px;">
            <el-button v-if="editFlag===1" type="primary" @click="dialogConfirm('dialogForm')">保 存</el-button>
            <el-button v-if="editFlag===0" type="primary" @click="editChange('dialogForm')">编 辑</el-button>
            <el-button v-if="editFlag===0" type="danger" plain @click="del">删 除</el-button>
            <el-button v-if="editFlag===1" type="primary" plain @click="cancel">取 消</el-button>
          </div>
        </el-form>
      </div>
    </div>

  </div>
</template>
<script type="text/ecmascript-6">
import { nameReg, chineseReg } from '@/assets/js/comm/constant'
import nameExpress from '../../components/nameExpress/input.vue'
import ModelService from '../../assets/js/service/modelservice.js'
import storage from '../../assets/js/service/cacheservice.js'

export default {
  name: 'listModel',
  components: {
    nameExpress
  },
  data () {
    let checkName = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('名称不能为空'))
      }
      setTimeout(() => {
        if (!nameReg.test(value)) {
          callback(new Error('名称只允许为字母数字或者._-且不能数字开头'))
          return
        }
        callback()
      }, 300)
    }
    let checkDisplayName = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('中文名称不能为空'))
      }
      setTimeout(() => {
        if (!chineseReg.test(value)) {
          callback(new Error('中文名称只允许为中文'))
          return
        }
        callback()
      }, 300)
    }
    return {
      ishover: 0,
      saveNum: '',
      activeNum: 0,
      topName: '',
      editFlag: 0,
      time: 1,
      queryVal: '', // 查询输入框内容
      expressShow: false, // 显示名称
      expressTableData: [], // 显示名称组件表格
      tableData: [], // 表格数据
      collectionTableData: [], // 成员表格
      dialogVisible: false, // dialog弹出控制
      mid: '',
      express: '',
      displayNameFormat: '',
      dialogForm: {
        nameVal: '', // 名称输入
        showNameVal: ''// 显示名称输入
      },
      rules: {
        nameVal: [
          {
            required: true,
            validator: checkName,
            trigger: 'blur'
          },
          { min: 0, max: 64, message: '长度不得超过64个字符', trigger: 'blur' }
        ],
        showNameVal: [
          {
            required: true,
            validator: checkDisplayName,
            trigger: 'blur'
          },
          { min: 0, max: 100, message: '长度不得超过100个字符', trigger: 'blur' }
        ]
      }
    }
  },
  created () {
    this.query()
    this.getExpressTableData()
    storage.getItem('appInfo').then(res => {
      // console.log(res)
      this.appName = res.appName
      this.appVersion = res.appVersion
    })
  },
  watch: {
    dialogForm: {
      handler: function (newV) {
        if (this.dialogVisible) {
          this.time++
          // console.log(this.time)
        }
      },
      deep: true
    }
  },
  methods: {
    getList (callback) {
      ModelService.queryByPage('pickvaluemodel',
        this.pageNo,
        this.pageSize,
        this.queryVal
      ).then((response) => {
        // console.log(response)
        if (response.code === 200) {
          let res = response.data
          if (res.list.length > 0) {
            let arr = []
            this.pageTotal = parseInt(res.totalRow)
            for (let item of res.list) {
              let Arr = []
              for (let list of item.pickValueItemList) {
                Arr.push(list.name)
              }
              arr.push({
                seq: item['seq'],
                mid: item['mid'],
                name: item['name'],
                displayName: item['displayName'],
                displayNameFormat: item['displayNameFormat'],
                useCondition: item['useCondition']
              })
            }
            // console.log(arr)
            this.tableData = [...arr]
            this.dialogForm.nameVal = this.tableData[0].name
            this.dialogForm.showNameVal = this.tableData[0].displayName
            this.getTableList()
          } else {
            // console.log(123, this.tableData)
            this.topName = ''
            this.dialogForm.nameVal = ''
            this.dialogForm.showNameVal = ''
            this.displayNameFormat = ''
            this.collectionTableData = []
            this.tableData = []
            // console.log(456, this.tableData)
          }
        } else {
          this.$messageService.error(response.message)
        }
        callback && callback()
      })
    },
    // 获取右边表格
    getTableList () {
      // console.log(this.tableData)
      if (this.tableData.length < 1) {
        // console.log('空')
      } else {
        ModelService.getModelInfo('pickvaluemodel', this.tableData[0].name).then((response) => {
          // console.log(response, response.code)
          if (response.code === 200) {
            let res = response.data
            // console.log(res)
            this.mid = res.mid
            this.dialogForm.nameVal = res.name
            this.dialogForm.showNameVal = res.displayName
            if (res.pickValueItemList.length > 0) {
              let arr = []
              for (let item of res.pickValueItemList) {
                arr.push({
                  seq: item['seq'],
                  key: item['key'],
                  membersNum: item['name'],
                  useCondition: item['useCondition'],
                  note: item['remark'],
                  mid: item['mid'],
                  pickValueId: item['pickValueId']
                })
              }
              this.collectionTableData = [...arr]
            } else {
              this.collectionTableData = []
            }
          }
        })
        this.activeNum = 0
        this.topName = this.tableData[0].name
      }
    },
    // 获取显示名称列表
    getExpressTableData () {
      ModelService.listAll('displaynamemodel').then((res) => {
        // console.log(res)
        if (res.code === 200) {
          if (res.data.length > 0) {
            let response = res.data
            let arr = []
            for (let item of response) {
              arr.push({
                name: item.name,
                showname: item.displayName
              })
            }
            this.expressTableData = [...arr]
          } else {
            this.expressTableData = []
          }
        } else {
          this.$messageService.error(res.message)
        }
      })
    },
    // 查询按钮
    query (callback) {
      this.pageNo = 1
      this.pageSize = 10000
      this.getList(callback)
    },
    // 添加按钮
    add () {
      if (this.saveNum) {
        this.$messageService.error('请先保存当前新增')
      } else {
        this.tableData.push({
          name: 'pickValue',
          displayName: '自定义选项'
        })
        this.topName = 'pickValue'
        this.activeNum = this.tableData.length - 1
        this.dialogForm.nameVal = 'pickValue'
        this.dialogForm.showNameVal = '自定义选项'
        this.displayNameFormat = '自定义选项'
        this.collectionTableData = []
        this.mid = ''
        for (let i = 0; i < 5; i++) {
          let emptyIem = {
            mid: '',
            pickValueId: '',
            key: '',
            membersNum: '',
            conditions: '',
            note: '',
            seq: this.collectionTableData.length + 1
          }
          this.collectionTableData.push(emptyIem)
        }
        this.editFlag = 1
        this.saveNum = 1
      }
    },
    // 点击左侧列表
    handleList (index, data, formName) {
      console.log(this.editFlag)
      if (this.editFlag === 1) {
        this.$confirm('是否取消当前编辑？', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.editFlag = 0
          this.activeNum = index
          this.$refs[formName].resetFields()
          this.topName = data.name
          if (data.mid) {
            ModelService.getModelInfo('pickvaluemodel', data.name).then((response) => {
              // console.log(response, response.code)
              if (response.code === 200) {
                let res = response.data
                this.mid = res.mid
                this.dialogForm.nameVal = res.name
                this.dialogForm.showNameVal = res.displayName
                if (res.pickValueItemList.length > 0) {
                  let arr = []
                  for (let item of res.pickValueItemList) {
                    arr.push({
                      seq: item['seq'],
                      key: item['key'],
                      membersNum: item['name'],
                      useCondition: item['useCondition'],
                      note: item['remark'],
                      mid: item['mid'],
                      pickValueId: item['pickValueId']
                    })
                  }
                  this.collectionTableData = [...arr]
                } else {
                  this.collectionTableData = []
                }
              }
            })
            this.time = 1
          } else {
            this.editFlag = 1
            this.mid = ''
            this.dialogForm.nameVal = ''
            this.dialogForm.showNameVal = ''
            this.collectionTableData = []
            for (let i = 0; i < 5; i++) {
              let emptyIem = {
                mid: '',
                pickValueId: '',
                key: '',
                membersNum: '',
                conditions: '',
                note: '',
                seq: this.collectionTableData.length + 1
              }
              this.collectionTableData.push(emptyIem)
            }
          }
        })
      } else {
        this.activeNum = index
        this.$refs[formName].resetFields()
        this.topName = data.name
        if (data.mid) {
          ModelService.getModelInfo('pickvaluemodel', data.name).then((response) => {
            // console.log(response, response.code)
            if (response.code === 200) {
              let res = response.data
              this.mid = res.mid
              this.dialogForm.nameVal = res.name
              this.dialogForm.showNameVal = res.displayName
              if (res.pickValueItemList.length > 0) {
                let arr = []
                for (let item of res.pickValueItemList) {
                  arr.push({
                    seq: item['seq'],
                    key: item['key'],
                    membersNum: item['name'],
                    useCondition: item['useCondition'],
                    note: item['remark'],
                    mid: item['mid'],
                    pickValueId: item['pickValueId']
                  })
                }
                this.collectionTableData = [...arr]
              } else {
                this.collectionTableData = []
              }
            }
          })
          this.time = 1
        } else {
          this.editFlag = 1
          this.mid = ''
          this.dialogForm.nameVal = ''
          this.dialogForm.showNameVal = ''
          this.collectionTableData = []
          for (let i = 0; i < 5; i++) {
            let emptyIem = {
              mid: '',
              pickValueId: '',
              key: '',
              membersNum: '',
              conditions: '',
              note: '',
              seq: this.collectionTableData.length + 1
            }
            this.collectionTableData.push(emptyIem)
          }
        }
      }
    },
    // 表格删除
    del (row, index) {
      // console.log(this.topName, this.mid)
      if (this.topName) {
        this.$confirm('此操作将永久删除' + '“' + this.topName + '”' + ', 是否继续 ? ', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          ModelService.deleteModel('pickvaluemodel', this.mid).then((res) => {
            if (res.code === 200) {
              this.query(() => {
                this.getTableList()
              })
              this.$messageService.success('删除成功')
            }
          })
        })
      } else {
        this.$messageService.error('未选择下拉选项')
      }
    },
    // 取消
    cancel () {
      if (this.mid) {
        // let arr = []
        // for (let item of this.collectionTableData) {
        //   if (item['key'] && item['membersNum']) {
        //     arr.push({
        //       membersNum: item['membersNum'],
        //       useCondition: item['useCondition'],
        //       pickValueId: item['pickValueId'],
        //       mid: item['mid'],
        //       seq: item['seq'],
        //       key: item['key']
        //     })
        //   }
        // }
        // this.collectionTableData = [...arr]
        ModelService.getModelInfo('pickvaluemodel', this.topName).then((response) => {
          // console.log(response, response.code)
          if (response.code === 200) {
            let res = response.data
            this.mid = res.mid
            this.dialogForm.nameVal = res.name
            this.dialogForm.showNameVal = res.displayName
            if (res.pickValueItemList.length > 0) {
              let arr = []
              for (let item of res.pickValueItemList) {
                arr.push({
                  seq: item['seq'],
                  key: item['key'],
                  membersNum: item['name'],
                  useCondition: item['useCondition'],
                  note: item['remark'],
                  mid: item['mid'],
                  pickValueId: item['pickValueId']
                })
                // console.log(seq)
              }
              // console.log(arr)
              this.collectionTableData = [...arr]
              // for (let i = 0; i < 5; i++) {
              //   let emptyIem = {
              //     mid: '',
              //     pickValueId: '',
              //     key: '',
              //     membersNum: '',
              //     conditions: '',
              //     note: '',
              //     seq: this.collectionTableData.length + 1
              //   }
              //   this.collectionTableData.push(emptyIem)
              // }
            } else {
              this.collectionTableData = []
              // for (let i = 0; i < 5; i++) {
              //   let emptyIem = {
              //     mid: '',
              //     pickValueId: '',
              //     key: '',
              //     membersNum: '',
              //     conditions: '',
              //     note: '',
              //     seq: this.collectionTableData.length + 1
              //   }
              //   this.collectionTableData.push(emptyIem)
              // }
            }
          }
        })
        this.editFlag = 0
      } else {
        this.tableData.splice(this.activeNum, 1)
        this.getList()
        this.editFlag = 0
        delete this.saveNum
      }
    },
    getExpress (shownameResult, express) {
      this.expressShow = false
      this.dialogForm.showNameVal = shownameResult
      this.displayNameFormat = express
    },
    editChange (formName) {
      if (this.topName) {
        ModelService.getModelInfo('pickvaluemodel', this.topName).then((response) => {
          // console.log(response, response.code)
          if (response.code === 200) {
            let res = response.data
            this.mid = res.mid
            this.dialogForm.nameVal = res.name
            this.dialogForm.showNameVal = res.displayName
            if (res.pickValueItemList.length > 0) {
              let arr = []
              for (let item of res.pickValueItemList) {
                arr.push({
                  seq: item['seq'],
                  key: item['key'],
                  membersNum: item['name'],
                  useCondition: item['useCondition'],
                  note: item['remark'],
                  mid: item['mid'],
                  pickValueId: item['pickValueId']
                })
                // console.log(seq)
              }
              // console.log(arr)
              this.collectionTableData = [...arr]
              for (let i = 0; i < 5; i++) {
                let emptyIem = {
                  mid: '',
                  pickValueId: '',
                  key: '',
                  membersNum: '',
                  conditions: '',
                  note: '',
                  seq: this.collectionTableData.length + 1
                }
                this.collectionTableData.push(emptyIem)
              }
            } else {
              this.collectionTableData = []
              for (let i = 0; i < 5; i++) {
                let emptyIem = {
                  mid: '',
                  pickValueId: '',
                  key: '',
                  membersNum: '',
                  conditions: '',
                  note: '',
                  seq: this.collectionTableData.length + 1
                }
                this.collectionTableData.push(emptyIem)
              }
            }
          }
        })
        this.editFlag = 1
      } else {
        this.$messageService.error('未选择下拉选项')
      }
    },
    // dialog确定
    dialogConfirm (formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          let arr = []
          for (let item of this.collectionTableData) {
            if (item['key'] && item['membersNum']) {
              arr.push({
                name: item['membersNum'],
                useCondition: item['useCondition'],
                pickValueId: item['pickValueId'],
                remark: item['note'],
                // mid: item['mid'],
                seq: item['seq'],
                key: item['key']
              })
            }
            // console.log(arr)
          }
          if (this.dialogForm.nameVal === 'pickValue') {
            this.$messageService.error('名称已存在！')
            this.editChange()
          } else {
            ModelService.saveModel('pickvaluemodel', {
              mid: this.mid,
              pickValueItemList: [...arr],
              appName: this.appName,
              appVersion: this.appVersion,
              name: this.dialogForm.nameVal,
              displayName: this.dialogForm.showNameVal,
              displayNameFormat: this.displayNameFormat
            }).then((res) => {
              // console.log(res)
              if (res.code === 200) {
                this.express = ''
                this.$refs[formName].resetFields()
                this.query()
                // this.dialogVisible = false
                this.editFlag = 0
                this.$messageService.success('保存成功')
                delete this.saveNum
              }
            }).catch(() => {
              delete this.saveNum
            })
            this.query()
            this.dialogForm.nameVal = ''
            this.dialogForm.showNameVal = ''
            this.collectionTableData = []
          }
        } else {
          // this.editChange()
        }
      })
      // this.editFlag = 0
    },
    // 新增成员
    addCollection (row, index) {
      // console.log(index)
      let emptyIem = {
        mid: '',
        pickValueId: '',
        key: '',
        membersNum: '',
        conditions: '',
        note: '',
        seq: this.collectionTableData.length + 1
      }
      // this.collectionTableData.push(emptyIem)
      this.collectionTableData.splice(index + 1, 0, emptyIem)
      let num = 0
      for (let list of this.collectionTableData) {
        // console.log(list.seq)
        list.seq = num++
        // console.log(list.seq)
      }
    },
    // 上移
    moveUp (row, index) {
      // console.log(row, index)
      if (index === 0) {
        this.$messageService.warning('已经是第一条数据了')
      } else {
        [this.collectionTableData[index].seq, this.collectionTableData[index - 1].seq] = [this.collectionTableData[index - 1].seq, this.collectionTableData[index].seq]
        this.sortBySeq(this.collectionTableData)
      }
    },
    // 下移
    moveDown (row, index) {
      // console.log(row, index)
      if (index === this.collectionTableData.length - 1) {
        this.$messageService.warning('已经是最后一条数据了')
      } else {
        [this.collectionTableData[index].seq, this.collectionTableData[index + 1].seq] = [this.collectionTableData[index + 1].seq, this.collectionTableData[index].seq]
        this.sortBySeq(this.collectionTableData)
      }
    },
    // 排序
    sortBySeq (arr) {
      arr.sort((a, b) => {
        return a.seq - b.seq
      })
    },
    // 删除成员
    delCollection (row, index) {
      // console.log(row)
      if (!row.key && !row.membersNum) {
        this.collectionTableData.splice(index, 1)
        this.$messageService.success('删除成功')
      } else {
        this.$confirm(`确认删除“${row.membersNum}”?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.collectionTableData.splice(index, 1)
          this.$messageService.success('删除成功')
        })
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.listModel {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  .listTitle {
    margin: 16px 0;
    height: 40px;
    h3 {
      line-height: 24px;
      font-weight: 700;
      font-size: 18px;
    }
    p {
      line-height: 16px;
      font-size: 14px;
      color: #999999;
    }
  }
  .outBox {
    width: 100%;
    display: flex;
    flex: 1;
    .optionsList {
      display: flex;
      flex-direction: column;
      width: 25%;
      // height: 100%;
      border: 1px solid #e4e7ed;
      box-sizing: border-box;
      .listTop {
        width: 100%;
        cursor: pointer;
        box-sizing: border-box;
        line-height: 40px;
        height: 40px;
        border-bottom: 1px solid #e4e7ed;
        .iconfont {
          float: right;
          margin-right: 15px;
          color: #409eff;
        }
      }
      .listMain {
        width: 100%;
        flex: 1;
        .listTitle1 {
          padding: 8px;
          font-size: 16px;
        }
        li {
          width: 100%;
          list-style: none;
          padding: 10px;
          padding-left: 20px;
          box-sizing: border-box;
          font-size: 14px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          // width:360px;
        }
        .listContent:hover {
          background: #f5f8fb;
        }
      }
    }
    .optionsForm {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 100%;
      border: 1px solid #e4e7ed;
      border-left: 0;
      box-sizing: border-box;
      .FormTop {
        line-height: 40px;
        height: 40px;
        width: 100%;
        border-bottom: 1px solid #e4e7ed;
        box-sizing: border-box;
        padding: 0 16px;
      }
      .demo-ruleForm {
        margin-top: 16px;
        box-sizing: border-box;
        padding: 0 16px;
        width: 100%;
        .collection {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          .collectionTable {
            margin-top: 16px;
            width: 100%;
            position: relative;
            .el-table {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
.active {
  background-color: #f5f8fb;
}
</style>
<style lang='scss'>
.listModel {
  .require {
    & > div {
      &::before {
        content: "* ";
        color: red;
      }
    }
  }
}
.listModel .optionsForm .el-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.listModel .optionsForm .el-form-item {
  width: 48%;
}
// .listModel .optionsForm .switch {
//   width: 48%;
//   display: flex;
//   align-items: center;
//   margin-bottom: 16px;
// }
.listModel .optionsForm .dialog-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.listModel .optionsForm.el-table {
  width: 100%;
}
// .listModel .el-form-item__label {
//   height: 32px;
//   line-height: 32px;
// }
// .listModel .el-input__inner,
// .el-form-item__content {
//   height: 32px;
//   line-height: 32px;
// }
</style>
