<template>
  <div class="wordModel">
    <div class="listTitle">
      <h3>字段模板</h3>
      <p>设置字段字典，可添加、删除、修改显示字段模板</p>
    </div>
    <div class="outBox">
      <div class="optionsList">
        <div class="listTop" @click="addChild">
          <i class="icon-iconfontadd iconfont" style="font-size:16px"> 添加</i>
        </div>
        <ul class="listMain">
          <div v-for="(item,index) in wordList" :key="(item,index)">
            <el-tooltip placement="top">
              <div slot="content">{{item.name}} <span>--</span> {{item.displayName}}</div>
              <li class="listContent" :class="{active:activeNum === index}" @click="changeCli(index,item)">{{item.name}} -- {{item.displayName}}</li>
            </el-tooltip>
          </div>
        </ul>
      </div>
      <div class="optionsForm">
        <div class="listTop">
          字段信息 > {{info}}
        </div>
        <div class="contentBox">
          <el-form :model="dialogForm" label-position="right" :rules="rules" ref="dialogForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="字段代码" prop="name">
              <el-input v-model="dialogForm.name" placeholder="请输入名称" maxlength="64"></el-input>
            </el-form-item>
            <el-form-item label="中文名称" prop="displayName">
              <name-express @getExpress='getExpress' :initExpress='dialogForm.displayNameFormat'></name-express>
            </el-form-item>
            <el-form-item label="数据类型" prop="typeOption">
              <el-select v-model="dialogForm.typeOption" placeholder="数据类型（名称，最大长度）" style="width:100%">
                <el-option v-for='item in dataKind' :key='item.key' :label='item.value' :value='item.key'></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="字段长度" prop="length">
              <div style="width:100%;display:flex;justify-content:space-between;">
                <el-input v-model="dialogForm.length" placeholder="请输入内容" type="number" maxlength="4" style="width:58%;"></el-input><span style="width:20px;text-align:center;"> -- </span>
                <el-input v-model="dialogForm.digits" placeholder="请输入内容" type="number" :disabled="isdisabled" maxlength="4" style="width:30%;"></el-input>
              </div>
            </el-form-item>
            <el-form-item label="默认值" prop="default">
              <el-input v-model="dialogForm.default" placeholder="请输入默认值" maxlength="100"></el-input>
            </el-form-item>
            <el-form-item label="备注" prop="note" class="note">
              <el-input v-model="dialogForm.note" style="height:100%;overflow-y:visible"></el-input>
            </el-form-item>
            <div class="dialog-footer">
              <el-button type="primary" @click="dialogConfirm('dialogForm')">保 存</el-button>
              <el-button type="danger" plain @click="del(dialogForm)">删 除</el-button>
            </div>
          </el-form>
        </div>
      </div>
    </div>
  </div>
</template>
<script type="text/ecmascript-6">
import nameExpress from '@/components/nameExpress/input.vue'
import ModelService from '../../assets/js/service/modelservice.js'
import storage from '../../assets/js/service/cacheservice.js'
import { pageCommon } from '../../assets/js/mixin/mixin.js'
import { typeOptions } from '@/assets/js/data/data'
import { mapState, mapActions } from 'vuex'
export default {
  name: 'wordModel',
  components: {
    nameExpress
  },
  mixins: [pageCommon],
  data () {
    let checkNum = (rule, value, callback) => {
      let re = /(^[1-9]\d*$)/
      if (!value) {
        return callback(new Error('请输入数据长度'))
      }
      setTimeout(() => {
        if (!re.test(value)) {
          callback(new Error('请输入正确的数据长度'))
        } else {
          callback()
        }
      }, 1000)
    }
    let checkName = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('名称不能为空'))
      }
      setTimeout(() => {
        let pattern = /^[a-zA-Z0-9_\.-]{1}$/
        for (let key in value) {
          if (!pattern.test(value[key])) {
            callback(new Error('名称只允许为字母数字或者._-等符号'))
            return
          }
        }
        callback()
      }, 300)
    }
    let checkDisplayName = (rule, value, callback) => {
      let checkN = /^[\u4e00-\u9fa5]+$/
      if (!value) {
        return callback(new Error('请输入中文名称'))
      }
      setTimeout(() => {
        if (!checkN.test(value)) {
          callback(new Error('请输入正确的中文名称,中文名称只允许中文组成'))
        } else {
          callback()
        }
      }, 1000)
    }
    return {
      activeNum: 0,
      wordList: [
        {
        }
      ],
      dialogForm: { // 弹出框
        name: '',
        displayName: '',
        displayNameFormat: '',
        default: '',
        length: '',
        digits: '',
        typeOption: '',
        note: ''
      },
      // 表单验证规则
      rules: {
        name: [
          { required: true, validator: checkName, trigger: 'blur' }
        ],
        displayName: [
          { required: true, validator: checkDisplayName, trigger: 'blur' }
        ],
        typeOption: [
          { required: true, message: '请选择数据类型', trigger: 'blur' }
        ],
        length: [
          { required: true, validator: checkNum, trigger: 'blur' }
        ]
      },
      time: 1,
      expressTableData: [], // 显示名称组件表格
      express: '', // 数据类型显示内容
      tableData: [], // 字典表格数据
      typeOptions, // 下拉数据列表
      displayNameFormat: '',
      queryVal: '',
      nocreat: true,
      isdisabled: true,
      info: '', // 字段信息
      isAdd: false,
      saveNum: ''
    }
  },
  created () {
    this.pageSize = 10000
    this.getDataKind()
    this.getExpressTableData()
    this.getList()
    storage.getItem('appInfo').then(res => {
      // console.log(res)
      this.appName = res.appName
      this.appVersion = res.appVersion
    })
  },
  computed: {
    ...mapState('options', ['dataKind']),
    pokerHistory () {
      return this.dialogForm.typeOption
    }
  },
  watch: {
    pokerHistory (newValue, oldValue) {
      // console.log(newValue)
      if (newValue === 'Double' || newValue === 'Decimal') {
        this.isdisabled = false
      } else {
        this.isdisabled = true
      }
    },
    dialogForm: {
      handler: function (newV) {
        // if (this.isAdd) {
        // this.time++
        // console.log(this.time)
        // }
        this.time++
      },
      deep: true
    }
  },
  methods: {
    ...mapActions('options', ['getDataKind']),
    // 获取list
    getList () {
      ModelService.queryByPage('fielddictmodel',
        this.pageNo,
        this.pageSize,
        this.queryVal
      ).then((response) => {
        // console.log(response)
        if (response.code === 200) {
          let res = response.data
          // console.log(res)
          if (res.list.length > 0) {
            let arr = []
            this.pageTotal = parseInt(res.totalRow)
            for (let item of res.list) {
              arr.push({
                mid: item['mid'],
                name: item['name'],
                displayName: item['displayName'],
                typeOption: item['dataType'],
                default: item['defaultValue'],
                length: item['size'],
                digits: item['scale'],
                note: item['description'],
                displayNameFormat: item['displayNameFormat']
              })
            }
            // console.log(arr)
            this.wordList = [...arr]
            if (this.activeNum === 0) {
              if (this.wordList[0]) {
                this.info = this.wordList[0].name
                this.activeNum = 0
                for (let key in this.wordList[0]) {
                  console.log(key)
                  this.dialogForm[key] = this.wordList[0][key]
                }
              }
            } else {
              this.info = this.wordList[this.activeNum].name
              for (let key in this.wordList[this.activeNum]) {
                this.dialogForm[key] = this.wordList[this.activeNum][key]
              }
            }
          } else {
            this.wordList = []
          }
        } else {
          this.$messageService.error(response.message)
        }
      })
    },
    // 新增
    addChild () {
      console.log(this.saveNum)
      if (this.saveNum) {
        this.$messageService.error('请先保存当前新增')
      } else {
        this.isAdd = true
        this.wordList.push({
          name: 'field1',
          displayName: '自定义1',
          displayNameFormat: '自定义1',
          default: '',
          length: '',
          digits: '',
          typeOption: '',
          note: '',
          mid: null
        })
        this.activeNum = this.wordList.length - 1
        this.info = 'field1'
        this.dialogForm = {
          name: '',
          displayName: '',
          displayNameFormat: '',
          default: '',
          length: '',
          digits: '',
          typeOption: '',
          note: ''
        }
        this.saveNum = 1
      }
    },
    // 获取显示名称列表
    getExpressTableData () {
      ModelService.listAll('displaynamemodel').then((res) => {
        // console.log(res)
        if (res.code === 200) {
          if (res.data.length > 0) {
            let response = res.data
            let arr = []
            for (let item of response) {
              arr.push({
                name: item.name,
                showname: item.displayName
              })
            }
            this.expressTableData = [...arr]
            // console.log(this.expressTableData)
          } else {
            this.expressTableData = []
          }
        } else {
          this.$messageService.error(res.message)
        }
      })
    },
    // 显示名称
    getExpress (shownameResult, express) {
      this.dialogForm.displayName = shownameResult
      this.dialogForm.displayNameFormat = express || shownameResult
    },
    // 点击list事件
    changeCli (val, list) {
      console.log(this.activeNum)
      console.log(val)
      if (this.wordList[this.activeNum].mid) {
        console.log(this.time)
        if (this.time > 2) {
          this.$confirm('修改项未保存，离开修改的数据将丢失，确认离开？', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            this.commonClickFct(val, list)
          })
        } else {
          this.commonClickFct(val, list)
        }
      } else {
        if (this.time > 2) {
          this.$confirm('修改项未保存，离开修改的数据将丢失，确认离开？', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            this.wordList.splice(this.activeNum, 1)
            this.commonClickFct(val, list)
          })
        } else {
          this.commonClickFct(val, list)
        }
      }
    },
    commonClickFct (val, list) {
      this.time = 1
      this.activeNum = val
      this.info = list.name
      for (let key in list) {
        this.dialogForm[key] = list[key]
      }
    },
    // 保存
    // dialog确定
    dialogConfirm (formName) {
      console.log(this.dialogForm)
      // 默认值不为空时，校验是否兼容数据类型
      // console.log(this.dialogForm, this.displayNameFormat)
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (this.dialogForm.default !== '') {
            if (this.dialogForm.typeOption === 'TinyInt' || this.dialogForm.typeOption === 'SmallInt' || this.dialogForm.typeOption === 'Integer' || this.dialogForm.typeOption === 'LongInteger' || this.dialogForm.typeOption === 'Decimal' || this.dialogForm.typeOption === 'Double' || this.dialogForm.typeOption === 'AutoNumber') {
              if (isNaN(this.dialogForm.default)) {
                this.$messageService.error('默认值和所选的数据类型不兼容')
              } else {
                this.commonFct()
              }
            } else if (this.dialogForm.typeOption === 'Boolean') {
              console.log(typeof (this.dialogForm.default))
              if (this.dialogForm.default === 'true' || this.dialogForm.default === 'false') {
                this.commonFct()
              } else {
                this.$messageService.error('默认值和所选的数据类型不兼容')
              }
            } else {
              this.commonFct()
            }
          } else {
            this.commonFct()
          }
        } else {
          // console.log('error submit!!')
          return false
        }
      })
    },
    commonFct () {
      ModelService.saveModel('fielddictmodel', {
        mid: this.dialogForm.mid ? this.dialogForm.mid : null,
        name: this.dialogForm.name,
        displayName: this.dialogForm.displayName,
        displayNameFormat: this.dialogForm.displayNameFormat,
        dataType: this.dialogForm.typeOption,
        defaultValue: this.dialogForm.default,
        size: this.dialogForm.length,
        scale: this.dialogForm.digits,
        description: this.dialogForm.note,
        appName: this.appName,
        appVersion: this.appVersion
      }).then((res) => {
        // console.log(res)
        if (res.code === 200) {
          // this.$refs[formName].resetFields()
          delete this.saveNum
          this.time = 1
          this.getList()
          this.$messageService.success('保存成功')
        }
      })
    },
    // 删除
    del (row) {
      console.log(row)
      if (row.mid) {
        this.$confirm('此操作将永久删除' + '“' + row.name + '”' + ', 是否继续 ? ', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          ModelService.deleteModel('fielddictmodel', row.mid).then((res) => {
            if (res.code === 200) {
              this.getList()
              this.time = 1
              this.$messageService.success('删除成功')
              this.activeNum = 0
              console.log(this.wordList)
              if (this.wordList.length - 1 > 0) {
                console.log(111)
                this.info = this.wordList[0].name
                this.activeNum = 0
                for (let key in this.wordList[0]) {
                  console.log(key)
                  this.dialogForm[key] = this.wordList[0][key]
                }
              } else {
                console.log(222)
                this.info = ''
                this.dialogForm = {
                  name: '',
                  displayName: '',
                  displayNameFormat: '',
                  default: '',
                  length: '',
                  digits: '',
                  typeOption: '',
                  note: ''
                }
              }
              delete this.saveNum
            }
          })
        })
      } else {
        this.time = 1
        this.wordList.splice(this.activeNum, 1)
        this.activeNum = 0
        console.log(this.wordList)
        if (this.wordList.length > 0) {
          console.log(111)
          this.info = this.wordList[0].name
          this.activeNum = 0
          for (let key in this.wordList[0]) {
            console.log(key)
            this.dialogForm[key] = this.wordList[0][key]
          }
          delete this.saveNum
        } else {
          console.log(222)
          this.activeNum = 0
          this.info = ''
          this.dialogForm = {
            name: '',
            displayName: '',
            displayNameFormat: '',
            default: '',
            length: '',
            digits: '',
            typeOption: '',
            note: ''
          }
          delete this.saveNum
        }
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.wordModel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .listTitle {
    margin: 16px 0;
    height: 40px;
    h3 {
      line-height: 24px;
      font-weight: 700;
      font-size: 18px;
    }
    p {
      line-height: 16px;
      font-size: 14px;
      color: #999999;
    }
  }
  .outBox {
    display: flex;
    flex: 1;
    width: 100%;
    .optionsList {
      display: flex;
      flex-direction: column;
      width: 25%;
      // height: 100%;
      border: 1px solid #e4e7ed;
      box-sizing: border-box;
      .listTop {
        width: 100%;
        height: 40px;
        cursor: pointer;
        border-bottom: 1px solid #e4e7ed;
        box-sizing: border-box;
        .iconfont {
          line-height: 40px;
          float: right;
          margin-right: 15px;
          color: #409eff;
        }
      }
      .listMain {
        width: 100%;
        flex: 1;
        .listContent {
          list-style: none;
          padding: 10px;
          box-sizing: border-box;
          cursor: pointer;
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .listContent:hover {
          background: #f5f8fb;
        }
        .active {
          background: #f5f8fb;
        }
      }
    }
    .optionsForm {
      display: flex;
      flex-direction: column;
      flex: 1;
      height: 100%;
      border-top: 1px solid #e4e7ed;
      border-right: 1px solid #e4e7ed;
      border-bottom: 1px solid #e4e7ed;
      box-sizing: border-box;
      .listTop {
        width: 100%;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        border-bottom: 1px solid #e4e7ed;
        padding: 0 16px;
        box-sizing: border-box;
      }
      .contentBox {
        flex: 1;
        width: 100%;
        padding: 24px 16px 16px 16px;
        box-sizing: border-box;
        .el-form {
          width: 100%;
          height: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: flex-start;
          align-content: flex-start;
        }
        .el-form-item {
          width: 48% !important;
          height: 32px !important;
          line-height: 32px !important;
          margin-bottom: 18px !important;
        }
        .dialog-footer {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          // margin-top: 302px;
          // align-items: flex-end;
        }
      }
    }
  }
}
</style>
<style>
.wordModel .el-form-item__label {
  height: 32px !important;
  line-height: 32px !important;
}
.wordModel .el-input__inner,
.wordModel .el-form-item__content {
  height: 32px !important;
  line-height: 32px !important;
}
</style>
