<template>
  <div class='table3'>
    <div class="listTop">
      <div class="listTitle">
        <h3>显示名称维护</h3>
        <p>设置显示名称，可添加、删除、修改显示名称信息</p>
      </div>
      <div class="listButton">
        <div class="topRow">
          <el-input v-model="queryVal" placeholder="请输入需要搜索的名称" clearable @keyup.enter.native="query"></el-input>
        </div>
        <div class="topRow">
          <el-button type="primary" plain icon="el-icon-search" @click="query">查询</el-button>
        </div>
        <div class="topRow">
          <el-button type="primary" icon="el-icon-plus" @click="add">添加</el-button>
        </div>
      </div>
    </div>
    <div class="table">
      <el-table :data="tableData" border style="width: 100%">
        <el-table-column fixed type="index" label="序号" width="80">
        </el-table-column>
        <el-table-column prop="name" label="名称" label-class-name='require'>
          <template slot-scope="scope">
            <span v-if="!scope.row.editFlag">{{ scope.row.name }}</span>
            <span v-if="scope.row.editFlag" class="cell-edit-input">
              <el-input v-model="scope.row.name" maxlength="64"></el-input>
            </span>
          </template>
        </el-table-column>
        <el-table-column prop="showname" label="中文名称" label-class-name='require'>
          <template slot-scope="scope">
            <span v-if="!scope.row.editFlag">{{ scope.row.showname }}</span>
            <span v-if="scope.row.editFlag" class="cell-edit-input">
              <name-express @getExpress='getExpress' :initExpress='scope.row.displayNameFormat' @click.native="selectNameExpress(scope.row,'displayName')"></name-express>
            </span>
          </template>
        </el-table-column>
        <el-table-column prop="shortname" label="显示简称" label-class-name='require'>
          <template slot-scope="scope">
            <span v-if="!scope.row.editFlag">{{ scope.row.shortname }}</span>
            <span v-if="scope.row.editFlag" class="cell-edit-input">
              <el-input v-model="scope.row.shortname" maxlength="100"></el-input>
            </span>
          </template>
        </el-table-column>
        <el-table-column fixed="right" label="操作" width="100">
          <template slot-scope="scope">
            <el-button @click="edit(scope.row)" type="text" size="small" v-if='!scope.row.editFlag'>编辑</el-button>
            <el-button @click="save(scope.row)" type="text" size="small" v-else>保存</el-button>
            <el-button @click="del(scope.row,scope.$index)" type="text" size="small">
              <span v-if="!scope.row.newType">删除</span>
              <span v-else>取消</span>
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="pagination">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :page-sizes="pageSizeArray" :page-size="pageSize" :total="pageTotal" :current-page="pageNo" layout="total, sizes, prev, pager, next, jumper">
      </el-pagination>
    </div>
  </div>
</template>

<script>
import nameExpress from '../../components/nameExpress/input.vue'
import ModelService from '../../assets/js/service/modelservice.js'
import storage from '../../assets/js/service/cacheservice.js'
import { pageCommon } from '../../assets/js/mixin/mixin.js'

export default {
  name: 'name',
  components: {
    nameExpress
  },
  mixins: [pageCommon],
  data () {
    return {
      appVersion: '',
      appName: '',
      queryVal: '',
      tableData: [],
      focusRow: {},
      focusRowKey: '',
      expressShow: false,
      // editingCount: 0,
      expressTableData: [],
      express: ''
    }
  },
  created () {
    this.getExpressTableData()
    storage.getItem('appInfo').then(res => {
      this.appName = res.appName
      this.appVersion = res.appVersion
    })
  },
  watch: {
    queryVal (Nval) {
      if (Nval === '') {
        this.query()
      }
    }
  },
  methods: {
    getList () {
      ModelService.queryByPage('displaynamemodel',
        this.pageNo,
        this.pageSize,
        this.queryVal
      ).then((response) => {
        // console.log(response)
        if (response.code === 200) {
          let res = response.data
          if (res.list.length > 0) {
            let arr = []
            this.pageTotal = parseInt(res.totalRow)
            for (let item of res.list) {
              arr.push({
                mid: item['mid'],
                name: item['name'],
                showname: item['displayName'],
                displayNameFormat: item['displayNameFormat'],
                shortname: item['shortDisplayName'],
                editFlag: false
              })
            }
            // console.log(arr)
            this.tableData = [...arr]
          } else {
            this.tableData = []
          }
        } else {
          this.$messageService.error(response.message)
        }
      })
    },
    edit (row) {
      // console.log(row)
      row.editFlag = true
      // this.editingCount++
      row.newType = 1
      // console.log(row.displayNameFormat)
      // this.displayNameFormat = row.displayNameFormat
    },
    selectNameExpress (row, key) {
      this.focusRow = row
      this.focusRowKey = key
      this.expressShow = true
    },
    getExpressTableData () {
      ModelService.listAll('displaynamemodel').then((res) => {
        // console.log(res)
        if (res.code === 200) {
          if (res.data.length > 0) {
            let response = res.data
            let arr = []
            for (let item of response) {
              arr.push({
                name: item.name,
                showname: item.displayName
              })
            }
            this.expressTableData = [...arr]
            // console.log(this.expressTableData)
          } else {
            this.expressTableData = []
          }
        } else {
          this.$messageService.error(res.message)
        }
      })
    },
    getExpress (shownameResult, express) {
      // console.log('111', shownameResult)
      this.expressShow = false
      this.focusRow[this.focusRowKey] = shownameResult
      this.focusRow.displayNameFormat = express || shownameResult
    },
    save (row) {
      // console.log(row)
      //  || !row.displayNameFormat
      if (!row.name || !row.shortname) {
        this.$messageService.error('请输入必填字段')
        return
      } else {
        // console.log(this.express)
        ModelService.saveModel('displaynamemodel', {
          mid: row.mid,
          appName: this.appName,
          appVersion: this.appVersion,
          name: row.name,
          displayNameFormat: row.displayNameFormat,
          displayName: row.displayName,
          shortDisplayNameFormat: row.shortname
        }).then((res) => {
          if (res.code === 200) {
            this.$messageService.success('保存成功')
            this.research()
            this.express = ''
          } else {
            this.$messageService.error(res.message)
          }
        })
      }
      this.research()
      row.editFlag = false
      delete row.newType
    },
    del (row, index) {
      if (row.newType) {
        row.editFlag = false
        if (!row.name && !row.showname) {
          this.tableData.splice(index, 1)
          delete row.newType
        } else {
          this.research()
          delete row.newType
        }
      } else {
        this.$confirm(`确认删除“${row.name}”名称?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          if (!row.newType) {
            ModelService.deleteModel('displaynamemodel', row.mid).then((res) => {
              if (res.code === 200) {
                this.research()
                this.$messageService.success('删除成功')
                // this.editingCount = 0
              }
            })
          }
        })
      }
    },
    add () {
      this.getExpressTableData()
      var emptyIem = {
        name: '',
        showname: '',
        shortname: '',
        editFlag: true,
        newType: 1
      }
      this.tableData.unshift(emptyIem)
      this.editingCount++
    },
    query () {
      this.research()
    },
    research () {
      this.pageNo = 1
      this.getList()
    }
  }
}
</script>

<style scoped lang='scss'>
.table3 {
  background-color: #fff;
  padding: $content-box-righ-padding;
  box-sizing: border-box;
  border-radius: 5px;
  min-height: 100%;
  .listTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 16px 0;
    .listTitle {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h3 {
        line-height: 24px;
        font-weight: 700;
        font-size: 18px;
      }
      p {
        line-height: 16px;
        font-size: 14px;
        color: #999999;
      }
    }
    .listButton {
      display: flex;
      align-items: center;
      .topRow {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: 12px;
      }
    }
  }
  .h1 {
    font-size: 16px;
  }
  .viaTitle {
    font-size: 12px;
    margin-top: 5px;
    color: #999;
  }
  .searchBox {
    display: flex;
    justify-content: flex-start;
    .searchInput {
      margin-right: 10px;
    }
  }
  .table {
    // margin-top: 15px;
    margin-bottom: 32px;
  }
  .pagination {
    display: flex;
    justify-content: flex-end;
  }
}
</style>
