<template>
  <div class="list">
    <div class="listTop">
      <div class="listTitle">
        <h3>下拉选项维护</h3>
        <p>设置下拉选项，可添加、删除、修改显示下拉选项信息</p>
      </div>
      <div class="listButton">
        <div class="topRow">
          <el-input v-model="queryVal" placeholder="请输入需要搜索的名称" clearable @keyup.enter.native="query"></el-input>
        </div>
        <div class="topRow">
          <el-button type="primary" plain icon="el-icon-search" @click="query">查询</el-button>
        </div>
        <div class="topRow">
          <el-button type="primary" icon="el-icon-plus" @click="add">添加</el-button>
        </div>
      </div>
    </div>
    <div class="listTable">
      <el-table :data="tableData" border style="width: 100%">
        <el-table-column fixed type="index" label="序号" width="80">
        </el-table-column>
        <el-table-column fixed prop="name" label="名称" width="200">
        </el-table-column>
        <el-table-column prop="showName" label="中文名称" width="250">
        </el-table-column>
        <el-table-column prop="collection" label="成员集合" width="">
        </el-table-column>
        <el-table-column fixed="right" label="操作" width="100">
          <template slot-scope="scope">
            <el-button @click="edit(scope.row,scope.$index)" type="text" size="small">编辑</el-button>
            <el-button @click="del(scope.row,scope.$index)" type="text" size="small">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="listPagination">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :page-sizes="pageSizeArray" :page-size="pageSize" :total="pageTotal" :current-page="pageNo" layout="total, sizes, prev, pager, next, jumper">
      </el-pagination>
    </div>
    <!-- 新增编辑dialog -->
    <el-dialog title="下拉选项明细" :visible.sync="dialogVisible" class="dialog" :close-on-click-modal="false" :before-close="handleClose">
      <el-form :model="dialogForm" label-position="left" :rules="rules" ref="dialogForm" label-width="80px" class="demo-ruleForm">
        <el-form-item label="名称" prop="nameVal">
          <el-input v-model="dialogForm.nameVal" placeholder="请输入名称" maxlength="64"></el-input>
        </el-form-item>
        <el-form-item label="中文名称" prop="showNameVal">
          <name-express @getExpress='getExpress' :initExpress='dialogForm.showNameVal'></name-express>
        </el-form-item>
        <div class="collection">
          <div class="collectionTable">
            <el-table :data="collectionTableData" border style="width: 100%" height="300">
              <el-table-column prop="key" label="编码" width="" label-class-name='require'>
                <template slot-scope="scope">
                  <span class="cell-edit-input">
                    <el-input v-model="scope.row.key" maxlength="64"></el-input>
                  </span>
                </template>
              </el-table-column>
              <el-table-column prop="membersNum" label="枚举值名称" width="" label-class-name='require'>
                <template slot-scope="scope">
                  <span class="cell-edit-input">
                    <el-input v-model="scope.row.membersNum" maxlength="100"></el-input>
                  </span>
                </template>
              </el-table-column>
              <el-table-column prop="conditions" label="有效条件" width="">
                <template slot-scope="scope">
                  <span class="cell-edit-input">
                    <el-input v-model="scope.row.conditions" maxlength="100"></el-input>
                  </span>
                </template>
              </el-table-column>
              <el-table-column prop="note" label="备注" width="">
                <template slot-scope="scope">
                  <span class="cell-edit-input">
                    <el-input v-model="scope.row.note" maxlength="400"></el-input>
                  </span>
                </template>
              </el-table-column>
              <el-table-column fixed="right" label="操作" width="180">
                <template slot-scope="scope">
                  <el-button @click="moveUp(scope.row,scope.$index)" type="text" size="small">上移</el-button>
                  <el-button @click="moveDown(scope.row,scope.$index)" type="text" size="small">下移</el-button>
                  <el-button @click="addCollection(scope.row,scope.$index)" type="text" size="small">新增</el-button>
                  <el-button @click="delCollection(scope.row,scope.$index)" type="text" size="small">删除
                  </el-button>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
        <div class="dialog-footer" style="display:flex;justify-content:flex-end;margin-top:16px;">
          <el-button type="primary" @click="dialogConfirm('dialogForm')">保 存</el-button>
          <el-button type="primary" plain @click="dialogExit('dialogForm')">取 消</el-button>
        </div>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import nameExpress from '../../components/nameExpress/input.vue'
import ModelService from '../../assets/js/service/modelservice.js'
import storage from '../../assets/js/service/cacheservice.js'
import { pageCommon } from '../../assets/js/mixin/mixin.js'

export default {
  name: 'list',
  components: {
    nameExpress
  },
  mixins: [pageCommon],
  data () {
    let checkName = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('名称不能为空'))
      }
      setTimeout(() => {
        let pattern = /^[a-zA-Z0-9_\.-]{1}$/
        for (let key in value) {
          if (!pattern.test(value[key])) {
            callback(new Error('名称只允许为字母数字或者._-等符号'))
            return
          }
        }
        callback()
      }, 300)
    }
    return {
      time: 1,
      queryVal: '', // 查询输入框内容
      expressShow: false, // 显示名称
      expressTableData: [], // 显示名称组件表格
      tableData: [], // 表格数据
      collectionTableData: [], // 成员表格
      dialogVisible: false, // dialog弹出控制
      mid: '',
      express: '',
      displayNameFormat: '',
      dialogForm: {
        nameVal: '', // 名称输入
        showNameVal: ''// 显示名称输入
      },
      rules: {
        nameVal: [
          { required: true, validator: checkName, trigger: 'blur' }
        ],
        showNameVal: [
          { required: true, message: '请输入中文名称', trigger: 'blur' }
        ]
      }
    }
  },
  created () {
    this.getExpressTableData()
    storage.getItem('appInfo').then(res => {
      // console.log(res)
      this.appName = res.appName
      this.appVersion = res.appVersion
    })
  },
  watch: {
    queryVal (Nval) {
      if (Nval === '') {
        this.query()
      }
    },
    dialogForm: {
      handler: function (newV) {
        if (this.dialogVisible) {
          this.time++
          // console.log(this.time)
        }
      },
      deep: true
    }
  },
  methods: {
    getList () {
      ModelService.queryByPage('pickvaluemodel',
        this.pageNo,
        this.pageSize,
        this.queryVal
      ).then((response) => {
        // console.log(response)
        if (response.code === 200) {
          let res = response.data
          if (res.list.length > 0) {
            let arr = []
            this.pageTotal = parseInt(res.totalRow)
            for (let item of res.list) {
              let Arr = []
              for (let list of item.pickValueItemList) {
                Arr.push(list.name)
              }
              arr.push({
                seq: item['seq'],
                mid: item['mid'],
                name: item['name'],
                showName: item['displayName'],
                collection: Arr.join(',')
              })
            }
            // console.log(arr)
            this.tableData = [...arr]
          } else {
            this.tableData = []
          }
        } else {
          this.$messageService.error(response.message)
        }
      })
    },
    // 获取显示名称列表
    getExpressTableData () {
      ModelService.listAll('displaynamemodel').then((res) => {
        // console.log(res)
        if (res.code === 200) {
          if (res.data.length > 0) {
            let response = res.data
            let arr = []
            for (let item of response) {
              arr.push({
                name: item.name,
                showname: item.displayName
              })
            }
            this.expressTableData = [...arr]
            // console.log(this.expressTableData)
          } else {
            this.expressTableData = []
          }
        } else {
          this.$messageService.error(res.message)
        }
      })
    },
    // 查询按钮
    query () {
      this.pageNo = 1
      this.getList()
    },
    // 添加按钮
    add () {
      this.mid = ''
      this.dialogForm.nameVal = ''
      this.dialogForm.showNameVal = ''
      this.collectionTableData = []
      for (let i = 0; i < 5; i++) {
        let emptyIem = {
          mid: '',
          pickValueId: '',
          key: '',
          membersNum: '',
          conditions: '',
          note: '',
          seq: this.collectionTableData.length + 1
        }
        this.collectionTableData.push(emptyIem)
      }
      this.time = 1
      this.dialogVisible = true
    },
    // 表格编辑
    edit (data) {
      // console.log(data)
      ModelService.getModelInfo('pickvaluemodel', data.name).then((response) => {
        // console.log(response, response.code)
        if (response.code === 200) {
          let res = response.data
          this.mid = res.mid
          this.dialogForm.nameVal = res.name
          this.dialogForm.showNameVal = res.displayName
          if (res.pickValueItemList.length > 0) {
            let arr = []
            for (let item of res.pickValueItemList) {
              arr.push({
                seq: item['seq'],
                key: item['key'],
                membersNum: item['name'],
                conditions: item['useCondition'],
                note: item['remark'],
                mid: item['mid'],
                pickValueId: item['pickValueId'],
                editFlag: false
              })
              // console.log(seq)
            }
            // console.log(arr)
            this.collectionTableData = [...arr]
            for (let i = 0; i < 5; i++) {
              let emptyIem = {
                mid: '',
                pickValueId: '',
                key: '',
                membersNum: '',
                conditions: '',
                note: '',
                seq: this.collectionTableData.length + 1
              }
              this.collectionTableData.push(emptyIem)
            }
          } else {
            this.collectionTableData = []
            for (let i = 0; i < 5; i++) {
              let emptyIem = {
                mid: '',
                pickValueId: '',
                key: '',
                membersNum: '',
                conditions: '',
                note: '',
                seq: this.collectionTableData.length + 1
              }
              this.collectionTableData.push(emptyIem)
            }
          }
        }
      })
      this.time = 1
      this.dialogVisible = true
    },
    // 表格删除
    del (row, index) {
      this.$confirm('此操作将永久删除' + '“' + row.name + '”' + ', 是否继续 ? ', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        ModelService.deleteModel('pickvaluemodel', row.mid).then((res) => {
          if (res.code === 200) {
            this.query()
            this.$messageService.success('删除成功')
          }
        })
      })
    },
    getExpress (shownameResult, express) {
      this.expressShow = false
      this.dialogForm.showNameVal = shownameResult
      this.express = express || shownameResult
    },
    // dialog确定
    dialogConfirm (formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          let arr = []
          for (let item of this.collectionTableData) {
            if (item['key'] && item['membersNum']) {
              arr.push({
                name: item['membersNum'],
                useCondition: item['conditions'],
                pickValueId: item['pickValueId'],
                remark: item['note'],
                // mid: item['mid'],
                seq: item['seq'],
                key: item['key']
              })
            }
            // console.log(arr)
          }
          this.express ? this.displayNameFormat = this.express : this.displayNameFormat = this.showNameVal
          ModelService.saveModel('pickvaluemodel', {
            mid: this.mid,
            pickValueItemList: [...arr],
            appName: this.appName,
            appVersion: this.appVersion,
            name: this.dialogForm.nameVal,
            displayName: this.dialogForm.showNameVal,
            displayNameFormat: this.displayNameFormat
          }).then((res) => {
            // console.log(res)
            if (res.code === 200) {
              this.express = ''
              this.$refs[formName].resetFields()
              this.query()
              this.dialogVisible = false
              this.$messageService.success('保存成功')
            }
          })
          this.query()
        } else {
          return false
        }
      })
    },
    // dialog取消
    dialogExit (formName) {
      if (this.time > 2) {
        this.$confirm(`是否放弃当前编辑并退出？`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$refs[formName].resetFields()
          this.query()
          this.dialogVisible = false
          this.time = 1
        })
      } else {
        this.$refs[formName].resetFields()
        this.query()
        this.dialogVisible = false
        this.time = 1
      }
    },
    handleClose () {
      this.dialogExit('dialogForm')
    },
    // 新增成员
    addCollection (row, index) {
      // console.log(index)
      let emptyIem = {
        mid: '',
        pickValueId: '',
        key: '',
        membersNum: '',
        conditions: '',
        note: '',
        seq: this.collectionTableData.length + 1
      }
      // this.collectionTableData.push(emptyIem)
      this.collectionTableData.splice(index + 1, 0, emptyIem)
      let num = 0
      for (let list of this.collectionTableData) {
        // console.log(list.seq)
        list.seq = num++
        // console.log(list.seq)
      }
    },
    // 上移
    moveUp (row, index) {
      // console.log(row, index)
      if (index === 0) {
        this.$messageService.warning('已经是第一条数据了')
      } else {
        [this.collectionTableData[index].seq, this.collectionTableData[index - 1].seq] = [this.collectionTableData[index - 1].seq, this.collectionTableData[index].seq]
        this.sortBySeq(this.collectionTableData)
      }
    },
    // 下移
    moveDown (row, index) {
      // console.log(row, index)
      if (index === this.collectionTableData.length - 1) {
        this.$messageService.warning('已经是最后一条数据了')
      } else {
        [this.collectionTableData[index].seq, this.collectionTableData[index + 1].seq] = [this.collectionTableData[index + 1].seq, this.collectionTableData[index].seq]
        this.sortBySeq(this.collectionTableData)
      }
    },
    // 排序
    sortBySeq (arr) {
      arr.sort((a, b) => {
        return a.seq - b.seq
      })
    },
    // 删除成员
    delCollection (row, index) {
      // console.log(row)
      if (!row.key && !row.membersNum) {
        this.collectionTableData.splice(index, 1)
        this.$messageService.success('删除成功')
      } else {
        this.$confirm(`确认删除“${row.membersNum}”?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.collectionTableData.splice(index, 1)
          this.$messageService.success('删除成功')
        })
      }
    }
  }
}
</script>

<style scoped lang='scss'>
.list {
  background-color: #fff;
  padding: $content-box-righ-padding;
  box-sizing: border-box;
  border-radius: 5px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  .listTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 16px 0;
    .listTitle {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h3 {
        line-height: 24px;
        font-weight: 700;
        font-size: 18px;
      }
      p {
        line-height: 16px;
        font-size: 14px;
        color: #999999;
      }
    }
    .listButton {
      display: flex;
      align-items: center;
      .topRow {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: 12px;
      }
    }
  }
  .listTable {
    width: 100%;
    margin-bottom: 32px;
    // margin-top: 16px;
    .el-input__inner {
      border: 0;
    }
  }
  .listPagination {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .dialog {
    .collection {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .collectionTable {
        margin-top: 16px;
        width: 100%;
        position: relative;
      }
    }
  }
}
</style>
<style>
</style>
<style lang='scss'>
.list {
  .el-dialog {
    width: 800px;
    .require {
      & > div {
        &::before {
          content: "* ";
          color: red;
        }
      }
    }
  }
}
.list .dialog .el-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.list .el-dialog {
  width: 800px;
}
.list .dialog .el-form-item {
  width: 48%;
}
.list .dialog .note {
  width: 100%;
}
.list .dialog .switch {
  width: 48%;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.list .dialog .dialog-footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.list .el-form-item__label {
  height: 32px;
  line-height: 32px;
}
.list .el-input__inner,
.list .el-form-item__content {
  height: 32px;
  line-height: 32px;
}
</style>
