<template>
  <div class="computeDetails">
    <el-steps :active="active" finish-status="success">
      <el-step title="功能模型" @click.native="stepClick('one',$event)"></el-step>
      <el-step title="数据模型" @click.native="stepClick('two',$event)"></el-step>
      <el-step title="计算模型" @click.native="stepClick('three',$event)"></el-step>
    </el-steps>
    <div class="mainBot">
      <div class="mainBotLeft">
        <div class="searchBox">
          <div class="searchTop" @click="showTree">
            <i class="icon-iconfontadd iconfont" style="font-size:16px">选取字段</i>
          </div>
          <div class="treeBorder" v-show="show===1">
            <el-scrollbar style="height:100%;overflow-y:hidden">
              <el-tree :data="fieldData" show-checkbox default-expand-all node-key="onlyName" :default-checked-keys="fieldNameList" ref="tree" highlight-current :props="defaultProps" @check-change="checkNode"></el-tree>
            </el-scrollbar>
            <div class="button">
              <el-button type="primary" @click="clickDone">确定</el-button>
            </div>
          </div>
        </div>
        <div class="fieldTree" style="overflow-y:hidden;width:100%;height:100%;">
          <el-scrollbar style="height:100%;overflow-y:hidden">
            <div class="tree" v-show="show===0" style="overflow:auto;">
              <el-tree default-expand-all :data="data" :props="defaultProps" @node-click="handleNodeClick"></el-tree>
            </div>
          </el-scrollbar>
        </div>
      </div>
      <div class="mainBotRight">
        <el-tabs v-model="activeName" @tab-click="handleClick" class="el-form-item">
          <el-tab-pane label="计算规则" name="first">
            <div class="expressTable">
              <el-table :data="expressTableData" style="width: 100%" height="380" class="rightTable">
                <el-table-column prop="condition" label="使用条件" width label-class-name="require">
                  <template slot-scope="scope">
                    <span class="cell-edit-input">
                      <el-input v-model="scope.row.condition">
                        <i slot="suffix" class="el-input__icon el-icon-more" @click="conditionsEdit(scope.row,scope.$index)"></i>
                      </el-input>
                    </span>
                  </template>
                </el-table-column>
                <el-table-column prop="expression" label="计算规则" width label-class-name="require">
                  <template slot-scope="scope">
                    <span class="cell-edit-input">
                      <el-input v-model="scope.row.expression">
                        <i slot="suffix" class="el-input__icon el-icon-more" @click="expressionEdit(scope.row,scope.$index)"></i>
                      </el-input>
                    </span>
                  </template>
                </el-table-column>
                <el-table-column fixed prop="comment" label="备注" width label-class-name="require">
                  <template slot-scope="scope">
                    <span class="cell-edit-input">
                      <el-input v-model="scope.row.comment"></el-input>
                    </span>
                  </template>
                </el-table-column>
                <el-table-column label="排序" width="60">
                  <template slot-scope="scope">
                    <el-button type="text" size="small" icon="el-icon-arrow-up" @click="expressionUp(scope.row,scope.$index)"></el-button>
                    <el-button type="text" size="small" icon="el-icon-arrow-down" @click="expressionDown(scope.row,scope.$index)" style="margin-left:0"></el-button>
                  </template>
                </el-table-column>
                <el-table-column fixed="right" label="操作" width="100">
                  <template slot-scope="scope">
                    <el-button @click="addExpress(scope.row,scope.$index)" type="text" size="small">新增</el-button>
                    <el-button @click="delExpress(scope.row,scope.$index)" type="text" size="small">删除</el-button>
                  </template>
                </el-table-column>
              </el-table>
            </div>
          </el-tab-pane>
          <el-tab-pane label="验证规则" name="second">
            <div class="checkTable">
              <el-table :data="checkTableData" style="width: 100%" height="380">
                <!-- <el-table-column fixed prop="code" label="错误码" width="">
                  <template slot-scope="scope">
                    <span class="cell-edit-input">
                      <el-input v-model="scope.row.code"></el-input>
                    </span>
                  </template>
                </el-table-column>-->
                <el-table-column prop="invalidMessage" label="错误消息" width label-class-name="require">
                  <template slot-scope="scope">
                    <span class="cell-edit-input">
                      <el-input v-model="scope.row.invalidMessage"></el-input>
                    </span>
                  </template>
                </el-table-column>
                <el-table-column fixed prop="errCondition" label="错误条件" width label-class-name="require">
                  <template slot-scope="scope">
                    <span class="cell-edit-input">
                      <el-input v-model="scope.row.errCondition">
                        <i slot="suffix" class="el-input__icon el-icon-more" @click="errConditionsEdit(scope.row,scope.$index)"></i>
                      </el-input>
                    </span>
                  </template>
                </el-table-column>
                <el-table-column prop="invalidArgs" label="参数" width>
                  <template slot-scope="scope">
                    <span class="cell-edit-input">
                      <el-input v-model="scope.row.invalidArgs"></el-input>
                    </span>
                  </template>
                </el-table-column>
                <!-- <el-table-column fixed prop="comment" label="备注" width="">
                  <template slot-scope="scope">
                    <span class="cell-edit-input">
                      <el-input v-model="scope.row.comment"></el-input>
                    </span>
                  </template>
                </el-table-column>-->
                <el-table-column label="排序" width="60">
                  <template slot-scope="scope">
                    <el-button type="text" size="small" icon="el-icon-arrow-up" @click="checkUp(scope.row,scope.$index)"></el-button>
                    <el-button type="text" size="small" icon="el-icon-arrow-down" @click="checkDown(scope.row,scope.$index)" style="margin-left:0"></el-button>
                  </template>
                </el-table-column>
                <el-table-column fixed="right" label="操作" width="100">
                  <template slot-scope="scope">
                    <el-button @click="addCheck(scope.row,scope.$index)" type="text" size="small">新增</el-button>
                    <el-button @click="delCheck(scope.row,scope.$index)" type="text" size="small">删除</el-button>
                  </template>
                </el-table-column>
              </el-table>
            </div>
          </el-tab-pane>
        </el-tabs>
      </div>
    </div>
    <div class="foot">
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="prev">上一步</el-button>
        <el-button type="primary" @click="edit" v-show="clickType===1">编 辑</el-button>
        <el-button type="primary" @click="saveCompute" v-show="clickType!==1">保存草稿</el-button>
        <!-- <el-button type="primary" @click="submitCompute" v-show="clickType!=='1'">保 存</el-button> -->
        <el-button type="primary" plain @click="dialogExit">取 消</el-button>
        <!-- <el-button type="primary">下一步</el-button> -->
      </span>
    </div>
    <!-- </el-dialog> -->
    <computeDialog ref="computeDialog" v-on:getConditions="getConditions" :textarea="textarea" :codeTreeData="data" :funTreeData="funTreeData"></computeDialog>
  </div>
</template>

<script>
import nameExpress from '../../components/nameExpress/input.vue'
import computeDialog from '../../components/computeDialog/index'
import ModelService from '../../assets/js/service/modelservice.js'
import storage from '../../assets/js/service/cacheservice.js'

export default {
  name: 'computeDetails',
  components: {
    nameExpress,
    computeDialog
  },
  data () {
    return {
      funTreeData: [
        {
          name: 'String',
          displayName: '字符串',
          children: [
            {
              name: 'SubString',
              value: 'SUBSTRING(,,)',
              tips: '求子串'
            },
            {
              name: 'ToString',
              value: 'TOSTRING()',
              tips: '转成字符串'
            }
          ]
        },
        {
          name: 'Aggregate',
          displayName: '聚合',
          children: [
            {
              name: 'Count',
              value: 'COUNT()',
              tips: '计数'
            },
            {
              name: 'MAX',
              value: 'MAX(,)',
              tips: '最大值'
            },
            {
              name: 'MIN',
              value: 'MIN(,)',
              tips: '最小值'
            }
          ]
        }
      ],
      active: 2,
      addButton: 1,
      activeName: 'first',
      queryVal: '', // 查询输入框内容
      switchVal: false, // 只读状态开关
      codeArr: [],
      show: 0,
      fieldData: [], // 选字段
      data: [], // 字段树
      defaultProps: {
        children: 'children',
        label: 'name'
      },
      dataOptions: [], // 字段来源
      expressShow: false, // 显示名称
      expressTableData1: [],
      dialogVisible: false, // dialog
      tableData: [], // 表格数据
      dialogForm: {
        // 弹出框信息
        name: '',
        displayName: '',
        displayNameFormat: ''
      },
      // dataValue: '',
      checkTableData: [], // 逻辑验证表格数据
      expressTableData: [], // 表达式表格数据
      nowIndex: '',
      clickFlag: 1,
      textarea: '',
      parentName: '',
      childrenName: '',
      fieldModelList: [],
      childrenId: '',
      label: '',
      // express: '',
      mid: '',
      fieldNameList: [],
      way: 0,
      time: 0,
      optionValue: '',
      clickType: 1,
      dataTree: [], // 数据模型字段
      linkageName: '',
      status: ''
    }
  },
  created () {
    storage.getItem('appInfo').then(res => {
      // console.log(res)
      this.appName = res.appName
      this.appVersion = res.appVersion
    })
    this.clickType = parseInt(localStorage.getItem('clickType'))
    // this.status = localStorage.getItem('status')
    // console.log(this.clickType)
    storage
      .getItem('functionObj')
      .then(res => {
        console.log(res)
        // this.clickType = res.clickType
        this.linkageName = res.dataTree.linkageName
        this.dialogForm.name = res.lineName
        // console.log(this.dialogForm.name)
        this.dialogForm.displayName = res.displayName
        this.dialogForm.displayNameFormat = res.displayNameFormat
        this.status = res.status
        // console.log(this.status)
        if (this.clickType === '0') {
          this.add()
          this.getField()
        } else {
          // console.log(this.clickType, 'hahaha ')
          if (this.linkageName) {
            this.getField()
            this.getInfo()
          } else {
            // console.log('没有计算模型')
            this.add()
            this.getField()
            // storage.getItem('functionObj').then(res => {
            //   // console.log(typeof (res))
            //   // this.getfieldData(res.dataTree.name)
            //   console.log(res)
            //   this.dataTree = res.dataTree.children[0].children
            //   console.log(this.dataTree)
            //   if (this.dataTree.length > 0) {
            //     let arr = []
            //     for (let list of this.dataTree) {
            //       // console.log(list.name)
            //       let childrenList = []
            //       for (let item of list.children) {
            //         // console.log(item)
            //         childrenList.push({
            //           name: item.name + '(' + item.displayName + ')',
            //           dataFieldName: item.displayName,
            //           fieldName: item.name,
            //           parentName: list.name,
            //           id: item.id
            //         })
            //       }
            //       arr.push({
            //         children: [...childrenList],
            //         name: list.name
            //       })
            //     }
            //     this.fieldData = [...arr]
            //   }
            //   // console.log(this.fieldData)
            // })
          }
        }
      })
      .catch(err => {
        console.log(err)
      })
  },
  methods: {
    // 获取数据字段
    getField () {
      storage.getItem('functionObj').then(res => {
        // this.getfieldData(res.dataTree.name)
        this.dataTree = res.dataTree.children[0].children
        // console.log('>>>>>>>>>>>>>>', this.dataTree)
        if (this.dataTree.length > 0) {
          let arr = []
          for (let list of this.dataTree) {
            // console.log(list.name)
            let childrenList = []
            for (let item of list.children) {
              // console.log(item)
              childrenList.push({
                name: item.name + '(' + item.displayName + ')',
                dataFieldName: item.displayName,
                fieldName: item.name,
                onlyName: list.name + '.' + item.name,
                parentName: list.name,
                id: item.id
              })
            }
            arr.push({
              children: [...childrenList],
              name: list.name
            })
          }
          this.fieldData = [...arr]
        }
        // console.log(this.fieldData)
      })
    },
    // 步骤条点击事件
    stepClick (num, e) {
      // console.log(num, e)
      const className = e.target.className
      if (className.includes('el-step__icon')) {
        if (num === 'one' && this.active === 2) {
          this.$router.push({ name: 'functionDetail' })
        } else if (num === 'two' && this.active === 2) {
          this.prev()
          // this.$router.push({ name: 'secondGuide' })
        }
      }
    },
    // 点击编辑按钮
    edit () {
      this.clickType = 2
      localStorage.setItem('clickType', 2)
      // storage.getItem('functionObj').then(res => {
      //   let functionObj = res
      //   functionObj['clickType'] = 3
      //   storage.setItem('functionObj', functionObj)
      // })
    },
    // 获取字段树
    // getfieldData (val) {
    //   ModelService.getTables({}, val).then((response) => {
    //     // console.log(response)
    //     if (response.code === 200) {
    //       let res = response.data
    //       // console.log(res)
    //       if (res.length > 0) {
    //         let arr = []
    //         for (let list of res) {
    //           // console.log(list.name)
    //           let childrenList = []
    //           for (let item of list.defineFields) {
    //             // console.log(item)
    //             childrenList.push({
    //               name: item.name + '(' + item.displayName + ')',
    //               dataFieldName: item.displayName,
    //               fieldName: item.name,
    //               parentName: list.name,
    //               id: item.id
    //             })
    //           }
    //           arr.push({
    //             children: [...childrenList],
    //             name: list.name
    //           })
    //         }
    //         this.fieldData = [...arr]
    //       } else {
    //         this.fieldData = []
    //       }
    //     } else {
    //       this.$messageService.error(response.message)
    //     }
    //   })
    // },
    // 树节点点击
    handleNodeClick (data, node) {
      // this.checkTableData = []
      // console.log(data)
      this.childrenName = data.name
      this.childrenId = node.id
      // this.checkTableData = []
      this.checkTableData = data.linkageValidateModelList
      this.expressTableData = data.linkageExpressionModelList
      this.label = node.label
    },
    checkNode (data, flag) {
      // console.log('选中', data)
      for (let item of this.fieldData) {
        let children = []
        if (data.parentName) {
          if (data.parentName === item.name) {
            if (flag) {
              let arr1 = []
              let arr2 = []
              for (let i = 0; i < 3; i++) {
                arr1.push({
                  comment: '',
                  condition: '',
                  expression: ''
                })
                arr2.push({
                  errCondition: '',
                  invalidArgs: '',
                  invalidMessage: ''
                })
              }
              children.push({
                name: data.name,
                mid: data.mid,
                fieldId: data.id,
                dataFieldName: data.dataFieldName,
                fieldName: data.fieldName,
                linkageExpressionModelList: [...arr1],
                linkageValidateModelList: [...arr2]
              })
              if (this.data.length > 0) {
                let has = true
                this.data.map((v, i) => {
                  if (v.name === item.name) {
                    has = false
                    let arr = []
                    this.data[i].children.map(value => {
                      arr.push(value.fieldName)
                    })
                    if (arr.indexOf(children[0].fieldName) === -1) {
                      this.data[i].children.push(...children)
                    }
                  }
                })
                if (has) {
                  this.data.push({
                    children: children,
                    name: item.name
                  })
                }
              } else {
                this.data.push({
                  children: children,
                  name: item.name
                })
              }
            } else {
              this.data.map((v, i) => {
                if (v.name === item.name) {
                  v.children.map((val, ind) => {
                    if (data.fieldName === val.fieldName) {
                      this.data[i].children.splice(ind, 1)
                    }
                  })
                  if (this.data[i].children.length === 0) {
                    this.data.splice(i, 1)
                  }
                }
              })
            }
          }
        }
      }
    },
    // 确定按钮
    clickDone () {
      this.show = 0
    },
    // 点击选取字段
    showTree () {
      if (this.show === 0) {
        this.checkTableData = []
        this.expressTableData = []
        this.show = 1
      } else if (this.show === 1) {
        this.show = 0
      }
    },
    getConditions (textarea) {
      // console.log(this.clickFlag)
      if (this.clickFlag === 1) {
        this.expressTableData[this.nowIndex].condition = textarea
      } else if (this.clickFlag === 2) {
        this.expressTableData[this.nowIndex].expression = textarea
      } else if (this.clickFlag === 3) {
        this.checkTableData[this.nowIndex].errCondition = textarea
      }
    },
    // 添加按钮
    add () {
      // console.log(2)
      this.way = 0
      this.mid = ''
      this.data = []
      this.fieldData = []
      this.checkTableData = []
      this.expressTableData = []
      this.fieldNameList = []
      this.dialogVisible = true
    },
    // 获取详情
    getInfo () {
      // console.log('==============>' + this.status)
      ModelService.getModelInfo(
        'linkagemodel',
        this.dialogForm.name + '/' + this.status
      ).then(response => {
        console.log(response)
        if (response.code === 200) {
          let data = response.data
          if (data) {
            this.way = 1
            this.fieldNameList = []
            this.mid = data.mid
            this.dialogForm.name = data.name
            this.dialogForm.displayName = data.displayName
            this.dialogForm.displayNameFormat = data.displayNameFormat
            // this.dataValue = data.datasourceName
            this.expressTableData = []
            this.checkTableData = []
            let checkList = []
            if (data.tableList) {
              if (data.tableList.length > 0) {
                let dataList = data.tableList
                let arr = []
                for (let item of dataList) {
                  // console.log(item)
                  let array = []
                  for (let list of item.defineFields) {
                    checkList.push(item.name + '.' + list.fieldName)
                    // console.log(list)
                    if (list.linkageExpressionModelList.length === 0) {
                      list.linkageExpressionModelList.push({
                        comment: '',
                        condition: '',
                        expression: ''
                      })
                    }
                    if (list.linkageValidateModelList.length === 0) {
                      list.linkageValidateModelList.push({
                        errCondition: '',
                        invalidArgs: '',
                        invalidMessage: ''
                      })
                    }
                    array.push({
                      mid: list.mid,
                      fieldId: list.fieldId,
                      parentId: list.parentId,
                      comment: list.comment,
                      fieldName: list.fieldName,
                      dataFieldName: list.displayName,
                      name: list.fieldName + '(' + list.displayName + ')',
                      linkageExpressionModelList:
                        list.linkageExpressionModelList,
                      linkageValidateModelList: list.linkageValidateModelList
                    })
                  }
                  arr.push({
                    name: item.name,
                    children: [...array]
                  })
                }
                this.data = [...arr]
              } else {
                this.data = []
              }
            } else {
              console.log('不存在data')
            }
            // this.getfieldData()
            this.fieldNameList = [...checkList]
          } else {
          }
        } else {
        }
      })
    },
    // 保存草稿
    saveCompute () {
      // console.log(this.dialogForm)
      let array = []
      for (let list of this.data) {
        // console.log(list)
        for (let item of list.children) {
          // console.log(item.id)
          // console.log(item.linkageValidateModelList.filter(list => list.errCondition || list.invalidArgs || list.invalidMessage))
          array.push({
            tableName: list.name,
            linkageValidateModelList: item.linkageValidateModelList.filter(
              list =>
                list.errCondition || list.invalidArgs || list.invalidMessage
            ),
            linkageExpressionModelList: item.linkageExpressionModelList.filter(
              list => list.comment || list.condition || list.expression
            ),
            mid: item.mid,
            fieldId: item.fieldId,
            fieldName: item.fieldName,
            displayName: item.dataFieldName,
            parentId: item.parentId
          })
        }
      }
      this.fieldModelList = [...array]
      // console.log(this.fieldModelList)
      ModelService.saveModel('linkagemodel', {
        mid: this.mid,
        name: this.dialogForm.name,
        displayName: this.dialogForm.displayName,
        displayNameFormat: this.dialogForm.displayNameFormat,
        appName: this.appName,
        appVersion: this.appVersion,
        fieldModelList: this.fieldModelList,
        datasourceName: this.dialogForm.name
      }).then(res => {
        if (res.code === 200) {
          // this.query()
          this.$messageService.success('保存成功')
          // this.dialogVisible = false
          this.time = 0
          this.$router.push({ name: 'function' })
        } else {
          this.$messageService.error(res.message)
        }
      })
    },
    // dialog保存
    submitCompute () {
      // console.log(this.dialogForm)
      let array = []
      for (let list of this.data) {
        // console.log(list)
        for (let item of list.children) {
          // console.log(item.id)
          // console.log(item.linkageValidateModelList.filter(list => list.errCondition || list.invalidArgs || list.invalidMessage))
          array.push({
            tableName: list.name,
            linkageValidateModelList: item.linkageValidateModelList.filter(
              list =>
                list.errCondition || list.invalidArgs || list.invalidMessage
            ),
            linkageExpressionModelList: item.linkageExpressionModelList.filter(
              list => list.comment || list.condition || list.expression
            ),
            mid: item.mid,
            fieldId: item.fieldId,
            fieldName: item.fieldName,
            displayName: item.dataFieldName,
            parentId: item.parentId
          })
        }
        // console.log(array)
      }
      this.fieldModelList = [...array]
      // console.log(this.fieldModelList)
      ModelService.submitCompute({
        mid: this.mid,
        name: this.dialogForm.name,
        displayName: this.dialogForm.displayName,
        displayNameFormat: this.dialogForm.displayNameFormat,
        appName: this.appName,
        appVersion: this.appVersion,
        fieldModelList: this.fieldModelList,
        datasourceName: this.dialogForm.name
      }).then(res => {
        if (res.code === 200) {
          // this.query()
          this.$messageService.success('保存成功')
          // this.dialogVisible = false
          this.time = 0
          this.$router.push({ name: 'functionDetail' })
        } else {
          this.$messageService.error(res.message)
        }
      })
    },
    // dialog取消
    dialogExit () {
      if (
        !this.dialogForm.name &&
        !this.dialogForm.displayName &&
        this.way === 0
      ) {
        this.show = 0
        this.dialogVisible = false
        this.time = 0
        this.$router.push({
          name: 'function'
        })
      } else if (this.way === 1 && this.time <= 3) {
        this.show = 0
        this.dialogVisible = false
        this.time = 0
        this.$router.push({
          name: 'function'
        })
      } else {
        this.$confirm(`是否放弃当前编辑并退出？`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.show = 0
          this.dialogVisible = false
          this.time = 0
          this.$router.push({
            name: 'function'
          })
        })
      }
    },
    handleClick (tab, event) {
      // console.log(tab)
      if (tab.name === 'first') {
        this.addButton = 1
      } else {
        this.addButton = 0
      }
    },
    // 校验上下移动
    checkUp (row, index) {
      // console.log(row, index)
      this.checkTableData.splice(index, 1)
      this.checkTableData.splice(index - 1, 0, row)
    },
    checkDown (row, index) {
      // console.log(row, index)
      this.checkTableData.splice(index, 1)
      this.checkTableData.splice(index + 1, 0, row)
    },
    addCheck (row, index) {
      let emptyIem = {
        conditions: '',
        message: '',
        parameter: ''
      }
      this.checkTableData.splice(index + 1, 0, emptyIem)
    },
    // 校验保存
    saveCheck (row) {
      if (!row.errCondition || !row.invalidMessage || !row.invalidArgs) {
        this.$messageService.error('请输入完整信息')
      }
    },
    // 校验删除按钮
    delCheck (row, index) {
      // 请求删除接口
      // this.$messageService.success('删除成功')
      this.checkTableData.splice(index, 1)
    },
    addExpress (row, index) {
      if (this.childrenName) {
        let emptyIem = {
          comment: '',
          condition: '',
          expression: ''
        }
        this.expressTableData.splice(index + 1, 0, emptyIem)
      } else {
        this.$messageService.error('未选择字段')
      }
    },
    // 联动条件编辑
    conditionsEdit (row, index) {
      // console.log(row)
      this.textarea = row.condition
      this.clickFlag = 1
      this.nowIndex = index
      // console.log(row, index)
      this.$refs.computeDialog.dialogVisible = true
    },
    // 联动规则编辑
    expressionEdit (row, index) {
      this.textarea = row.expression
      this.clickFlag = 2
      // console.log(this.clickFlag)
      this.nowIndex = index
      this.$refs.computeDialog.dialogVisible = true
    },
    // 错误条件编辑
    errConditionsEdit (row, index) {
      this.textarea = row.errCondition
      this.clickFlag = 3
      // console.log(this.clickFlag)
      this.nowIndex = index
      this.$refs.computeDialog.dialogVisible = true
    },
    // 表达式上下移动
    expressionUp (row, index) {
      // console.log(row, index)
      this.expressTableData.splice(index, 1)
      this.expressTableData.splice(index - 1, 0, row)
    },
    expressionDown (row, index) {
      // console.log(row, index)
      this.expressTableData.splice(index, 1)
      this.expressTableData.splice(index + 1, 0, row)
    },
    // 表达式保存
    saveExpress (row, index) {
      if (!row.comment || !row.condition || !row.expression) {
        this.$messageService.error('请输入完整信息')
      }
    },
    // 表达式删除按钮
    delExpress (row, index) {
      // 请求删除接口
      // this.$messageService.success('删除成功')
      this.expressTableData.splice(index, 1)
    },
    prev () {
      this.$router.push({ name: 'secondGuide' })
    }
  }
}
</script>

<style scoped lang='scss'>
.computeDetails {
  background-color: #fff;
  padding: $content-box-righ-padding;
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: start;
  align-items: center;
  .el-steps {
    width: 60%;
    margin: 0 auto 20px;
  }
  .mainBot {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 100%;
    .mainBotLeft {
      height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 20%;
      .searchBox {
        width: 100%;
        height: 40px;
        position: relative;
        border-bottom: 2px solid #e4e7ed;
        box-sizing: border-box;
        .searchTop {
          border-radius: 4px;
          width: 100%;
          cursor: pointer;
          .iconfont {
            line-height: 40px;
            float: right;
            margin-right: 15px;
            color: #409eff;
          }
        }
        .treeBorder {
          width: 99%;
          height: 500px;
          border: 1px solid #dcdfe6;
          border-radius: 4px;
          position: absolute;
          z-index: 100;
          top: 38px;
          .el-tree {
            height: 88%;
            overflow-y: auto;
          }
          .button {
            margin-top: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .tree {
        width: 100%;
      }
    }
    .mainBotRight {
      width: 78%;
      height: 100%;
      position: relative;
      .addButton {
        z-index: 100;
        position: absolute;
        right: 6px;
        top: 6px;
      }
    }
  }
  .foot {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
  }
  .info {
    vertical-align: bottom;
    padding: 8px 25px;
    font-size: 14px;
  }
}
</style>
<style>
.computeDetails .el-dialog {
  width: 1000px;
}
.computeDetails .el-input__icon {
  line-height: 32px;
}
.computeDetails .tree .is-current > .el-tree-node__content {
  background: #f5f8fb;
}
.computeDetails .el-scrollbar__wrap {
  overflow-x: hidden;
}
</style>
