<div>
  <el-tabs v-model="activeName">
    <el-tab-pane label="表属性" name='first'>
      <el-form :model="relationTableForm" ref="relationTableForm" :rules="rules" label-width="120px" class="form">
        <el-form-item label="来源功能" prop="sourceName">
          <el-select v-model="relationTableForm.sourceName" placeholder="请选择" @change='selectModel'>
            <el-option v-for='item in dataModelList' :key='item.name' :label='item.name' :value='item.name'></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="数据集" prop="dataTableIndex">
          <el-select v-model="relationTableForm.dataTableIndex" placeholder="请选择" @change='getTableNameSel'>
            <el-option v-for='item in options' :key='item.key' :label='item.value' :value='item.key'></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="引用表名称" prop="relationTableName">
          <el-select v-model="relationTableForm.relationTableName" placeholder="请选择" @change='getTableSel'>
            <el-option v-for='item in list' :key='item.key' :label='item.value' :value='item.key'></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div>
      </div>
      <el-table :data="tableData" border>
        <el-table-column prop="displayName" label="中文名称" label-class-name='require'>
          <template slot-scope="scope">
            <span v-if="!scope.row.editFlag">{{ scope.row.displayName }}</span>
            <span v-if="scope.row.editFlag" class="cell-edit-input">
              <name-express @getExpress='getExpress' :initExpress='scope.row.displayNameFormat' @click.native="selectExpress(scope.row,'displayName')"
                v-if='!detailShow'></name-express>
            </span>
          </template>
        </el-table-column>
        <el-table-column prop="name" label="字段名称" label-class-name='require'>
          <template slot-scope="scope">
            <span>{{ scope.row.name }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="dataType" label="数据类型" label-class-name='require'>
          <template slot-scope="scope">
            <span v-if="!scope.row.editFlag">{{ scope.row.dataType }}</span>
            <span v-if="scope.row.editFlag" class="cell-edit-input">
              <el-select v-model="scope.row.dataType" placeholder="请选择">
                <el-option v-for='item in dataKind' :key='item.key' :label='item.value' :value='item.key'></el-option>
              </el-select>
            </span>
          </template>
        </el-table-column>
        <el-table-column prop="size" label="长度">
          <template slot-scope="scope">
            <span v-if="!scope.row.editFlag">{{ scope.row.size }}</span>
            <span v-if="scope.row.editFlag" class="cell-edit-input">
              <el-input v-model="scope.row.size"></el-input>
            </span>
          </template>
        </el-table-column>
        <el-table-column prop="scale" label="精度">
          <template slot-scope="scope">
            <span v-if="!scope.row.editFlag">{{ scope.row.scale }}</span>
            <span v-if="scope.row.editFlag" class="cell-edit-input">
              <el-input v-model="scope.row.scale" :disabled='scope.row.dataType !== "Double"'></el-input>
            </span>
          </template>
        </el-table-column>
        <el-table-column prop="allowEmpty" label="允许空值">
          <template slot-scope="scope">
            <span v-if="!scope.row.editFlag">
              <el-checkbox disabled v-model='scope.row.allowEmpty'></el-checkbox>
            </span>
            <span v-if="scope.row.editFlag" class="cell-edit-input">
              <el-checkbox v-model='scope.row.allowEmpty'></el-checkbox>
            </span>
          </template>
        </el-table-column>
        <el-table-column prop="relativeDataSources" label="关联数据源">
          <template slot-scope="scope">
            <el-button type='text' v-if='scope.row.relativeDataSources && scope.row.relativeDataSources.length' @click='relationSource(scope.row.relativeDataSources)'>查看</el-button>
            <p v-else>未关联</p>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button type='text' @click='goDetail(scope.row)'>详情</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-tab-pane>
    <el-tab-pane label="表索引" name='second'>
      <!-- <el-button type='primary' @click='addIndex'>新增索引</el-button> -->
      <el-table :data="indexData" border>
        <el-table-column prop="name" label="索引名称" label-class-name='require'>
          <template slot-scope="scope">
            <span v-if="!scope.row.editFlag">{{ scope.row.name }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="isUniqueIndex" label="是否唯一索引">
          <template slot-scope="scope">
            <span v-if="!scope.row.editFlag">
              <el-checkbox disabled v-model='scope.row.isUniqueIndex'></el-checkbox>
            </span>
          </template>
        </el-table-column>
        <el-table-column prop="fieldDetailText" label="字段" label-class-name='require'>
          <template slot-scope="scope">
            <span v-if="!scope.row.editFlag">{{ scope.row.fieldDetailText }}</span>
          </template>
        </el-table-column>
      </el-table>
    </el-tab-pane>
  </el-tabs>


  <!--关联数据源dialog-->
  <params-list dialogTitle="关联数据源" :dialogShow='relationShow' :tree-data="relationDataSource" viewType @submitParamsList='closeDataSource' @cancalParamsList='closeDataSource'>
    <template slot='form' slot-scope='{data: currentNode}'>
      <el-form :model="currentNode.data" ref="relationForm" class="form" :rules="relativeRules" label-width="100px" label-position="right">
        <el-form-item label="来源功能" prop="relativeSourceName">
          <el-input v-model="currentNode.data.relativeSourceName" readOnly></el-input>
        </el-form-item>
        <el-form-item label="数据集" prop="relativeIndex">
          <el-input v-model="currentNode.data.relativeIndex" readOnly></el-input>
        </el-form-item>
        <el-form-item label="定义表主键" prop="relativeMasterFields">
          <el-input v-model="currentNode.data.relativeMasterFields" readOnly></el-input>
        </el-form-item>
        <el-form-item label="定义关联条件" prop="relativeCondition">
          <el-input v-model="currentNode.data.relativeCondition" readOnly></el-input>
        </el-form-item>
        <el-form-item label="来源必须存在" prop="checkDataExist">
          <el-switch v-model="currentNode.data.checkDataExist" disabled></el-switch>
        </el-form-item>
        <el-form-item label="检查有效日期" prop="checkValidDate">
          <el-switch v-model="currentNode.data.checkValidDate" disabled></el-switch>
        </el-form-item>
        <el-form-item label="更新来源" prop="updateSource">
          <el-switch v-model="currentNode.data.updateSource" disabled></el-switch>
        </el-form-item>
      </el-form>
    </template>
    <template slot='tabs' slot-scope='{data: currentNode}'>
      <el-tabs type="border-card">
        <el-tab-pane label="relativeField">
          <el-table :data='currentNode.data.defineRelativeFields' border>
            <el-table-column prop="name" label="字段名称">
              <template slot-scope="scope">
                <span >{{ scope.row.name }}</span>
              </template>
            </el-table-column>
            <el-table-column prop="displayName" label="中文名称">
              <template slot-scope="scope">
                <span>{{ scope.row.displayName }}</span>
              </template>
            </el-table-column>
            <el-table-column prop="controlType" label="显示类型">
              <template slot-scope="scope">
                <span>{{ scope.row.controlType }}</span>
              </template>
            </el-table-column>
            <el-table-column prop="canUseCondition" label="可作为查询条件" width='130'>
              <template slot-scope="scope">
                <el-switch v-model="scope.row.canUseCondition" disabled></el-switch>
              </template>
            </el-table-column>
            <el-table-column prop="visibleCondition" label="显示条件">
              <template slot-scope="scope">
                <span>{{ scope.row.visibleCondition }}</span>
              </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
        <el-tab-pane label="checkField">
          <el-table :data='currentNode.data.defineRelativeBackFields' border>
            <el-table-column prop="aliasName" label="别名">
              <template slot-scope="scope">
                <span>{{ scope.row.aliasName }}</span>
              </template>
            </el-table-column>
            <el-table-column prop="name" label="字段名称">
              <template slot-scope="scope">
                <span>{{ scope.row.name }}</span>
              </template>
            </el-table-column>
            <el-table-column prop="useFieldName" label="使用字段名">
              <template slot-scope="scope">
                <span>{{ scope.row.useFieldName }}</span>
              </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
      </el-tabs>
    </template>
  </params-list>
</div>
