<template src='./index.html'></template>

<script>
import { mapState, mapActions } from 'vuex'
import paramsList from '@/components/paramsList'
export default {
  name: 'data-rel-table',
  props: {
    data: Object, // 子节点数据对象
    treeNodeUnquen: Number
  },
  components: {
    paramsList
  },
  data () {
    return {
      activeName: 'first',
      relationTableForm: {},
      rules: {
        sourceName: [{ required: true, message: '请选择来源功能' }],
        dataTableIndex: [{ required: true, message: '请选择数据集' }],
        relationTableName: [{ required: true, message: '请选择引用表名称' }]
      },
      tableData: [],
      indexData: [],
      list: [],
      dataModelList: [],
      options: [],
      relationDataSource: [],
      relationShow: false
    }
  },
  computed: {
    ...mapState('options', ['dataModel', 'relationTable', 'dataSetList', 'getTableList', 'getTableNameList'])
  },
  methods: {
    ...mapActions('options', ['getDataModel', 'getRelationTable', 'getDataSet', 'getTable', 'getTableName']),
    async selectModel (item) {
      this.tableData = []
      this.indexData = []
      this.options = []
      this.list = []
      this.$set(this.data.data, 'children', [])
      delete this.relationTableForm.dataTableIndex
      delete this.relationTableForm.relationTableName
      if (item === '请选择') {
        return false
      }
      await this.getDataSet(`${item}/dataset`)
      this.options = this.dataSetList
    },
    async getTableNameSel (item) {
      this.tableData = []
      this.indexData = []
      this.list = []
      this.$set(this.data.data, 'children', [])
      delete this.relationTableForm.relationTableName
      if (!item) {
        this.$emit('updateUniqune', this.treeNodeUnquen)
        return false
      }
      await this.getTableName(`${this.relationTableForm.sourceName}/dataset/${this.relationTableForm.dataTableIndex}/table`)
      this.list = this.getTableNameList
    },
    async getTableSel (item) {
      this.tableData = []
      this.indexData = []
      this.$set(this.data.data, 'children', [])
      if (!item) {
        return false
      }
      this.data.data.name = item
      this.data.data.label = item
      this.$emit('expandNode', this.data.data.treeNodeUnquen)
      await this.getTable(`${this.relationTableForm.sourceName}/dataset/${this.relationTableForm.dataTableIndex}/table/${this.relationTableForm.relationTableName}/field_index`)
      this.tableData = this.getTableList.fields
      this.indexData = this.getTableList.index
      for (let item of this.tableData) {
        item.treeNodeUnquen = this.treeNodeUnquen++
        item.level = 4
        item.selectType = 4
        item.fromRelationTable = true
        item.relativeDataSources = item.relativeDataSources ? item.relativeDataSources : []
      }
      this.$emit('updateUniqune', this.treeNodeUnquen)
      this.data.data.children = this.tableData
    },
    goDetail (row) {
      this.$emit('filedClick', row, 'Relative')
    },
    closeDataSource () {
      this.relationShow = false
    },
    relationSource (data) {
      this.relationDataSource = data
      if (this.relationDataSource && this.relationDataSource.length) {
        for (let item of this.relationDataSource) {
          item.label = item.relativeSourceName
        }
      }
      this.relationShow = true
    }
  },
  async mounted () {
    this.relationTableForm = this.data.data
    this.tableData = this.data.data.children ? this.data.data.children : []
    this.list = this.getTableNameList ? this.getTableNameList : []
    if (!this.data.data.children) {
      this.$set(this.data.data, 'children', [])
    }
    await this.getDataModel()
    this.dataModelList = this.dataModel
    this.dataModelList.splice(0, 1, { name: '请选择' })
  },
  watch: {
    data (val) {
      this.relationTableForm = val.data
    }
  }
}
</script>

<style src='../../index.scss' lang='scss'></style>
