<template>
  <div class='table3'>
    <h1 class="h1">
      {{msg}}
    </h1>
  </div>
</template>

<script>
export default {
  name: 'moduleManage',
  data () {
    return {
      msg: '小伙伴正在努力开发中。。。'
    }
  }
}
</script>

<style scoped lang='scss'>
.table3 {
  background: $content-bg;
  border-radius: 5px;
  height: 100%;
  display: flex;
  justify-content: center;
  .h1 {
    color: rgb(172, 5, 130);
    font-size: 30px;
    margin: 150px auto;
  }
}
</style>
