<template>
  <el-table :data="formatData" :row-style="showRow" v-bind="$attrs">
    <el-table-column type="index" width="60" label='序号'></el-table-column>
    <el-table-column v-if="columns.length===0" width="150">
      <template slot-scope="scope">
        <span v-for="space in scope.row._level" class="ms-tree-space" :key="space"></span>
        <span class="tree-ctrl" v-if="iconShow(0,scope.row)" @click="toggleExpanded(scope.$index)">
          <i v-if="!scope.row._expanded" class="el-icon-plus"></i>
          <i v-else class="el-icon-minus"></i>
        </span>
        {{scope.$index}}
      </template>
    </el-table-column>
    <el-table-column v-else v-for="(column, index) in columns" :sortable='column.sortable ? true : false' :key="column.value" :label="column.text" :width="column.width">
      <template slot-scope="scope">
        <!-- 用来占据空位的元素 -->
        <template v-if="index === 0">
          <span v-for="space in scope.row._level" class="ms-tree-space" :key="space"></span>
        </template>
        <!-- 用来显示图标的元素 -->
        <span class="tree-ctrl" v-if="iconShow(index,scope.row)" @click="toggleExpanded(scope.$index)">
          <i v-if="!scope.row._expanded" class="icon-triangle-right iconfont"></i>
          <i v-else class="icon-triangle-bottom iconfont"></i>
        </span>
        {{scope.row[column.value]}}
      </template>
    </el-table-column>
    <slot></slot>
  </el-table>
</template>

<script>
import treeToArray from './eval'
export default {
  name: 'treeTable',
  props: {
    data: { // 数据源
      type: [Array, Object],
      required: true
    },
    columns: { // 表格要展示的列
      type: Array,
      default: () => []
    },
    evalFunc: Function, // 解析数据源的函数
    evalArgs: Array,
    filterText: String,
    expandAll: { // 展开所有行
      type: Boolean,
      default: true
    },
    props: Object // 下拉树的props
  },
  data () {
    return {
      formatData: []
    }
  },
  watch: {
    filterText: function (newV) {
      this.filter(this.data)
      this.format()
    },
    data: function (newV) {
      this.filter(this.data)
      this.format()
    }
  },
  created () {
    this.filter(this.data)
    this.format()
  },
  methods: {
    filter (data) { // 初始化表格树的数据，确认是否要显示，以配合筛选的功能
      const { children, keyWord } = this.props
      data.map((item) => {
        if (this.filterText) {
          if (item[keyWord].includes(this.filterText)) {
            this.$set(item, 'show', true)
            if (item[children] && item[children].length > 0) {
              this.filter(item[children])
            }
          } else {
            this.$set(item, 'show', false)
            if (item[children] && item[children].length > 0) {
              this.filter(item[children])
            }
          }
        } else {
          item.show = true
          if (item[children] && item[children].length > 0) {
            this.filter(item[children])
          }
        }
      })
    },
    format () { // 将树状数据更改为表格数据
      const { children } = this.props
      let tmp
      if (!Array.isArray(this.data)) {
        tmp = [this.data]
      } else {
        tmp = this.data
      }
      const func = this.evalFunc || treeToArray
      const args = this.evalArgs ? Array.concat([tmp, this.expandAll], this.evalArgs) : [tmp, this.expandAll, children]
      // console.log(this.evalArgs, [tmp, this.expandAll])
      this.formatData = func.apply(null, args).filter(item => item.show)
    },
    showRow: function (row) {
      const show = (row.row.parent ? (row.row.parent._expanded && row.row.parent._show) : true)
      row.row._show = show
      if (!show) {
      }
      return show ? 'animation:treeTableShow 1s;-webkit-animation:treeTableShow 1s;' : 'display:none;'
    },
    toggleExpanded: function (trIndex) { // 切换下级是否展开
      const record = this.formatData[trIndex]
      record._expanded = !record._expanded
    },
    iconShow (index, record) { // 图标显示
      const { children } = this.props
      return (index === 0 && record[children] && record[children].length > 0)
    },
    addNode (parent, data) { // dataSource：要改动的表格数据源 parent：归属的父节点的data data:要添加的节点data
      const { id } = this.props
      let id2 = parent[id]
      console.log(parent)
      this.addData(id2, this.data, data)
      this.format()
    },
    addData (id2, dataSource, data) { // 增删表格树节点
      const { id, children } = this.props
      if (!id2) {
        dataSource.push(data)
        return
      }
      dataSource.map((item, i) => {
        if (item[id] === id2) {
          if (item[children] && item[children].length > 0) {
            item[children].push(data)
          } else {
            this.$set(item, 'children', [data]) // 使用这种方式才能别vue监测到数据变化更新视图
          }
          return false
        } else {
          if (item[children] && item[children].length > 0) {
            this.addData(id2, item[children], data)
          }
        }
      })
    },
    deleteNode (id2) {
      this.deleteData(this.data, id2)
      this.format()
    },
    deleteData (dataSource, id2) {
      const { id, children } = this.props
      dataSource.map((item, i) => {
        if (item[id] === id2) {
          dataSource.splice(i, 1)
          return false
        } else {
          if (item[children] && item[children].length > 0) {
            this.deleteData(item[children], id2)
          }
        }
      })
    }
  }
}
</script>
<style>
@keyframes treeTableShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes treeTableShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
</style>

<style lang="scss" scoped>
$color-blue: #2196f3;
.ms-tree-space {
  position: relative;
  top: 1px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  width: 18px;
  height: 14px;
  &::before {
    content: "";
  }
}
.processContainer {
  width: 100%;
  height: 100%;
}
table td {
  line-height: 26px;
}

.tree-ctrl {
  position: relative;
  cursor: pointer;
  color: $color-blue;
  margin-left: -21px;
}
.el-table__row {
  .iconfont {
    font-size: 18px;
    color: $color-text;
  }
}
</style>
