<template>
  <div class="header">
    <div :class="logoClass">
      <router-link to="/console" class='goConsole'></router-link>
    </div>
    <!-- 折叠按钮 -->
    <div v-if="!isHidden" class="collapse-btn" @click="collapseChage">
      <i class="icon-menu iconfont"></i>
    </div>
    <!-- 切换产品 -->
    <div v-if="isProduct" class="down">
      <i class="icon-xiangxia2 iconfont" @click="productBoxShow=!productBoxShow"></i>
      <span class="productName" @click="productBoxShow=!productBoxShow">{{productName}}</span>
      <div class="productBox" v-if="productBoxShow">
        <div class="listBox">
          <img src='../../../static/create.png' alt="" @click="addProduct">
        </div>
        <div class="listBox" v-for="list in productList" :key="list" @click="changeProduct(list)">
          <img :src=list.logo alt="">
          <div class="productNam">{{list.name}}</div>
        </div>
      </div>
    </div>
    <div class="header-right">
      <div class="itemLink">
        <router-link to="/my">
          我的账户
        </router-link>
      </div>
      <div class="itemLink" @click="showInfo">
        文档中心
      </div>
      <div class="itemLink" @click="showInfo">
        在线社区
      </div>
      <div class="itemLink" @click="showInfo">
        模块store
      </div>
      <div class="itemLink" @click="showInfo">
        团队协作
      </div>
      <!-- <div class="itemLink">
        <router-link to="/components">
          公用组件
        </router-link>
      </div> -->
      <!-- 用户名下拉菜单 -->
      <el-dropdown class="user" @command="handleCommand" placement='bottom'>
        <div class="userInfo">
          <img class="userAvator" :src="userInfo.avatar">
          <span class="userName">
            {{userInfo.name}}
          </span>
        </div>
        <!-- <i class='iconfont icon-xiala1'></i> -->
        <el-dropdown-menu slot="dropdown" class='moreFunction'>
          <el-dropdown-item class='dropItem'>
            <router-link to="/console" class='aaa'>
              <i class="icon-kongzhitai_ iconfont"></i>
              开发控制台
            </router-link>
          </el-dropdown-item>
          <el-dropdown-item command="developing">
            <!-- <router-link to="/order"> -->
            <i class="icon-dingzhishengchan iconfont"></i>
            我的订制需求
            <!-- </router-link> -->
          </el-dropdown-item>
          <el-dropdown-item command="developing">
            <!-- <router-link to="/moduleManage"> -->
            <i class="icon-mokuaiguanli1 iconfont"></i>
            模块管理
            <!-- </router-link> -->
          </el-dropdown-item>
          <el-dropdown-item command="developing">
            <!-- <router-link to="/message"> -->
            <i class="icon-xiaoxi1 iconfont"></i>
            消息中心
            <!-- </router-link> -->
          </el-dropdown-item>
          <el-dropdown-item command="loginout">
            <i class="icon-tuichu1 iconfont"></i>
            退出
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
    <!-- 弹出框 -->
    <el-dialog title="创建产品" :visible.sync="dialogVisible" width="800px" :before-close="handleClose">
      <div class="form">
        <div>
          <el-form :model="ruleForm" :rules="rules" label-position="right" ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="名称" prop="name">
              <el-input v-model="ruleForm.name" maxlength="64"></el-input>
            </el-form-item>
            <el-form-item label="中文名称" prop="displayName">
              <el-input v-model="ruleForm.displayName" maxlength="100"></el-input>
            </el-form-item>
            <el-form-item label="APP TOKEN" prop="appToken">
              <el-input v-model="ruleForm.appToken" disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="SECRET ID" prop="secretId">
              <el-input v-model="ruleForm.secretId" disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="数据库IP" prop="dbServer">
              <el-input v-model="ruleForm.dbServer"></el-input>
            </el-form-item>
            <el-form-item label="数据库名称" prop="dbName">
              <el-input v-model="ruleForm.dbName"></el-input>
            </el-form-item>
            <el-form-item label="端口" prop="dbPort">
              <el-input v-model="ruleForm.dbPort"></el-input>
            </el-form-item>
            <el-form-item label="用户名" prop="dbUser">
              <el-input v-model="ruleForm.dbUser"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="dbPwd">
              <el-input v-model="ruleForm.dbPwd" type="password"></el-input>
            </el-form-item>
            <el-form-item label="产品版本号" prop="appVersion">
              <el-input v-model="ruleForm.appVersion"></el-input>
            </el-form-item>
            <el-form-item label="说明" prop="tip">
              <el-input v-model="ruleForm.tip" style="height:144px;" type="textarea" maxlength="400"></el-input>
            </el-form-item>
            <el-form-item label="LOGO" prop="logo">
              <div class="com-upload-img">
                <div class="img_group">
                  <div class="img_box" v-if="allowAddImg">
                    <input type="file" accept="image/*" multiple="multiple" @change="changeImg($event)">
                    <div class="filter"></div>
                  </div>
                  <div class="img_show_box" style="width:100px;height:100px;border:1px dashed #dcdfe6;">
                    <img :src="imgArr" alt="" width="100px" height="100px">
                  </div>
                </div>
              </div>
            </el-form-item>
            <div class="buttonBox1">
              <el-button type="primary" @click="submitForm('ruleForm')">保存</el-button>
              <el-button @click="resetForm('ruleForm')">取消</el-button>
            </div>
          </el-form>
        </div>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { getDeviceType, changeWidthType, whichClass } from '@/assets/js/utils/utils'
import { bus } from '@/assets/js/comm/constant'
import menu from '@/assets/js/config/menudefine'
import userService from '@/assets/js/service/userservice'
import ModelService from '@/assets/js/service/modelservice.js'
import storage from '@/assets/js/service/cacheservice'
export default {
  name: 'vHead',
  computed: {
    apiParams () {
      return {
        name: this.ruleForm.name,
        appToken: this.ruleForm.appToken,
        description: this.ruleForm.tip,
        secretId: this.ruleForm.secretId,
        logo: this.ruleForm.logo,
        dbServer: this.ruleForm.dbServer,
        dbPort: this.ruleForm.dbPort,
        dbUser: this.ruleForm.dbUser,
        dbPwd: this.ruleForm.dbPwd,
        redisUrl: 'redisUrl',
        redisPwd: 'redisPwd',
        // modelStatus: '',
        appName: this.ruleForm.name,
        dbName: this.ruleForm.dbName,
        displayNameFormat: this.ruleForm.displayName,
        appVersion: this.ruleForm.appVersion
      }
    },
    logoClass () {
      return whichClass(this.widthType, 'Logo')
    }
  },
  data () {
    // 验证端口号
    var dbPort = (rule, value, callback) => {
      var re = /^([0-9]|[1-9]\d{1,3}|[1-5]\d{4}|6[0-4]\d{4}|65[0-4]\d{2}|655[0-2]\d|6553[0-5])$/
      if (!value) {
        return callback(new Error('端口号不能为空'))
      }
      setTimeout(() => {
        if (!re.test(value)) {
          callback(new Error('正确的端口号'))
        } else {
          callback()
        }
      }, 1000)
    }
    // 验证全英文加数字
    // var checkEnglish = (rule, value, callback) => {
    //   var re = /^[a-zA-Z0-9_]+$/
    //   if (!value) {
    //     return callback(new Error('请输入名称'))
    //   }
    //   setTimeout(() => {
    //     if (!re.test(value)) {
    //       callback(new Error('请输入正确的名称'))
    //     } else {
    //       callback()
    //     }
    //   }, 1000)
    // }
    // 验证ip
    var testIp = (rule, value, callback) => {
      var re = /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/
      if (!value) {
        return callback(new Error('请输入数据库ip'))
      }
      setTimeout(() => {
        if (!re.test(value)) {
          callback(new Error('请输入正确的数据库ip'))
        } else {
          callback()
        }
      }, 1000)
    }
    var checkName = (rule, value, callback) => {
      let checkKey = /^[a-zA-Z0-9_.-]*$/
      if (!value) {
        return callback(new Error('请输入产品名称'))
      }
      setTimeout(() => {
        if (!checkKey.test(value)) {
          callback(new Error('请输入正确的产品名称'))
        } else {
          callback()
        }
      }, 1000)
    }
    var checkDisplayName = (rule, value, callback) => {
      let checkName = /[\u4E00-\u9FA5\uF900-\uFA2D]/
      if (!value) {
        return callback(new Error('请输入中文名称'))
      }
      setTimeout(() => {
        if (!checkName.test(value)) {
          callback(new Error('请输入正确的中文名称'))
        } else {
          callback()
        }
      }, 1000)
    }
    return {
      widthType: getDeviceType(),
      fullscreen: false,
      name: '剑魂侠',
      message: 2,
      menu: menu,
      activeIndex: '',
      userInfo: {
        name: '',
        avatar: ''
      },
      // 产品列表
      productList: [
        {
          // id
          id: '1',
          // 产品logo
          logo: '../../../static/default.png',
          // 产品名称
          name: 'testApp'
        }
      ],
      // 产品框显示
      productBoxShow: false,
      // 新增产品
      dialogVisible: false,
      radio: 'web app',
      ruleForm: {
        name: '',
        appToken: '',
        tip: '',
        secretId: '',
        logo: '',
        dbServer: '',
        dbPort: '',
        dbUser: '',
        dbPwd: '',
        dbName: '',
        appVersion: '',
        displayName: ''
      },
      rules: {
        name: [
          { required: true, validator: checkName, trigger: 'blur' }
        ],
        displayName: [
          { required: true, validator: checkDisplayName, trigger: 'blur' }
        ],
        tip: [
          { required: true, message: '请输入说明', trigger: 'blur' }
        ],
        // logo: [
        //   { required: true, message: '请设置logo', trigger: 'blur' }
        // ],
        dbServer: [
          { required: true, validator: testIp, trigger: 'blur' }
        ],
        dbPort: [
          { required: true, trigger: 'blur', validator: dbPort }
        ],
        dbUser: [
          { required: true, message: '请输入数据库用户名', trigger: 'blur' }
        ],
        dbPwd: [
          { required: true, message: '请输入数据库密码', trigger: 'blur' }
        ],
        dbName: [
          { required: true, message: '请输入数据库名称', trigger: 'blur' }
        ],
        appVersion: [
          { required: true, message: '请输入版本号', trigger: 'blur' }
        ]
      },
      imgData: '',
      imgArr: '',
      imgSrc: '',
      allowAddImg: true,
      nameCondition: '',
      productName: '',
      time: 0
    }
  },
  props: {
    isHidden: Boolean, // 是否显示控制menu收缩的icon隐藏
    isProduct: Boolean // 切换产品
  },
  created () {
    this.getTabs()
    // 获取缓存中的用户信息
    storage.getItem('userInfo').then(res => {
      if (res) {
        this.userInfo.name = res.username
        this.userInfo.avatar = res.userImg
      }
    }).catch(err => {
      console.log(err)
    })
    // 获取缓存中的用户信息
    storage.getItem('appInfo').then(res => {
      this.productName = res.appName
    }).catch(err => {
      console.log(err)
    })
    // 获取产品
    if (!this.isHidden) {
      ModelService.listAll('appmodel', null).then((res) => {
        this.getList(res)
      })
    }
    bus.$on('appInfo', msg => {
      if (msg) {
        this.productName = msg.appName
        ModelService.listAll('appmodel', null).then((res) => {
          this.getList(res)
        })
      }
    })
  },
  watch: {
    $route () {
      this.getTabs()
    },
    ruleForm: {
      handler: function (newV) {
        if (this.dialogVisible) {
          this.time++
        }
      },
      deep: true
    }
  },
  methods: {
    showInfo () {
      this.$messageService.info('功能正在开发测试未上线，敬请期待')
    },
    // 获取数据后塞数据
    getList (res) {
      if (res.data.length > 0) {
        let arr = []
        for (let list of res.data) {
          arr.push({
            id: list.mid,
            name: list.name,
            appVersion: list.appVersion,
            logo: list.logo ? 'data:image/jpeg;base64,' + list.logo : '../../../static/default.png',
            displayName: list.displayName,
            seq: list.seq
          })
        }
        this.productList = arr
      } else {
        this.productList = []
      }
    },
    getTabs () { // 得到当前应该显示的tabs
      let path = this.$route.path
      let pathArr = path.split('/')
      let nowIndex = '/' + pathArr[1]
      if (nowIndex !== this.activeIndex) {
        this.activeIndex = nowIndex
      }
    },
    changeTab (index, indexPath) { // tab切换事件
      if (index === this.activeIndex) return
      this.activeIndex = index
    },
    // 用户名下拉菜单选择事件
    handleCommand (command) {
      // 退出登录
      if (command === 'loginout') {
        userService.logout()
      } else if (command === 'developing') {
        this.$messageService.info('功能正在开发测试未上线，敬请期待')
      }
    },
    // 侧边栏折叠
    collapseChage () {
      this.widthType = changeWidthType(this.widthType)
      bus.$emit('resize', this.widthType)
    },
    // ...mapMutations(['change'])
    // 切换产品
    changeProduct (list) {
      this.productName = list.name
      list.appName = list.name
      ModelService.appInfo = list
      localStorage.appInfo = JSON.stringify(list)
      storage.setItem('appInfo', list).then(() => {
        localStorage.tags = []
        if (this.$route.path === '/overview') {
          history.go(0)
        } else {
          bus.$emit('tags', [])
          this.$router.push('/overview')
        }
      })
    },
    // 新增产品
    addProduct () {
      this.time = 1
      this.dialogVisible = true
      userService.getId().then(response => {
        console.log(response)
        let res = response.data
        if (response.code === 200) {
          this.ruleForm.appToken = res.appToken
          this.ruleForm.secretId = res.secretId
        }
      })
    },
    // 图片转码
    changeImg (e) {
      var _this = this
      var imgLimit = 1024
      var files = e.target.files
      console.log(files)
      var image = new Image()
      if (files.length > 0) {
        var dd = 0
        var timer = setInterval(function () {
          if (files.item(dd).type !== 'image/png' && files.item(dd).type !== 'image/jpeg' && files.item(dd).type !== 'image/gif') {
            return false
          }

          if (files.item(dd).size > imgLimit * 102400) {
            // to do sth
          } else {
            image.src = window.URL.createObjectURL(files.item(dd))
            image.onload = function () {
              // 默认按比例压缩
              var w = image.width
              var h = image.height
              var scale = w / h
              w = 200
              h = w / scale
              // 默认图片质量为0.7，quality值越小，所绘制出的图像越模糊
              var quality = 0.7
              // 生成canvas
              var canvas = document.createElement('canvas')
              var ctx = canvas.getContext('2d')
              // 创建属性节点
              var anw = document.createAttribute('width')
              anw.nodeValue = w
              var anh = document.createAttribute('height')
              anh.nodeValue = h
              canvas.setAttributeNode(anw)
              canvas.setAttributeNode(anh)
              ctx.drawImage(image, 0, 0, w, h)
              var ext = image.src.substring(image.src.lastIndexOf('.') + 1).toLowerCase()
              console.log(ext)
              // 图片格式
              var base64 = canvas.toDataURL(quality)
              console.log(base64.split(',')[1])
              _this.ruleForm.logo = base64.split(',')[1]
              _this.imgArr = base64
            }
          }

          if (dd < files.length - 1) {
            dd++
          } else {
            clearInterval(timer)
          }
        }, 1000)
      }
    },
    deleteImg: function (index) {
      this.imgArr.splice(index, 1)
      if (this.imgArr.length < 5) {
        this.allowAddImg = true
      }
    },
    // 新增保存
    submitForm (formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          console.log(this.apiParams)
          ModelService.saveModel('appmodel', this.apiParams).then(response => {
            console.log(response)
            if (response.code === 200) {
              this.dialogVisible = false
              this.$messageService.success('产品新增成功')
              this.$refs[formName].resetFields()
            } else {
              this.$messageService.error(response.message)
            }
            ModelService.listAll('appmodel', null).then((res) => {
              this.getList(res)
            })
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    // 取消
    resetForm (formName) {
      console.log(this.time)
      if (this.time > 2) {
        this.$confirm('此操作将会清空填入的数据, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.dialogVisible = false
          this.$refs[formName].resetFields()
        }).catch(() => {
          // this.$messageService.info('已取消')
        })
      } else {
        this.dialogVisible = false
      }
    },
    // 弹出框右上角x
    handleClose () {
      this.resetForm('ruleForm')
    },
    moveFct (e) { // 监听全部点击事件，控制选项框的显示和隐藏
      const className = e.target.className
      // console.log(className)
      if (className === 'icon-xiangxia2 iconfont' || className === 'productName') {
        // this.productBoxShow = true
      } else {
        this.productBoxShow = false
      }
    }
  },
  mounted () {
    window.addEventListener('resize', () => {
      if (this.widthType === getDeviceType()) return
      this.widthType = getDeviceType()
      bus.$emit('resize', this.widthType)
    }, false)
    window.document.addEventListener('click', this.moveFct, false)
  },
  destroyed () {
    window.document.removeEventListener('click', this.moveFct, false)
  }
}
</script>

<style lang="scss" scoped>
.header {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: $header-height;
  font-size: 22px;
  color: #fff;
  background: $color-header;

  .maxLogo,
  .midLogo,
  .minLogo {
    float: left;
    height: 100%;
    width: $menu-max-width;
    // box-sizing: border-box;
    // border-right: $border;
    background: url(~@/assets/image/logoAll.png) no-repeat;
    background-size: 100% 100%;
    // margin-left: $menu-padding - 10px;
    // margin-right: $menu-max-width * 0.4 - $menu-padding + 10px;
    transition: all $duration 0.1s ease-in-out;
    .goConsole {
      display: inline-block;
      height: 100%;
      width: 100%;
    }
  }
  .midLogo {
    width: $menu-mid-width;
    margin: 0;
    transition: all $duration 0.1s ease-in-out;
    background: url(~@/assets/image/logo.png) no-repeat;
    background-size: 100% 100%;
    transition: all $duration 0.1s ease-in-out;
  }
  .minLogo {
    position: absolute;
    transform: translate(-$menu-max-width, 0);
  }

  .collapse-btn,
  .down {
    float: left;
    cursor: pointer;
    color: $color-text;
    line-height: $header-height;
    transition: all $duration 0.1s ease-in-out;
    .iconfont {
      font-size: 26px;
      &:hover {
        color: $color-text-active;
      }
    }
  }
  .down {
    margin-left: 16px;
    height: 100%;
    position: relative;
    .iconfont {
      font-size: 20px;
    }
  }
  .productName {
    font-size: 18px;
    margin-left: 6px;
  }
  .productName:hover {
    text-decoration: underline;
  }
  .avatar-uploader {
    border: 1px dashed #dcdfe6;
    text-align: center;
    width: 78px;
    height: 78px;
  }
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409eff;
  }
  .avatar-uploader-icon {
    font-size: 20px;
    color: #8c939d;
    width: 78px;
    height: 78px;
    line-height: 78px;
    text-align: center;
  }
  .avatar {
    width: 78px;
    height: 78px;
    display: block;
  }
  .form {
    .buttonBox1 {
      width: 100%;
      margin-top: 116px;
      display: flex;
      justify-content: flex-end;
    }
    .productName {
      font-size: 18px;
      margin-left: 6px;
    }
    .productName:hover {
      text-decoration: underline;
    }
    .avatar-uploader {
      border: 1px dashed #dcdfe6;
      text-align: center;
      width: 78px;
      height: 78px;
    }
    .avatar-uploader .el-upload {
      border: 1px dashed #d9d9d9;
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
      border-color: #409eff;
    }
    .avatar-uploader-icon {
      font-size: 20px;
      color: #8c939d;
      width: 78px;
      height: 78px;
      line-height: 78px;
      text-align: center;
    }
    .avatar {
      width: 78px;
      height: 78px;
      display: block;
    }
    .form {
      margin-top: 20px;
      .buttonBox1 {
        width: 100%;
        margin-top: 116px;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  .productBox {
    position: absolute;
    top: 55px;
    left: 0;
    height: 120px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.175);
    background: #fff;
    padding: 20px;
    font-size: 12px;
    box-sizing: border-box;
    display: flex;
    .listBox {
      width: 48px;
      height: 75px;
      display: flex;
      flex-direction: column;
      margin-right: 16px;
      img {
        width: 48px;
        height: 48px;
        margin-bottom: 10px;
      }
      .productNam {
        width: 100%;
        height: 17px;
        line-height: 17px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
        font-size: 12px;
      }
    }
  }
  .header-right {
    float: right;
    padding-right: $content-box-righ-padding;
    display: flex;
    height: $header-height;
    align-items: center;

    .itemLink {
      margin-right: 30px;
      font-size: 16px;
      box-sizing: border-box;
      padding: 10px;
      color: $color-text-dark;
      cursor: pointer;
      &:hover {
        color: $color-text-active;
      }
      a {
        color: $color-text-dark;
      }
      &:hover {
        a {
          color: $color-text-active;
        }
      }
    }

    .iconfont {
      font-size: 16px;
      font-weight: 600;
    }

    .user {
      color: $color-text;
      font-size: 20px;
      height: 60%;
      margin-right: 15px;
      .userInfo {
        height: 100%;
        cursor: pointer;
        @extend %flex-center-row;
        .userAvator {
          margin-right: 10px;
          margin-left: 10px;
          width: 35px;
          height: 35px;
          border-radius: 50%;
        }
        .userName {
          color: $color-text-dark;
          font-size: 16px;
        }
      }
    }
  }
}
.moreFunction {
  .el-dropdown-menu__item {
    &:hover {
      a {
        color: $color-text-active;
        i {
          color: $color-text-active;
        }
      }
      color: $color-text-active;
      i {
        color: $color-text-active;
      }
    }
  }
}
</style>
<style lang='scss'>
.header .el-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}
.header .el-form-item {
  width: 48% !important;
  height: 32px;
  line-height: 32px;
  margin-bottom: 18px;
}
.header .el-form-item__label {
  height: 32px;
  line-height: 32px;
}
.header .el-input__inner,
.header .el-form-item__content {
  height: 32px;
  line-height: 32px;
}
.header .el-dialog__body {
  padding: 0 40px 50px 20px;
  color: #606266;
  font-size: 14px;
}
.header .el-textarea__inner {
  width: 100%;
  height: 100%;
}
.header .el-button--primary {
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
}
.header .el-button--default {
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
}
</style>
