<template>
  <div class="wrapper">
    <v-head :isProduct="isProduct" @changeProduct="changeProduct"></v-head>
    <v-sidebar></v-sidebar>
    <div :class="contentClass" ref='contentBox'>
      <div class='tags'>
        <v-tags :isFixed='isFixed' ref='tagsBox'></v-tags>
      </div>
      <!-- <el-scrollbar style='height: 100%;'> -->
      <div class="content">
        <transition name="move" mode="out-in">
          <!-- <keep-alive :include="tagsList"> -->
          <router-view></router-view>
          <!-- </keep-alive> -->
        </transition>

      </div>
      <!-- </el-scrollbar> -->
    </div>
  </div>
</template>

<script>
import vHead from './Header.vue'
import vSidebar from './Sidebar.vue'
import vTags from './Tags.vue'
import { getDeviceType, whichClass } from '@/assets/js/utils/utils'
import { bus } from '@/assets/js/comm/constant'

export default {
  name: 'Layout',
  data () {
    return {
      tagsList: [],
      widthType: getDeviceType(),
      isFixed: false,
      isProduct: true,
      productName: 'testApp'
    }
  },
  components: {
    vHead, vSidebar, vTags
  },
  computed: {
    contentClass () {
      return whichClass(this.widthType, 'ContentBox')
    }
  },
  created () {
    bus.$on('resize', msg => {
      if (this.widthType === msg) return
      this.widthType = msg
    })
    // 只有在标签页列表里的页面才使用keep-alive，即关闭标签之后就不保存到内存中了。
    bus.$on('tags', msg => {
      let arr = []
      for (let i = 0, len = msg.length; i < len; i++) {
        arr = msg[i].name && arr.concat(msg[i].name)
      }
      this.tagsList = [...new Set(arr)]
    })
  },
  mounted () {
    this.$nextTick(function () {
      this.$refs.contentBox.addEventListener('scroll', this.onScroll)
    })
  },
  methods: {
    onScroll () {
      let scrollHeight = this.$refs.contentBox.scrollTop
      if (scrollHeight > 0) {
        this.isFixed = true
      } else {
        this.isFixed = false
      }
    },
    // 切换产品
    changeProduct () {
      console.log(1)
    }
  }
}
</script>
<style lang='scss' scoped>
.wrapper {
  width: 100%;
  height: 100%;
  // overflow: hidden;
  // background: #001529;

  .maxContentBox,
  .midContentBox,
  .minContentBox {
    position: absolute;
    right: 0;
    bottom: 0;
    left: $menu-max-width;
    top: $header-height;
    -webkit-transition: left $duration ease-in-out;
    transition: all $duration ease-in-out;
    background: $color-header;
    display: flex;
    flex-direction: column;
    padding-right: $content-box-righ-padding;
    .content {
      position: relative;
      height: 100%;
      width: 100%;
      padding: $content-padding;
      background: $content-bg;
      box-sizing: border-box;
      border: $border;
      border-bottom: none;
      border-top: none;
      overflow-y: auto;
      transition: all $duration ease-in-out;
    }
  }
  .midContentBox {
    left: $menu-mid-width;
  }
  .minContentBox {
    left: $menu-min-width;
  }
}
</style>
<style lang='scss' scoped>
// .wrapper {
//   .el-scrollbar__wrap {
//     max-height: 100%;
//     min-height: 100%;
//     // overflow-x: hidden !important;
//   }
// }
</style>
