<template>
  <div :class='menuClass'>
    <el-scrollbar style='height: 100%;'>
      <el-menu collapse-transition :collapse='widthType===1' ref='navbar' router :default-active="$route.path">
        <div v-if='widthType===2||widthType===-1' class="title">
          <router-link to="/overview">
            概览
          </router-link>
        </div>
        <template v-for="(item, n) in menu">
          <el-menu-item v-if='item.path' :index="item.path" :key='n'>
            <i :class="[item.icon, 'iconfont']"></i>
            <span slot="title">{{ item.title }}</span>
          </el-menu-item>
          <li v-else :key='n' class="el-menu-item menuItem menuTitle">
            <span slot="title">{{ item.title }}</span>
          </li>
        </template>
      </el-menu>
    </el-scrollbar>
  </div>
</template>

<script>
import { getDeviceType, whichClass } from '@/assets/js/utils/utils'
import { bus } from '@/assets/js/comm/constant'
import menu from '@/assets/js/config/menudefine'

export default {
  name: 'sideBar',
  data () {
    return {
      widthType: getDeviceType(),
      activeIndex: '',
      activePath: '',
      menu: menu
    }
  },
  computed: {
    menuClass () {
      return whichClass(this.widthType, 'Menu')
    }
  },
  created () {
    bus.$on('resize', msg => { // 侧边栏模式转换1
      if (this.widthType === msg) return
      this.widthType = msg
    })
  },
  watch: {
    '$route' (to, from) {
      const menu = this.$refs.navbar
      if (menu && menu.activeIndex !== to.path) {
        menu.activeIndex = to.path
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.maxMenu,
.midMenu,
.minMenu {
  display: block;
  position: absolute;
  width: $menu-max-width;
  box-sizing: border-box;
  left: 0;
  top: $header-height;
  bottom: 0;
  overflow-y: hidden;
  transition: all $duration ease-in-out;

  ul {
    max-height: 100%;
    width: 100%;
    box-sizing: border-box;
    & > .title {
      width: 100%;
      cursor: pointer;
      height: $tags-height - 1px;
      box-sizing: border-box;
      padding: 0;
      padding-left: $menu-padding;
      background: #f7faf9;
      @extend %flex-center-row;
      justify-content: flex-start;
      transition: all $duration ease-in-out;
      a {
        display: inline-block;
        width: 100%;
        padding: 10px 0;
      }
    }
    ul:not(.el-menu--collapse) {
      width: $menu-max-width;
    }
    .menuTitle {
      border-top: $border;
      color: $color-text-active;
      font-weight: 600;
      cursor: default;
    }
  }
}

.midMenu {
  width: $menu-mid-width;
  transition: all $duration ease-in-out;
  ul {
    width: $menu-mid-width;
    transition: all $duration ease-in-out;
    & > .title {
      width: 100%;
      padding-left: 0;
      transition: all $duration ease-in-out;
    }
    span {
      opacity: 0;
      transition: all $duration ease-in-out;
    }
  }
  .menuTitle {
    display: none;
    border-top: $border;
    color: $color-text-active;
  }
}

.minMenu {
  transform: translate(-$menu-max-width, 0);
  transition: all $duration ease-in-out;
  .menuTitle {
    display: none;
    border-top: $border;
    color: $color-text-active;
  }
}
</style>

<style lang='scss'>
.maxMenu,
.midMenu,
.minMenu {
  // element-ui滚动条
  .el-scrollbar__wrap {
    overflow-x: hidden;
  }
  .is-horizontal {
    display: none;
  }
}
</style>
