<template>
  <div :class="isFixed ? 'fixed' : 'tags'" v-if="showTags">
    <ul class='tag-ul' ref='tagUl'>
      <div v-if='Scrolled' class="last">
        <i class="icon-shangyige iconfont" @click="changeLeft(1)"></i>
      </div>
      <div v-if='Scrolled' class="next">
        <i class="icon-xiayige iconfont" @click="changeLeft(0)"></i>
      </div>
      <div class="liBox" ref='liBox' :style="{left}">
        <template v-for="(item,index) in tagsList">
          <li class="tags-li" :class="{'active': isActive(item.path)}" :key="index" v-if='item.title'>
            <router-link :to="item.path" class="tags-li-title">
              {{item.title}}
            </router-link>
            <i class="icon-close iconfont" @click="closeTags(index)"></i>
          </li>
        </template>
      </div>
    </ul>
    <el-dropdown @command="handleTags" class="tags-close-box">
      <div class='selectBox'>
        标签选项
        <i class="el-icon-arrow-down el-icon--right"></i>
      </div>
      <el-dropdown-menu size="small" slot="dropdown" class='menu'>
        <el-dropdown-item command="left">
          <i class="icon-jiantou1 iconfont"></i>
          <span>关闭左侧</span>
        </el-dropdown-item>
        <el-dropdown-item command="right">
          <i class="icon-jiantou iconfont"></i>
          <span>关闭右侧</span>
        </el-dropdown-item>
        <el-dropdown-item command="other">
          <i class="icon-close iconfont"></i>
          <span>关闭其它</span>
        </el-dropdown-item>
        <el-dropdown-item command="all">
          <i class="icon-quanbushanchu iconfont"></i>
          <span>关闭全部</span>
        </el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
  </div>
</template>

<script>

import { bus } from '@/assets/js/comm/constant'

export default {
  name: 'tags',
  data () {
    return {
      tagsList: localStorage.tags ? JSON.parse(localStorage.tags) : [],
      Scrolled: false, // 是否要出现左右箭头地方
      left: 0
    }
  },
  props: {
    isFixed: Boolean // 是否定位
  },
  computed: {
    showTags () {
      return this.tagsList.length > 0
    }
  },
  watch: {
    $route (newValue, oldValue) {
      this.setTags(newValue)
      setTimeout(() => {
        this.isScroll()
      }, 200)
    },
    tagsList: function (newValue, oldValue) {
      if (newValue === undefined) return false
      localStorage.tags = JSON.stringify(newValue) || []
      if (newValue.length === 0) return
      setTimeout(() => {
        this.isScroll()
      }, 200)
    }
  },
  created () {
    this.setTags(this.$route)
    bus.$on('triggerClick', index => {
      this.closeTags(index)
    })
    bus.$on('tags', newTags => {
      this.tagsList = newTags
    })
  },
  mounted () {
    this.isScroll()
  },
  methods: {
    isScroll () { // 是否出现箭头
      let sonWidth = this.$refs.liBox.offsetWidth
      let FatWidth = this.$refs.tagUl.offsetWidth
      if (sonWidth >= FatWidth) {
        this.Scrolled = true
        this.left = FatWidth - sonWidth - 20 + 'px'
      } else {
        this.Scrolled = false
        this.left = '0px'
      }
    },
    changeLeft (type) {
      if (type) {
        this.left = '20px'
      } else {
        this.isScroll()
      }
    },
    isActive (path) {
      return path === this.$route.fullPath
    },
    // 关闭单个标签
    closeTags (index) {
      const delItem = this.tagsList.splice(index, 1)[0]
      const item = this.tagsList[index] ? this.tagsList[index] : this.tagsList[index - 1]
      if (this.tagsList.length === 0) {
        this.$router.push('/overview')
      } else {
        if (item) {
          if (item.name[1] === 'dataEdit') {
            this.closeTags(this.tagsList.indexOf(item))
          } else {
            const canPush = delItem.path === this.$route.fullPath || delItem.name[1] === 'dataEdit'
            canPush && this.$router.push(item.path)
          }
        }
      }
    },
    setTags (route) { // 设置标签
      const isExist = this.tagsList.some(item => {
        return item.path === route.fullPath
      })
      let name = []
      route.matched.map((item) => {
        name.push(item.name)
      })
      !isExist && this.tagsList.push({
        title: route.meta.title,
        path: route.fullPath,
        name
      })
      bus.$emit('tags', this.tagsList)
    },
    handleTags (command) { // 关闭标签
      let index
      this.tagsList.map((item, i) => {
        if (item.path === this.$route.fullPath) {
          index = i
        }
      })
      switch (command) {
        case 'left': this.tagsList.splice(0, index)
          break
        case 'right': this.tagsList.splice(index + 1)
          break
        case 'other': this.tagsList = this.tagsList.filter(item => {
          return item.path === this.$route.fullPath
        })
          break
        case 'all': this.tagsList = []
          this.$router.push('/overview')
          break
        default:
          break
      }
    }
  }
}

</script>

<style lang="scss" scoped>
.tags,
.fixed {
  @extend %flex-center-row;
  justify-content: space-between;
  height: $tags-height;
  width: 100%;
  z-index: 10;
  box-sizing: border-box;
  background: $color-header;
  border-bottom: $border;
  position: relative;

  & > ul {
    flex: 1;
    height: $tags-height;
    position: relative;
    overflow: hidden;

    .last,
    .next {
      @extend %unable-select;
      height: 100%;
      position: absolute;
      bottom: 0;
      z-index: 20;
      text-align: center;
      background: $color-header;
      line-height: $tags-height;
      border-top: $border;
    }
    .next {
      right: 0;
      box-sizing: border-box;
      border-left: $border;
    }
    .last {
      left: 0;
      box-sizing: border-box;
      border: $border;
      border-bottom: none;
    }
    .liBox {
      position: absolute;
      top: 0;
      white-space: nowrap;
      overflow: hidden;
      transition: all $duration ease-in-out;

      & > .tags-li {
        @extend %unable-select;
        height: $tags-height;
        box-sizing: border-box;
        display: inline-block;
        line-height: $tags-height;
        font-size: 14px;
        font-weight: 500;
        padding: 0 20px 0 10px;
        border: $border;
        border-right: none;
        transition: all $duration ease-in-out;

        .tags-li-title {
          display: inline-block;
          box-sizing: border-box;
          padding-left: 10px;
        }

        .iconfont {
          display: inline-block;
          box-sizing: border-box;
          width: 0px;
          opacity: 0;
          font-size: 12px;
          margin: 0;
          transition: all $duration ease-in-out;
        }
        a {
          color: $color-tags-text;
        }

        &:hover {
          padding: 0 6px 0 1px;
          transition: all $duration ease-in-out;
          .iconfont {
            width: 13px;
            opacity: 1;
            margin: 0 5px;
            transition: all $duration ease-in-out;
          }
        }

        &.active {
          padding: 0 10px 0 5px;
          background: #fff;
          border-bottom: 1px solid transparent;
          z-index: 1000;
          transition: all $duration ease-in-out;
          .iconfont {
            width: 13px;
            opacity: 1;
            margin: 0 5px;
            transition: all $duration ease-in-out;
          }
          a,
          i {
            color: $color-text-active;
          }
        }
        // 第一个标签
        &:first-child {
          border-top-left-radius: 6px;
        }
        // 最后一个标签
        &:last-child {
          border-right: $border;
          border-top-right-radius: 6px;
        }
      }
    }
  }
}

.tags-close-box {
  width: 100px;
  height: 100%;
  background: #fff;
  .selectBox {
    @extend %unable-select;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: $tags-height;
    box-sizing: border-box;
    border: $border;
    border-bottom: none;
    border-radius: 6px 6px 0 0;
  }
}

.menu {
  margin: 5px 0;
  .el-dropdown-menu__item {
    padding: 0 12px;
    & > .iconfont {
      font-size: 16px;
    }
    &:hover {
      color: $color-text-active;
      i {
        color: $color-text-active;
      }
    }
  }
}
</style>
