<template>
  <div class='tinymceComponent'>
    <textarea :id="id"></textarea>
  </div>
</template>
<script>
import '@/../static/zh_CN.js'
export default {
  props: {
    value: {
      default: '',
      type: String
    },
    config: {
      type: Object,
      default: () => {
        return {
          theme: 'modern',
          height: 100
        }
      }
    },
    url: {
      default: '',
      type: String
    },
    accept: {
      default: 'image/jpeg, image/png',
      type: String
    },
    maxSize: {
      default: 2097152,
      type: Number
    },
    withCredentials: {
      default: false,
      type: Boolean
    }
  },
  data () {
    const id = Date.now()
    return {
      html: '',
      id: id,
      Editor: null,
      DefaultConfig: {
        height: 500, // 富文本高度
        forced_root_block: 'p', // 任何非块元素或文本节点都包含在当前设定的块元素中
        theme: 'modern', // 主题，默认主题modern(现代) 除此以外的主题需加载响应的主题文件
        menubar: '', // 菜单项 String|Boolean 可选：file edit insert view format table tools help 或者true|false
        toolbar: `styleselect | fontselect | formatselect | fontsizeselect | forecolor backcolor | bold italic underline strikethrough | image  media | table | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | preview removeformat  hr | paste code  link | undo redo | fullscreen `, // 工具栏 String|Boolean 具体工具栏列表参考文档:https://www.tiny.cloud/docs/advanced/editor-control-identifiers/#toolbarcontrols
        insert_button_items: 'image link', // 指定哪些在插入按钮菜单显示  好像不太好使
        plugins: `paste importcss image code table advlist fullscreen link media lists textcolor colorpicker hr preview`, // 用到的插件
        content_style: // 自定义CSS样式设置为注入编辑器iframe的字符串，在最后呈现的页面也要写入这个基本样式保证前后一致， `table`和`img`的问题基本就靠这个来填坑了
          ` *                         { padding:0; margin:0; }
            html, body                { height:100%; }
            img                       { max-width:100%; display:block;height:auto; }
            a                         { text-decoration: none; }
            iframe                    { width: 100%; }
            p                         { line-height:1.6; margin: 0px; }
            table                     { word-wrap:break-word; word-break:break-all; max-width:100%; border:none; border-color:#999; }
            .mce-object-iframe        { width:100%; box-sizing:border-box; margin:0; padding:0; }
            ul,ol                     { list-style-position:inside; }
          `,
        importcss_append: true, // 是否将导入的样式附加到Format菜单的末尾，并将替换默认格式
        paste_retain_style_properties: 'all', // 指定在粘贴MS Word和类似Office套件产品中的内容时要保留的样式，all：保留所有样式
        paste_word_valid_elements: '*[*]', // 指定在截取Word内容时要包括的元素和属性，Word会生成大量的垃圾HTML，可以在这里过滤
        paste_data_images: true, // 粘贴的同时能把内容里的图片自动上传
        paste_convert_word_fake_lists: false, // 插入word文档需要该属性，允许您禁用将列表（如段落结构）转换为实际语义HTML列表的逻辑
        paste_webkit_styles: 'all', // 指定在WebKit中粘贴时要保留的样式
        paste_merge_formats: true, // 启用粘贴插件的合并格式功能
        nonbreaking_force_tab: false, // 允许您&nbsp;在用户按下键盘tab键时强制TinyMCE插入三个实体
        // paste_auto_cleanup_on_paste: false, // 没查到
        fontsize_formats: '10px 11px 12px 14px 16px 18px 20px 22px 24px 26px 28px 30px', // 字号下拉选项
        font_formats: `微软雅黑=微软雅黑;宋体=宋体;黑体=黑体;仿宋=仿宋;楷体=楷体;隶书=隶书;幼圆=幼圆;Andale Mono=andale mono,times;Arial=arial, helvetica,sans-serif;Arial Black=arial black, avant garde;Book Antiqua=book antiqua,palatino;Comic Sans MS=comic sans ms,sans-serif;Courier New=courier new,courier;Georgia=georgia,palatino;Helvetica=helvetica;Impact=impact,chicago;Symbol=symbol;Tahoma=tahoma,arial,helvetica,sans-serif;Terminal=terminal,monaco;Times New Roman=times new roman,times;Trebuchet MS=trebuchet ms,geneva;Verdana=verdana,geneva;Webdings=webdings;Wingdings=wingdings,zapf dingbats`, // 字体下拉选项
        style_formats: [ // 为编辑器添加更多高级样式格式的文本和其他元素
          {
            title: '首行缩进',
            block: 'p',
            styles: { 'text-indent': '2em' }
          },
          {
            title: '行高',
            items: [
              { title: '1', styles: { 'line-height': '1' }, inline: 'span' },
              { title: '1.5', styles: { 'line-height': '1.5' }, inline: 'span' },
              { title: '2', styles: { 'line-height': '2' }, inline: 'span' },
              { title: '2.5', styles: { 'line-height': '2.5' }, inline: 'span' },
              { title: '3', styles: { 'line-height': '3' }, inline: 'span' }
            ]
          }
        ],
        tabfocus_elements: ':prev,:next', // 用户在编辑器中按Tab键时要聚焦的元素，特殊值":prev"和":next"值，按下tab键焦点会放置TinyMCE实例之前/之后的一个输入元素上
        object_resizing: true, // String|Boolean 禁用所有图像/表格的大小调整 可选值：img|table true|false
        imagetools_toolbar: 'rotateleft rotateright | flipv fliph | editimage imageoptions' // 控制图像上下文工具栏上显示的按钮，比如左右拖拽大小，上下拖拽大小
      }
    }
  },
  mounted () {
    this.init()
  },
  beforeDestroy () {
    this.$emit('on-destroy') // 销毁tinymce
    window.tinymce.remove(`#${this.id}`)
  },
  methods: {
    init () {
      const self = this
      this.Editor = window.tinymce.init({
        ...this.DefaultConfig, // 默认配置
        ...this.config, // prop内传入的的config
        selector: `#${this.id}`, // 挂载的DOM对象
        // readonly: true, // 只读状态
        setup: (editor) => {
          editor.on('init', () => {
            self.loading = false
            self.$emit('on-ready')// 抛出 'on-ready' 事件钩子
            editor.setContent(self.value)
          })
        },
        init_instance_callback: function (editor) { // redo(撤销):当内容恢复到以前的状态时触发  redo（重复）:还原撤消事件时触发
          editor.on('input change undo redo', () => {
            self.$emit('input', editor.getContent()) // 抛出 'input' 事件钩子，同步value数据
          })
        },
        images_upload_handler: function (blobInfo, success, failure) { // 图片上传
          if (blobInfo.blob().size > self.maxSize) {
            failure('文件体积过大')
          }
          if (self.accept.indexOf(blobInfo.blob().type) > 0) {
            uploadPic()
          } else {
            failure('图片格式错误')
          }
          function uploadPic () {
            const xhr = new XMLHttpRequest()
            const formData = new FormData()
            xhr.withCredentials = self.withCredentials
            xhr.open('POST', self.url)
            xhr.onload = function () {
              if (xhr.status !== 200) {
                self.$emit('on-upload-fail') // 抛出 'on-upload-fail' 钩子
                failure('上传失败: ' + xhr.status)
                return
              }
              const json = JSON.parse(xhr.responseText)
              self.$emit('on-upload-complete', [ // 抛出 'on-upload-complete' 钩子
                json, success, failure
              ])
            }
            formData.append('file', blobInfo.blob())
            xhr.send(formData)
          }
        }
      })
    }
  }
}
</script>
<style lang="scss">
.miniTynymce {
  .mce-menubtn.mce-fixed-width {
    span {
      width: 28px !important;
    }
  }
}
</style>
