<template>
  <div class="guide">
    <el-steps :active="active" finish-status="success">
      <el-step title="功能模型" @click.native="stepClick('one',$event)"></el-step>
      <el-step title="数据模型" @click.native="stepClick('two',$event)"></el-step>
    </el-steps>
    <div class="mainContent">
      <div v-if="active===0" class="functionModel">
        <functionModel ref="functionModel" :functionData="functionData"></functionModel>
      </div>
      <div v-if="active===1" class="dataModel">
        <dataModel :guide=1 :dataType="dataType" :dataSourceName="dataSourceName" :lineName="lineName" :displayName="displayName" :displayNameFormat="displayNameFormat" ref="dataModel"></dataModel>
      </div>
    </div>
    <div class="Btn" v-show="active===0">
      <el-button type="primary" @click="saveFun" v-show="clickType!==1">保存草稿</el-button>
      <el-button type="primary" @click="submitFun" v-show="clickType!==1">保存</el-button>
      <el-button type="primary" @click="edit" v-show="clickType==1">编辑</el-button>
      <el-button type="primary" @click="next">下一步</el-button>
      <el-button type="primary" @click="cancel">取消</el-button>
    </div>
    <div class="Btn" v-show="active===1">
      <el-button type="primary" @click="prev">上一步</el-button>
      <el-button type="primary" @click="saveData" v-show="clickType!==1">保存草稿</el-button>
      <el-button type="primary" @click="submitData" v-show="clickType!==1">保存</el-button>
      <el-button type="primary" @click="edit" v-show="clickType==1">编辑</el-button>
      <el-button type="primary" @click="cancel">取消</el-button>
    </div>
  </div>
</template>
<script type="text/ecmascript-6">
import functionModel from './functionModel/index'
import dataModel from '../dataEdit/index'
import ModelService from '../../assets/js/service/modelservice.js'

export default {
  name: 'guide',
  components: {
    functionModel,
    dataModel
  },
  data () {
    return {
      dataType: 1,
      clickType: 0,
      active: 0,
      status: '',
      name: '',
      dataName: '',
      dataSourceName: '',
      lineName: '',
      functionData: {},
      formData: {},
      configuration: '',
      appName: '',
      appVersion: '',
      editFlag: 1,
      funId: '',
      isDisabled: false,
      displayName: '',
      displayNameFormat: '',
      dataFlag: 1,
      newPoints: []
    }
  },
  created () {
    this.clickType = parseInt(localStorage.getItem('clickType'))
  },
  methods: {
    stepClick (num, e) {
      // console.log(num, e)
      const className = e.target.className
      if (className.includes('el-step__icon')) {
        if (num === 'one' && this.active === 1) {
          this.prev()
        } else if (num === 'two' && this.active === 0) {
          this.next()
        }
      }
    },
    edit () {
      this.clickType = 3
    },
    // 取消
    cancel () {
      if (this.dataFlag === 2) {
        this.$confirm('离开当前页面将失去编辑数据, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$router.push({
            name: 'function'
          })
        }).catch(() => {
        })
      } else {
        if (this.clickType !== 1 && this.$refs.functionModel.time > 3) {
          this.$confirm('离开当前页面将失去编辑数据, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            this.$router.push({
              name: 'function'
            })
          }).catch(() => {
          })
        } else {
          this.$router.push({
            name: 'function'
          })
        }
      }
    },
    // 下一步
    next () {
      this.editFlag = 1
      this.isDisabled = true
      this.dataSourceName = this.$refs.functionModel.dialogForm.dataSourceName || ''
      this.lineName = this.$refs.functionModel.dialogForm.name
      this.displayName = this.$refs.functionModel.dialogForm.displayName
      this.displayNameFormat = this.$refs.functionModel.dialogForm.displayNameFormat
      this.newPoints = this.$refs.functionModel.newPointerArr
      // console.log(this.displayName)
      // console.log(this.displayNameFormat)
      // this.active = 1
      this.funId = localStorage.getItem('funId')
      if (this.clickType === 1) {
        this.active = 1
      } else {
        // if (this.$refs.functionModel.time > 3 && this.editFlag !== 0) {
        // this.$messageService.error('请先保存功能模型！')
        let formData = this.$refs.functionModel.dialogForm
        let newdeployModuleName = this.$refs.functionModel.dialogForm.deployModuleName
        let newcheckedArr = this.$refs.functionModel.checkedArr
        // console.log(formData, newdeployModuleName, newcheckedArr)
        // console.log(formData.dataSourceName)
        if (!formData.dataSourceName) {
          this.dataType = 0
        }
        if (!formData.name || !formData.displayName || !formData.functionType || !formData.tCode || formData.permissionPoints.length < 1) {
          this.$messageService.error('请填写必填信息！')
          // this.active = 1
          this.isDisabled = false
        } else {
          if (this.$refs.functionModel.time > 3) {
            let params = {
              newPoints: this.$refs.functionModel.newPointerArr,
              appName: this.$refs.functionModel.appName,
              appVersion: this.$refs.functionModel.appVersion,
              // 名称
              name: formData.name,
              // 中文名称表达式
              displayNameFormat: formData.displayNameFormat,
              //  中文名称
              displayName: formData.displayName,
              // 类型
              functionType: formData.functionType,
              tCode: formData.tCode,
              // 权限行为
              permissionPoints: formData.permissionPointsArr,
              // 数据模型
              dataSourceName: this.dataName || formData.dataSourceName,
              // 配置包
              deployModuleName: newdeployModuleName,
              // ui模型
              uiModuleName: formData.uiModuleName,
              reportTitle: formData.reportTitle,
              allowMenuHook: formData.allowMenuHook,
              containsList: formData.containsList,
              needCheckPermission: formData.needCheckPermission,
              mid: formData.mid ? formData.mid : null,
              checkedArr: newcheckedArr
            }
            ModelService.saveModel('functionmodel', params).then(res => {
              // console.log(res)
              if (res.data === 'true') {
                // console.log(110)
              } else {
                localStorage.setItem('funId', res.data)
              }
              if (res.code === 200) {
                this.isDisabled = false
                // this.$messageService.success('操作成功')
                localStorage.setItem('funName', params.name)
                localStorage.setItem('status', 'Draft')
                this.active = 1
              } else {
                this.$messageService.error(res.message)
              }
            })
          } else {
            this.active = 1
          }
        }
        this.editFlag = 0
        // } else {
        //   // this.$messageService.error('请填写必填信息！')
        //   this.active = 1
        //   this.isDisabled = false
        // }
      }
      // this.active = 1
      localStorage.setItem('lineName', this.$refs.functionModel.dialogForm.name)
      this.functionData = { ...this.$refs.functionModel.dialogForm }
      // console.log(this.functionData)
      // console.log(this.$refs.functionModel.parent.mid)
      this.configuration = this.$refs.functionModel.parent.mid
      this.appName = this.$refs.functionModel.appName
      this.appVersion = this.$refs.functionModel.appVersion
      this.dataFlag = 2
    },
    // 上一步
    prev () {
      // localStorage.setItem('dataName', this.$refs.dataModel.dataName)
      this.active = 0
      this.isDisabled = false
      // console.log(this.functionData)
    },
    saveFun () {
      // console.log(this.$refs.functionModel.newPointerArr)
      let formData = this.$refs.functionModel.dialogForm
      let newdeployModuleName = this.$refs.functionModel.dialogForm.deployModuleName
      let newcheckedArr = this.$refs.functionModel.checkedArr
      this.dataName = localStorage.getItem('dataName')
      // console.log(this.dataName)
      if (!formData.name || !formData.displayName || !formData.functionType || !formData.tCode || formData.permissionPoints.length < 1) {
        this.$messageService.error('请填写必填信息！')
      } else {
        console.log(formData.functionType)
        if (formData.functionType === 'SystemFuncPermit' || formData.functionType === 'SimplePermit') {
          let params = {
            newPoints: this.$refs.functionModel.newPointerArr,
            appName: this.$refs.functionModel.appName,
            appVersion: this.$refs.functionModel.appVersion,
            // 名称
            name: formData.name,
            // 中文名称表达式
            displayNameFormat: formData.displayNameFormat,
            //  中文名称
            displayName: formData.displayName,
            // 类型
            functionType: formData.functionType,
            tCode: formData.tCode,
            // 权限行为
            permissionPoints: formData.permissionPointsArr,
            // 数据模型
            dataSourceName: this.dataName || formData.dataSourceName,
            // 配置包
            deployModuleName: newdeployModuleName,
            // ui模型
            uiModuleName: formData.uiModuleName,
            reportTitle: formData.reportTitle,
            allowMenuHook: formData.allowMenuHook,
            containsList: formData.containsList,
            needCheckPermission: formData.needCheckPermission,
            mid: formData.mid || null,
            checkedArr: newcheckedArr
          }
          ModelService.saveModel('functionmodel', params).then(res => {
            if (res.code === 200) {
              this.$messageService.success('操作成功')
              localStorage.setItem('funName', params.name)
              localStorage.setItem('status', 'Draft')
            } else {
              this.$messageService.error(res.message)
            }
          })
        } else {
          // console.log('这是什么贵')
          this.$messageService.info('请维护功能模型！')
          let params = {
            newPoints: this.$refs.functionModel.newPointerArr,
            appName: this.$refs.functionModel.appName,
            appVersion: this.$refs.functionModel.appVersion,
            // 名称
            name: formData.name,
            // 中文名称表达式
            displayNameFormat: formData.displayNameFormat,
            //  中文名称
            displayName: formData.displayName,
            // 类型
            functionType: formData.functionType,
            tCode: formData.tCode,
            // 权限行为
            permissionPoints: formData.permissionPointsArr,
            // 数据模型
            dataSourceName: this.dataName || formData.dataSourceName,
            // 配置包
            deployModuleName: newdeployModuleName,
            // ui模型
            uiModuleName: formData.uiModuleName,
            reportTitle: formData.reportTitle,
            allowMenuHook: formData.allowMenuHook,
            containsList: formData.containsList,
            needCheckPermission: formData.needCheckPermission,
            mid: formData.mid || null,
            checkedArr: newcheckedArr
          }
          ModelService.saveModel('functionmodel', params).then(res => {
            if (res.code === 200) {
              this.$messageService.success('操作成功')
              localStorage.setItem('funName', params.name)
              localStorage.setItem('status', 'Draft')
            } else {
              this.$messageService.error(res.message)
            }
          })
        }
      }
      this.editFlag = 0
    },
    submitFun () {
      this.funId = localStorage.getItem('funId')
      let formData = this.$refs.functionModel.dialogForm
      this.dataName = localStorage.getItem('dataName')
      if (!formData.name || !formData.displayName || !formData.functionType || !formData.tCode || formData.permissionPoints.length < 1) {
        this.$messageService.error('缺少必填字段，无法保存！')
      } else {
        // console.log(formData.functionType)
        // console.log(formData.dataSourceName)
        if (!formData.dataSourceName) {
          if (formData.functionType === 'SystemFuncPermit' || formData.functionType === 'SimplePermit') {
            this.$confirm('本功能不需要数据结构定义吗？', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              let params = {
                newPoints: this.$refs.functionModel.newPointerArr,
                appName: this.$refs.functionModel.appName,
                appVersion: this.$refs.functionModel.appVersion,
                // 名称
                name: formData.name,
                // 中文名称表达式
                displayNameFormat: formData.displayNameFormat,
                //  中文名称
                displayName: formData.displayName,
                // 类型
                functionType: formData.functionType,
                tCode: formData.tCode,
                // 权限行为
                permissionPoints: formData.permissionPointsArr,
                // 数据模型
                dataSourceName: this.dataName || formData.dataSourceName,
                // 配置包
                deployModuleName: formData.deployModuleName,
                // ui模型
                uiModuleName: formData.uiModuleName,
                reportTitle: formData.reportTitle,
                allowMenuHook: formData.allowMenuHook,
                containsList: formData.containsList,
                needCheckPermission: formData.needCheckPermission,
                mid: this.funId || formData.mid || null,
                checkedArr: this.$refs.functionModel.parent.mid ? this.$refs.functionModel.parent.mid.split(',') : []
              }
              // console.log(params.mid)
              ModelService.submitFun({ ...params }).then(res => {
                if (res.code === 200) {
                  this.$messageService.success('操作成功')
                  localStorage.setItem('funName', params.name)
                  localStorage.setItem('status', 'COMMIT')
                } else {
                  this.$messageService.error(res.message)
                }
              })
              this.$router.push({
                name: 'function'
              })
            }).catch(() => {
              this.next()
              // let params = {
              //   newPoints: this.$refs.functionModel.newPointerArr,
              //   appName: this.$refs.functionModel.appName,
              //   appVersion: this.$refs.functionModel.appVersion,
              //   // 名称
              //   name: formData.name,
              //   // 中文名称表达式
              //   displayNameFormat: formData.displayNameFormat,
              //   //  中文名称
              //   displayName: formData.displayName,
              //   // 类型
              //   functionType: formData.functionType,
              //   tCode: formData.tCode,
              //   // 权限行为
              //   permissionPoints: formData.permissionPointsArr,
              //   // 数据模型
              //   dataSourceName: this.dataName || formData.dataSourceName,
              //   // 配置包
              //   deployModuleName: formData.deployModuleName,
              //   // ui模型
              //   uiModuleName: formData.uiModuleName,
              //   reportTitle: formData.reportTitle,
              //   allowMenuHook: formData.allowMenuHook,
              //   containsList: formData.containsList,
              //   needCheckPermission: formData.needCheckPermission,
              //   mid: this.funId || formData.mid || null,
              //   checkedArr: this.$refs.functionModel.parent.mid ? this.$refs.functionModel.parent.mid.split(',') : []
              // }
              // console.log(params.mid)
              // ModelService.submitFun({ ...params }).then(res => {
              //   if (res.code === 200) {
              //     this.$messageService.success('操作成功')
              //     localStorage.setItem('funName', params.name)
              //     localStorage.setItem('status', 'COMMIT')
              //   } else {
              //     this.$messageService.error(res.message)
              //   }
              // })
            })
          } else {
            this.$messageService.error('类型为非操作功能类或自定义权限类模型无法保存')
            // let params = {
            //   newPoints: this.$refs.functionModel.newPointerArr,
            //   appName: this.$refs.functionModel.appName,
            //   appVersion: this.$refs.functionModel.appVersion,
            //   // 名称
            //   name: formData.name,
            //   // 中文名称表达式
            //   displayNameFormat: formData.displayNameFormat,
            //   //  中文名称
            //   displayName: formData.displayName,
            //   // 类型
            //   functionType: formData.functionType,
            //   tCode: formData.tCode,
            //   // 权限行为
            //   permissionPoints: formData.permissionPointsArr,
            //   // 数据模型
            //   dataSourceName: this.dataName || formData.dataSourceName,
            //   // 配置包
            //   deployModuleName: formData.deployModuleName,
            //   // ui模型
            //   uiModuleName: formData.uiModuleName,
            //   reportTitle: formData.reportTitle,
            //   allowMenuHook: formData.allowMenuHook,
            //   containsList: formData.containsList,
            //   needCheckPermission: formData.needCheckPermission,
            //   mid: this.funId || formData.mid || null,
            //   checkedArr: this.$refs.functionModel.parent.mid ? this.$refs.functionModel.parent.mid.split(',') : []
            // }
            // console.log(params.mid)
            // ModelService.submitFun({ ...params }).then(res => {
            //   if (res.code === 200) {
            //     this.$messageService.success('操作成功')
            //     localStorage.setItem('funName', params.name)
            //     localStorage.setItem('status', 'COMMIT')
            //   } else {
            //     this.$messageService.error(res.message)
            //   }
            // })
          }
        } else {
          let params = {
            newPoints: this.$refs.functionModel.newPointerArr,
            appName: this.$refs.functionModel.appName,
            appVersion: this.$refs.functionModel.appVersion,
            // 名称
            name: formData.name,
            // 中文名称表达式
            displayNameFormat: formData.displayNameFormat,
            //  中文名称
            displayName: formData.displayName,
            // 类型
            functionType: formData.functionType,
            tCode: formData.tCode,
            // 权限行为
            permissionPoints: formData.permissionPointsArr,
            // 数据模型
            dataSourceName: this.dataName || formData.dataSourceName,
            // 配置包
            deployModuleName: formData.deployModuleName,
            // ui模型
            uiModuleName: formData.uiModuleName,
            reportTitle: formData.reportTitle,
            allowMenuHook: formData.allowMenuHook,
            containsList: formData.containsList,
            needCheckPermission: formData.needCheckPermission,
            mid: this.funId || formData.mid || null,
            checkedArr: this.$refs.functionModel.parent.mid ? this.$refs.functionModel.parent.mid.split(',') : []
          }
          // console.log(params.mid)
          ModelService.submitFun({ ...params }).then(res => {
            if (res.code === 200) {
              this.$messageService.success('操作成功')
              localStorage.setItem('funName', params.name)
              localStorage.setItem('status', 'COMMIT')
            } else {
              this.$messageService.error(res.message)
            }
          })
        }
      }
      this.editFlag = 0
    },
    saveData () {
      this.$refs.dataModel.saveAll().then((res) => {
        // console.log(res)
        if (res) {
          // console.log('失败')
        } else {
          // this.$refs.dataModel.saveAll()
          localStorage.setItem('dataName', this.$refs.dataModel.dataName.name)
          this.funId = localStorage.getItem('funId')
          this.dataName = localStorage.getItem('dataName')
          let params = {
            newPoints: this.newPoints,
            appName: this.appName,
            appVersion: this.appVersion,
            // 名称
            name: this.functionData.name,
            // 中文名称表达式
            displayNameFormat: this.functionData.displayNameFormat,
            //  中文名称
            displayName: this.functionData.displayName,
            // 类型
            functionType: this.functionData.functionType,
            tCode: this.functionData.tCode,
            // 权限行为
            permissionPoints: this.functionData.permissionPointsArr,
            // 数据模型
            dataSourceName: this.dataName,
            // 配置包
            deployModuleName: this.functionData.deployModuleName,
            // ui模型
            uiModuleName: this.functionData.uiModuleName,
            reportTitle: this.functionData.reportTitle,
            allowMenuHook: this.functionData.allowMenuHook,
            containsList: this.functionData.containsList,
            needCheckPermission: this.functionData.needCheckPermission,
            mid: this.funId || this.functionData.mid || null,
            checkedArr: this.configuration ? this.configuration : []
          }
          ModelService.saveModel('functionmodel', params).then(res => {
            if (res.code === 200) {
              // this.$refs.dataModel.saveAll()
              localStorage.setItem('funName', params.name)
              localStorage.setItem('status', 'Draft')
              this.active = 1
            } else {
              this.$messageService.error(res.message)
            }
          })
        }
      }).catch(() => {
        // console.log('成功')
      })
    },
    submitData () {
      this.$refs.dataModel.submitAll().then((res) => {
        if (res) {
          // console.log('失败')
        } else {
          localStorage.setItem('dataName', this.$refs.dataModel.dataName.name)
          // console.log(this.$refs.dataModel.dataName.name)
          this.funId = localStorage.getItem('funId')
          this.dataName = localStorage.getItem('dataName')
          let params = {
            newPoints: this.newPoints,
            appName: this.appName,
            appVersion: this.appVersion,
            // 名称
            name: this.functionData.name,
            // 中文名称表达式
            displayNameFormat: this.functionData.displayNameFormat,
            //  中文名称
            displayName: this.functionData.displayName,
            // 类型
            functionType: this.functionData.functionType,
            tCode: this.functionData.tCode,
            // 权限行为
            permissionPoints: this.functionData.permissionPointsArr,
            // 数据模型
            dataSourceName: this.dataName,
            // 配置包
            deployModuleName: this.functionData.deployModuleName,
            // ui模型
            uiModuleName: this.functionData.uiModuleName,
            reportTitle: this.functionData.reportTitle,
            allowMenuHook: this.functionData.allowMenuHook,
            containsList: this.functionData.containsList,
            needCheckPermission: this.functionData.needCheckPermission,
            mid: this.funId || this.functionData.mid || null,
            checkedArr: this.configuration ? this.configuration : []
          }
          // console.log(params.mid)
          ModelService.submitFun({ ...params }).then(res => {
            if (res.code === 200) {
              localStorage.setItem('funName', params.name)
              localStorage.setItem('status', 'COMMIT')
              this.active = 1
            } else {
              this.$messageService.error(res.message)
            }
          })
        }
      }).catch(() => {
        // console.log('成功')
      })
    }
  }
}
</script>
<style lang="scss">
.guide {
  background-color: #fff;
  padding: $content-box-righ-padding;
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .el-steps {
    width: 60%;
    // height: 100px;
  }
  .mainContent {
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 1;
    overflow: auto;
    // .functionModel {
    //   // width: 80%;
    // }
    .dataModel {
      width: 100%;
      border: 1px solid #eee;
      margin-bottom: 16px;
      overflow-x: hidden;
    }
  }
  .Btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>
