<template>
  <div class='spmodel'>
    <div class="functionTop">
      <div class="functionTitle">
        <h3>存储过程维护</h3>
        <p>设置存储过程模型，可添加（新增或从数据库导入）、删除、修改存储过程</p>
      </div>
      <div class="functionButton">
        <div class="topRow el-form-item">
          <el-input v-model="keyWord" placeholder="请输入需要搜索的名称" maxlength="64" @keyup.enter.native="search"></el-input>
        </div>
        <div class="topRow">
          <el-button type="primary" plain @click="search" icon="el-icon-search">查询</el-button>
        </div>
        <div class="topRow">
          <el-button type="primary" @click="changeStorage({}, '添加')" icon="el-icon-plus">添加</el-button>
        </div>
      </div>
    </div>
    <!-- 表格 -->
    <div class="table">
      <el-table :data="tableData" style="width: 100%" border>
        <el-table-column type="index" label="序号" width="50"></el-table-column>
        <el-table-column v-for='column in columns' :prop="column.value" :label="column.text" :key='column.value' :width="column.width"></el-table-column>
        <el-table-column label="操作" width="100" align='left' fixed='right'>
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="changeStorage(scope.row, '编辑')">编辑</el-button>
            <el-button type="text" size="small" @click='resetForm("您确定删除这个存储项吗？", scope, "delete")'>删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <!-- 分页 -->
    <div class="pagination" v-show="tableData.length > 0">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="pageNo" :page-sizes="[10, 20, 30, 40]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="pageTotal">
      </el-pagination>
    </div>
    <!-- 新增弹出框 -->
    <el-dialog title="存储过程明细" :visible.sync="dialogVisible" class='dialogForm' :close-on-click-modal="false" :close-on-press-escape='false' :before-close='handleClose' width="800px" top='42px'>
      <div class="iptBox">
        <el-form :model="form" :rules="rules" ref="ruleForm" label-position="left" label-width="80px" class="demo-ruleForm">
          <el-form-item label="名称" prop="name" style="margin-right:20px;">
            <el-input v-model="form.name" maxlength="64"></el-input>
          </el-form-item>
          <el-form-item label="中文名称" prop="displayName" label-width="80px">
            <name-express @getExpress='getExpress' :initExpress='form.displayNameFormat'></name-express>
          </el-form-item>
        </el-form>
      </div>
      <!-- params表格和默认配置选择 -->
      <div class="contentBox">
        <el-tabs @tab-click="handleClick($event)" class="el-form-item">
          <el-tab-pane label="参数列表" class='paramsTable'>
            <el-table :data="form.params" style="border-top:1px solid #ebeef5;" border>
              <el-table-column label="关联字段字典" width="130">
                <template slot-scope="scope">
                  <el-select value-key="name" v-model="scope.row.source" placeholder="请选择字段字典" @change='selectParam(scope)'>
                    <el-option v-for="item in paramList" :key="item.name" :label="item.name+'('+item.displayName+')'" :value="item" :disabled="item.flag">
                    </el-option>
                  </el-select>
                </template>
              </el-table-column>
              <el-table-column label="参数名" width="128" label-class-name='require'>
                <template slot-scope="scope">
                  <span v-if="!scope.row.editable">{{scope.row.name}}</span>
                  <el-input v-else v-model="scope.row.name" placeholder="请输入参数名" maxlength="64"></el-input>
                </template>
              </el-table-column>
              <el-table-column label="数据类型" width="160" label-class-name='require'>
                <template slot-scope="scope">
                  <span v-if="!scope.row.editable">{{scope.row.dataTypeName}}</span>
                  <el-select v-else v-model="scope.row.dataTypeName" filterable placeholder="请选择数据类型">
                    <el-option v-for="item in dataKind" :key="item.value" :label="item.value" :value="item.key"></el-option>
                  </el-select>
                </template>
              </el-table-column>
              <el-table-column label="允许为空" width="100" label-class-name='require'>
                <template slot-scope="scope">
                  <el-switch v-if="!scope.row.editable" v-model="scope.row.nullable" active-color="#13ce66" inactive-color="#dcdfe6" disabled></el-switch>
                  <el-switch v-else v-model="scope.row.nullable" active-color="#13ce66" inactive-color="#dcdfe6"></el-switch>
                </template>
              </el-table-column>
              <el-table-column label="参数方向" width="150" label-class-name='require'>
                <template slot-scope="scope">
                  <span v-if="!scope.row.editable">{{inOrOutLabel(scope.row.inOrOut)}}</span>
                  <el-select v-else v-model="scope.row.inOrOut" placeholder="请选择参数方向">
                    <el-option v-for="item in inOrOutList" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                  </el-select>
                </template>
              </el-table-column>
              <el-table-column label="默认值" width="150" label-class-name='miniColumn'>
                <template slot-scope="scope">
                  <span v-if="!scope.row.editable">{{scope.row.defaultValue}}</span>
                  <el-input v-else v-model="scope.row.defaultValue" placeholder="请输入默认值" maxlength="64"></el-input>
                </template>
              </el-table-column>
              <el-table-column label="小数位数" width="130" label-class-name='miniColumn'>
                <template slot-scope="scope">
                  <span v-if="!scope.row.editable">{{scope.row.decimalPlaces}}</span>
                  <el-input-number size="mini" controls-position="right" :precision="0" v-model="scope.row.decimalPlaces" :min="0" label="请选择小数点位数" :disabled='scope.row.dataTypeName !== "Double" && scope.row.dataTypeName !== "Decimal"'></el-input-number>
                </template>
              </el-table-column>
              <el-table-column label="数据长度" width="130">
                <template slot-scope="scope">
                  <span v-if="!scope.row.editable">{{scope.row.dataLength}}</span>
                  <el-input-number size="mini" controls-position="right" :precision="0" v-model="scope.row.dataLength" :min="0" label="请选择数据长度"></el-input-number>
                </template>
              </el-table-column>
              <!-- <el-table-column label="关联数据源" width="150">
                <template slot-scope="scope">
                  <span v-if="!scope.row.editable">{{scope.row.source}}</span>
                  <searchBox v-else v-model='scope.row.source' :options='tableTreeData' type='tree' @select="selectThree" placeholder="请选择或者搜索" class='searchBox' limit=2 :props='defaultProps'></searchBox>
                </template>
              </el-table-column> -->
              <el-table-column label="操作" width="100" fixed='right' align='left'>
                <template slot-scope="scope">
                  <el-button type="text" size="small" @click="addRow(scope.$index)">新增</el-button>
                  <el-button type="text" size="small" @click="dialogDeleteRow(scope)">删除</el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-tab-pane>
          <!-- 存储过程 -->
          <el-tab-pane label="存储过程">
            <div class="demoBox">
              <div>
                <el-select v-model="dataBase" placeholder="请选择" style="margin-right:16px;" key='2'>
                  <el-option label="MySql" value="MySql">
                  </el-option>
                </el-select>
                <el-select value-key="name" v-model="demo" placeholder="下拉选择存储过程进行导入" @change='selectDemo'>
                  <el-option v-for="item in storageList" :key="item.name" :label="item.name" :value="item">
                  </el-option>
                </el-select>
              </div>
            </div>
            <textarea v-model='form.sql' maxlength="65535"></textarea>
          </el-tab-pane>
        </el-tabs>
        <div class="btnBox">
          <el-button type="primary">创建到DB</el-button>
          <el-button type="primary" @click="saveStorage">保存</el-button>
          <el-button type="primary" plain @click='resetForm("是否放弃当前编辑并退出？", {}, "close")'>取消</el-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { nameReg, chineseReg } from '@/assets/js/comm/constant'
import { mapState, mapActions } from 'vuex'
import nameExpress from '@/components/nameExpress/input.vue'
import searchBox from '@/components/searchBox/beta'
import modelService from '@/assets/js/service/modelservice'
import { pageCommon } from '@/assets/js/mixin/mixin.js'
import { typeOptions } from '@/assets/js/data/data'

export default {
  name: 'spmodel',
  components: { nameExpress, searchBox },
  mixins: [pageCommon],
  data () {
    let checkName = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('存储名称不能为空'))
      }
      setTimeout(() => {
        if (!nameReg.test(value)) {
          callback(new Error('名称只允许为字母数字或者._-且不能数字开头'))
          return
        }
        callback()
      }, 300)
    }
    let checkdisplayName = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('中文名称不能为空'))
      }
      setTimeout(() => {
        if (!chineseReg.test(value)) {
          callback(new Error('格式不符合规范，请以中文开头'))
          return
        }
        callback()
      }, 300)
    }
    return {
      keyWord: '',
      time: 1, // 协助判断是否改动了dialog表单值
      typeOptions, // 数据类型列表
      nowTab: '参数列表', // 当前tab的lable
      pageSize: 10, // 每页条数
      changeType: '', // 添加或者编辑
      dialogVisible: false, // 弹出框
      expressShow: false, // 表达式弹出框
      tableData: [], // 存储过程列表
      dataBase: 'MySql', // 数据库类型
      demo: {}, // 选择的默认配置
      paramList: [], // 字段字典列表
      storageList: [], // 获取到的默认配置列表
      defaultProps: { // searchBox中下拉树的props
        children: 'child', // 下拉树或者表格树中表示子节点数组的属性
        label: 'displayName', // 下拉树中用来显示的名称
        id: 'mid', // 用来表示树节点唯一标志的属性
        keyWord: 'displayName'// 用来筛选或者显示的属性
      },
      columns: [
        {
          text: '名称',
          value: 'name',
          width: 200
        },
        {
          text: '中文名称',
          value: 'displayName',
          width: 200
        },
        {
          text: '参数',
          value: 'paramNames'
        }
      ],
      form: {
        'visible': false, // 删除确认
        'mid': 0, // 主键 可选
        'name': '', // 名称
        'displayName': '', // 中文名称
        'displayNameFormat': '', // 中文名称格式
        'params': [],
        'sql': ''
      },
      rules: { // 新增/编辑校验
        name: [
          { required: true, validator: checkName, trigger: 'blur' }
        ],
        displayName: [
          { required: true, validator: checkdisplayName, trigger: 'blur' }
        ]
      },
      inOrOutList: [ // 参数方向
        {
          value: 0,
          label: '输入'
        },
        {
          value: 1,
          label: '输出'
        },
        {
          value: 2,
          label: '输入输出'
        }
      ]
    }
  },
  computed: {
    ...mapState({
      'dataKind': state => state.options.dataKind // 数据类型
    })
  },
  watch: {
    dialogVisible: function (newValue) {
      if (!newValue) {
        this.paramList.map((item, index) => {
          this.paramList[index]['flag'] = false
        })
        this.demo = {}
        this.getList(this.keyWord)
      }
    },
    demo: function (newV, oldV) {
      this.oldDemo = oldV
    },
    form: {
      handler: function (newV) {
        if (this.dialogVisible) {
          this.time++
        }
      },
      deep: true
    }
  },
  created () {
    this.listSp()
    this.getParamList()
    this.getDataKind()
  },
  methods: {
    search () {
      this.getList(this.keyWord)
    },
    handleClick (e) {
      this.nowTab = e.label
    },
    getParamList () { // 获取字段字典列表
      modelService.queryByPage('fielddictmodel', 1, 10000).then((res) => {
        this.paramList = res.data.list || []
      })
    },
    listSp () { // 获取存储过程下拉列表
      modelService.listSp().then((res) => {
        if (res.data) {
          this.storageList = res.data
        }
      })
    },
    getList (keyWord) { // 获取存储模型列表
      modelService.queryByPage('storedProcedureModel', this.pageNo, this.pageSize, keyWord).then((res) => {
        if (res.data && res.data.list) {
          res.data.list.map(item => {
            if (item.params) {
              let paramNames = ''
              item.params.map(param => {
                this.$set(param, 'editable', true)
                if (param.name) {
                  paramNames += ',' + param.name
                }
              })
              paramNames = paramNames.replace(',', '')
              this.$set(item, 'paramNames', paramNames)
            }
          })
          this.tableData = res.data.list
          this.pageTotal = parseInt(res.data.totalRow)
        }
      })
    },
    selectParam (scope) { // 选择一个字段字典作为参数
      console.log(scope.row)
      const { source } = scope.row
      const init = { // 每个参数的数据结构
        editable: true,
        mid: 0, // 主键 可选
        name: source.name, // 参数名
        procMi: 0, // 所属存储过程的主键，新增的时候不需要填写
        dataTypeName: source.dataType, // 数据类型名称
        defaultValue: source.defaultValue, // 默认值
        inOrOut: 0, // 输入或者输出参数，0为输入参数，1为输出参数 int
        nullable: false, // boolean 是否可以为null
        decimalPlaces: source.scale, // 小数点位数
        dataLength: source.size, // 数据长度
        source: source.name + '(' + source.displayName + ')'
      }
      this.form.params.splice(scope.$index, 1, init)
      let index = this.findArray(this.paramList, scope.row.source)
      this.paramList[index]['flag'] = true
    },
    findArray (array, feature, all = true) {
      for (let index in array) {
        let cur = array[index]
        if (feature instanceof Object) {
          let allRight = true
          for (let key in feature) {
            let value = feature[key]
            if (cur[key] === value && !all) return index
            if (all && cur[key] !== value) {
              allRight = false
              break
            }
          }
          if (allRight) return index
        } else {
          if (cur === feature) {
            return index
          }
        }
      }
      return -1
    },
    selectDemo (demo) { // 选择一个默认配置
      this.$confirm('选择存储过程将会覆盖您对参数列表的编辑，确认继续？', '提示', {
        cancelButtonText: '取消',
        confirmButtonText: '确定',
        type: 'warning'
      }).then(() => {
        this.form.params = []
        demo.params.map((item, i) => {
          if (item.nullable === undefined) {
            this.$set(item, 'nullable', false)
          }
          this.$set(item, 'editable', true)
          item.inOrOut = item.inOrOut || 0
          this.form.params.push(item)
          this.$set(this.form, 'sql', demo.sql)
        })
        for (let i = 0; i < 5; i++) {
          this.addRow()
        }
      }).catch(() => {
        this.demo = this.oldDemo
      })
    },
    inOrOutLabel (id) { // 将参数方向的代号切换为文本
      switch (id) {
        case 0: return '输入'
        case 1: return '输出'
        case 2: return '输入输出'
        default: return '未知方向'
      }
    },
    addRow (index) { // 弹出框新增一行
      let init = { // 每个参数的数据结构
        editable: true,
        mid: 0, // 主键 可选
        name: '', // 参数名
        procMi: 0, // 所属存储过程的主键，新增的时候不需要填写
        dataTypeName: '', // 数据类型名称
        defaultValue: '', // 默认值
        inOrOut: 0, // 输入或者输出参数，0为输入参数，1为输出参数 int
        nullable: false, // boolean 是否可以为null
        decimalPlaces: 0, // 小数点位数
        dataLength: 0 // 数据长度
        // source: ''// 关联的数据源
      }
      if (index !== undefined) {
        this.form.params.splice(index + 1, 0, init)
      } else {
        this.form.params.push(init)
      }
    },
    getExpress (name, format) { // 选择中文名称格式
      console.log(name, format)
      this.expressShow = false
      this.form.displayName = name
      this.form.displayNameFormat = format
    },
    selectThree (data, nodes) { // 选择关联数据源，树结构
      this.parent = data
    },
    dialogDeleteRow (scope) { // 删除params中的某一条
      if (scope.row.source) {
        let name = scope.row.source.split('(')[0]
        let index = this.findArray(this.paramList, { name: name })
        this.paramList[index]['flag'] = false
      }
      this.form.params.splice(scope.$index, 1)
    },
    cancelDialog () {
      this.dialogVisible = false
      this.form = {
        'mid': 0, // 主键 可选
        'name': '', // 名称
        'displayName': '', // 中文名称
        'displayNameFormat': '', // 中文名称格式
        'params': [],
        'sql': ''
      }
      this.time = 1
    },
    changeStorage (data, type) { // 添加/编辑菜单节点 data:要编辑的菜单节点数据
      console.log(data, type)
      if (type === '添加') {
        this.cancelDialog()
      } else {
        this.form = data
        this.$set(this.demo, 'sql', data.sql)
      }
      for (let i = 0; i < 5; i++) {
        this.addRow()
      }
      this.time = 1
      this.dialogVisible = true
      this.changeType = type
      if (data.params) {
        data.params.map((item, index) => {
          if (item.source) {
            let name = item.source.split('(')[0]
            let index = this.findArray(this.paramList, { name: name })
            this.paramList[index]['flag'] = true
            console.log(this.paramList[index])
          }
        })
      }
    },
    resetForm (msg, scope, type) { // 删除或者取消前的询问
      if (type === 'delete') {
        this.$confirm(msg, '提示', {
          cancelButtonText: '取消',
          confirmButtonText: '确定',
          type: 'warning'
        }).then(() => {
          this.deleteStorage(scope)
        }).catch(() => { })
      } else {
        if (this.time > 2) {
          this.$confirm(msg, '提示', {
            cancelButtonText: '取消',
            confirmButtonText: '确定',
            type: 'warning'
          }).then(() => {
            this.$refs.ruleForm.resetFields()
            this.cancelDialog()
          }).catch(() => { })
        } else {
          this.$refs.ruleForm.resetFields()
          this.cancelDialog()
        }
      }
    },
    handleClose () { // before-close传参问题，需要研究一下
      this.resetForm('是否放弃当前编辑并退出？', {}, 'close')
    },
    saveStorage () { // 新增/编辑存储过程
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.form.params = this.form.params.filter(item => {
            return item.name && item.dataTypeName
          })
          const appInfo = JSON.parse(localStorage.appInfo)
          this.form.displayNameFormat = this.form.displayNameFormat ? this.form.displayNameFormat : this.form.displayName
          const obj = { appName: appInfo.appName, appVersion: appInfo.appVersion, ...this.form }
          modelService.saveModel('storedProcedureModel', obj).then((res) => {
            this.$messageService.success(`${this.changeType}存储过程成功!`)
            this.getList()
            this.dialogVisible = false
          })
        }
      })
    },
    deleteStorage (scope) { // 删除存储过程
      scope.row.visible = false
      modelService.deleteModel('storedProcedureModel', scope.row.mid).then((res) => {
        this.$messageService.success('删除存储项成功!')
        this.getList()
      })
    },
    ...mapActions('options', ['getDataKind'])
  }
}
</script>

<style scoped lang='scss'>
.spmodel {
  background: $main-bg;
  min-height: 100%;
  box-sizing: border-box;
  padding: $main-padding;
  .functionTop {
    // 统一表格头部
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 16px 0;
    .functionTitle {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h3 {
        line-height: 24px;
        font-weight: 700;
        font-size: 18px;
      }
      p {
        line-height: 16px;
        font-size: 14px;
        color: #999;
      }
    }
    .functionButton {
      display: flex;
      align-items: center;
      .topRow {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: 12px;
      }
    }
  }
  .pagination {
    // 分页
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  .dialogForm {
    // 整个弹出框
    .iptBox {
      display: flex;
      justify-content: flex-start;
      .el-form {
        width: 85%;
      }
      .el-button {
        height: 32px;
        margin-left: 60px;
        margin-top: 3px;
      }
    }
    .contentBox {
      // 表格和存储过程
      box-sizing: border-box;
      width: 100%;
      height: 450px;
      @extend %flex-center-col;
      justify-content: flex-start;
      .el-tabs {
        width: 100%;
        flex: 1;
        .demoBox {
          width: 100%;
          display: flex;
          justify-content: space-between;
          height: 40px;
          align-items: center;
          margin-bottom: 16px;
          div {
            display: flex;
          }
        }
        textarea {
          width: 100%;
          min-height: 300px;
          border: 1px solid #dcdfe6;
          box-sizing: border-box;
          overflow: visible;
          padding: 15px;
        }
      }
      .btnBox {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        box-sizing: border-box;
        button {
          margin: 15px 10px 0;
        }
      }
    }
  }
}
</style>
<style lang='scss'>
.spmodel {
  .el-input-number {
    width: 100px;
    box-sizing: border-box;
    font-size: 14px;
    .el-input--mini {
      .el-input__inner {
        font-size: 14px;
      }
    }
  }

  .el-form {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .paramsTable {
    height: 358px;
    overflow-y: auto;
    .el-table__body-wrapper {
      // 参数表格中的内容容器
      min-height: 310px;
      .cell {
        overflow: visible;
      }
    }
  }
}
</style>
