<template>
  <div class='function'>
    <div class="functionTop">
      <div class="functionTitle">
        <h3>功能模型维护</h3>
        <p>设置功能模型，可添加、删除、修改显示功能模型信息</p>
      </div>
      <div class="functionButton">
        <div class="topRow">
          <el-input v-model="queryVal" placeholder="请输入需要搜索的名称" clearable @keyup.enter.native="search()"></el-input>
        </div>
        <div class="topRow">
          <el-button type="primary" plain @click="search()" icon="el-icon-search">查询</el-button>
        </div>
        <div class="topRow">
          <el-button type="primary" @click="add" icon="el-icon-plus">添加</el-button>
          <el-button type="primary" @click="pushAll" icon="el-icon-refresh">同步</el-button>
        </div>
      </div>
    </div>
    <div class="functionTable">
      <el-table :data="tableData" style="width: 100%" border>
        <el-table-column fixed="left" type="index" label="序号" width="80">
        </el-table-column>
        <el-table-column prop="name" label="名称" width="">
        </el-table-column>
        <el-table-column prop="displayName" label="中文名称" width="">
        </el-table-column>
        <el-table-column prop="deployModuleDisplayName" label="配置包" width="">
        </el-table-column>
        <el-table-column prop="dataSourceDisplayName" label="数据模型" width="">
        </el-table-column>
        <el-table-column prop="uiModuleDisplayName" label="UI模型" width="">
        </el-table-column>
        <el-table-column prop="type" label="类型" width="">
        </el-table-column>
        <el-table-column prop="statusName" label="状态" width="100">
        </el-table-column>
        <el-table-column fixed="right" label="操作" width="200">
          <template slot-scope="scope">
            <el-button @click="view(scope.row)" type="text" size="small">查看</el-button>
            <el-button @click="edit(scope.row)" type="text" size="small">编辑</el-button>
            <el-button @click="getdiffmessage(scope.row)" type="text" size="small" v-if="scope.row.status==='COMMIT'">同步</el-button>
            <el-button @click="submit(scope.row)" type="text" size="small" v-else>提交</el-button>
            <!-- <el-button @click="getdiffmessage(scope.row)" type="text" size="small" disabled>同步</el-button> -->
            <el-button @click="del(scope.row)" type="text" size="small">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="functionPagination" v-show="tableData.length > 0">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :page-sizes="pageSizeArray" :page-size="pageSize" :total="pageTotal" :current-page="pageNo" layout="total, sizes, prev, pager, next, jumper">
      </el-pagination>
    </div>
    <!-- dialog -->
    <el-dialog title="功能模型明细" :visible.sync="dialogVisible" class="dialog" width="800px" :before-close="handleClose" :close-on-click-modal="false">
      <el-form :model="dialogForm" label-position="right" :rules="rules" ref="dialogForm" label-width="100px" class="demo-ruleForm">
        <el-form-item label="功能名称" prop="name">
          <el-input v-model="dialogForm.name" placeholder="请输入名称" maxlength="64"></el-input>
        </el-form-item>
        <el-form-item label="中文名称" prop="displayName">
          <name-express @getExpress='getExpress' :initExpress='dialogForm.displayName'></name-express>
        </el-form-item>
        <el-form-item label="类型" prop="functionType">
          <el-select collapse-tags v-model="dialogForm.functionType" placeholder="请选择类型" style="width:100%">
            <el-option v-for="item in functionType" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="快捷码" prop="tCode">
          <el-input v-model="dialogForm.tCode" placeholder="请输入内容" maxlength="64"></el-input>
        </el-form-item>
        <el-form-item label="权限行为" prop="permissionPoints">
          <permissions :permissions="permissionsArr" :selectStr="selectStr" @addPonit="addPonit" @deleteFc="deleteFc"></permissions>
        </el-form-item>
        <el-form-item label="数据模型" prop="dataSourceName">
          <el-select v-model="dialogForm.dataSourceName" filterable placeholder="请选择数据模型（可搜索）" style="width:100%">
            <el-option v-for="item in dataOptions" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="配置包" prop="deployModuleName">
          <searchBox1 ref='searchBox' :options='exthree' :default-checked-keys="checkedArr" type='tree' v-model="dialogForm.deployModuleName" @select="selectThree" placeholder="请选择或者搜索" class='searchBox' limit=2 :props='betaProps'></searchBox1>
        </el-form-item>
        <el-form-item label="UI模型" prop="uiModuleName">
          <el-select v-model="dialogForm.uiModuleName" filterable placeholder="请选择UI模型（可搜索）" style="width:100%">
            <el-option v-for="item in UIOptions" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="报表抬头" prop="reportTitle">
          <el-input v-model="dialogForm.reportTitle" placeholder="请输入内容" maxlength="64"></el-input>
        </el-form-item>
        <div class="switch">
          <span style="width:80px;">挂接菜单</span>
          <el-switch v-model="dialogForm.allowMenuHook" active-color="#13ce66" inactive-color="#dcdfe6">
          </el-switch>
          <span style="width:80px;margin-left:10px;">权限检查</span>
          <el-switch v-model="dialogForm.needCheckPermission" active-color="#13ce66" inactive-color="#dcdfe6">
          </el-switch>
          <span style="width:80px;margin-left:10px;">包含清单</span>
          <el-switch v-model="dialogForm.containsList" active-color="#13ce66" inactive-color="#dcdfe6">
          </el-switch>
        </div>
        <div class="dialog-footer" style="display:flex;justify-content:flex-end;">
          <el-button type="primary" @click="dialogConfirm('dialogForm')">保 存</el-button>
          <el-button @click="resetForm('dialogForm')" type="primary" plain>取 消</el-button>
        </div>
      </el-form>
    </el-dialog>
    <!-- 新增权限点 -->
    <!-- dialog -->
    <!-- 版本弹出框 -->
    <el-dialog title="新增权限行为" :visible.sync="dialogShow" width="500px" center :before-close="handleClosePonit" :close-on-click-modal="false">
      <el-form label-position="left" label-width="80px" :model="ponitForm" ref="ponitForm">
        <el-form-item label="KeyName">
          <el-input v-model="ponitForm.key" maxlength="32"></el-input>
        </el-form-item>
        <el-form-item label="中文名称">
          <el-input v-model="ponitForm.name" maxlength="32"></el-input>
        </el-form-item>
        <div class="buttonBox1" style="display:flex;justify-content:flex-end;">
          <el-button type="primary" @click=addPointForm>确 定</el-button>
          <el-button @click="resetPoint('ponitForm')">取 消</el-button>
        </div>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import nameExpress from '../../components/nameExpress/input.vue'
import searchBox1 from '../../components/searchBox/beta'
import ModelService from '../../assets/js/service/modelservice.js'
import Userservice from '../../assets/js/service/userservice.js'
import { pageCommon } from '../../assets/js/mixin/mixin.js'
import { functionType } from '@/assets/js/data/data'
import storage from '../../assets/js/service/cacheservice.js'
import permissions from '../../components/permissions/permissions.vue'
export default {
  name: 'function',
  components: {
    nameExpress,
    searchBox1,
    permissions
  },
  mixins: [pageCommon],
  data () {
    var checkNum = (rule, value, callback) => {
      let re = /(^[1-9]\d*$)/
      if (!value) {
        return callback(new Error('请输入快捷码'))
      }
      setTimeout(() => {
        if (!re.test(value)) {
          callback(new Error('请输入正确的快捷码'))
        } else {
          callback()
        }
      }, 1000)
    }
    var checkName = (rule, value, callback) => {
      let checkKey = /^[a-zA-Z0-9_.-]*$/
      if (!value) {
        return callback(new Error('请输入功能名称'))
      }
      setTimeout(() => {
        if (!checkKey.test(value)) {
          callback(new Error('请输入正确的功能名称'))
        } else {
          callback()
        }
      }, 1000)
    }
    var checkDisplayName = (rule, value, callback) => {
      let checkName = /[\u4E00-\u9FA5\uF900-\uFA2D]/
      if (!value) {
        return callback(new Error('请输入中文名称'))
      }
      setTimeout(() => {
        if (!checkName.test(value)) {
          callback(new Error('请输入正确的中文名称'))
        } else {
          callback()
        }
      }, 1000)
    }
    return {
      // 查询输入框内容
      queryVal: '',
      // 中文名称
      expressShow: false,
      expressTableData: [],
      // 组件
      parent: {},
      exthree: [],
      betaProps: { // searchBox中下拉树的props
        children: 'child', // 下拉树或者表格树中表示子节点数组的属性
        label: 'label', // 下拉树中用来显示的名称
        id: 'mid', // 用来表示树节点唯一标志的属性
        keyWord: 'displayName'// 用来筛选或者显示的属性
      },
      // 功能模型表格
      tableData: [],
      functionType,
      // dialog
      dialogVisible: false,
      // dialog内容
      dialogForm: {
        // 名称
        name: '',
        // 中文名称
        displayName: '',
        displayNameFormat: '',
        // 类型
        functionType: '',
        tCode: '',
        // 权限行为
        permissionPoints: [],
        // 数据模型
        dataSourceName: '',
        // 配置包
        deployModuleName: '',
        // ui模型
        uiModuleName: '',
        reportTitle: '',
        allowMenuHook: true,
        containsList: true,
        needCheckPermission: true,
        permissionPointsArr: []
      },
      rules: {
        name: [
          { required: true, validator: checkName, trigger: 'blur' }
        ],
        displayName: [
          { required: true, validator: checkDisplayName, trigger: 'blur' }
        ],
        functionType: [
          { required: true, message: '请选择类型', trigger: 'change' }
        ],
        tCode: [
          { required: true, validator: checkNum, trigger: 'blur' }
        ],
        permissionPoints: [
          { required: true, message: '请选择类型', trigger: 'change' }
        ]
      },
      appName: '',
      appVersion: '',
      checkedArr: [],
      // 权限列表
      permissionsArr: [],
      // 权限行为选中ipt展示的字符串
      selectStr: '',
      // 新增权限行为
      dialogShow: false,
      ponitForm: {
        key: '',
        name: ''
      },
      functionName: '',
      ponitList: [],
      tmie: 0,
      timePoint: 0
    }
  },
  created () {
    storage.getItem('appInfo').then(res => {
      this.appName = res.appName
      this.appVersion = res.appVersion
      // 获取类型，权限行为
      // console.log(this.appName, this.appVersion)
      Userservice.getDefaultFct(this.appName, this.appVersion).then(res => {
        // console.log(res)
      })
    })
    this.getExpressTableData()
    this.getDataModel()
    this.getDeployModule()
  },
  watch: {
    queryVal (Nval) {
      if (Nval === '') {
        this.search()
      }
    },
    dialogVisible (newValue) {
      if (!newValue) {
        this.$refs.searchBox.selectTreeNode({}, { checkedKeys: [] })
      }
    },
    // 深度监听权限行为选择事件
    permissionsArr: {
      // 深度监听，可监听到对象、数组的变化
      handler: function (val) {
        // console.log(val)
        let arr = []
        let Arr = []
        for (let list of val) {
          // console.log(list)
          if (list.checked === true) {
            arr.push({
              permissionName: list.value,
              permissionValue: list.text
            })
            Arr.push(
              list.value + '-' + list.text
            )
          }
        }
        // console.log(arr)
        this.selectStr = Arr.join(',')
        this.dialogForm.permissionPoints = [...arr]
        this.dialogForm.permissionPointsArr = [...arr]
      },
      deep: true
    },
    dialogForm: {
      handler: function (newV) {
        if (this.dialogVisible) {
          this.time++
        }
      },
      deep: true
    },
    ponitForm: {
      handler: function (newV) {
        if (this.dialogShow) {
          this.timePoint++
        }
      },
      deep: true
    }
  },
  methods: {
    // 获取分页初始数据
    getList () {
      ModelService.queryByPage('functionmodel', this.pageNo, this.pageSize, this.queryVal).then(res => {
        if (res.code === 200) {
          if (res.data.list.length > 0) {
            let arr = []
            for (let list of res.data.list) {
              // console.log(list)
              let Arr = []
              for (let item of list.permissionPoints) {
                Arr.push({
                  value: item.permissionName,
                  label: item.permissionName + '-' + item.permissionValue,
                  text: item.permissionValue,
                  checked: true,
                  type: item.kind
                })
              }
              arr.push({
                name: list.name,
                displayName: list.displayName,
                configuration: list.deployModuleName,
                deployModuleName: list.deployModuleName,
                dataSourceName: list.dataSourceName,
                uiModel: list.uiModuleName,
                type: list.functionType,
                mid: list.mid,
                tCode: list.tCode,
                permissionPoints: [...Arr],
                reportTitle: list.reportTitle,
                allowMenuHook: list.allowMenuHook,
                containsList: list.containsList,
                needCheckPermission: list.needCheckPermission,
                appName: list.appName,
                appVersion: list.appVersion,
                functionType: list.functionType,
                dataSourceDisplayName: list.dataSourceDisplayName,
                deployModuleDisplayName: list.deployModuleDisplayName,
                uiModuleDisplayName: list.uiModuleDisplayName,
                checkedArr: list.checkedArr,
                status: list.modelStatus,
                statusName: list.modelStatus === 'COMMIT' ? '已提交' : '草稿'
              })
            }
            this.tableData = [...arr]
            this.pageTotal = parseInt(res.data.totalRow)
          } else {
            this.tableData = []
          }
        } else {

        }
      })
    },
    // 查询
    search () {
      this.pageNo = 1
      this.getList()
    },
    // 获取中文名称
    getExpressTableData () {
      ModelService.listAll('displaynamemodel').then((res) => {
        // console.log(res)
        if (res.code === 200) {
          if (res.data.length > 0) {
            let response = res.data
            let arr = []
            for (let item of response) {
              arr.push({
                name: item.name,
                showname: item.displayNameFormat
              })
            }
            this.expressTableData = [...arr]
            // console.log(this.expressTableData)
          } else {
            this.expressTableData = []
          }
        } else {
          this.$messageService.error(res.message)
        }
      })
    },
    getExpress (shownameResult, express) {
      this.express = express || shownameResult
      this.expressShow = false
      this.dialogForm.displayName = shownameResult
    },
    selectNameExpress (row, key) {
      // console.log(row, key)
      this.focusRow = row
      this.focusRowKey = key
      this.expressShow = true
    },
    // 查看详情
    view (data) {
      this.$router.push({
        name: 'functionDetail',
        params: {
          clickType: 1
        }
      })
      localStorage.removeItem('dataName')
      localStorage.setItem('clickType', 1)
      // storage.getItem('functionObj').then(res => {
      //   let functionObj = res
      //   functionObj['clickType'] = 1
      //   storage.setItem('functionObj', functionObj)
      // })
      localStorage.setItem('funName', data.name)
      localStorage.setItem('status', data.status)
    },
    // 表格编辑
    edit (data) {
      // console.log(data)
      // console.log(1231231 + data.status, data.name, data.mid)
      this.$router.push({
        name: 'functionDetail',
        params: {
          clickType: 2
        }
      })
      localStorage.removeItem('funId')
      localStorage.removeItem('dataName')
      localStorage.setItem('clickType', 2)
      // storage.getItem('functionObj').then(res => {
      //   let functionObj = res
      //   functionObj['clickType'] = 2
      //   storage.setItem('functionObj', functionObj)
      // })
      console.log('当前数据', data)
      localStorage.setItem('funName', data.name)
      localStorage.setItem('status', data.status)
      // console.log(data)
      // this.time = 1
      // this.ponitList = data.permissionPoints
      // // this.dialogVisible = true
      // this.getPoint()
      // for (let key in data) {
      //   this.dialogForm[key] = data[key]
      // }
      // this.dialogForm.deployModuleName = data.deployModuleName
      // this.checkedArr = data.checkedArr.length > 1 ? JSON.parse(data.checkedArr) : []
      // this.dialogForm.dataSourceName = data.dataSourceName
      // this.dialogForm.uiModuleName = data.uiModel
      // this.functionName = data.name
      // console.log(this.checkedArr)
      // this.dialogForm.uiModuleName = data.uiModel
    },
    // 点击编辑获取权限行为数据
    getPoint () {
      Userservice.getpermissionpoints(this.appName, this.appVersion, this.functionName).then(res => {
        // console.log(res)
        if (res.data) {
          let arr = []
          if (this.ponitList.length > 0) {
            for (let list of res.data) {
              for (let item of this.ponitList) {
                if (list.permissionName === item.value) {
                  list.checked = true
                }
              }
              arr.push({
                value: list.permissionName,
                text: list.permissionValue,
                label: list.permissionName + '-' + list.permissionValue,
                checked: list.checked,
                type: list.kind,
                delectShow: false
              })
            }
          } else {
            for (let item of res.data) {
              arr.push({
                value: item.permissionName,
                text: item.permissionValue,
                label: item.permissionName + '-' + item.permissionValue,
                checked: false,
                type: item.kind,
                delectShow: false
              })
            }
          }
          this.permissionsArr = [...arr]
        }
      })
    },
    // 获取数据模型
    getDataModel () {
      ModelService.listAll('datasourcemodel').then((res) => {
        // console.log(res)
        if (res.code === 200) {
          if (res.data.length > 0) {
            let arr = []
            for (let item of res.data) {
              arr.push({
                value: item.name,
                label: item.name
              })
            }
            this.dataOptions = [...arr]
          } else {
            this.dataOptions = []
          }
        } else {
          this.$messageService.error(res.message)
        }
      })
    },
    // 获取配置包
    getDeployModule () {
      ModelService.listAll('deploymodulemodel').then((res) => {
        // console.log(res)
        // this.exthree = res.data
        if (res.data) {
          if (res.data.length > 0) {
            this.exthree = res.data
            this.setLabel(this.exthree)
          }
        } else {
          this.exthree = []
        }
      })
    },
    // 配置包组件
    selectThree (data, nodes) {
      // console.log(data, nodes)
      this.parent = data
      // console.log(data)
      this.dialogForm.deployModuleName = data.name
      this.checkedArr = [data.mid]
    },
    // 添加按钮
    add () {
      this.$router.push({
        name: 'functionDetail',
        params: {
          clickType: 0
        }
      })
      localStorage.setItem('clickType', 0)
      // storage.getItem('functionObj').then(res => {
      //   let functionObj = res
      //   functionObj['clickType'] = 0
      //   storage.setItem('functionObj', functionObj)
      // })
      // console.log(2)
      this.time = 1
      this.ponitList = []
      this.dialogForm = {
        // 名称
        name: '',
        // 中文名称
        displayName: '',
        // 类型
        functionType: '',
        tCode: '',
        // 权限行为
        permissionPoints: [],
        // 数据模型
        dataSourceName: '',
        // 配置包
        deployModuleName: '',
        // ui模型
        uiModuleName: '',
        reportTitle: '',
        allowMenuHook: true,
        containsList: true,
        needCheckPermission: true
      }
      this.functionName = ''
      this.dialogForm.permissionPointsArr = []
      // this.dialogVisible = true
      this.dialogForm.deployModuleName = ''
      Userservice.getpermissionpoints(this.appName, this.appVersion, null).then(res => {
        // console.log(res)
        if (res.data) {
          let arr = []
          for (let item of res.data) {
            arr.push({
              value: item.permissionName,
              text: item.permissionValue,
              label: item.permissionName + '-' + item.permissionValue,
              checked: false,
              type: item.kind,
              delectShow: false
            })
          }
          this.permissionsArr = [...arr]
        }
      })
      localStorage.setItem('clickType', 0)
      localStorage.removeItem('dataName')
      localStorage.removeItem('funName')
      localStorage.removeItem('status')
    },
    // 表格删除
    del (row) {
      // console.log(row)
      this.$confirm('此操作将会永久删除本条数据, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        ModelService.deleteModel('functionmodel', row.mid).then(res => {
          // console.log(res)
          if (res.code === 200) {
            this.$messageService.success('操作成功')
            this.pageNo = 1
            this.getList()
          } else {
            this.$messageService.error('操作失败，刷新试试')
          }
        })
      }).catch(() => {
        // this.$messageService.info('已取消')
      })
    },
    // // 取消
    // resetForm (formName) {
    //   console.log(this.time)
    //   if (this.time > 3) {
    //     this.$confirm('此操作将会清空填入的数据, 是否继续?', '提示', {
    //       confirmButtonText: '确定',
    //       cancelButtonText: '取消',
    //       type: 'warning'
    //     }).then(() => {
    //       this.dialogVisible = false
    //       this.value10 = []
    //       this.$refs[formName].resetFields()
    //     }).catch(() => {
    //       // this.$messageService.info('已取消')
    //     })
    //   } else {
    //     this.dialogVisible = false
    //   }
    // },
    // // 弹出框右上角x
    // handleClose () {
    //   this.resetForm('dialogForm')
    // },
    // 同步获取差异
    getdiffmessage (list) {
      // console.log(list)
      Userservice.getdiffmessageFct(this.appName, this.appVersion, list.name).then(res => {
        // console.log(res)
        if (res.code === 200) {
          let message = res.data + '确认同步？'
          this.publish(message, this.appName, this.appVersion, list.name)
        } else {
          this.$messageService.error(res.message)
        }
      })
    },
    // 同步
    publish (message, appName, appVersion, name) {
      this.$confirm(message, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        Userservice.publishfunction(appName, appVersion, name).then(res => {
          // console.log(res)
          if (res.code === 200) {
            this.$messageService.success('同步成功')
          } else {
            this.$messageService.error(res.message)
          }
        })
      }).catch(() => {
        // this.$messageService.info('已取消同步')
      })
    },
    // 全部发布
    pushAll () {
      let message = '确认同步全部功能模型？'
      this.publish(message, this.appName, this.appVersion, 'other')
    },
    // 提交
    submit (list) {
      // console.log(list)
      this.$confirm('确认提交该功能', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        Userservice.submitFunction(this.appName, this.appVersion, list).then(res => {
          // console.log(res)
          if (res.code === 200) {
            this.$messageService.success('提交成功')
            this.getList()
          } else {
            this.$messageService.error(res.message)
          }
        })
      }).catch(() => {
        // this.$messageService.info('已取消同步')
      })
    },
    // 中文名称选择
    handleShowName () {
      this.expressShow = true
      this.dialogForm.displayName = this.expressResult
    },
    setLabel (data) { // 给每个树节点设置自定义文本
      data.map((item, index) => {
        item.label = item.name + '(' + item.displayName + ')'
        if (item.child && item.child.length) {
          this.setLabel(item.child)
        }
      })
    },
    // 新增权限点
    addPonit () {
      if (this.functionName === '') {
        this.$messageService.error('新增功能时不能新增权限行为')
      } else {
        this.dialogShow = true
        this.timePoint = 1
      }
    },
    // 新增权限行为确认
    addPointForm () {
      if (this.ponitForm.key === '' || this.ponitForm.name === '') {
        this.$messageService.error('KeyName和中文名称不能为空')
      } else {
        let checkKey = /^[a-zA-Z0-9_.-]*$/
        let checkName = /[\u4E00-\u9FA5\uF900-\uFA2D]/
        if (!checkKey.test(this.ponitForm.key)) {
          this.$messageService.error('KeyName只能输入字母，数字或者.-_')
          return false
        }
        if (!checkName.test(this.ponitForm.name)) {
          this.$messageService.error('中文名称只能输入中文')
          return false
        }
        Userservice.addPointFct(this.appName, this.appVersion, this.functionName, this.ponitForm.key, this.ponitForm.name).then((response) => {
          // console.log(response)
          if (response.code === 200) {
            this.$messageService.success('添加成功')
            this.ponitForm.key = ''
            this.ponitForm.name = ''
            this.dialogShow = false
            this.getPoint()
          }
        })
      }
    },
    // 新增权限行为取消
    resetPoint (formName) {
      this.handleClosePonit()
      this.$refs[formName].resetFields()
    },
    // 删除权限行为
    deleteFc (val) {
      // console.log(val)
      this.$confirm('确认删除该权限行为', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        Userservice.deletePonitFct(this.appName, this.appVersion, this.functionName, val.value, val.text).then(res => {
          if (res.code === 200) {
            this.$messageService.success('删除成功')
            this.getPoint()
          } else {
            this.$messageService.error(res.message)
          }
        })
      }).catch(() => {
        // this.$messageService.info('已取消同步')
      })
    },
    handleClosePonit () {
      // console.log(this.timePoint)
      if (this.ponitForm.key !== '' || this.ponitForm.name !== '') {
        this.$confirm('此操作会清空填入的数据', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.dialogShow = false
          this.ponitForm.key = ''
          this.ponitForm.name = ''
        }).catch(() => {
        })
      } else {
        this.dialogShow = false
      }
    }
  }
}
</script>

<style scoped lang='scss'>
.function {
  // background: $content-bg;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  box-sizing: border-box;
  padding: 20px;
  .functionTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 16px 0;
    .functionTitle {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h3 {
        line-height: 24px;
        font-weight: 700;
        font-size: 18px;
      }
      p {
        line-height: 16px;
        font-size: 14px;
        color: #999999;
      }
    }
    .functionButton {
      display: flex;
      align-items: center;
      .topRow {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: 12px;
      }
    }
  }
  .functionTable {
    width: 100%;
    margin-bottom: 32px;
  }
  .functionPagination {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .dialog {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .dialogMain {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
      flex-wrap: wrap;
      .iptRow {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 45%;
        margin-bottom: 16px;
        div {
          display: flex;
          // justify-content: flex-end;
          align-items: center;
          span {
            color: #f56c6c;
            margin-right: 4px;
          }
        }
        .searchBox {
          width: 100%;
        }
      }
    }
  }
}
</style>
<style>
.function .dialog .el-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.function .el-form-item {
  width: 48% !important;
  height: 32px;
  line-height: 32px;
  margin-bottom: 18px;
}
.function .el-form-item__label {
  height: 32px;
  line-height: 32px;
}
.function .el-input__inner,
.function .el-form-item__content {
  height: 32px;
  line-height: 32px;
}
.function .dialog .switch {
  width: 48%;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.function .dialog .dialog-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 24px 0;
}
</style>
