<template>
  <el-dialog :title="dialogTitle" :visible.sync="dialogShow" :close-on-click-modal="false" :close-on-press-escape='false' :before-close='cancel' width="1280px" top='30px'>
    <div class="box">
      <div class="main">
        <div class="left-box">
          <div class="top">
            成员列表
            <i :class="['icon-iconfontadd', 'iconfont']" class="right-icon" @click='add' v-if='!viewType'></i>
          </div>
          <edit-tree :treeData='treeData' class="tree" ref='paramsTree' @nodeselect='nodeselect'>
            <template slot-scope="scope" v-if='!viewType'>
              <div class="setItemBox">
                <!-- <p v-if='treeData.indexOf(scope.node.data) !==0' @click='moveUp(scope.node)'>上移</p>
                <p v-if='treeData.indexOf(scope.node.data) !==treeData.length-1' @click='moveDown(scope.node)'>下移</p> -->
                <p @click='del(scope.node)'>删除</p>
              </div>
            </template>
          </edit-tree>
        </div>
        <div class="right-box">
          <div class="hasContent" v-if='treeData && treeData.length'>
            <p class="title">{{realTile}}</p>
            <el-scrollbar style="heigh:100%" wrap-class="mainCon">
              <slot name="form" :data='currentNode || {data: {}}'></slot>
              <slot name="tabs" :data='currentNode || {data: {}}'></slot>
            </el-scrollbar>
          </div>
          <div class="noContent" v-else>
            <p>请先添加成员</p>
          </div>
        </div>
      </div>
    </div>
    <div class="operate">
      <el-button type="primary" @click="submit">确定</el-button>
      <el-button type="primary" plain @click='cancel' v-if='!viewType'>取消</el-button>
    </div>
  </el-dialog>
</template>

<script>
import editTree from '../editTree/index.vue'
export default {
  name: 'params-list',
  props: {
    treeData: Array,
    formName: String,
    dialogShow: Boolean,
    showModelName: String,
    dialogTitle: String,
    tabName: String,
    tabKey: String,
    viewType: Boolean
  },
  data () {
    return {
      currentNode: { data: {} },
      time: 1
    }
  },
  components: {
    editTree
  },
  computed: {
    realTile () {
      return this.currentNode.label
    }
  },
  methods: {
    // moveUp (node) {
    //   const tempTree = this.treeData.slice(0) // element-ui BUG workaround
    //   const index = tempTree.indexOf(node.data)
    //   const preItem = tempTree[index - 1]
    //   tempTree[index] = preItem
    //   tempTree[index - 1] = node.data
    //   this.treeData = tempTree
    // },
    // moveDown (node) {
    //   const tempTree = this.treeData.slice(0)
    //   const index = tempTree.indexOf(node.data)
    //   const preItem = tempTree[index + 1]
    //   tempTree[index] = preItem
    //   tempTree[index + 1] = node.data
    //   this.treeData = tempTree
    // },
    del (node) {
      this.$refs.paramsTree.$refs.tree.remove(node)
    },
    add () {
      let empty = {
        id: this.treeData.length + 1,
        label: 'default-params'
      }
      if (this.formName === 'preSetForm' || this.formName === 'headForm') {
        empty.displayName = ''
        empty.displayNameFormat = ''
      }
      if (this.formName === 'rangeForm') {
        empty.name = 'default-params'
      }
      this.$refs.paramsTree.$refs.tree.append(empty)
      this.$refs.paramsTree.$refs.tree.setCurrentKey(empty.id)
      this.$nextTick(() => {
        const nodeList = this.$refs.paramsTree.$children[0].$children
        this.currentNode = nodeList[nodeList.length - 1].node
      })
    },
    nodeselect (data, node) {
      this.currentNode = node
    },
    submit () {
      this.$emit('submitParamsList', this.formName)
    },
    cancel () {
      if (this.time > 1 || this.viewType) {
        this.$confirm('此时退出我们将不会保存您编辑的信息，确认?', '提示', {
          cancelButtonText: '取消',
          confirmButtonText: '确定',
          type: 'warning'
        }).then(() => {
          this.$emit('cancalParamsList', this.showModelName)
        }).catch(() => { })
      } else {
        this.$emit('cancalParamsList', this.showModelName)
      }
    }
  },
  watch: {
    currentNode: {
      handler: function (val) {
        if (val && val.data) {
          this.$emit('childChange', val.data, this.formName, this.tabName, this.tabKey)
        }
      },
      deep: true
    },
    treeData: { // 初始化就会变动两次，一次是[{label: "default-params", id: 1}], 另一次是给dialog中所有字段一个默认值
      handler: function (val) {
        if (val && val[0]) {
          const data = val[0] // 初次打开dialog会为默认成员赋值，导致计数不一致，所以要排除出去在计数
          if (this.dialogShow && data.relativeSourceName !== '' && data.relativeSourceName !== undefined) {
            this.time++
          }
        }
      },
      deep: true
    },
    dialogShow (val) {
      if (val) {
        this.$nextTick(() => {
          this.time = 1
          this.currentNode = this.$refs.paramsTree.$refs.tree.$children[0].node
          this.$refs.paramsTree.$refs.tree.setCurrentKey(this.currentNode.data.id)
        })
      } else {
        this.currentNode = { data: {} }
        this.time = 1
      }
    }
  }
}
</script>

<style lang='scss'>
.box {
  padding: 0 0px 15px;
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
  border-radius: 5px;
  .main {
    display: flex;
    justify-content: space-between;
    div {
      &.left-box {
        border-right: 1px solid #eee;
        min-width: 200px;
        min-height: 200px;
        flex: 2;
        .tree {
          margin-top: 15px;
        }
        .top {
          height: 45px;
          line-height: 45px;
          padding-left: 15px;
          font-size: 13px;
          font-weight: bold;
          background: #eee;
          .right-icon {
            float: right;
            margin-right: 10px;
            cursor: pointer;
          }
        }
      }
      &.right-box {
        flex: 8;
        padding: 15px;
        .title {
          height: 30px;
          line-height: 10px;
          font-size: 14px;
          font-weight: bold;
          border-bottom: 1px solid #eee;
          margin-bottom: 15px;
        }
        .mainCon {
          height: 430px;
        }
      }
    }
  }
  .setItemBox {
    p {
      font-size: 13px;
      line-height: 25px;
    }
  }
  .form {
    display: flex;
    flex-wrap: wrap;
    .el-form-item {
      width: 33%;
      // margin-right: 25px;
      .el-select {
        width: 100%;
      }
    }
  }
  .tabs {
    margin-left: 15px;
  }
}
.operate {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}
.noContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 18px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
</style>
