<template>
  <div class="login-page">
    <div class="top">
      <div class="left"><img src="../../static/logo.png" alt="" class="logoImg">
        <span class="name">CheJet
          <span class="text">Cloud</span>
        </span>
      </div>
      <div class="menuBox">
        <div class="list" @click="goPage">开发平台</div>
        <div class="list" @click="goPage">定制服务</div>
        <div class="list" @click="goPage">开发者服务</div>
        <div class="list" @click="goPage">案例</div>
      </div>
      <div class="buttonBox">
        <button type="button" class="btn signIn" @click="goSignIn">登录</button>
        <button type="button" class="btn signUp" @click="goSignUp">注册</button>
      </div>
    </div>
    <div class="bg">
    </div>
    <div class="centerBox">
      <div class="text">
        登录
      </div>
      <div class="bottomBox">
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" class="demo-ruleForm">
          <div class="form">
            <p class="title">展开全新移动应用开发之旅</p>
            <el-form-item class="ipt" prop="username">
              <el-input v-model="ruleForm.username" placeholder="请输入用户名/手机号/邮箱地址" style="width:400px;"></el-input>
            </el-form-item>
            <el-form-item class="ipt" prop="password">
              <el-input v-model="ruleForm.password" placeholder="请输入登录密码" style="width:400px;" type="password"></el-input>
            </el-form-item>
            <el-form-item class="ipt" prop="code">
              <el-input v-model="ruleForm.code" placeholder="请输入验证码" style="width:290px;" @keyup.enter.native="submitForm('ruleForm')"></el-input>
              <div class="codeBox" style="float:right;" @click="getCode()"><img :src=codeImg alt=""></div>
            </el-form-item>
            <div class="ipt">
              <!-- <el-checkbox v-model="checked">记住我</el-checkbox> -->
              <el-checkbox v-model="checked">保持登录</el-checkbox>
            </div>
            <div class="ipt">
              <button type="button" class="btn" @click="submitForm('ruleForm')">登录</button>
            </div>
            <div class="last">
              <div class="com" @click="goSignUp">立即注册</div>
              <div class="com" @click="goForgetPsw">忘记密码？</div>
            </div>
          </div>
        </el-form>
        <div class="code">
          <div> <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1536749007207&di=226607074723d1bd1d842c8759feb85e&imgtype=0&src=http%3A%2F%2Fcuc.fjnu.edu.cn%2Ftsg%2Fupload%2Fimages%2F2017%2F4%2F1918278745.gif" alt=""> </div>
          <div>关注官方微信</div>
          <div>掌握最新活动和优惠</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import userService from '@/assets/js/service/userservice'
import CacheService from '@/assets/js/service/cacheservice.js'

export default {
  name: 'login',
  data () {
    return {
      // 表单
      ruleForm: {
        username: '',
        password: '',
        code: ''
      },
      rules: {
        username: [
          { required: true, message: '请输入用户名/手机号/邮箱地址', trigger: 'blur' }
        ],
        password: [
          { required: true, message: '请输入登录密码', trigger: 'blur' }
        ],
        code: [
          { required: true, message: '请输入验证码', trigger: 'blur' }
        ]
      },
      // 验证码
      code: '',
      checked: false,
      codeHtml: '',
      stayLogin: false,
      codeImg: 'api/captcha/get?num=56225300425',
      index: 0
    }
  },
  created () {
    this.getCode()
    CacheService.getItem('user').then(res => {
      if (res) {
        if (res.password !== '') {
          this.ruleForm.password = res.password
        }
        if (res.username !== '') {
          this.ruleForm.username = res.username
        }
      }
    }).catch(err => {
      console.log(err)
    })
  },
  watch: {
    // checked (val) {
    //   console.log({ username: this.ruleForm.username, password: this.ruleForm.password })
    //   if (val) {
    //     // console.log(1)
    //
    //   } else {
    //     // console.log(11)
    //     CacheService.setItem('user', { username: '', password: '' })
    //   }
    // }
  },
  methods: {
    // 获取验证码
    getCode () {
      this.codeImg = 'api/captcha/get?num=56225300425' + Math.random()
    },
    // 跳转注册页面
    goSignUp () {
      this.$router.push({ name: 'register' })
    },
    // 跳转忘记密码
    goForgetPsw () {
      this.$router.push({ name: 'forgetPassword' })
    },
    // 跳转登录页面
    goSignIn () {
      this.$router.push({ name: 'login' })
    },
    submitForm (formName) {
      console.log(this.checked)
      if (this.checked) {
        CacheService.setItem('user', { username: this.ruleForm.username, password: this.ruleForm.password })
      } else {
        CacheService.setItem('user', { username: '', password: '' })
      }
      this.$refs[formName].validate((valid) => {
        if (valid) {
          // console.log(this.ruleForm.code, this.code)
          userService.checkCode({ captcha: this.ruleForm.code }).then(res => {
            console.log(res)
            if (res.data === true) {
              const { username, password } = this.ruleForm
              let keepLogin = false
              keepLogin = this.checked
              userService.login(username, password, keepLogin)
            } else {
              this.$messageService.error('请输入正确的验证码')
              this.getCode()
            }
          }).catch(error => {
            console.log(error.message)
            this.getCode()
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    // 跳转其他页面
    goPage () {
      this.$messageService.info('功能正在开发测试未上线，敬请期待')
    }
  }
}
</script>

<style lang="scss" scope>
.login-page {
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    position: relative;
    .top {
        width: 100%;
        height: 75px;
        display: flex;
        background: rgba(255, 255, 255, 0.97);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        .left {
            width: 250px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .logoImg {
                width: 50px;
                height: 50px;
            }
            .name {
                font-size: 20px;
                line-height: 75px;
                font-weight: 600;
                color: #333;
                .text {
                    font-size: 20px;
                    line-height: 75px;
                    font-weight: 100;
                }
            }
        }
        .menuBox {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: flex-end;
            .list {
                padding: 15px 24px;
                color: #666;
                font-size: 16px;
                cursor: pointer;
            }
            .list:hover {
                background-color: rgba(0, 0, 0, 0.02);
            }
        }
        .buttonBox {
            width: 250px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .btn {
                font-size: 14px;
                padding: 8px 22px;
                border-radius: 3px;
                outline: none;
                margin-right: 10px;
                cursor: pointer;
            }
            .signIn {
                background: #fff;
                color: #333;
                border: 1px solid #333;
            }
            .signUp {
                background: #89ae00;
                color: #fff;
                border: 1px solid #89ae00;
            }
        }
    }
    .bg {
        max-width: 1440px;
        height: 150px;
        background-image: url("../../static/user_bg.jpg");
        background-repeat: no-repeat;
        background-position: 0 -70px;
        margin: 0 auto;
        display: block;
    }
    .centerBox {
        margin: -150px auto;
        width: 790px;
        display: flex;
        flex-direction: column;
        z-index: 11;
        display: flex;
        .text {
            width: 100%;
            height: 100px;
            line-height: 100px;
            font-size: 36px;
            color: #fff;
            font-weight: 800;
        }
        .bottomBox {
            width: 100%;
            height: 100%;
            margin: 0;
            display: flex;
            .form {
                width: 620px;
                height: 460px;
                background-color: #ffffff;
                border-radius: 5px;
                padding: 18px 110px 60px;
                box-sizing: border-box;
                .title {
                    width: 100%;
                    height: 60px;
                    line-height: 60px;
                    text-align: right;
                    font-size: 18px;
                    color: #999999;
                }
                .ipt {
                    width: 400px;
                    margin-bottom: 26px;
                    display: flex;
                    .codeBox {
                        height: 44px;
                        width: 86px;
                        border-radius: 6px;
                        // margin-left: 16px;
                        line-height: 44px;
                        text-align: center;
                        color: #fff;
                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 6px;
                        }
                    }
                    .btn {
                        font-size: 22px;
                        padding: 0;
                        line-height: 60px;
                        height: 60px;
                        color: #ffffff;
                        background: #9bc200;
                        width: 100%;
                        border: 0;
                        outline: none;
                        border-radius: 6px;
                    }
                }
                .last {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    color: #999999;
                    font-size: 14px;
                    font-weight: normal;
                    .com {
                        cursor: pointer;
                    }
                    .com:hover {
                        text-decoration: underline;
                    }
                }
            }
            .code {
                flex: 1;
                height: 100%;
                font-size: 14px;
                color: #666;
                line-height: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 100px;
                img {
                    width: 120px;
                    height: 120px;
                }
            }
        }
    }
}
</style>
<style>
.login-page .el-input__inner {
    height: 44px;
}
.login-page .el-form-item {
    width: 100%;
}
.login-page .el-form-item__content {
    width: 400px;
}
.login-page .el-form-item__error {
    position: absolute;
    top: 42px;
    left: 0;
}
</style>
