<template>
  <div class="register">
    <div class="top">
      <div class="left"><img src="../../static/logo.png" alt="" class="logoImg">
        <span class="name">CheJet
          <span class="text">Cloud</span>
        </span>
      </div>
      <div class="menuBox">
        <div class="list">开发平台</div>
        <div class="list">定制服务</div>
        <div class="list">开发者服务</div>
        <div class="list">案例</div>
      </div>
      <div class="buttonBox">
        <button type="button" class="btn signIn" @click="goSignIn">登录</button>
        <button type="button" class="btn signUp" @click="goSignUp">注册</button>
      </div>
    </div>
    <div class="bg">
    </div>
    <div class="centerBox">
      <div class="text">
        注册
      </div>
      <div class="bottomBox">
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" class="demo-ruleForm">
          <div class="form">
            <p class="title">展开全新移动应用开发之旅</p>
            <el-form-item class="ipt" prop="username">
              <el-input v-model="ruleForm.username" placeholder="请输入用户名或电子邮箱" style="width:400px;"></el-input>
            </el-form-item>
            <el-form-item class="ipt" prop="password">
              <el-input v-model="ruleForm.password" type="password" placeholder="请输入密码" style="width:400px;"></el-input>
            </el-form-item>
            <el-form-item class="ipt" prop="code">
              <el-input v-model="ruleForm.code" placeholder="请输入验证码" style="width:290px;" @keyup.enter.native="submitForm('ruleForm')"></el-input>
              <div class="codeBox" style="float:right;" @click="getCode()"><img :src=codeImg alt=""></div>
            </el-form-item>
            <div class="ipt">
              <button type="button" class="btn" @click="submitForm('ruleForm')">确定</button>
            </div>
            <div class="last">
              <div class="com" @click="goSignIn">已经注册？</div>
            </div>
          </div>
        </el-form>
        <div class="code">
          <div> <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1536749007207&di=226607074723d1bd1d842c8759feb85e&imgtype=0&src=http%3A%2F%2Fcuc.fjnu.edu.cn%2Ftsg%2Fupload%2Fimages%2F2017%2F4%2F1918278745.gif" alt=""> </div>
          <div>关注官方微信</div>
          <div>掌握最新活动和优惠</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import CacheService from '@/assets/js/service/cacheservice.js'
import userService from '@/assets/js/service/userservice'
export default {
  name: 'register',
  data () {
    var check = (rule, value, callback) => {
      // var phoneReg = /(^1[3|4|5|7|8]\d{9}$)|(^09\d{8}$)/
      if (!value) {
        console.log(2)
        return callback(new Error('用户名不能为空'))
      } else {
        this.$axios.get('user/validateAccount', { params: { account: value } }).then(response => {
          console.log(response)
          if (response.code === 200) {
            console.log(1)
            callback()
          } else {
            console.log(22)
            callback(new Error('该账户已经被注册'))
          }
        }).catch(err => {
          console.log(err)
        })
      }
    }
    return {
      // 快速选择用户
      dialogVisible: false,
      users: [
        {
          name: '管理员',
          username: 'admin',
          password: 'admin'
        },
        {
          name: '编辑',
          username: 'editor',
          password: 'editor'
        },
        {
          name: '用户1',
          username: 'user1',
          password: 'user1'
        }
      ],
      // 表单
      ruleForm: {
        username: '',
        password: '',
        code: ''
      },
      // 校验
      rules: {
        username: [
          { required: true, trigger: 'blur', validator: check }
        ],
        password: [
          { required: true, message: '请输入密码', trigger: 'blur' }
        ],
        code: [
          { required: true, message: '请输入验证码', trigger: 'blur' }
        ]
      },
      // 验证码
      code: '',
      codeImg: 'api/captcha/get?num=56225300425'
    }
  },
  computed: {
    ...mapState({
      'formConfig': state => state.form,
      'list': state => state.list
    })
  },
  created () {
    this.getCode()
  },
  methods: {
    // 获取验证码
    getCode () {
      this.codeImg = 'api/captcha/get?num=56225300425' + Math.random()
    },
    // 跳转注册页面
    goSignUp () {
      this.$router.push({ name: 'register' })
    },
    // 跳转忘记密码
    goForgetPsw () {
      this.$router.push({ name: 'forgetPassword' })
    },
    // 跳转登录页面
    goSignIn () {
      this.$router.push({ name: 'login' })
    },
    submitForm (formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          userService.checkCode({ captcha: this.ruleForm.code }).then(res => {
            if (res.data === true) {
              this.$axios.post('user/add', { account: this.ruleForm.username, password: this.ruleForm.password }).then((response) => {
                let res = response
                console.log(res)
                if (res.code === 200) {
                  this.$notify({
                    title: '成功',
                    message: '注册成功，前往登录中……',
                    type: 'success',
                    onClose: () => {
                    }
                  })
                  this.$router.push({ name: 'login' })
                  CacheService.removeItem('user')
                } else {
                  this.$messageService.error(res.message)
                  this.getCode()
                }
              }).catch((err) => {
                console.log(err)
              })
            } else {
              this.$messageService.error('请输入正确的验证码')
              this.getCode()
            }
          }).catch(error => {
            console.log(error.message)
            this.getCode()
          })
          // this.$router.push({ name: 'login' })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    }

  }
}
</script>

<style lang="scss" scope>
.register {
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    position: relative;
    .top {
        width: 100%;
        height: 75px;
        display: flex;
        background: rgba(255, 255, 255, 0.97);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        .left {
            width: 250px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .logoImg {
                width: 50px;
                height: 50px;
            }
            .name {
                font-size: 20px;
                line-height: 75px;
                font-weight: 600;
                color: #333;
                .text {
                    font-size: 20px;
                    line-height: 75px;
                    font-weight: 100;
                }
            }
        }
        .menuBox {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: flex-end;
            .list {
                padding: 15px 24px;
                color: #666;
                font-size: 16px;
                cursor: pointer;
            }
            .list:hover {
                background-color: rgba(0, 0, 0, 0.02);
            }
        }
        .buttonBox {
            width: 250px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .btn {
                font-size: 14px;
                padding: 8px 22px;
                border-radius: 3px;
                outline: none;
                margin-right: 10px;
                cursor: pointer;
            }
            .signIn {
                background: #fff;
                color: #333;
                border: 1px solid #333;
            }
            .signUp {
                background: #89ae00;
                color: #fff;
                border: 1px solid #89ae00;
            }
        }
    }
    .bg {
        max-width: 1440px;
        height: 150px;
        background-image: url("../../static/user_bg.jpg");
        background-repeat: no-repeat;
        background-position: 0 -70px;
        margin: 0 auto;
        display: block;
    }
    .centerBox {
        margin: -150px auto;
        width: 790px;
        display: flex;
        flex-direction: column;
        z-index: 11;
        display: flex;
        .text {
            width: 100%;
            height: 100px;
            line-height: 100px;
            font-size: 36px;
            color: #fff;
            font-weight: 800;
        }
        .bottomBox {
            width: 100%;
            height: 100%;
            margin: 0;
            display: flex;
            .form {
                width: 620px;
                background-color: #ffffff;
                border-radius: 5px;
                padding: 18px 110px 60px;
                box-sizing: border-box;
                .title {
                    width: 100%;
                    height: 60px;
                    line-height: 60px;
                    text-align: right;
                    font-size: 18px;
                    color: #999999;
                }
                .ipt {
                    width: 100%;
                    margin-bottom: 26px;
                    display: flex;
                    .codeBox {
                        height: 44px;
                        width: 86px;
                        border-radius: 6px;
                        // margin-left: 16px;
                        line-height: 44px;
                        text-align: center;
                        color: #fff;
                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 6px;
                        }
                    }
                    .btn {
                        font-size: 22px;
                        padding: 0;
                        line-height: 60px;
                        height: 60px;
                        color: #ffffff;
                        background: #9bc200;
                        width: 100%;
                        border: 0;
                        outline: none;
                        border-radius: 6px;
                    }
                }
                .last {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    color: #999999;
                    font-size: 14px;
                    font-weight: normal;
                    .com {
                        cursor: pointer;
                    }
                    .com:hover {
                        text-decoration: underline;
                    }
                }
            }
            .code {
                flex: 1;
                height: 100%;
                font-size: 14px;
                color: #666;
                line-height: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 100px auto;
                img {
                    width: 120px;
                    height: 120px;
                }
            }
        }
    }
}
</style>
<style>
.register .el-input__inner {
    height: 44px;
}
.register .el-form-item {
    width: 100%;
}
.register .el-form-item__content {
    width: 400px;
}
.register .el-form-item__error {
    position: absolute;
    top: 42px;
    left: 0;
}
</style>
