<template src='./index.html'></template>

<script>
import editTree from '@/components/editTree'
import { nameReg, numReg } from '@/assets/js/comm/constant'
import nameExpress from '@/components/nameExpress/input.vue'
import selectList from '@/components/searchBox/selectList.vue'

export default {
  name: 'data-set',
  props: {
    data: Object, // 子节点数据对象
    type: Number, // 新增|编辑
    treeData: Array,
    filedOptions: Array
  },
  components: {
    nameExpress,
    editTree,
    selectList
  },
  data () {
    let checkName = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('数据集代码不能为空'))
      }
      setTimeout(() => {
        if (!nameReg.test(value)) {
          const firstLetter = value.slice(0, 1)
          if (numReg.test(firstLetter)) {
            callback(new Error('名称不能以数字开头'))
          } else {
            callback(new Error('名称只能为字母数字或._-'))
          }
          return
        }
        callback()
      }, 300)
    }
    let checkDisplayName = (rule, value, callback) => {
      console.log(value)
      let checkName = /^[\u4e00-\u9fa5]+$/
      if (!value) {
        return callback(new Error('请输入中文名称'))
      }
      setTimeout(() => {
        if (!checkName.test(value)) {
          callback(new Error('请输入正确的中文名称'))
        } else {
          callback()
        }
      }, 300)
    }
    return {
      // 上级数据集option
      options: [],
      allOptions: [],
      FlowHintOptions: [],
      expressShow: false,
      currentForm: '',
      currentFormName: '',
      currentFiledName: '',
      activeNames: ['basic', 'contral'],
      dataSetForm: {
        label: '',
        displayName: '',
        displayNameFormat: '',
        parentIndex: '', // 上级数据集
        rowIdFieldName: '',
        subKey: '',
        rowNoFieldName: '',
        canDuplicate: true,
        canModifyInUsed: false,
        canUseCondition: true, // 查询条件可用
        allowEmpty: false,
        allowCustomTransBill: true, // 允许自定义转单
        canViewTable: true, // 流程窗可见
        visibleCondition: false, // 启用条件
        orderString: '',
        dataFlowHint: [], // 流程窗字段
        disabled: false
      },
      rules: {
        name: [{ required: true, validator: checkName, trigger: 'blur' }],
        displayName: [{ required: true, validator: checkDisplayName, trigger: 'blur' }],
        parentIndex: [{ type: 'number', message: '请输入整数', trigger: 'blur' }]
      },
      disabled: false,
      centerDialogVisible: false,
      collectionTableData: [],
      sortOptions: [{ label: 'ASC', value: 'ASC' }, { label: 'DESC', value: 'DESC' }]
    }
  },
  methods: {
    selectNameExpress (formName, filedName) {
      this.currentFormName = formName
      this.currentFiledName = filedName
      this.currentForm = this[this.currentFormName]
    },
    getExpress (shownameResult, expressResult) {
      this.currentForm[this.currentFiledName] = shownameResult
      this.currentForm.displayNameFormat = expressResult || shownameResult
    },
    save () {
      this.$refs.dataSetForm.validate((valid) => {
        if (valid) {
          this.$emit('saveNewDataSet', this.data.data)
        }
      })
    },
    cancel () {
      this.$emit('cancelNewDataSet', this.data)
    },
    saveAll () {
      this.$emit('saveAll')
    },
    submitAll () {
      this.$emit('submitAll')
    },
    preDisabled (val) {
      if (this.options[0].$treeNodeId === val.data.$treeNodeId) {
        this.disabled = true
      } else {
        this.disabled = false
      }
      this.options.map((v, i) => {
        if (v.$treeNodeId === val.data.$treeNodeId) {
          this.options[i].disabled = true
        } else {
          this.options[i].disabled = false
        }
      })
    },
    sortFocus () {
      this.initOrder(this.dataSetForm.orderString)
      this.centerDialogVisible = true
    },
    dialogExit () {
      this.centerDialogVisible = false
      this.initOrder(this.dataSetForm.orderString)
    },
    dialogConfirm () {
      let orderString = ''
      let tableData = []
      let obj = {}
      this.collectionTableData.map((v, i) => {
        if (!obj[v.wordCode]) {
          tableData.push(v)
          obj[v.wordCode] = 1
        }
      })
      tableData.map((v, i) => {
        if (v.wordCode && v.sort) {
          if (i === 0) {
            orderString = v.wordCode + ',' + v.sort
          } else {
            orderString += ';' + v.wordCode + ',' + v.sort
          }
        }
      })
      this.dataSetForm.orderString = orderString
      this.centerDialogVisible = false
    },
    initOrder (orderString) {
      this.collectionTableData = []
      if (!orderString) {
        for (let i = 0; i < 5; i++) {
          this.collectionTableData.push({
            wordCode: '',
            sort: ''
          })
        }
      } else {
        let orderList = orderString.split(';')
        orderList.map(v => {
          let arr = v.split(',')
          this.collectionTableData.push({
            wordCode: arr[0],
            sort: arr[1]
          })
        })
        if (orderList.length < 5) {
          for (let i = 0; i < 5 - orderList.length; i++) {
            this.collectionTableData.push({
              wordCode: '',
              sort: ''
            })
          }
        }
      }
    },
    choose (scope) {

    },
    delItem (scope) {
      this.collectionTableData.splice(scope.$index, 1)
    },
    add () {
      this.collectionTableData.push({
        wordCode: '',
        sort: ''
      })
    }
  },
  watch: {
    'dataSetForm': function (val) {
      console.log(val)
    },
    data (val) {
      console.log(this.data)
      this.preDisabled(val)
      this.dataSetForm = val.data
      console.log('val', this.dataSetForm)
      this.initOrder(this.dataSetForm.orderString)
    }
  },
  mounted () {
    this.options = this.treeData[0].children || []
    this.dataSetForm = this.data.data || {}
    console.log('val', this.dataSetForm)
    this.allOptions = this.filedOptions
    console.log(this.allOptions)
    this.preDisabled(this.data)
    this.initOrder(this.dataSetForm.orderString)
  }
}
</script>

<style src='../../index.scss' lang='scss'></style>
