<div>
  <p class="attributeTitle">基础属性</p>
  <el-form :model="dataSetForm" ref="dataSetForm" :rules="rules" label-width="120px" class="form">
    <el-form-item label="数据集代码" prop="name">
      <el-input v-model="dataSetForm.name"></el-input>
    </el-form-item>
    <el-form-item label="中文名称" prop="displayName">
      <name-express @getExpress='getExpress' :initExpress='dataSetForm.displayNameFormat' needFcous @click.native="selectNameExpress('dataSetForm','displayName')"></name-express>
    </el-form-item>
    <el-form-item label="上级数据集" prop="parentIndex">
      <el-select v-model="dataSetForm.parentIndex" placeholder="请选择" :disabled="disabled" clearable>
        <el-option v-for="item in options" :key="item.$treeNodeId" :label="item.name" :value="item.$treeNodeId"
          :disabled="item.disabled">
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="RowId字段" prop="rowIdFieldName">
      <el-select v-model="dataSetForm.rowIdFieldName" placeholder="请选择" filterable clearable>
        <el-option v-for="item in allOptions" :key="item.key" :label="item.value" :value="item.key">
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="SubKey字段" prop="subKey">
      <el-select v-model="dataSetForm.subKey" placeholder="请选择" filterable clearable>
        <el-option v-for="item in allOptions" :key="item.key" :label="item.value" :value="item.key">
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="RowNo字段" prop="rowNoFieldName">
      <el-select v-model="dataSetForm.rowNoFieldName" placeholder="请选择" filterable clearable>
        <el-option v-for="item in allOptions" :key="item.key" :label="item.value" :value="item.key">
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="排序字段" prop="orderString" class="oneLine">
      <el-input v-model="dataSetForm.orderString" @focus="sortFocus">
        <i slot="suffix" class="el-icon-more" @click="sortFocus"></i>
      </el-input>
    </el-form-item>
    <!-- <el-form-item label="流程窗字段" prop="dataFlowHint" style="width:100%;">
        <select-list :data="allOptions" v-model="dataSetForm.dataFlowHint" :multiple="true" :props="{label: 'value', value: 'key'}"></select-list>
      </el-form-item> -->
    <el-form-item label="流程窗字段" prop="dataFlowHint" class="oneLine mulitiSelect" size="small">
      <el-select v-model="dataSetForm.dataFlowHint" placeholder="请选择" multiple filterable>
        <el-option v-for="item in allOptions" :key="item.key" :label="item.value" :value="item.key">
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="允许行复制" prop="canDuplicate">
      <el-switch v-model="dataSetForm.canDuplicate"></el-switch>
    </el-form-item>
    <el-form-item label="生效后可修改" prop="canModifyInUsed">
      <el-switch v-model="dataSetForm.canModifyInUsed"></el-switch>
    </el-form-item>
    <el-form-item label="查询条件可用" prop="canUseCondition">
      <el-switch v-model="dataSetForm.canUseCondition"></el-switch>
    </el-form-item>
    <el-form-item label="允许空记录" prop="allowEmpty">
      <el-switch v-model="dataSetForm.allowEmpty"></el-switch>
    </el-form-item>
    <el-form-item label="允许自定义转单" prop="allowCustomTransBill">
      <el-switch v-model="dataSetForm.allowCustomTransBill"></el-switch>
    </el-form-item>
    <el-form-item label="流程窗可见" prop="canViewTable">
      <el-switch v-model="dataSetForm.canViewTable"></el-switch>
    </el-form-item>
    <el-form-item label="启用条件" prop="visibleCondition">
      <el-switch v-model="dataSetForm.visibleCondition"></el-switch>
    </el-form-item>
  </el-form>
  <!-- 排序字段弹出框 -->
  <el-dialog title="配置排序" class="dialog" :visible.sync="centerDialogVisible" center width="35%">
    <div class="collection">
      <div class="topRow" style="display:flex;justify-content:flex-end;">
        <!-- <el-button type="primary" icon="el-icon-plus" @click="add" size="small">添加</el-button> -->
        <el-button type='text' @click='add'><i class="icon-add iconfont"></i> 添加</el-button>
      </div>
      <div class="collectionTable wordCode">
        <el-table :data="collectionTableData" style="width: 100%" height="300" class="el-form-item">
          <el-table-column prop="wordCode" label="字段代码" width="">
            <template slot-scope="scope">
              <el-select v-model="scope.row.wordCode" placeholder="请选择" @change="choose(scope)">
                <el-option v-for="item in filedOptions" :key="item.value" :label="item.value" :value="item.value">
                </el-option>
              </el-select>
            </template>
          </el-table-column>
          <el-table-column prop="sort" label="排序" width="">
            <template slot-scope="scope">
              <el-select v-model="scope.row.sort" placeholder="请选择">
                <el-option v-for="item in sortOptions" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
              </el-select>
            </template>
          </el-table-column>
          <el-table-column prop="" label="操作" width="80">
            <template slot-scope="scope">
              <el-button @click="delItem(scope)" type="text" size="small">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
    <div class="dialog-footer" style="display:flex;justify-content:center;margin-top:16px;">
      <el-button type="primary" @click="dialogConfirm">确 定</el-button>
      <el-button type="primary" plain @click="dialogExit">取 消</el-button>
    </div>
  </el-dialog>
</div>
