<template>
  <div class='bill'>
    <div class="block">
      <el-date-picker class='picker' v-model="value2" align="right" type="date" placeholder="选择日期" :picker-options="pickerOptions">
      </el-date-picker>
    </div>
    <div class="tabs">
      <div :class="[item.name === activeName ? 'active' : '', 'tabPane']" v-for='item in detailList' :key='item.path' @click='changeTab(item)'>
        {{item.label}}
      </div>
    </div>
    <component :is="activeName"></component>
  </div>
</template>

<script>
import service from './service1'
import bill from './service2'
import serviceDetail1 from './service3'
import modulePubHistory from './service4'
import rechargeInvoice from './service5'

export default {
  name: 'serviceDetail',
  components: {
    service, bill, serviceDetail1, modulePubHistory, rechargeInvoice
  },
  data () {
    return {
      activeName: 'service',
      detailList: [
        { name: 'service', label: '国内下载流量' },
        { name: 'bill', label: '云服务账单' },
        { name: 'serviceDetail1', label: '云服务使用明细' },
        { name: 'modulePubHistory', label: '模块购买记录' },
        { name: 'rechargeInvoice', label: '充值与发票' }
      ],
      pickerOptions: {
        disabledDate (time) {
          return time.getTime() > Date.now()
        },
        shortcuts: [{
          text: '今天',
          onClick (picker) {
            picker.$emit('pick', new Date())
          }
        }, {
          text: '昨天',
          onClick (picker) {
            const date = new Date()
            date.setTime(date.getTime() - 3600 * 1000 * 24)
            picker.$emit('pick', date)
          }
        }, {
          text: '一周前',
          onClick (picker) {
            const date = new Date()
            date.setTime(date.getTime() - 3600 * 1000 * 24 * 7)
            picker.$emit('pick', date)
          }
        }]
      },
      value2: ''
    }
  },
  methods: {
    changeTab (item) {
      console.log(item.name)
      this.activeName = item.name
    }
  }
}
</script>

<style scoped lang='scss'>
.bill {
  // @extend %full;
  // background: rgb(221, 204, 106);
  padding: 20px;
  .block {
    min-height: 70px;
    .picker {
      margin: 0 auto;
    }
  }
  .tabs {
    height: 40px;
    width: 100%;
    background: $content-bg;
    @extend %flex-center-row;

    .tabPane {
      flex: 1;
      height: 100%;
      box-sizing: border-box;
      background: $content-bg;
      line-height: 40px;
      text-align: center;
      cursor: pointer;
      a {
        display: inline-block;
        width: 100%;
        height: 100%;
      }
      &.active {
        border-bottom: 2px solid $color-text-active;
        transition: all $duration ease-in-out;
        background: $color-text-active;
      }
      &:hover {
        background: $color-text-active;
        border: $border;
      }
    }
  }
}
</style>
