<template>
  <div class='service'>
    {{msg}}
  </div>
</template>

<script>
export default {
  name: 'service3',
  data () {
    return {
      msg: '暂未开通'
    }
  },
  methods: {
    changeTab (item) {
      this.activeName = item.name
    }
  }
}
</script>

<style scoped lang='scss'>
.service {
    height: 100px;
    text-align: center;
    line-height: 100px;
}
</style>
