<template>
  <div class='service'>
    <div class="title">您尚未购买，大家都在看：</div>
    <el-carousel height="400px" type='card' interval=5000>
      <el-carousel-item v-for="item in list" :key="item">
        <img :src="item.img" alt="item.title">
        <h2>{{item.title}}</h2>
        <p style="width:80%;text-align:left;color:#999;font-size:12px;">{{item.text}}</p>
        <p style="width:80%;text-align:left;color:pirple;font-size:14px;margin:10px 0;">￥{{item.pay}}</p>
      </el-carousel-item>
    </el-carousel>
  </div>
</template>

<script>
import demo1 from '@/assets/image/lesson1.jpg'
import demo2 from '@/assets/image/lesson2.jpg'
import demo3 from '@/assets/image/lesson3.jpg'

export default {
  name: 'service1',
  data () {
    return {
      list: [
        { img: demo1, title: '资讯A型', text: '此模板整体采用卡片式UI风格，大方简洁。文章支持以单篇及专题形式展现；文章内容结构为步骤引导式，适合菜谱、攻略等内容的发布；标签功能支持让用户根据个人偏好，自定义APP中展示的内容类别', pay: 4666.00 },
        { img: demo2, title: '智能家居A型', text: '此模板整体采用卡片式UI风格，大方简洁。文章支持以单篇及专题形式展现；文章内容结构为步骤引导式，适合菜谱、攻略等内容的发布；标签功能支持让用户根据个人偏好，自定义APP中展示的内容类别', pay: 3699.00 },
        { img: demo3, title: '社区类A型', text: '此模板整体采用卡片式UI风格，大方简洁。文章支持以单篇及专题形式展现；文章内容结构为步骤引导式，适合菜谱、攻略等内容的发布；标签功能支持让用户根据个人偏好，自定义APP中展示的内容类别', pay: 5700.00 }
      ]
    }
  },
  methods: {
    changeTab (item) {
      this.activeName = item.name
    }
  }
}
</script>

<style scoped lang='scss'>
.service {
    min-height: 150px;
    .title {
        padding-top: 30px;
        padding-bottom: 20px;
        color: $color-text-placehoder;
    }
    .el-carousel__item {
        border: $border;
        border-radius: 10px;
        background: $content-bg;
        @extend %flex-center-col;
        img {
            width: 80%;
            height: 60%;
            border-radius: 10px;
        }
        h2 {
            color: #475669;
            font-size: 18px;
            line-height: 50px;
        }

        // &:nth-child(2n) {
        //   background-color: #99a9bf;
        // }

        // &:nth-child(2n + 1) {
        //   background-color: #d3dce6;
        // }
    }
}
</style>
