<template>
  <div class='table3'>
    <div class="formBox">
      <div class="formItem">
        <P>class</P>
        <div><el-input v-model="classCon" placeholder="请输入内容"></el-input></div>
      </div>
      <div class="formItem">
        <P>method</P>
        <div><el-input v-model="method" placeholder="请输入内容"></el-input></div>
      </div>
      <div class="formItem">
        <P>body</P>
        <div><el-input v-model="area" placeholder="参数类型：json" type="textarea" :autosize="{ minRows: 16}"></el-input></div>
      </div>
      <div class="formItem">
        <P></P>
        <el-button type="primary" @click="add">发送请求</el-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'api',
  data () {
    return {
      classCon: 'TestCalss_DB',
      method: '[POST] create  a new  instance',
      area: ''
    }
  }
}
</script>

<style scoped lang='scss'>
.table3 {
  background: $content-bg;
  border-radius: 5px;
  height: 100%;
  display: flex;
  justify-content: center;
  .formBox {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 15px;
    .formItem {
      display: flex;
      align-items: flex-start;
      margin-top: 15px;
      p{
        color: #999;
        width: 80px;
        padding-top: 5px;
      }
      div {
        width: 100%;
      }
    }
  }
}
</style>
