<template src='./index.html'></template>

<script>
import ModelService from '../../assets/js/service/modelservice.js'
import { pageCommon } from '../../assets/js/mixin/mixin.js'
export default {
  name: 'data',
  data () {
    return {
      queryVal: '',
      tableData: []
    }
  },
  mixins: [pageCommon],
  methods: {
    getList () {
      ModelService.queryByPage('datasourcemodel', this.pageNo, this.pageSize, this.queryVal).then((res) => {
        this.tableData = res.data.list
        this.pageTotal = parseInt(res.data.totalRow)
      })
    },
    addModelData () {
      this.$router.push({path: '/dataEdit'})
    },
    editModelData (row) {
      this.$router.push({path: `/dataEdit?name=${encodeURIComponent(row.name)}`})
    },
    delModelData (row) {
      this.$confirm('删除的数据不可恢复，确认删除?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(async () => {
        await ModelService.deleteModel('datasourcemodel', row.mid)
        this.getList()
      })
    }
  }
}
</script>

<style src='./index.scss' lang='scss' scoped></style>
