<div class="mian-box">
  <div class="tab-box">
    <div class="headbox">
      <div class="title">
        <h3 class="h3">数据模型维护</h3>
        <p class="viaTitle">数据模型维护</p>
      </div>
      <div class="searchBox">
        <el-input v-model="queryVal" placeholder="请输入需要搜索的名称" class="searchInput" @keyup.enter.native="getList"></el-input>
        <el-button type="primary" plain icon="el-icon-search" @click="getList">查询</el-button>
        <el-button type="primary" icon="el-icon-plus" @click="addModelData">添加</el-button>
      </div>
    </div>
    <div class="table">
      <el-table :data="tableData" style="width: 100%" border>
        <el-table-column prop="name" label="功能名称"></el-table-column>
        <el-table-column prop="displayName" label="中文名称"></el-table-column>
        <el-table-column prop="jumpMode" label="编码规则"></el-table-column>
        <el-table-column prop="category" label="分类"></el-table-column>
        <!-- <el-table-column prop="dataKind" label="数据性质"></el-table-column> -->
        <el-table-column prop="permissionSourceName" label="关联功能"></el-table-column>
        <el-table-column prop="modelStatus" label="状态">
          <template slot-scope='scope'>
            <span v-if='scope.row.modelStatus === "COMMIT"'>已提交</span>
            <span v-if='scope.row.modelStatus === "Draft"'>草稿</span>
          </template>
        </el-table-column>
        <el-table-column fixed="right" label="操作" width="100">
          <template slot-scope="scope">
            <el-button @click="editModelData(scope.row)" type="text" size="small">编辑</el-button>
            <el-button @click="delModelData(scope.row)" type="text" size="small">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="pagination" v-show="tableData.length > 0">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :page-sizes="pageSizeArray"
        :page-size="pageSize" :total="pageTotal" :current-page="pageNo" layout="total, sizes, prev, pager, next, jumper">
      </el-pagination>
    </div>
  </div>
</div>
