.mian-box {
  background: #fff;
  width: 100%;
  min-height: 100%;
}

.tab-box {
  background: #fff;
  border-radius: 5px;
  height: 100%;
  padding: 20px;
  .headbox {
    display: flex;
    justify-content: space-between;
  }
  .h3 {
    margin-top: 15px;
    font-size: 18px;
  }
  .viaTitle {
    font-size: 14px;
    margin-top: 5px;
    color: #999;
  }
  .searchBox {
    height: 40px;
    display: flex;
    justify-content: flex-start;
    .searchInput {
      margin-right: 10px;
    }
  }
  .table {
    margin-top: 15px;
  }
  .pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
}

.el-table {
  margin-top: 15px;
}
