<template>
  <div class='storageBox'>
    <v-head :is-hidden="true" :isProduct="false"></v-head>
    <div class="bottomBox">
      <prodcutSlide></prodcutSlide>
      <div class="contaniner">
        <div class="middleBox">
          <div class="askBox">
            <div class="topRow">
              <div class="askTitle">优先技术支持</div>
              <div class="askRight">
                <div class="textBox">在线专家
                  <span class="bigText">7</span>人
                </div>
                <div class="textBox">相应时间
                  <span class="bigText">4'20" </span>
                  <span class="bigText">94</span>次
                  <span style="margin-left:6px;">今日解答</span>
                </div>
              </div>
            </div>
            <!-- <div class="clickBox"></div> -->
            <textarea name="" id="" class="clickBox"></textarea>
            <div class="bottomOut">
              <div class="iconBox">
                <div style="margin-right:8px;"><img src="../../assets/image/askimg2_l.png" alt=""></div>
                <div style="margin-right:8px;"><img src="../../assets/image/askfile2_l.png" alt=""></div>
                <div>问题类型</div>
              </div>
              <button type="button" class="btn">立即提问</button>
            </div>
          </div>
          <div class="leassonBox">
            <div class="tab">
              <div class="tabTitle" @click="changeTab(1)" :class="activetab===1?'activetab': ''">学习中心</div>
              <div class="tabTitle" @click="changeTab(2)" :class="activetab===2?'activetab': ''">更新日志</div>
            </div>
            <div class="commonBox" v-if="activetab===1">
              <div class="cardBox">
                <el-card class="box-card">
                  <img src="../../assets/image/lesson1.jpg" alt="" width="100%;">
                </el-card>
                <el-card class="box-card">
                  <img src="../../assets/image/lesson2.jpg" alt="" width="100%;">
                </el-card>
                <el-card class="box-card">
                  <img src="../../assets/image/lesson3.jpg" alt="" width="100%;">
                </el-card>
              </div>
              <el-collapse v-model="activeName" accordion v-for="(list,index) in logList" :key="(list,index)">
                <el-collapse-item :name="list.name">
                  <template slot="title">
                    <div class="comrow">
                      <div class="comTitle">
                        <span class="time">{{list.time}}</span>
                        <span class="name">{{list.name}}</span>
                        <span class="versions"> {{list.versions}}</span> /
                        <span class="large"> {{list.large}}</span>
                      </div>
                    </div>
                  </template>
                  <div class="content">
                    <div v-html="list.content"></div>
                    <button type="button" class="downBtn">下载</button>
                  </div>
                </el-collapse-item>
              </el-collapse>
            </div>
            <div class="commonBox">
              <template v-if="activetab===2">
                <el-collapse v-model="activeName" accordion v-for="(list,index) in logList" :key="(list,index)">
                  <el-collapse-item :name="list.name">
                    <template slot="title">
                      <div class="comrow">
                        <div class="comTitle">
                          <span class="time">{{list.time}}</span>
                          <span class="name">{{list.name}}</span>
                          <span class="versions"> {{list.versions}}</span> /
                          <span class="large"> {{list.large}}</span>
                        </div>
                      </div>
                    </template>
                    <div class="content">
                      <div v-html="list.content"></div>
                      <button type="button" class="downBtn">下载</button>
                    </div>
                  </el-collapse-item>
                </el-collapse>
              </template>
            </div>
          </div>
        </div>
        <div class="rightBox">
          <div class="userBox">
            <div class="userTop">
              <div class="headIMg"><img :src=userImg alt="" width="100px" height="100px" style="border-radius:50%;"></div>
              <div class="userName">{{userName}}</div>
              <div class="userBottom">
                <div class="tipBox">
                  <div class="title">个人版会员</div>
                  <div class="menu">升级</div>
                </div>
                <div class="tipBox">
                  <div class="title">创建应用数量</div>
                  <div class="num">1 /10</div>
                </div>
              </div>
              <div class="commonRow">
                <button type="button" class="btn">企业认证</button>
              </div>
              <div class="commonRowTetx">
                云编译 0 /500
              </div>
              <div class="commonRowTetx">
                团队协作 0 /500
              </div>
              <div class="commonRowTetx">
                优先技术支持
              </div>
              <div class="commonRowTetx">
                云服务账单
              </div>
            </div>
            <div class="userMe">
              <div class="commonRowTetx">
                云编译 0 /500
              </div>
              <div class="commonRowTetx">
                团队协作 0 /500
              </div>
              <div class="commonRowTetx">
                优先技术支持
              </div>
              <div class="commonRowTetx">
                云服务账单
              </div>
            </div>
            <div class="userMe">
              <div class="commonRowTetx">
                云编译 0 /500
              </div>
              <div class="commonRowTetx">
                团队协作 0 /500
              </div>
              <div class="commonRowTetx">
                优先技术支持
              </div>
              <div class="commonRowTetx">
                云服务账单
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import storage from '@/assets/js/service/cacheservice'
import vHead from '../../components/layout/Header'
import prodcutSlide from './productSlide'
export default {
  name: 'storage',
  components: {
    vHead,
    prodcutSlide
  },
  data () {
    return {
      userImg: '',
      userName: '',
      productList: [
        {
          id: 1,
          name: '权限中心',
          logo: '../../../static/default.png',
          add: 5,
          new: 6
        },
        {
          id: 1,
          name: '权限中心',
          logo: '../../../static/default.png',
          add: 5,
          new: 6
        }
      ],
      activetab: 1,
      activeName: 'JETCloud SDK1',
      logList: [
        {
          id: 1,
          time: '2018-06-31',
          name: 'JETCloud SDK1',
          versions: ' V1.2.78',
          large: '257M',
          toggleShow: false,
          content: '<p>JETCloud AppLoader版本：</p><p>v1.2.92模块:新增：UIChatField模块，新样式的聊天输入框效果。</p><p>JETCloud AppLoader版本：</p><p>v1.2.92模块:新增：UIChatField模块，新样式的聊天输入框效果。</p><p>JETCloud AppLoader版本：</p><p>v1.2.92模块:新增：UIChatField模块，新样式的聊天输入框效果。</p><p>JETCloud AppLoader版本：</p><p>v1.2.92模块:新增：UIChatField模块，新样式的聊天输入框效果。</p><p>JETCloud AppLoader版本：</p><p>v1.2.92模块:新增：UIChatField模块，新样式的聊天输入框效果。</p><p>JETCloud AppLoader版本：</p><p>v1.2.92模块:新增：UIChatField模块，新样式的聊天输入框效果。</p>'
        },
        {
          id: 1,
          time: '2018-06-31',
          name: 'JETCloud SDK2',
          versions: ' V1.2.78',
          large: '257M',
          toggleShow: false,
          content: '<p>JETCloud AppLoader版本：</p><p>v1.2.92模块:新增：UIChatField模块，新样式的聊天输入框效果。</p>'
        },
        {
          id: 1,
          time: '2018-06-31',
          name: 'JETCloud SDK3',
          versions: ' V1.2.78',
          large: '257M',
          toggleShow: false,
          content: '<p>JETCloud AppLoader版本：</p><p>v1.2.92模块:新增：UIChatField模块，新样式的聊天输入框效果。</p>'
        },
        {
          id: 1,
          time: '2018-06-31',
          name: 'JETCloud SDK4',
          versions: ' V1.2.78',
          large: '257M',
          toggleShow: false,
          content: '<p>JETCloud AppLoader版本：</p><p>v1.2.92模块:新增：UIChatField模块，新样式的聊天输入框效果。</p>'
        },
        {
          id: 1,
          time: '2018-06-31',
          name: 'JETCloud SDK5',
          versions: ' V1.2.78',
          large: '257M',
          toggleShow: false,
          content: '<p>JETCloud AppLoader版本：</p><p>v1.2.92模块:新增：UIChatField模块，新样式的聊天输入框效果。</p>'
        },
        {
          id: 1,
          time: '2018-06-31',
          name: 'JETCloud SDK6',
          versions: ' V1.2.78',
          large: '257M',
          toggleShow: false,
          content: '<p>JETCloud AppLoader版本：</p><p>v1.2.92模块:新增：UIChatField模块，新样式的聊天输入框效果。</p>'
        },
        {
          id: 1,
          time: '2018-06-31',
          name: 'JETCloud SDK7',
          versions: ' V1.2.78',
          large: '257M',
          toggleShow: false,
          content: '<p>JETCloud AppLoader版本：</p><p>v1.2.92模块:新增：UIChatField模块，新样式的聊天输入框效果。</p>'
        },
        {
          id: 1,
          time: '2018-06-31',
          name: 'JETCloud SDK8',
          versions: ' V1.2.78',
          large: '257M',
          toggleShow: false,
          content: '<p>JETCloud AppLoader版本：</p><p>v1.2.92模块:新增：UIChatField模块，新样式的聊天输入框效果。</p>'
        }
      ]
    }
  },
  created () {
    // this.logList[0].toggleShow = true
    storage.getItem('userInfo').then(res => {
      console.log(res)
      this.userName = res.username
      this.userImg = res.userImg
    })
  },
  methods: {
    changeTab (val) {
      this.activetab = val
    },
    changeToggle (list) {
      for (let item of this.logList) {
        console.log(item)
        item.toggleShow = false
      }
      list.toggleShow = !list.toggleShow
    }
  }
}
</script>

<style scoped lang='scss'>
.storageBox {
  background: $content-bg;
  border-radius: 5px;
  height: 100%;
  overflow: hidden;
  .bottomBox {
    display: flex;
    width: 100%;
    height: 100%;
    .contaniner {
      flex: 1;
      height: 100%;
      background: #ebeeed;
      padding: 15px;
      box-sizing: border-box;
      display: flex;
      overflow-y: scroll;
      position: relative;
      .middleBox {
        position: absolute;
        top: 15px;
        left: 15px;
        bottom: 15px;
        right: 296px;
        margin-bottom: 50px;
        .askBox {
          width: 100%;
          height: 222px;
          background: #fff;
          margin-bottom: 15px;
          padding: 0 20px;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          .topRow {
            width: 100%;
            height: 68px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .askTitle {
              font-size: 14px;
              color: rgb(51, 51, 51);
            }
            .askRight {
              display: flex;
              color: rgb(51, 51, 51);
              font-size: 12px;
              .textBox {
                margin-right: 8px;
                font-size: 12px;
              }
              .bigText {
                font-size: 14px;
              }
            }
          }
          .clickBox {
            width: 100%;
            height: 87px;
            border: 1px solid rgb(228, 228, 228);
            resize: none;
          }
          .bottomOut {
            display: flex;
            width: 100%;
            flex: 1;
            align-items: center;
            justify-content: space-between;
            .iconBox {
              display: flex;
              height: 100%;
              flex: 1;
              align-items: center;
            }
            .btn {
              width: 110px;
              height: 34px;
              padding: 0;
              background-color: #ffffff;
              border: 2px solid #4e8aea;
              color: #4e8aea;
              font-size: 12px;
              border-radius: 6px;
              margin-right: 0;
              outline: 0;
            }
          }
        }
        .leassonBox {
          width: 100%;
          background: #fff;
          .tab {
            width: 100%;
            height: 72px;
            border-bottom: 1px solid #eee;
            display: flex;
            justify-content: center;
            align-items: center;
            .tabTitle {
              width: 100px;
              height: 100%;
              text-align: center;
              line-height: 70px;
              font-size: 14px;
              color: #ababab;
              cursor: pointer;
            }
            .activetab {
              border-bottom: 1px solid #323232;
              color: #323232;
            }
          }
          .commonBox {
            .comrow {
              width: 100%;
              height: 62px;
              border-bottom: 1px solid #e7e7e7;
              background-color: #f5f5f5;
              cursor: pointer;
              min-height: 64px;
              line-height: 64px;
              .comTitle {
                padding: 0 15px;
                box-sizing: border-box;
                .time {
                  font-size: 14px;
                  color: #999999;
                }
                .name {
                  font-size: 14px;
                  color: #333333;
                  margin: 0 16px;
                }
                .versions {
                  font-size: 14px;
                  color: #4f83c3;
                }
                .large {
                  font-size: 14px;
                  color: #333333;
                }
                .iconfont {
                  font-size: 16px;
                  color: rgb(134, 134, 134);
                  float: right;
                }
              }
            }
            .cardBox {
              width: 100%;
              display: flex;
              padding: 16px;
              box-sizing: border-box;
              .box-card {
                width: 400px;
                margin: 0 20px 20px 0;
              }
            }
            .comrow:hover {
              background: #fff;
            }
            .content {
              width: 100%;
              padding: 10px 20px 20px 100px;
              box-sizing: border-box;
              position: relative;
              .downBtn {
                position: absolute;
                right: 20px;
                top: 20px;
                color: #4f83c3;
                border: 2px solid #4d8bea;
                width: 110px;
                height: 34px;
                padding: 0;
                line-height: 30px;
                border-radius: 6px;
                outline: 0;
                background: #fff;
              }
            }
          }
          .commonBox:first-child {
            border: 0;
          }
        }
      }
      .rightBox {
        position: absolute;
        top: 15px;
        right: 15px;
        bottom: 0;
        left: auto;
        width: 266px;
        margin-bottom: 50px;
        .userTop {
          width: 100%;
          height: 585px;
          background: #fff;
          .headIMg {
            border-radius: 50%;
            width: 100%;
            height: 100px;
            padding: 38px 0 25px 0;
            display: flex;
            justify-content: center;
          }
          .userName {
            text-align: center;
            line-height: 20px;
            color: #333;
            font-size: 12px;
          }
          .userName:hover {
            text-decoration: underline;
          }
          .userBottom {
            margin: 30px auto 18px;
            display: flex;
            .tipBox {
              width: 50%;
              height: 100%;
              text-align: center;
              .title {
                color: #ababab;
                font-size: 12px;
                margin-bottom: 16px;
              }
              .menu {
                color: #4e8aeb;
                font-size: 14px;
                cursor: pointer;
              }
              .menu:hover {
                text-decoration: underline;
              }
              .num {
                color: #333;
                font-size: 14px;
                cursor: pointer;
              }
            }
          }
          .commonRow {
            width: 100%;
            padding: 16px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 1px solid #e7e7e7;
            button {
              width: 180px;
              height: 35px;
              line-height: 35px;
              background-color: #fff;
              border-radius: 4px;
              color: #8dc34a;
              border: 1px solid #8dc34a;
              text-decoration: none;
              font-size: 12px;
              outline: 0;
            }
            button:hover {
              color: #fff;
              background: #8dc34a;
            }
          }
          .commonRowTetx {
            padding: 23px;
            font-size: 14px;
            text-align: center;
            border-top: 1px solid #e7e7e7;
            color: #333;
          }
          .commonRowTetx:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
        .userMe {
          width: 100%;
          margin-top: 15px;
          background: #fff;
          .commonRowTetx {
            padding: 23px;
            font-size: 14px;
            text-align: center;
            border-top: 1px solid #e7e7e7;
            color: #87993b;
          }
          .commonRowTetx:first-child {
            border-top: 0;
          }
          .commonRowTetx:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
        .userMe:last-child {
          margin-bottom: 150px;
        }
      }
    }
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
}
</style>
<style>
.storageBox .el-button .el-icon-plus {
  margin-right: 10px;
}
.storageBox .el-collapse-item__header,
.el-collapse-item__arrow {
  height: 65px;
  line-height: 65px;
}
.storageBox .el-collapse {
  border: 0;
}
</style>
