<template>
  <div class="productSlide">
    <div class="commonRow1">
      <div class="buttonBox" :style='{width:widthData}'>
        <button icon="el-icon-plus" class="addBtn common" @click="addBtn">创建产品</button>
        <button @click="transitionBtn('0px')" class="searchBtn common">
          <i class="el-icon-search"></i>
        </button>
      </div>
      <div class="buttonBox2" id="buttonBox2" :style='{width:widthData2}'>
        <div class="icons icons1">
          <i class="iconfont icon-icon-test" @mousedown="query"></i>
        </div>
        <input type="text" v-model="nameCondition" style="font-size:15px;" placeholder="请输入产品名称" @keyup.enter="query" @blur="searchRemove" class="nameCondition">
        <div class="icons icons2">
          <i class="el-icon-close" @click="close"></i>
        </div>
      </div>
    </div>
    <div class="bottomBox">
      <!-- <div style="height:100%"> -->
      <el-scrollbar style="height:100%">
        <div class="commonRow" v-for="(list,index) in productList" :key="(list,index)" @click="goList(list)">
          <div class="productLogo">
            <img :src=list.logo alt="" width="100%" height="100%">
          </div>
          <div class="prodcutInfo">
            <div class="productName">{{list.name}}</div>
            <div class="displayName">
              {{list.displayName}}
            </div>
          </div>
          <div class="sort">
            <div class="icon">
              <i class="iconfont icon-iconzd1" @click.stop="sort(list,index,'fir')"></i>
            </div>
            <div class="icon">
              <i class=" iconfont icon-shengxu" @click.stop="sort(list,index,'asc')"></i>
            </div>
            <div class="icon">
              <i class=" iconfont icon-ascending-order" @click.stop="sort(list,index,'des')"></i>
            </div>
            <div class="icon">
              <i class=" iconfont icon-zhidi" @click.stop="sort(list,index,'lst')"></i>
            </div>
          </div>
        </div>
        <div class="commonRow" v-if="productList.length<1">
          <span style="font-szie:14px;color:#9e9e9e;">暂无数据</span>
        </div>
      </el-scrollbar>
      <!-- </div> -->
    </div>
    <!-- <div class="moreBox">
      查看更多
    </div> -->
    <!-- 弹出框 -->
    <el-dialog title="创建产品" :visible.sync="dialogVisible" width="800px" :before-close="handleClose" :close-on-click-modal="false">
      <div class="form">
        <div>
          <el-form :model="ruleForm" label-position="right" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="产品名称" prop="name">
              <el-input v-model="ruleForm.name" maxlength="64"></el-input>
            </el-form-item>
            <el-form-item label="中文名称" prop="displayName">
              <el-input v-model="ruleForm.displayName" maxlength="100"></el-input>
            </el-form-item>
            <el-form-item label="APP TOKEN" prop="appToken">
              <el-input v-model="ruleForm.appToken" disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="SECRET ID" prop="secretId">
              <el-input v-model="ruleForm.secretId" disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="数据库IP" prop="dbServer">
              <el-input v-model="ruleForm.dbServer"></el-input>
            </el-form-item>
            <el-form-item label="数据库名称" prop="dbName">
              <el-input v-model="ruleForm.dbName"></el-input>
            </el-form-item>
            <el-form-item label="端口" prop="dbPort">
              <el-input v-model="ruleForm.dbPort"></el-input>
            </el-form-item>
            <el-form-item label="用户名" prop="dbUser">
              <el-input v-model="ruleForm.dbUser"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="dbPwd">
              <el-input v-model="ruleForm.dbPwd" type="password"></el-input>
            </el-form-item>
            <el-form-item label="产品版本号" prop="appVersion">
              <el-input v-model="ruleForm.appVersion"></el-input>
            </el-form-item>
            <el-form-item label="说明" prop="tip">
              <el-input v-model="ruleForm.tip" style="height:144px;" type="textarea" maxlength="400"></el-input>
            </el-form-item>
            <el-form-item label="LOGO" prop="logo">
              <div class="com-upload-img">
                <div class="img_group">
                  <div class="img_box" v-if="allowAddImg">
                    <input type="file" accept="image/*" multiple="multiple" @change="changeImg($event)">
                    <div class="filter"></div>
                  </div>
                  <div class="img_show_box" style="width:100px;height:100px;border:1px dashed #dcdfe6;">
                    <img :src="imgArr" alt="" width="100px" height="100px">
                  </div>
                </div>
              </div>
            </el-form-item>
            <div class="buttonBox1">
              <el-button type="primary" @click="submitForm('ruleForm')">保存</el-button>
              <el-button @click="resetForm('ruleForm')">取消</el-button>
            </div>
          </el-form>
        </div>
      </div>
    </el-dialog>
  </div>
</template>
<script type="text/ecmascript-6">
import UserService from '../../assets/js/service/userservice.js'
import ModelService from '../../assets/js/service/modelservice.js'
import storage from '@/assets/js/service/cacheservice'

export default {
  name: 'productSlide',
  computed: {
    apiParams () {
      return {
        name: this.ruleForm.name,
        appToken: this.ruleForm.appToken,
        description: this.ruleForm.tip,
        secretId: this.ruleForm.secretId,
        logo: this.ruleForm.logo,
        dbServer: this.ruleForm.dbServer,
        dbPort: this.ruleForm.dbPort,
        dbUser: this.ruleForm.dbUser,
        dbPwd: this.ruleForm.dbPwd,
        redisUrl: 'redisUrl',
        redisPwd: 'redisPwd',
        // modelStatus: '',
        appName: this.ruleForm.name,
        dbName: this.ruleForm.dbName,
        displayNameFormat: this.ruleForm.displayName,
        appVersion: this.ruleForm.appVersion
      }
    }
  },
  data () {
    // 验证端口号
    var dbPort = (rule, value, callback) => {
      var re = /^([0-9]|[1-9]\d{1,3}|[1-5]\d{4}|6[0-4]\d{4}|65[0-4]\d{2}|655[0-2]\d|6553[0-5])$/
      if (!value) {
        return callback(new Error('端口号不能为空'))
      }
      setTimeout(() => {
        if (!re.test(value)) {
          callback(new Error('正确的端口号'))
        } else {
          callback()
        }
      }, 1000)
    }
    // 验证全英文加数字
    // var checkEnglish = (rule, value, callback) => {
    //   var re = /^[a-zA-Z0-9_]+$/
    //   if (!value) {
    //     return callback(new Error('请输入名称'))
    //   }
    //   setTimeout(() => {
    //     if (!re.test(value)) {
    //       callback(new Error('请输入正确的名称'))
    //     } else {
    //       callback()
    //     }
    //   }, 1000)
    // }
    // 验证ip
    var testIp = (rule, value, callback) => {
      var re = /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/
      if (!value) {
        return callback(new Error('请输入数据库ip'))
      }
      setTimeout(() => {
        if (!re.test(value)) {
          callback(new Error('请输入正确的数据库ip'))
        } else {
          callback()
        }
      }, 1000)
    }
    var checkName = (rule, value, callback) => {
      let checkKey = /^[a-zA-Z0-9_.-]*$/
      if (!value) {
        return callback(new Error('请输入产品名称'))
      }
      setTimeout(() => {
        if (!checkKey.test(value)) {
          callback(new Error('请输入正确的产品名称'))
        } else {
          callback()
        }
      }, 1000)
    }
    var checkDisplayName = (rule, value, callback) => {
      let checkName = /[\u4E00-\u9FA5\uF900-\uFA2D]/
      if (!value) {
        return callback(new Error('请输入中文名称'))
      }
      setTimeout(() => {
        if (!checkName.test(value)) {
          callback(new Error('请输入正确的中文名称'))
        } else {
          callback()
        }
      }, 1000)
    }
    return {
      productList: [
        {
          // id: 1,
          // name: '权限中心',
          // logo: '../../../static/default.png',
          // add: 5,
          // new: 6
        }
      ],
      widthData: '287px',
      widthData2: '0px',
      isSHow: 'none',
      dialogVisible: false,
      radio: 'web app',
      ruleForm: {
        name: '',
        appToken: '',
        tip: '',
        secretId: '',
        logo: '',
        dbServer: '',
        dbPort: '',
        dbUser: '',
        dbPwd: '',
        dbName: '',
        appVersion: '',
        displayName: ''
      },
      rules: {
        name: [
          { required: true, validator: checkName, trigger: 'blur' }
        ],
        displayName: [
          { required: true, validator: checkDisplayName, trigger: 'blur' }
        ],
        tip: [
          { required: true, message: '请输入说明', trigger: 'blur' }
        ],
        logo: [
          // { required: true, message: '请设置logo', trigger: 'blur' }
        ],
        dbServer: [
          { required: true, validator: testIp, trigger: 'blur' }
        ],
        dbPort: [
          { required: true, trigger: 'blur', validator: dbPort }
        ],
        dbUser: [
          { required: true, message: '请输入数据库用户名', trigger: 'blur' }
        ],
        dbPwd: [
          { required: true, message: '请输入数据库密码', trigger: 'blur' }
        ],
        dbName: [
          { required: true, message: '请输入数据库名称', trigger: 'blur' }
        ],
        appVersion: [
          { required: true, message: '请输入版本号', trigger: 'blur' }
        ]
      },
      imgData: '',
      imgArr: '',
      imgSrc: '',
      allowAddImg: true,
      nameCondition: '',
      time: 0

    }
  },
  created () {
    ModelService.listAll('appmodel', null).then((res) => {
      this.getList(res)
    })
  },
  mounted () {
    window.document.addEventListener('click', this.moveFct, false)
  },
  watch: {
    ruleForm: {
      handler: function (newV) {
        if (this.dialogVisible) {
          this.time++
        }
      },
      deep: true
    }
  },
  methods: {
    // 获取数据后塞数据
    getList (res) {
      if (res.data.length > 0) {
        let arr = []
        for (let list of res.data) {
          arr.push({
            id: list.mid,
            name: list.name,
            appVersion: list.appVersion,
            logo: list.logo ? 'data:image/jpeg;base64,' + list.logo : '../../../static/default.png',
            displayName: list.displayName,
            seq: list.seq
          })
        }
        this.productList = arr
      } else {
        this.productList = []
      }
    },
    // 新增产品按钮事件
    // 获取APPToken和secretId
    addBtn () {
      this.dialogVisible = true
      this.time = 1
      UserService.getId().then(response => {
        console.log(response)
        let res = response.data
        if (response.code === 200) {
          this.ruleForm.appToken = res.appToken
          this.ruleForm.secretId = res.secretId
        }
      })
    },
    // 去概况页面
    goList (list) {
      list.appName = list.name
      ModelService.appInfo = list
      localStorage.appInfo = JSON.stringify(list)
      storage.setItem('appInfo', list).then((res) => {
        console.log('储存', list, res)
        this.$router.push('overview')
      })
    },
    // 切换搜索动画
    transitionBtn (val) {
      if (val === '0px') {
        this.widthData2 = '278px'
      } else {
        this.widthData2 = '0px'
      }
      this.widthData = val
    },
    // 产品查询
    query () {
      ModelService.quickQuery('appmodel', this.nameCondition).then(res => {
        console.log(res)
        if (res.code === 200) {
          this.getList(res)
        } else {
          this.$messageService.error(res.message)
        }
      })
    },
    // 关闭查询
    close () {
      this.transitionBtn('287px')
      this.nameCondition = ''
      this.query()
    },
    // 排序
    sort (list, index, type) {
      let params = []
      let obj = {}
      let length = this.productList.length
      // 置顶
      if (type === 'fir') {
        if (index !== 0) {
          params = [{ mid: list.id, seq: this.productList[0].seq - 1 }]
          this.sortCom(params)
        }
        // 升序
      } else if (type === 'asc') {
        if (index !== 0) {
          obj = this.productList[index - 1]
          params = [{ mid: list.id, seq: obj.seq }, { mid: obj.id, seq: list.seq }]
          this.sortCom(params)
        }
        // 降序
      } else if (type === 'des') {
        if (index !== this.productList.length - 1) {
          obj = this.productList[index + 1]
          params = [{ mid: list.id, seq: obj.seq }, { mid: obj.id, seq: list.seq }]
          this.sortCom(params)
        }
        // 置底
      } else if (type === 'lst') {
        if (index !== this.productList.length - 1) {
          params = [{ mid: list.id, seq: this.productList[length - 1].seq + 1 }]
          this.sortCom(params)
        }
      }
    },
    sortCom (params) {
      UserService.sortFct(params).then(res => {
        console.log(res)
        if (res.code === 200) {
          ModelService.listAll('appmodel', null).then((res) => {
            this.getList(res)
          })
        } else {
          this.$messageService.error(res.message)
        }
      })
    },
    // 图片转码

    changeImg (e) {
      var _this = this
      var imgLimit = 1024
      var files = e.target.files
      console.log(files)
      var image = new Image()
      if (files.length > 0) {
        var dd = 0
        var timer = setInterval(function () {
          if (files.item(dd).type !== 'image/png' && files.item(dd).type !== 'image/jpeg' && files.item(dd).type !== 'image/gif') {
            return false
          }

          if (files.item(dd).size > imgLimit * 102400) {
            // to do sth
          } else {
            image.src = window.URL.createObjectURL(files.item(dd))
            image.onload = function () {
              // 默认按比例压缩
              var w = image.width
              var h = image.height
              var scale = w / h
              w = 200
              h = w / scale
              // 默认图片质量为0.7，quality值越小，所绘制出的图像越模糊
              var quality = 0.7
              // 生成canvas
              var canvas = document.createElement('canvas')
              var ctx = canvas.getContext('2d')
              // 创建属性节点
              var anw = document.createAttribute('width')
              anw.nodeValue = w
              var anh = document.createAttribute('height')
              anh.nodeValue = h
              canvas.setAttributeNode(anw)
              canvas.setAttributeNode(anh)
              ctx.drawImage(image, 0, 0, w, h)
              var ext = image.src.substring(image.src.lastIndexOf('.') + 1).toLowerCase()
              console.log(ext)
              // 图片格式
              var base64 = canvas.toDataURL(quality)
              console.log(base64.split(',')[1])
              _this.ruleForm.logo = base64.split(',')[1]
              _this.imgArr = base64
            }
          }

          if (dd < files.length - 1) {
            dd++
          } else {
            clearInterval(timer)
          }
        }, 1000)
      }
    },
    deleteImg: function (index) {
      this.imgArr.splice(index, 1)
      if (this.imgArr.length < 5) {
        this.allowAddImg = true
      }
    },
    // 新增保存
    submitForm (formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          console.log(this.apiParams)
          ModelService.saveModel('appmodel', this.apiParams).then(response => {
            console.log(response)
            if (response.code === 200) {
              this.dialogVisible = false
              this.$messageService.success('产品新增成功')
              this.$refs[formName].resetFields()
            } else {
              this.$messageService.error(response.message)
            }
            ModelService.listAll('appmodel', null).then((res) => {
              this.getList(res)
            })
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    // 取消
    resetForm (formName) {
      if (this.time > 2) {
        this.$confirm('此操作将会清空填入的数据, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.dialogVisible = false
          this.$refs[formName].resetFields()
        }).catch(() => {
          // this.$messageService.info('已取消')
        })
      } else {
        this.dialogVisible = false
      }
    },
    // 弹出框右上角x
    handleClose () {
      this.resetForm('ruleForm')
    },
    // 监听事件
    moveFct (e) {
      console.log(e)
      // 监听全部点击事件，控制选项框的显示和隐藏
      const className = e.target.className
      // console.log(className)
      if (className === 'iconfont icon-icon-test' || className === 'nameCondition' || className === 'el-icon-close' || className === 'el-icon-search' || className === 'el-button el-button--default') {
        // console.log(111)
      } else {
        this.transitionBtn('287px')
        this.nameCondition = ''
        this.query()
      }
    },
    searchRemove () {
      // console.log(11)
      // this.transitionBtn('287px')
      // this.nameCondition = ''
      // this.query()
    }
  },
  destroyed () {
    window.document.removeEventListener('click', this.moveFct, false)
  }
}
</script>
<style scoped lang='scss'>
.productSlide {
  width: 332px;
  height: 100%;
  background: #fff;
  position: relative;
  .commonRow1 {
    width: 100%;
    height: 98px;
    border-top: 1px solid #eee;
    position: relative;
    .buttonBox {
      height: 52px;
      transition: width 0.5s;
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 111;
      .addBtn {
        width: 220px;
        margin-right: 2px;
        padding: 18px 0;
        overflow: hidden;
        white-space: nowrap;
        line-height: 16px;
      }
      .searchBtn {
        width: 62px;
        i {
          width: 100%;
          height: 100%;
          font-size: 20px;
          line-height: 52px;
          font-weight: 600;
          height: 52px;
        }
      }
      .common {
        font-size: 16px;
        background: #4f83c3;
        color: #fff;
        border: #4f83c3;
        outline: none;
        border-radius: 4px;
      }
    }
    .buttonBox2 {
      height: 52px;
      line-height: 52px;
      transition: width 0.5s;
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;
      position: absolute;
      top: 20px;
      left: 23px;
      .icons {
        width: 80px;
        i {
          color: #9e9e9e;
          font-size: 24px;
          font-weight: 1000;
        }
      }
      .icons1 {
        text-align: left;
      }
      .icons2 {
        text-align: right;
      }
      input {
        outline: none;
        border: 0;
      }
    }
  }
  .bottomBox {
    position: absolute;
    top: 98px;
    left: 0%;
    bottom: 50px;
    right: 0;
    .commonRow {
      width: 100%;
      height: 98px;
      @extend %flex-center-row;
      border-top: 1px solid #eee;
      cursor: pointer;
      .addBtn {
        width: 220px;
      }
      .productLogo {
        width: 48px;
        height: 48px;
        border-radius: 13px;
        img {
          border-radius: 13px;
        }
      }
      .prodcutInfo {
        width: 215px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        color: #9a9a9a;
        font-size: 12px;
        padding: 18px;
        box-sizing: border-box;
        .productName {
          margin: 0px 0 12px 0;
          font-size: 14px;
          color: #9a9a9a;
          font-family: inherit;
        }
        .displayName {
          font-size: 12px;
        }
      }
      .sort {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
        box-sizing: border-box;
        .icon {
          font-size: 14px;
          color: rgb(134, 134, 134);
          visibility: hidden;
          .iconfont {
            font-size: 14px;
            color: rgb(134, 134, 134);
          }
        }
        .icon:hover .iconfont {
          color: #4f83c3;
        }
      }
    }
    .commonRow:hover .icon {
      visibility: visible;
    }
    .commonRow:hover {
      background: #eee;
    }
    .icons1 {
      text-align: center;
    }
    .icons2 {
      text-align: right;
    }
    input {
      box-sizing: border-box;
      height: 100%;
      border: 0;
      font-size: 14px;
      outline: none;
    }
  }
}
.form {
  .buttonBox1 {
    width: 100%;
    margin-top: 116px;
    display: flex;
    justify-content: flex-end;
  }
}
.avatar {
  width: 78px;
  height: 78px;
  display: block;
}
</style>
<style>
.productSlide .commonRow1 .buttonBox .el-button {
  margin-left: 1px;
  height: 52px;
  font-size: 16px;
  background: #4f83c3;
  color: #fff;
}
.productSlide .buttonBox .el-button .el-icon-search {
  font-size: 18px;
  font-weight: 800;
}
.productSlide .buttonBox .el-button .el-icon-plus {
  margin-right: 10px;
  font-size: 18px;
  font-weight: 800;
}
.productSlide .el-row {
  width: 100%;
  height: 100%;
}
.productSlide .grid-content,
.productSlide .el-col {
  height: 100%;
}
.productSlide .el-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}
.productSlide .el-form-item {
  width: 48% !important;
  height: 32px;
  line-height: 32px;
  margin-bottom: 18px;
  margin-right: 0 !important;
}
.productSlide .el-form-item__label {
  height: 32px;
  line-height: 32px;
}
.productSlide .el-input__inner,
.productSlide .el-form-item__content {
  height: 32px;
  line-height: 32px;
}
.productSlide .el-dialog__body {
  padding: 0 40px 50px 20px;
  color: #606266;
  font-size: 14px;
}
.productSlide .el-textarea__inner {
  width: 100%;
  height: 100%;
}
.productSlide .el-scrollbar__wrap {
  overflow-x: hidden;
}
.productSlide .el-button--primary {
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
}
.productSlide .el-button--default {
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
}
</style>
