.mian-box {
  background: #fff;
  width: 100%;
  min-height: 100%;
}

.data-box {
  align-items: stretch;
  display: flex;
  background: #fff;
  .splitLine {
    width: 3px;
    min-height: 665px;
    background: #eee;
    cursor: col-resize;
  }
  .left {
    min-width: 200px;
    padding-right: 0px;
    overflow: hidden;
    .isRed {
      color: red
    }
    .tree {
      margin-top: 15px;
      margin-bottom: 90px;
      font-size: 13px;
      .setItemBox {
        &>p {
          height: 25px;
          line-height: 25px;
        }
      }
    }
    .leftScroll {
      height: 665px;
      overflow-x: hidden;
      .el-scrollbar__wrap {
        overflow-x: hidden
      }
    }
    .hideScroll {
      .is-vertical {
        display: none
      }
    }
  }

  .right {
    padding: 15px;
    width: 100%;
    background: #fff;
    flex: 1;
    overflow: hidden;
    .oprate {
      height: 50px;
      line-height: 20px;
      text-align: right;
    }
  }

  .btns {
    text-align: right;
  }
  .addBtnBox{
    height: 32px;
    line-height: 32px;
    .el-button{
      padding: 0;
    }
  }
  .el-icon-more {
    cursor: pointer;
  }
}

.btnBox {
  text-align: center;
  margin-top: 15px;
}

.topBtnBox {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.el-collapse-item__header {
  font-weight: bolder;
  font-size: 14px;
}

.attributeTitle {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  margin-bottom: 16px;
}
.defineform{
  justify-content: space-between;
}
.form {
  display: flex;
  flex-wrap: wrap;
  .el-form-item {
    width: 33.33%;
    &.oneLine {
      width: 100%;
      .el-form-item__content {
        height: auto;
      }
    }
    &.noPaddingRight {
      .el-input__inner {
        padding-right: 0;
      }
    }
    &.special {
      width: 100%!important;
      margin-right: 0;
      .el-input-number {
        width: 100%;
        position: relative;
      }
      .el-input-number__increase, .el-input-number__decrease{
        position: absolute;
        right: 0;
        height: 15px;
      }
    }
    .alginCenter {
      text-align: center;
    }
    .el-select {
      width: 100%;
    }
    .el-form-item__label {
      text-align: right;
      line-height: 32px;
      padding-right: 16px;
    }
  }
}

.require {
  &>div {
    &::before {
      content: '*';
      color: red;
    }
  }
}

.el-col-11 {
  height: 32px;
}

.detailTitle {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.mainCon {
  max-height: 500px;
}

.mainCon2 {
  max-height: 300px;
}

.detailBox {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  padding-left: 1%;

  .item {
    width: 33%;
    display: flex;
    height: 50px;
    line-height: 50px;

    &.long {
      width: 100%;
    }

    p {
      margin-right: 15px;

      &::after {
        content: ':';
      }
    }
  }
}

.indexBox {
  display: flex;
  justify-content: space-between;

  .leftBox {
    flex: 5;

    &>p {
      margin-bottom: 10px;
    }
  }

  .rightBox {
    flex: 5;
    margin-left: 35px;

    &>p {
      margin-bottom: 10px;
    }

    &>div {
      min-height: 100px;
      padding: 5px;
      box-shadow: 0px 0px 2px #ccc;

      .noData {
        height: 100px;
        color: #ccc;
      }
    }

    .item {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .el-input {
        width: 80px;
        margin-left: 10px;
      }

      p {
        cursor: pointer;
        margin-left: 10px;
      }

      .filedname {
        min-width: 60px;
      }
    }
  }
}

.tab-box {
  background: #fff;
  border-radius: 5px;
  height: 100%;
  padding: 20px;

  .headbox {
    display: flex;
    justify-content: space-between;
  }

  .h3 {
    margin-top: 15px;
    font-size: 18px;
  }

  .viaTitle {
    font-size: 14px;
    margin-top: 5px;
    color: #999;
  }

  .searchBox {
    height: 40px;
    display: flex;
    justify-content: flex-start;

    .searchInput {
      margin-right: 10px;
    }
  }

  .table {
    margin-top: 15px;
  }

  .pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
}

.datasource {
  display: block;
  width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.el-table {
  margin-top: 15px;
}

.tree .is-current > .el-tree-node__content {
  background: #409eff !important;
  color: #fff !important;
  .isRed {
    color: #fff!important;
    font-weight: bold;
    font-style: italic;
  }
}

.tree .el-tree-node:focus>.el-tree-node__content {
  background-color:#fff;
  color: #606266;
}

.custom-tree-node {
  width: 250px;
  display: flex;
  justify-content: space-between;

  .label {
    display: flex;
    align-items: center;

    i {
      font-size: 14px;
      margin-top: 2px;
      margin-right: 2px;
      &.primaryKey {
        font-size: 16px;
        color: #EEAD0E;
      }
    }
  }

  .setIcon {
    height: 15px;
    line-height: 15px;
    margin-right: 10px;
  }

  .setBox {
    position: absolute;
    right: 0;
    margin-top: 26px;
    padding: 15px;
    background: #fff;
    color: #606266;
    box-shadow: 0px 0px 2px #ccc;
  }

}
