<template>
  <div class="functionDetail">
    <el-steps :active="active" finish-status="success">
      <el-step title="功能模型" @click.native="stepClick('one',$event)"></el-step>
      <el-step title="数据模型" @click.native="stepClick('two',$event)"></el-step>
      <el-step title="计算模型" @click.native="stepClick('three',$event)"></el-step>
    </el-steps>
    <el-form :model="dialogForm" label-position="right" :rules="rules" ref="dialogForm" label-width="100px" class="demo-ruleForm">
      <el-form-item label="功能名称" prop="name">
        <el-input v-model="dialogForm.name" placeholder="请输入名称" maxlength="64"></el-input>
      </el-form-item>
      <el-form-item label="中文名称" prop="displayName">
        <name-express @getExpress='getExpress' :initExpress='dialogForm.displayName'></name-express>
      </el-form-item>
      <el-form-item label="类型" prop="functionType">
        <el-select collapse-tags v-model="dialogForm.functionType" placeholder="请选择类型" style="width:100%">
          <el-option v-for="item in functionType" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="快捷码" prop="tCode">
        <el-input v-model="dialogForm.tCode" placeholder="请输入内容" maxlength="64"></el-input>
      </el-form-item>
      <el-form-item label="权限行为" prop="permissionPoints">
        <permissions :permissions="permissionsArr" :inputStatus.sync="inputStatus" :selectStr="selectStr" @addPonit="addPonit" @deleteFc="deleteFc" @changeSelect="changeSelect"></permissions>
      </el-form-item>
      <el-form-item label="数据模型" prop="dataSourceName">
        <el-input v-model="dataName" disabled v-if="this.dataName"></el-input>
        <el-input v-model="dialogForm.dataSourceName" disabled v-else></el-input>
      </el-form-item>
      <el-form-item label="配置包" prop="deployModuleName">
        <searchBox1 style="z-index:1" ref='searchBox' :options='exthree' :default-checked-keys="checkedArr" type='tree' v-model="dialogForm.deployModuleName" @select="selectThree" placeholder="请选择或者搜索" class='searchBox' limit=2 :props='betaProps' :initText='dialogForm.deployModuleDisplayName'></searchBox1>
      </el-form-item>
      <el-form-item label="UI模型" prop="uiModuleName">
        <el-select v-model="dialogForm.uiModuleName" filterable placeholder="请选择UI模型（可搜索）" style="width:100%">
          <el-option v-for="item in UIOptions" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="报表抬头" prop="reportTitle">
        <el-input v-model="dialogForm.reportTitle" placeholder="请输入内容" maxlength="64"></el-input>
      </el-form-item>
      <div class="switch">
        <span style="width:80px;">挂接菜单</span>
        <el-switch v-model="dialogForm.allowMenuHook" active-color="#13ce66" inactive-color="#dcdfe6">
        </el-switch>
        <span style="width:80px;margin-left:10px;">权限检查</span>
        <el-switch v-model="dialogForm.needCheckPermission" active-color="#13ce66" inactive-color="#dcdfe6">
        </el-switch>
        <span style="width:80px;margin-left:10px;">包含清单</span>
        <el-switch v-model="dialogForm.containsList" active-color="#13ce66" inactive-color="#dcdfe6">
        </el-switch>
      </div>
    </el-form>
    <div class="Btn" v-show="active===0">
      <el-button type="primary" @click="saveFun" v-show="clickType!==1">保存草稿</el-button>
      <!-- <el-button type="primary" @click="submitFun" v-show="clickType!==1">保存</el-button> -->
      <el-button type="primary" @click="edit" v-show="clickType==1">编辑</el-button>
      <el-button type="primary" plain @click="cancel">取消</el-button>
      <el-button type="primary" @click="next" v-if="nextBtn">下一步</el-button>
    </div>
    <!-- 新增权限点 -->
    <!-- dialog -->
    <el-dialog title="新增权限行为" :visible.sync="dialogShow" width="500px" center :before-close="handleClosePonit" :close-on-click-modal="false">
      <el-form label-position="left" label-width="80px" :model="ponitForm" ref="ponitForm">
        <el-form-item label="KeyName">
          <el-input v-model="ponitForm.key" maxlength="32"></el-input>
        </el-form-item>
        <el-form-item label="中文名称">
          <el-input v-model="ponitForm.name" maxlength="32"></el-input>
        </el-form-item>
        <div class="buttonBox1" style="display:flex;justify-content:flex-end;width:100%;">
          <el-button type="primary" @click=addPointForm>确 定</el-button>
          <el-button @click="resetPoint('ponitForm')">取 消</el-button>
        </div>
      </el-form>
    </el-dialog>
  </div>
</template>
<script type="text/ecmascript-6">
import permissions from '@/components/permissions/permissions'
import nameExpress from '@/components/nameExpress/input.vue'
import searchBox1 from '@/components/searchBox/beta'
import { functionType } from '@/assets/js/data/data'
import storage from '@/assets/js/service/cacheservice.js'
import ModelService from '@/assets/js/service/modelservice.js'
import Userservice from '@/assets/js/service/userservice.js'

export default {
  name: 'functionDetail',
  components: {
    nameExpress,
    permissions,
    searchBox1
  },
  props: {
    functionData: Object
  },
  data () {
    var checkNum = (rule, value, callback) => {
      let re = /(^[1-9]\d*$)/
      if (!value) {
        return callback(new Error('请输入快捷码'))
      }
      setTimeout(() => {
        if (!re.test(value)) {
          callback(new Error('请输入正确的快捷码,快捷码只能是正整数'))
        } else {
          callback()
        }
      }, 1000)
    }
    var checkName = (rule, value, callback) => {
      let checkKey = /^[a-zA-Z0-9_.-]*$/
      if (!value) {
        return callback(new Error('请输入功能名称'))
      }
      setTimeout(() => {
        if (!checkKey.test(value)) {
          callback(new Error('请输入正确的功能名称,功能名称只能包括数字，字母，.,-,_'))
        } else {
          callback()
        }
      }, 1000)
    }
    var checkDisplayName = (rule, value, callback) => {
      let checkName = /^[\u4e00-\u9fa5]+$/
      if (!value) {
        return callback(new Error('请输入中文名称'))
      }
      setTimeout(() => {
        if (!checkName.test(value)) {
          callback(new Error('请输入正确的中文名称'))
        } else {
          callback()
        }
      }, 1000)
    }
    return {
      // 查询输入框内容
      queryVal: '',
      // 中文名称
      expressShow: false,
      expressTableData: [],
      // 组件
      parent: {},
      exthree: [],
      betaProps: { // searchBox中下拉树的props
        children: 'child', // 下拉树或者表格树中表示子节点数组的属性
        label: 'label', // 下拉树中用来显示的名称
        id: 'mid', // 用来表示树节点唯一标志的属性
        keyWord: 'displayName'// 用来筛选或者显示的属性
      },
      active: 0,
      functionType,
      // dialog
      dialogVisible: false,
      // dialog内容
      dialogForm: {
        // 名称
        name: '',
        // 中文名称
        displayName: '',
        displayNameFormat: '',
        // 类型
        functionType: '',
        tCode: '',
        // 权限行为
        permissionPoints: [],
        // 数据模型
        dataSourceName: '',
        // 配置包
        deployModuleName: '',
        // ui模型
        uiModuleName: '',
        reportTitle: '',
        allowMenuHook: true,
        containsList: true,
        needCheckPermission: true,
        permissionPointsArr: []
      },
      rules: {
        name: [
          { required: true, validator: checkName, trigger: 'blur' }
        ],
        displayName: [
          { required: true, validator: checkDisplayName, trigger: 'blur' }
        ],
        functionType: [
          { required: true, message: '请选择类型', trigger: 'change' }
        ],
        tCode: [
          { required: true, validator: checkNum, trigger: 'blur' }
        ],
        permissionPoints: [
          { required: true, message: '请选择类型', trigger: 'change' }
        ]
      },
      appName: '',
      appVersion: '',
      checkedArr: [],
      // 权限列表
      permissionsArr: [],
      // 权限行为选中ipt展示的字符串,
      inputStatus: false,
      selectStr: '',
      // 新增权限行为
      dialogShow: false,
      // 新增权限行为的数组
      newPointerArr: [],
      ponitForm: {
        key: '',
        name: ''
      },
      functionName: '',
      ponitList: [],
      tmie: 0,
      timePoint: 0,
      dataName: '',
      name: '',
      status: '',
      clickType: 0,
      appInfo: {},
      time: 1,
      arrLen: 0,
      dataType: 1,
      dataSourceName: '',
      lineName: '',
      formData: {},
      configuration: '',
      editFlag: 1,
      funId: '',
      isDisabled: false,
      displayName: '',
      displayNameFormat: '',
      dataFlag: 1,
      newPoints: [],
      nextBtn: true,
      modelStatus: ''

    }
  },
  created () {
    this.dataName = localStorage.getItem('dataName')
    this.clickType = parseInt(localStorage.getItem('clickType'))
    console.log(this.clickType)
    // storage.getItem('functionObj').then(res => {
    //   // console.log('==========>', res)
    //   this.clickType = res.clickType || parseInt(localStorage.getItem('clickType'))
    //   console.log(this.clickType)
    // })
    storage.getItem('appInfo').then(res => {
      this.appName = res.appName
      this.appVersion = res.appVersion
      // 获取类型，权限行为
      // Userservice.getDefaultFct(this.appName, this.appVersion).then(res => {
      //   // console.log(res)
      // })
    })
    this.appInfo = JSON.parse(localStorage.getItem('appInfo'))
    this.appName = this.appInfo.appName
    this.appVersion = this.appInfo.appVersion
    this.name = localStorage.getItem('funName')
    this.status = localStorage.getItem('status')
    if (this.clickType === 0) {
      localStorage.removeItem('funId')
      if (this.name && this.status) {
        this.getList()
      } else {
        this.add()
      }
    } else {
      this.getList()
    }
    this.getDataModel()
    this.getDeployModule()
  },
  watch: {
    // 深度监听权限行为选择事件
    permissionsArr: {
      // 深度监听，可监听到对象、数组的变化
      handler: function (val) {
        console.log(val)
        let arr = []
        let Arr = []
        for (let list of val) {
          if (list.checked === true) {
            arr.push({
              permissionName: list.value,
              permissionValue: list.text,
              kind: list.type
            })
            Arr.push(
              list.value + '-' + list.text
            )
          }
        }
        this.selectStr = Arr.join(',')
        let newarrLen = Arr.length
        if (this.dialogForm.permissionPoints.length !== newarrLen && newarrLen) {
          // console.log('改变了', this.inputStatus)
          this.inputStatus = true
        }
        this.dialogForm.permissionPoints = [...arr]
        this.dialogForm.permissionPointsArr = [...arr]
      },
      deep: true
    },
    queryVal (Nval) {
      if (Nval === '') {
        this.search()
      }
    },
    dialogVisible (newValue) {
      if (!newValue) {
        this.$refs.searchBox.selectTreeNode({}, { checkedKeys: [] })
      }
    },
    dialogForm: {
      handler: function (newV) {
        this.time++
        // console.log('当前time', this.time)
      },
      deep: true
    },
    ponitForm: {
      handler: function (newV) {
        if (this.dialogShow) {
          this.timePoint++
        }
      },
      deep: true
    }
    // 'dialogForm.tCode': function () {
    //   console.log(111)
    //   this.inputStatus = true
    // }
  },
  methods: {
    // 步骤条点击事件
    stepClick (num, e) {
      const className = e.target.className
      if (className.includes('el-step__icon')) {
        if (num === 'one' && this.active === 1) {
          this.prev()
        } else if (num === 'two' && this.active === 0) {
          // console.log('下一步')
          this.next()
        }
      }
    },
    edit () {
      this.clickType = 2
      this.nextBtn = true
      localStorage.setItem('clickType', 2)
      // storage.getItem('functionObj').then(res => {
      //   let functionObj = res
      //   functionObj['clickType'] = 2
      //   storage.setItem('functionObj', functionObj)
      // })
      // console.log(this.clickType)
    },
    // 取消
    cancel () {
      if (this.dataFlag === 2) {
        this.$confirm('离开当前页面将失去编辑数据, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$router.push({
            name: 'function'
          })
        }).catch(() => {
        })
      } else {
        if (this.clickType !== 1 && this.time > 3) {
          this.$confirm('离开当前页面将失去编辑数据, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            this.$router.push({
              name: 'function'
            })
          }).catch(() => {
          })
        } else {
          this.$router.push({
            name: 'function'
          })
        }
      }
    },
    // 下一步
    next () {
      // console.log('下一步' + this.clickType)
      this.$refs.dialogForm.validate((valid) => {
        if (valid) {
          this.editFlag = 1
          this.isDisabled = true
          this.dataSourceName = this.dialogForm.dataSourceName || ''
          this.lineName = this.dialogForm.name
          this.displayName = this.dialogForm.displayName
          this.displayNameFormat = this.dialogForm.displayNameFormat
          this.newPoints = this.newPointerArr
          // this.active = 1
          this.funId = localStorage.getItem('funId')
          if (this.clickType === 1) {
            if (this.dialogForm.dataSourceName || this.dataName) {
              this.active = 1
              this.$router.push({ name: 'secondGuide' })
              // console.log(1)
            } else {
              this.nextBtn = false
            }
          } else {
            // if (this.$refs.functionModel.time > 3 && this.editFlag !== 0) {
            // this.$messageService.error('请先保存功能模型！')
            let formData = this.dialogForm
            let newdeployModuleName = this.dialogForm.deployModuleName
            let newcheckedArr = this.checkedArr
            if (!formData.dataSourceName) {
              this.dataType = 0
            }
            if (!formData.name || !formData.displayName || !formData.functionType || !formData.tCode || formData.permissionPoints.length < 1) {
              this.$messageService.error('请填写必填信息！')
              // this.active = 1
              this.isDisabled = false
            } else {
              let recode = /(^[1-9]\d*$)/
              let checkKey = /^[a-zA-Z0-9_.-]*$/
              let checkName = /[\u4E00-\u9FA5\uF900-\uFA2D]/
              if (!recode.test(formData.tCode)) {
                this.$messageService.error('请输入正确的快捷码,快捷码只能是正整数')
                return false
              }
              if (!checkKey.test(formData.name)) {
                this.$messageService.error('请输入正确的功能名称,功能名称只能包括数字，字母，.,-,_')
                return false
              }
              if (!checkName.test(formData.displayName)) {
                console.log(formData.displayName)
                this.$messageService.error('请输入正确的中文名称,中文名称只能是中文')
                return false
              }
              let params = {
                newPoints: this.newPointerArr,
                appName: this.appName,
                appVersion: this.appVersion,
                // 名称
                name: formData.name,
                // 中文名称表达式
                displayNameFormat: formData.displayNameFormat,
                //  中文名称
                displayName: formData.displayName,
                // 类型
                functionType: formData.functionType,
                tCode: formData.tCode,
                // 权限行为
                permissionPoints: formData.permissionPointsArr,
                // 数据模型
                dataSourceName: this.dataName || formData.dataSourceName,
                // 配置包
                deployModuleName: newdeployModuleName,
                // ui模型
                uiModuleName: formData.uiModuleName,
                reportTitle: formData.reportTitle,
                allowMenuHook: formData.allowMenuHook,
                containsList: formData.containsList,
                needCheckPermission: formData.needCheckPermission,
                mid: formData.mid ? formData.mid : null,
                checkedArr: newcheckedArr
              }
              ModelService.saveModel('functionmodel', params).then(res => {
                if (res.data === 'true') {
                } else {
                  localStorage.setItem('funId', res.data)
                }
                if (res.code === 200) {
                  this.isDisabled = false
                  localStorage.setItem('funName', params.name)
                  localStorage.setItem('status', 'Draft')
                  this.active = 1
                  this.$router.push({ name: 'secondGuide' })
                } else {
                  this.$messageService.error(res.message)
                }
              })
            }
            this.editFlag = 0
          }
          // this.active = 1
          storage.setItem('functionObj',
            {
              lineName: this.dialogForm.name,
              displayName: this.dialogForm.displayName,
              displayNameFormat: this.dialogForm.displayNameFormat,
              clickType: this.clickType,
              dataType: this.dataType,
              dataSourceName: this.dialogForm.dataSourceName,
              status: this.modelStatus
            }
          )
          storage.getItem('functionObj').then(res => {
            // console.log(res)
          }).catch(err => {
            console.log(err)
          })
          this.functionData = { ...this.dialogForm }
          this.configuration = this.parent.mid
          this.appName = this.appName
          this.appVersion = this.appVersion
          this.dataFlag = 2
        }
      })
    },
    saveFun () {
      this.$refs.dialogForm.validate((valid) => {
        if (valid) {
          let formData = this.dialogForm
          let newdeployModuleName = this.dialogForm.deployModuleName
          let newcheckedArr = this.checkedArr
          this.dataName = localStorage.getItem('dataName')
          if (!formData.name || !formData.displayName || !formData.functionType || !formData.tCode || formData.permissionPoints.length < 1) {
            this.$messageService.error('请填写必填信息！')
          } else {
            let recode = /(^[1-9]\d*$)/
            let checkKey = /^[a-zA-Z0-9_.-]*$/
            let checkName = /[\u4E00-\u9FA5\uF900-\uFA2D]/
            if (!recode.test(formData.tCode)) {
              this.$messageService.error('请输入正确的快捷码,快捷码只能是正整数')
              return false
            }
            if (!checkKey.test(formData.name)) {
              this.$messageService.error('请输入正确的功能名称,功能名称只能包括数字，字母，.,-,_')
              return false
            }
            if (!checkName.test(formData.displayName)) {
              console.log(formData.displayName)
              this.$messageService.error('请输入正确的中文名称,中文名称只能是中文')
              return false
            }
            if (formData.functionType === 'SystemFuncPermit' || formData.functionType === 'SimplePermit') {
              let params = {
                newPoints: this.newPointerArr,
                appName: this.appName,
                appVersion: this.appVersion,
                // 名称
                name: formData.name,
                // 中文名称表达式
                displayNameFormat: formData.displayNameFormat,
                //  中文名称
                displayName: formData.displayName,
                // 类型
                functionType: formData.functionType,
                tCode: formData.tCode,
                // 权限行为
                permissionPoints: formData.permissionPointsArr,
                // 数据模型
                dataSourceName: this.dataName || formData.dataSourceName,
                // 配置包
                deployModuleName: newdeployModuleName,
                // ui模型
                uiModuleName: formData.uiModuleName,
                reportTitle: formData.reportTitle,
                allowMenuHook: formData.allowMenuHook,
                containsList: formData.containsList,
                needCheckPermission: formData.needCheckPermission,
                mid: formData.mid || null,
                checkedArr: newcheckedArr
              }
              ModelService.saveModel('functionmodel', params).then(res => {
                if (res.code === 200) {
                  this.$messageService.success('操作成功')
                  localStorage.setItem('funName', params.name)
                  localStorage.setItem('status', 'Draft')
                } else {
                  this.$messageService.error(res.message)
                }
              })
            } else {
              // this.$messageService.info('请维护功能模型！')
              let params = {
                newPoints: this.newPointerArr,
                appName: this.appName,
                appVersion: this.appVersion,
                // 名称
                name: formData.name,
                // 中文名称表达式
                displayNameFormat: formData.displayNameFormat,
                //  中文名称
                displayName: formData.displayName,
                // 类型
                functionType: formData.functionType,
                tCode: formData.tCode,
                // 权限行为
                permissionPoints: formData.permissionPointsArr,
                // 数据模型
                dataSourceName: this.dataName || formData.dataSourceName,
                // 配置包
                deployModuleName: newdeployModuleName,
                // ui模型
                uiModuleName: formData.uiModuleName,
                reportTitle: formData.reportTitle,
                allowMenuHook: formData.allowMenuHook,
                containsList: formData.containsList,
                needCheckPermission: formData.needCheckPermission,
                mid: formData.mid || null,
                checkedArr: newcheckedArr
              }
              ModelService.saveModel('functionmodel', params).then(res => {
                if (res.code === 200) {
                  this.$messageService.success('操作成功，请维护功能模型！')
                  localStorage.setItem('funName', params.name)
                  localStorage.setItem('status', 'Draft')
                } else {
                  this.$messageService.error(res.message)
                }
              })
            }
          }
          this.editFlag = 0
          this.$router.push({ name: 'function' })
        }
      })
    },
    submitFun () {
      this.funId = localStorage.getItem('funId')
      let formData = this.dialogForm
      this.dataName = localStorage.getItem('dataName')
      if (!formData.name || !formData.displayName || !formData.functionType || !formData.tCode || formData.permissionPoints.length < 1) {
        this.$messageService.error('缺少必填字段，无法保存！')
      } else {
        if (!formData.dataSourceName) {
          if (formData.functionType === 'SystemFuncPermit' || formData.functionType === 'SimplePermit') {
            this.$confirm('本功能不需要数据结构定义吗？', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              let params = {
                newPoints: this.newPointerArr,
                appName: this.appName,
                appVersion: this.appVersion,
                // 名称
                name: formData.name,
                // 中文名称表达式
                displayNameFormat: formData.displayNameFormat,
                //  中文名称
                displayName: formData.displayName,
                // 类型
                functionType: formData.functionType,
                tCode: formData.tCode,
                // 权限行为
                permissionPoints: formData.permissionPointsArr,
                // 数据模型
                dataSourceName: this.dataName || formData.dataSourceName,
                // 配置包
                deployModuleName: formData.deployModuleName,
                // ui模型
                uiModuleName: formData.uiModuleName,
                reportTitle: formData.reportTitle,
                allowMenuHook: formData.allowMenuHook,
                containsList: formData.containsList,
                needCheckPermission: formData.needCheckPermission,
                mid: this.funId || formData.mid || null,
                checkedArr: this.parent.mid ? this.parent.mid.split(',') : []
              }
              ModelService.submitFun({ ...params }).then(res => {
                if (res.code === 200) {
                  this.$messageService.success('操作成功')
                  localStorage.setItem('funName', params.name)
                  localStorage.setItem('status', 'COMMIT')
                } else {
                  this.$messageService.error(res.message)
                }
              })
              this.$router.push({
                name: 'function'
              })
            }).catch(() => {
              this.next()
            })
          } else {
            this.$messageService.error('类型为非操作功能类或自定义权限类模型无法保存')
          }
        } else {
          let params = {
            newPoints: this.newPointerArr,
            appName: this.appName,
            appVersion: this.appVersion,
            // 名称
            name: formData.name,
            // 中文名称表达式
            displayNameFormat: formData.displayNameFormat,
            //  中文名称
            displayName: formData.displayName,
            // 类型
            functionType: formData.functionType,
            tCode: formData.tCode,
            // 权限行为
            permissionPoints: formData.permissionPointsArr,
            // 数据模型
            dataSourceName: this.dataName || formData.dataSourceName,
            // 配置包
            deployModuleName: formData.deployModuleName,
            // ui模型
            uiModuleName: formData.uiModuleName,
            reportTitle: formData.reportTitle,
            allowMenuHook: formData.allowMenuHook,
            containsList: formData.containsList,
            needCheckPermission: formData.needCheckPermission,
            mid: this.funId || formData.mid || null,
            checkedArr: this.parent.mid ? this.parent.mid.split(',') : []
          }
          ModelService.submitFun({ ...params }).then(res => {
            if (res.code === 200) {
              this.$messageService.success('操作成功')
              localStorage.setItem('funName', params.name)
              localStorage.setItem('status', 'COMMIT')
            } else {
              this.$messageService.error(res.message)
            }
          })
        }
      }
      this.editFlag = 0
    },
    tcodeChange () {
    },
    getList () {
      console.log(this.clickType)
      storage.getItem('functionObj').then(res => {
        console.log('==========>', res)
        // this.clickType = parseInt(localStorage.getItem('clickType'))
        console.log(this.clickType)
        if (this.clickType === 2) {
          Userservice.getFunctionDetail(this.appName, this.appVersion, this.name).then((res) => {
            if (res.code === 200) {
              let data = res.data
              this.ponitList = data.permissionPoints
              // this.dialogVisible = true
              this.getPoint()
              for (let key in data) {
                this.dialogForm[key] = data[key]
              }
              this.dialogForm.deployModuleName = data.deployModuleName
              this.checkedArr = data.checkedArr.length > 1 ? JSON.parse(data.checkedArr) : []
              this.inputStatus = false
              this.dialogForm.dataSourceName = data.dataSourceName
              this.dialogForm.uiModuleName = data.uiModel
              this.dialogForm.displayName = data.displayName
              this.dialogForm.displayNameFormat = data.displayNameFormat
              this.$set(this.dialogForm, 'deployModuleDisplayName', data.deployModuleDisplayName)
              this.functionName = data.name
              this.nextBtn = true
              this.modelStatus = data.modelStatus
            }
          })
        } else {
          ModelService.getFunctionDetail({}, this.name + '/' + this.status).then((res) => {
            if (res.code === 200) {
              let data = res.data
              this.ponitList = data.permissionPoints
              // this.dialogVisible = true
              this.getPoint()
              for (let key in data) {
                this.dialogForm[key] = data[key]
              }
              this.dialogForm.deployModuleName = data.deployModuleName
              this.checkedArr = data.checkedArr.length > 1 ? JSON.parse(data.checkedArr) : []
              this.inputStatus = false
              this.dialogForm.dataSourceName = data.dataSourceName
              this.dialogForm.uiModuleName = data.uiModel
              this.dialogForm.displayName = data.displayName
              this.dialogForm.displayNameFormat = data.displayNameFormat
              this.$set(this.dialogForm, 'deployModuleDisplayName', data.deployModuleDisplayName)
              this.functionName = data.name
              this.modelStatus = data.modelStatus
              if (this.dialogForm.dataSourceName || this.dataName) {
                this.nextBtn = true
              } else {
                this.nextBtn = false
              }
            }
          })
        }
      })
    },
    // 获得编辑数据
    // getData () {
    //   if (this.clickType === 0) {
    //     this.add()
    //     this.getList()
    //   } else {
    //     this.getList()
    //   }
    // },
    getExpress (shownameResult, express) {
      this.expressShow = false
      this.dialogForm.displayName = shownameResult
      this.dialogForm.displayNameFormat = express
    },
    selectNameExpress (row, key) {
      this.focusRow = row
      this.focusRowKey = key
      this.expressShow = true
    },
    // 点击编辑获取权限行为数据
    getPoint () {
      Userservice.getpermissionpoints(this.appName, this.appVersion, this.functionName).then(res => {
        if (res.data) {
          let arr = []
          if (this.ponitList.length > 0) {
            for (let list of res.data) {
              for (let item of this.ponitList) {
                if (list.permissionName === item.permissionName) {
                  list.checked = true
                }
              }
              arr.push({
                value: list.permissionName,
                text: list.permissionValue,
                label: list.permissionName + '-' + list.permissionValue,
                checked: list.checked,
                type: list.kind,
                delectShow: false
              })
            }
          } else {
            for (let item of res.data) {
              arr.push({
                value: item.permissionName,
                text: item.permissionValue,
                label: item.permissionName + '-' + item.permissionValue,
                checked: false,
                type: item.kind,
                delectShow: false
              })
            }
          }
          this.permissionsArr = [...arr]
        }
      })
    },
    // 获取数据模型
    getDataModel () {
      ModelService.listAll('datasourcemodel').then((res) => {
        if (res.code === 200) {
          if (res.data.length > 0) {
            let arr = []
            for (let item of res.data) {
              arr.push({
                value: item.name,
                label: item.name
              })
            }
            this.dataOptions = [...arr]
          } else {
            this.dataOptions = []
          }
        } else {
          this.$messageService.error(res.message)
        }
      })
    },
    // 获取配置包
    getDeployModule () {
      ModelService.listAll('deploymodulemodel').then((res) => {
        // this.exthree = res.data
        if (res.data) {
          if (res.data.length > 0) {
            this.exthree = res.data
            this.setLabel(this.exthree)
          }
        } else {
          this.exthree = []
        }
      })
    },
    // 配置包组件
    selectThree (data, nodes) {
      this.parent = data
      this.dialogForm.deployModuleName = data.name
      this.checkedArr = [data.mid]
    },
    // 添加按钮
    add () {
      this.time = 1
      this.ponitList = []
      this.inputStatus = false
      this.dialogForm = {
        // 名称
        name: '',
        // 中文名称
        displayName: '',
        // 类型
        functionType: '',
        tCode: '',
        // 权限行为
        permissionPoints: [],
        // 数据模型
        dataSourceName: '',
        // 配置包
        deployModuleName: '',
        // ui模型
        uiModuleName: '',
        reportTitle: '',
        allowMenuHook: true,
        containsList: true,
        needCheckPermission: true
      }
      this.functionName = ''
      this.dialogForm.permissionPointsArr = []
      this.dialogVisible = true
      this.dialogForm.deployModuleName = ''
      Userservice.getpermissionpoints(this.appName, this.appVersion, null).then(res => {
        if (res.data) {
          let arr = []
          for (let item of res.data) {
            arr.push({
              value: item.permissionName,
              text: item.permissionValue,
              label: item.permissionName + '-' + item.permissionValue,
              checked: false,
              type: item.kind,
              delectShow: false
            })
          }
          this.permissionsArr = [...arr]
        }
      })
    },
    // 表格删除
    del (row) {
      this.$confirm('此操作将会永久删除本条数据, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        ModelService.deleteModel('functionmodel', row.mid).then(res => {
          if (res.code === 200) {
            this.$messageService.success('操作成功')
            this.getList()
          } else {
            this.$messageService.error('操作失败，刷新试试')
          }
        })
      }).catch(() => {
        // this.$messageService.info('已取消')
      })
    },
    // 同步获取差异
    getdiffmessage (list) {
      Userservice.getdiffmessageFct(this.appName, this.appVersion, list.name).then(res => {
        if (res.code === 200) {
          let message = res.data + '确认同步？'
          this.publish(message, this.appName, this.appVersion, list.name)
        } else {
          this.$messageService.error(res.message)
        }
      })
    },
    // 同步
    publish (message, appName, appVersion, name) {
      this.$confirm(message, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        Userservice.publishfunction(appName, appVersion, name).then(res => {
          if (res.code === 200) {
            this.$messageService.success('同步成功')
          } else {
            this.$messageService.error(res.message)
          }
        })
      }).catch(() => {
        // this.$messageService.info('已取消同步')
      })
    },
    // 全部发布
    pushAll () {
      let message = '确认同步全部功能模型？'
      this.publish(message, this.appName, this.appVersion, 'other')
    },
    // 中文名称选择
    handleShowName () {
      this.expressShow = true
      this.dialogForm.displayName = this.expressResult
    },
    setLabel (data) { // 给每个树节点设置自定义文本
      data.map((item, index) => {
        item.label = item.name + '(' + item.displayName + ')'
        if (item.child && item.child.length) {
          this.setLabel(item.child)
        }
      })
    },
    // 新增权限点
    addPonit () {
      this.dialogShow = true
      this.timePoint = 1
      this.inputStatus = false
      // if (this.functionName === '') {
      //   this.$messageService.error('新增功能时不能新增权限行为')
      // } else {
      //   // this.dialogShow = true
      //   // this.timePoint = 1
      // }
    },
    changeSelect () {
      this.inputStatus = !this.inputStatus
    },
    // 新增权限行为确认
    addPointForm () {
      if (this.ponitForm.key === '' || this.ponitForm.name === '') {
        this.$messageService.error('KeyName和中文名称不能为空')
      } else {
        let checkKey = /^[a-zA-Z0-9_.-]*$/
        let checkName = /[\u4E00-\u9FA5\uF900-\uFA2D]/
        if (!checkKey.test(this.ponitForm.key)) {
          this.$messageService.error('KeyName只能输入字母，数字或者.-_')
          return false
        }
        if (!checkName.test(this.ponitForm.name)) {
          this.$messageService.error('中文名称只能输入中文')
          return false
        }
        this.permissionsArr.push({
          value: this.ponitForm.key,
          text: this.ponitForm.name,
          label: this.ponitForm.key + '-' + this.ponitForm.name,
          checked: false,
          type: 1,
          delectShow: false,
          kind: 1,
          permissionName: this.ponitForm.key,
          permissionValue: this.ponitForm.name
        })
        this.newPointerArr.push({
          value: this.ponitForm.key,
          text: this.ponitForm.name,
          label: this.ponitForm.key + '-' + this.ponitForm.name,
          checked: false,
          type: 1,
          kind: 1,
          delectShow: false,
          permissionName: this.ponitForm.key,
          permissionValue: this.ponitForm.name
        })
        this.$messageService.success('添加成功')
        this.ponitForm.key = ''
        this.ponitForm.name = ''
        this.dialogShow = false
        // Userservice.addPointFct(this.appName, this.appVersion, this.functionName, this.ponitForm.key, this.ponitForm.name).then((response) => {
        //   // console.log(response)
        //   if (response.code === 200) {

        //   }
        // })
      }
    },
    // 新增权限行为取消
    resetPoint (formName) {
      this.handleClosePonit()
      this.$refs[formName].resetFields()
    },
    // 删除权限行为
    deleteFc (val, index) {
      // console.log(val)
      this.inputStatus = false
      this.$confirm('确认删除该权限行为', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        // console.log(val, index)
        this.permissionsArr.splice(index, 1)
        // console.log(this.newPointerArr)
        var length = this.newPointerArr.length
        for (var i = 0; i < length; i++) {
          if (this.newPointerArr[i].permissionName === val.permissionName) {
            if (i === 0) {
              this.newPointerArr.shift()
              return this.newPointerArr
            } else if (i === length - 1) {
              this.newPointerArr.pop()
              return this.newPointerArr
            } else {
              this.newPointerArr.splice(i, 1)
              return this.newPointerArr
            }
          }
        }
        // Userservice.deletePonitFct(this.appName, this.appVersion, this.functionName, val.value, val.text).then(res => {
        //   if (res.code === 200) {
        //     this.$messageService.success('删除成功')
        //     this.getPoint()
        //   } else {
        //     this.$messageService.error(res.message)
        //   }
        // })
      }).catch(() => {
        // this.$messageService.info('已取消同步')
      })
    },
    handleClosePonit () {
      // console.log(this.timePoint)
      if (this.ponitForm.key !== '' || this.ponitForm.name !== '') {
        this.$confirm('此操作会清空填入的数据', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.dialogShow = false
          this.ponitForm.key = ''
          this.ponitForm.name = ''
        }).catch(() => {
        })
      } else {
        this.dialogShow = false
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.functionDetail {
  background-color: #fff;
  padding: $content-box-righ-padding;
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  .el-steps {
    width: 60%;
    margin: 0 auto 20px;
    // height: 100px;
  }
  .Btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
  }
}
.switch {
  span {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #606266;
  }
}
.searchBox {
  width: 100%;
}
.info {
  vertical-align: bottom;
  padding: 8px 25px;
  font-size: 14px;
}
</style>
<style>
.functionDetail .el-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.functionDetail .el-form-item {
  width: 48% !important;
  height: 32px;
  line-height: 32px;
  margin-bottom: 18px;
}
.functionDetail .el-form-item__label {
  height: 32px;
  line-height: 32px;
}
.functionDetail .el-input__inner,
.functionDetail .el-form-item__content {
  height: 32px;
  line-height: 32px;
}
.functionDetail .switch {
  width: 48%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}
.functionDetail .dialog-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 24px 0;
}
</style>
