<template src='./index.html'></template>

<script>
import searchBox from '@/components/searchBox'
import dataModel from '../components/dataModel/index'
import dataSet from '../components/dataSet/index'
import dataTable from '../components/dataTable/index'
import dataFiled from '../components/field/index'
import dataRelationTable from '../components/dataRelationTable/index'
import ModelService from '../../../assets/js/service/modelservice.js'
import storage from '@/assets/js/service/cacheservice.js'
import util from '../util.js'

export default {
  name: 'dataEdit',
  components: {
    searchBox,
    dataModel,
    dataSet,
    dataTable,
    dataFiled,
    dataRelationTable
  },
  props: {
    dataSourceName: String,
    lineName: String,
    displayName: '',
    displayNameFormat: '',
    guide: Number,
    clickType: '',
    dataType: ''
  },
  data () {
    return {
      dataName: '',
      treeNodeUnquen: 1,
      editModel: false,
      root: {},
      currentNode: '',
      VistualCurrentNode: {},
      selectType: '',
      copyDataSetShow: false,
      dataSet: [],
      defaultProps: {
        label: 'name'
      },
      DB: [],
      selectedNodes: [],
      copyDBShow: false,
      currentTableNode: '',
      selectedTableNodes: [],
      treeData: [],
      tableData: [],
      isLeftScroll: true,
      res: {}
    }
  },
  methods: {
    dragg (e) {
      const initWidth = this.$refs.left.offsetWidth
      document.onmousemove = (ev) => {
        this.$refs.left.style.width = initWidth - (e.clientX - ev.clientX) + 'px'
        return false
      }
      document.onmouseup = () => {
        document.onmousemove = null
      }
      return false
    },
    cancelDragg () {
      this.canDragg = false
    },
    changeDataName (dataName) {
      localStorage.setItem('dataName', dataName)
    },
    initEditPage () {
      this.$nextTick(() => {
        this.currentNode = this.$refs.trees.$children[0].$children[0].node
        this.$refs.trees.setCurrentKey(1)
      })
    },
    async saveAll () {
      const msg = util.validateAll(this.$refs.trees.$children[0].$children[0].node.data, this)
      if (msg) {
        this.$alert(msg, '保存提示', {
          dangerouslyUseHTMLString: true
        })
        return true
      } else {
        this.dataName = this.$refs.trees.$children[0].$children[0].node.data
        const data = util.backTransform(this.$refs.trees.$children[0].$children[0].node.data)
        await ModelService.saveModel('datasourcemodel', data).then((res) => {
          console.log('保存结果', res)
        })
        // this.$messageService.success('保存成功')
        return false
      }
    },
    async submitAll () {
      const msg = util.validateAll(this.$refs.trees.$children[0].$children[0].node.data)
      if (msg) {
        this.$alert(msg, '提交提示', {
          dangerouslyUseHTMLString: true
        })
        return true
      } else {
        this.dataName = this.$refs.trees.$children[0].$children[0].node.data
        const data = util.backTransform(this.$refs.trees.$children[0].$children[0].node.data)
        await ModelService.submitModel(data)
        // this.$messageService.success('提交成功')
        return false
      }
    },
    cancelAll () {
      this.$confirm('取消将不会保存更改， 确认?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        window.history.go(-1)
      })
      // window.history.go(-1)
    },
    nodeselect (data, node) {
      if (node.level === 3) {
        node.selectType = node.data.tableType === 'Relative' ? node.data.tableType : node.level
        this.isLeftScroll = false
      } else {
        this.isLeftScroll = true
      }

      this.currentNode = node
    },
    nodeCollapse (data, node) { // 当前高亮节点的父节点收起，则高亮父节点
      const cNode = this.$refs.trees.getCurrentNode()
      if (node.data.children.indexOf(cNode) > -1 || cNode.level - node.data.level > 1) {
        this.currentNode = node
        this.$refs.trees.setCurrentKey(data.treeNodeUnquen)
      }
    },
    addDataSet (node) {
      const emptyNode = {
        label: 'default-dataset',
        name: 'default-dataset',
        displayName: '',
        displayNameFormat: '',
        canDuplicate: true,
        allowCustomTransBill: true,
        visibleCondition: true,
        dataFlowHint: [],
        treeNodeUnquen: this.treeNodeUnquen++
      }
      this.$refs.trees.append(emptyNode, node)
      this.currentNode = node.childNodes[node.childNodes.length - 1]
      this.$refs.trees.setCurrentKey(emptyNode.treeNodeUnquen)
    },
    copyDataSet (node) {
      this.dataSet = JSON.parse(JSON.stringify(this.treeData))
      this.dataSet.nodeIndex = this.treeData.indexOf(node.data)
      for (let levelOneItem of this.dataSet) {
        if (levelOneItem.children) {
          for (let levelTwoItem of levelOneItem.children) {
            if (levelTwoItem.children) {
              levelTwoItem.tempChild = levelTwoItem.children
              levelTwoItem.children = []
            }
          }
        }
      }
      this.copyDataSetShow = true
    },
    selectDataSetItem (data, node) {
      this.selectedNodes = []
      for (let item of node.checkedNodes) {
        if (item.level === 2) {
          item.canDelete = true
          this.selectedNodes.push(item)
        }
      }
    },
    confirmDataSet () {
      let tempTree = this.treeData.slice(0)
      for (let item of this.selectedNodes) {
        item.label = 'default-dataset'
        if (item.tempChild) {
          item.children = item.tempChild
          delete item.tempChild
          delete item.level
        }
      }
      let sourceNode = tempTree[this.dataSet.nodeIndex]
      if (sourceNode.children) {
        sourceNode.children = sourceNode.children.concat(this.selectedNodes)
      } else {
        this.$set(sourceNode, 'children', this.selectedNodes)
      }

      this.selectedNodes = []
      this.treeData = tempTree
      this.copyDataSetShow = false
    },
    cancelDataSet () {
      this.copyDataSetShow = false
    },
    addDB (node, defaultName, type) {
      const emptyNode = {
        label: defaultName || 'default-table',
        name: defaultName || 'default-table',
        tableType: type || 'Actual',
        primaryKeyFields: [],
        level: 3,
        treeNodeUnquen: this.treeNodeUnquen++
      }
      this.$refs.trees.append(emptyNode, node)
      this.currentNode = node.childNodes[node.childNodes.length - 1]
      this.$refs.trees.setCurrentKey(emptyNode.treeNodeUnquen)
      if (type) this.currentNode.selectType = type
    },
    relationDB (node) {
      this.addDB(node, '自定义关联表', 'Relative')
    },
    copyDB (node) {
      // console.log('node', node)
      this.DB = JSON.parse(JSON.stringify(this.treeData))
      for (let lo of this.DB) {
        if (lo.children) {
          for (let lt of lo.children) {
            if (lt.children) {
              for (let ltr of lt.children) {
                ltr.level = 3
              }
            }
          }
        }
      }
      this.currentTableNode = node
      this.copyDBShow = true
    },
    selectDBItem (data, node) {
      this.selectedTableNodes = []
      for (let nodeItem of node.checkedNodes) {
        if (nodeItem.level === 3) {
          nodeItem.canDelete = true
          this.selectedTableNodes.push(nodeItem)
        }
      }
    },
    confirmDB () {
      const tempArray = this.treeData.slice(0)
      for (let item of this.selectedTableNodes) {
        item.label = 'default-table-copy'
        item.name = 'default-table-copy'
        for (let fitem of item.children) {
          fitem.name += '_1'
          fitem.label += '_1'
        }
      }
      const parentIndex = tempArray.indexOf(this.currentTableNode.parent.data)
      const thisIndex = tempArray[parentIndex].children.indexOf(this.currentTableNode.data)
      if (tempArray[parentIndex].children[thisIndex].children) {
        tempArray[parentIndex].children[thisIndex].children = tempArray[parentIndex].children[thisIndex].children.concat(this.selectedTableNodes)
      } else {
        this.$set(tempArray[parentIndex].children[thisIndex], 'children', this.selectedTableNodes)
      }
      this.selectedTableNodes = []
      this.treeData = tempArray
      this.copyDBShow = false
    },
    cancelDB () {
      this.copyDBShow = false
    },
    addFiled (node) {
      const emptyNode = {
        label: 'default-field',
        name: 'default-field',
        fieldName: 'default-field',
        displayName: '默认字段',
        displayNameFormat: '默认字段',
        fieldKind: 'Actual',
        allowEmpty: true,
        readOnly: true,
        checkInUsed: true,
        canDuplicate: true,
        mergeOut: true,
        visibleCondition: true,
        canUseCondition: true,
        allowCustomTransBill: true,
        requiredFieldBeforeUpdate: [],
        level: 4,
        treeNodeUnquen: this.treeNodeUnquen++,
        dataType: 'Unknown' // 默认给个未定义的数据类型，不然每次保存都有许多需要回来校验
      }
      this.$refs.trees.append(emptyNode, node)
      this.currentNode = node.childNodes[node.childNodes.length - 1]
      this.triggerExpandNode(node.data.treeNodeUnquen)
      this.$refs.trees.setCurrentKey(emptyNode.treeNodeUnquen)
    },
    insertAfter (node) {
      const emptyNode = {
        label: 'default-field',
        name: 'default-field',
        fieldName: 'default-field',
        displayName: '默认字段',
        displayNameFormat: '默认字段',
        fieldKind: 'Actual',
        allowEmpty: true,
        readOnly: true,
        checkInUsed: true,
        canDuplicate: true,
        mergeOut: true,
        visibleCondition: true,
        canUseCondition: true,
        allowCustomTransBill: true,
        level: 4,
        treeNodeUnquen: this.treeNodeUnquen++,
        dataType: 'Unknown' // 默认给个未定义的数据类型，不然每次保存都有许多需要回来校验
      }
      this.$refs.trees.insertAfter(emptyNode, node)
      const index = node.parent.childNodes.indexOf(node)
      this.currentNode = node.parent.childNodes[index + 1]
      this.$refs.trees.setCurrentKey(emptyNode.treeNodeUnquen)
    },
    removeNode (node) {
      if (node.childNodes && node.childNodes.length > 0 && !node.data.canDelete && node.selectType !== 'Relative') {
        this.$alert('本节点含有子节点，无法删除')
      } else {
        this.$confirm('删除后数据无法恢复，确认删除?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$refs.trees.remove(node)
        })
      }
    },
    triggerFiledNode (node, type) { // node：当前字段的data type：表的类型
      const pNode = this.$refs.trees.currentNode.node
      this.triggerExpandNode(pNode.data.treeNodeUnquen)
      this.$refs.trees.setCurrentKey(node.treeNodeUnquen)
      this.currentNode.fromRelationTable = type
      const fieldNodeKey = this.$refs.trees.getCurrentNode().treeNodeUnquen
      const fieldNode = this.$refs.trees.getNode(fieldNodeKey)
      this.currentNode = fieldNode
    },
    triggerExpandNode (key) {
      this.$refs.trees.store.nodesMap[key].expanded = true
    },
    updateUniqune (unique) {
      this.treeNodeUnquen = unique
    },
    // 树, 子组件里面使用this.$ref, 父组件无法获取
    nodeClick (data, node, tree) {
      this.$set(this.VistualCurrentNode, 'isSetBoxShow', false)
      this.nodeselect(data, node)
    },
    allowDrag (draggingNode) {
      return draggingNode.data.level === 3 || draggingNode.data.level === 4
    },
    allowDrop (draggingNode, dropNode, type) {
      if (draggingNode.parent.id !== dropNode.parent.id) {
        return false
      } else {
        return type !== 'inner'
      }
    },
    hover (node) {
      this.$set(node, 'isHovering', true)
    },
    leave (node) {
      this.$set(node, 'isHovering', false)
    },
    setNode (node, event) {
      this.$set(this.VistualCurrentNode, 'isSetBoxShow', false)
      this.$set(node, 'isSetBoxShow', true)
      this.VistualCurrentNode = node
      event.stopPropagation()
    },
    itemBoxClick (node, event) {
      this.$set(this.VistualCurrentNode, 'isSetBoxShow', false)
      this.$set(node, 'isHovering', false)
      event.stopPropagation()
    },
    filterTree (val, data, node) {
      return this.filerFun(val, data, node)
    },
    // 上一步
    prev () {
      console.log('上一步')
      this.$router.push({
        name: 'functionDetail',
        query: {}
      })
    },
    // 保存草稿
    saveData () {
      this.$nextTick(() => {
        this.saveAll().then((res) => {
          if (!res) {
            this.$messageService.success('保存成功,请维护计算模型！')
            this.$router.push({ name: 'function' })
          }
        })
      })
    },
    // 保存
    submitData () {
      this.submitAll()
    },
    // 下一步
    next () {
      this.$nextTick(() => {
        storage.getItem('functionObj').then(res => {
          let functionObj = res
          functionObj['dataTree'] = this.treeData[0]
          storage.setItem('functionObj', functionObj)
          if (this.clickType === 1) {
            this.$router.push({
              name: 'computeDetails'
            })
          } else {
            this.saveAll().then(res => {
              if (!res) {
                storage.getItem('functionObj').then(res => {
                  let functionObj = res
                  functionObj['dataSourceName'] = this.treeData[0].name
                  storage.setItem('functionObj', functionObj)
                  this.$router.push({
                    name: 'computeDetails'
                  })
                })
              }
            }).catch()
          }
        })
      })
    },
    // 取消
    cancel () {
      if (this.clickType === 1) {
        this.$router.push({
          name: 'function'
        })
        return
      }
      this.$confirm('离开当前页面将失去编辑数据, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.$router.push({
          name: 'function'
        })
      }).catch(() => {
      })
    },
    edit () {
      this.clickType = 2
      localStorage.setItem('clickType', 2)
      // storage.getItem('functionObj').then(res => {
      //   let functionObj = res
      //   functionObj['clickType'] = 3
      //   storage.setItem('functionObj', functionObj)
      // })
    },
    initSecond () {
      const defaultFiled = [{
        label: 'CurrentState',
        name: 'CurrentState',
        fieldName: 'CurrentState',
        displayName: '单据状态',
        displayNameFormat: '单据状态',
        fieldKind: 'Actual',
        dataType: 'Integer',
        allowEmpty: true,
        readOnly: true,
        checkInUsed: true,
        canDuplicate: true,
        mergeOut: true,
        visibleCondition: true,
        canUseCondition: true,
        allowCustomTransBill: true,
        requiredFieldBeforeUpdate: [],
        level: 4,
        treeNodeUnquen: 4
      }, {
        label: 'MergeOutState',
        name: 'MergeOutState',
        fieldName: 'MergeOutState',
        displayName: '导出状态',
        displayNameFormat: '导出状态',
        fieldKind: 'Actual',
        dataType: 'Integer',
        allowEmpty: true,
        readOnly: true,
        checkInUsed: true,
        canDuplicate: true,
        mergeOut: true,
        visibleCondition: true,
        canUseCondition: true,
        allowCustomTransBill: true,
        requiredFieldBeforeUpdate: [],
        level: 4,
        treeNodeUnquen: 5
      }, {
        label: 'CreatorId',
        name: 'CreatorId',
        fieldName: 'CreatorId',
        displayName: '创建人员',
        displayNameFormat: '创建人员',
        fieldKind: 'Actual',
        dataType: 'NText',
        size: '32',
        allowEmpty: true,
        readOnly: true,
        checkInUsed: true,
        canDuplicate: true,
        mergeOut: true,
        visibleCondition: true,
        canUseCondition: true,
        allowCustomTransBill: true,
        requiredFieldBeforeUpdate: [],
        level: 4,
        treeNodeUnquen: 6
      }, {
        label: 'CreateTime',
        name: 'CreateTime',
        fieldName: 'CreateTime',
        displayName: '创建时间',
        displayNameFormat: '创建时间',
        fieldKind: 'Actual',
        dataType: 'LongInteger',
        allowEmpty: true,
        readOnly: true,
        checkInUsed: true,
        canDuplicate: true,
        mergeOut: true,
        visibleCondition: true,
        canUseCondition: true,
        allowCustomTransBill: true,
        requiredFieldBeforeUpdate: [],
        level: 4,
        treeNodeUnquen: 7
      }, {
        label: 'LastOperatorId',
        name: 'LastOperatorId',
        fieldName: 'LastOperatorId',
        displayName: '最后修改',
        displayNameFormat: '最后修改',
        fieldKind: 'Actual',
        dataType: 'NText',
        size: '32',
        allowEmpty: true,
        readOnly: true,
        checkInUsed: true,
        canDuplicate: true,
        mergeOut: true,
        visibleCondition: true,
        canUseCondition: true,
        allowCustomTransBill: true,
        requiredFieldBeforeUpdate: [],
        level: 4,
        treeNodeUnquen: 8
      }, {
        label: 'IsInUsed',
        name: 'IsInUsed',
        fieldName: 'IsInUsed',
        displayName: '被用状态',
        displayNameFormat: '被用状态',
        fieldKind: 'Actual',
        dataType: 'Boolean',
        allowEmpty: true,
        readOnly: true,
        checkInUsed: true,
        canDuplicate: true,
        mergeOut: true,
        visibleCondition: true,
        canUseCondition: true,
        allowCustomTransBill: true,
        requiredFieldBeforeUpdate: [],
        level: 4,
        treeNodeUnquen: 9
      }, {
        label: 'LastOperateTime',
        name: 'LastOperateTime',
        fieldName: 'LastOperateTime',
        displayName: '修改时间',
        displayNameFormat: '修改时间',
        fieldKind: 'Actual',
        dataType: 'LongInteger',
        allowEmpty: true,
        readOnly: true,
        checkInUsed: true,
        canDuplicate: true,
        mergeOut: true,
        visibleCondition: true,
        canUseCondition: true,
        allowCustomTransBill: true,
        requiredFieldBeforeUpdate: [],
        level: 4,
        treeNodeUnquen: 10
      }, {
        label: 'Remark',
        name: 'Remark',
        fieldName: 'Remark',
        displayName: '备注',
        displayNameFormat: '备注',
        fieldKind: 'Actual',
        dataType: 'Memo',
        allowEmpty: true,
        readOnly: true,
        checkInUsed: true,
        canDuplicate: true,
        mergeOut: true,
        visibleCondition: true,
        canUseCondition: true,
        allowCustomTransBill: true,
        requiredFieldBeforeUpdate: [],
        level: 4,
        treeNodeUnquen: 11
      }]
      this.treeData = [{
        label: this.res.dataSourceName,
        name: this.res.dataSourceName,
        displayName: this.res.displayName,
        displayNameFormat: this.res.displayNameFormat,
        category: 'MasterData',
        listFormDefaultFields: [],
        level: 1,
        treeNodeUnquen: 1,
        children: [{
          label: 'default-dataset',
          name: 'default-dataset',
          displayName: '',
          displayNameFormat: '',
          canDuplicate: true,
          allowCustomTransBill: true,
          visibleCondition: true,
          canUseCondition: true,
          canViewTable: true,
          dataFlowHint: [],
          level: 2,
          treeNodeUnquen: 2,
          children: [{
            label: 'default-table',
            name: 'default-table',
            defaultExpand: true,
            primaryKeyFields: [],
            level: 3,
            treeNodeUnquen: 3,
            tableType: 'Actual',
            children: defaultFiled,
            defineFields: defaultFiled
          }]
        }]
      }]
      this.treeNodeUnquen = 12
      this.initEditPage()
    }
  },
  watch: {
    currentNode (val) {
      this.selectType = val.selectType || val.level
    }
  },
  computed: {
    expandedKey () { // 默认展开的节点
      const keys = [1]
      if (this.treeData[0] && this.treeData[0].children) {
        for (let datasetItem of this.treeData[0].children) {
          keys.push(datasetItem.treeNodeUnquen)
          if (datasetItem.children) {
            for (let tableItem of datasetItem.children) {
              if (tableItem.defaultExpand) {
                keys.push(tableItem.treeNodeUnquen)
              }
              delete tableItem.defaultExpand
            }
          }
        }
      }
      return keys
    },
    fieldsOptions () { // 当前功能模型下，第一个数据集的所有表的字段
      let fileds = [
        // {
        //   key: '',
        //   value: '无'
        // }
      ]
      for (let item of this.$refs.trees.$children[0].$children[0].node.data.children[0].children) {
        if (item.tableType !== 'Relative') {
          for (let filedItem of item.children) {
            const obj = {
              key: `${item.name}.${filedItem.name}`,
              value: `${filedItem.name}(${filedItem.displayName})`
            }
            fileds.push(obj)
          }
        }
      }
      return fileds
    },
    listShow () { // 列表显示
      let fileds = []
      for (let item of this.$refs.trees.$children[0].$children[0].node.data.children[0].children) {
        if (item.tableType !== 'Relative') {
          for (let filedItem of item.children) {
            const obj = {
              key: `${item.name}.${filedItem.name}`,
              value: `${filedItem.name}(${filedItem.displayName})`
            }
            fileds.push(obj)
            const RelativeFields = filedItem.relativeDataSources && filedItem.relativeDataSources.defineRelativeFields
            if (RelativeFields && RelativeFields.length) {
              for (let relativeItem of RelativeFields) {
                const obj = {
                  key: `${item.name}.${relativeItem.aliasName}`,
                  value: `${relativeItem.aliasName}(${relativeItem.displayName})`
                }
                fileds.push(obj)
              }
            }
          }
        }
      }
      return fileds
    }
  },
  mounted () {
    this.clickType = parseInt(localStorage.getItem('clickType'))
    storage.getItem('functionObj').then(res => {
      console.log('500', res)
      this.res = res
      this.displayName = res.displayName
      this.displayNameFormat = res.displayNameFormat
      // this.clickType = res.clickType
      this.dataType = res.dataType
      this.lineName = res.lineName
      this.dataSourceName = res.dataSourceName
      document.addEventListener('click', e => {
        this.VistualCurrentNode.isSetBoxShow = false
      })
      const param = window.location.href.split('?')[1]
      this.editModel = param ? '1' : '0'
      console.log('获取详情1112', this.dataSourceName, this.lineName, res.status)
      if (this.dataSourceName) {
        ModelService.getModelInfo('datasourcemodel', this.dataSourceName || this.lineName, res.status).then(res => {
          console.log('line', res)
          if (res.data) {
            const transFormObj = util.transformData(res.data)
            this.treeData = transFormObj.data
            this.initEditPage()
          } else {
            this.initSecond()
          }
        })
      } else {
        if (param) {
          const name = decodeURIComponent(param.split('=')[1])
          ModelService.getModelInfo('datasourcemodel', name, res.status).then(res => {
            if (res.data) {
              const transFormObj = util.transformData(res.data)
              this.treeData = transFormObj.data
              this.initEditPage()
            }
          })
        } else {
          this.initSecond()
        }
      }
    })
  }
}
</script>
<style src='./index.scss' lang='scss' scoped></style>
