<div class="mian-box">
  <el-steps :active="1" finish-status="success" class="secondSteps">
    <el-step title="功能模型" @click.native="prev"></el-step>
    <el-step title="数据模型"></el-step>
    <el-step title="计算模型" @click.native="next"></el-step>
  </el-steps>
  <div class='data-box'>
    <div class="left" ref='left'>
      <el-scrollbar :class="{'leftScroll': isLeftScroll, 'hideScroll': !isLeftScroll}">
        <el-tree :data='treeData' @node-click="nodeClick" :expand-on-click-node='false' :default-expanded-keys='expandedKey'
          node-key="treeNodeUnquen" :props='defaultProps' ref='trees' class="tree" draggable :allow-drag="allowDrag"
          :allow-drop="allowDrop" :filter-node-method='filterTree' @node-collapse='nodeCollapse'>
          <div class="custom-tree-node" slot-scope="{ node, data }" @mousemove="hover(node)" @mouseleave="leave(node)">
            <div class='label'>
              <i :class="['icon-shujuku', 'iconfont']" v-if='node.level===3 && data.tableType !== "Relative"'></i>
              <i :class="['icon-guanlian', 'iconfont']" v-if='node.level===3 && data.tableType === "Relative"'></i>
              <i :class="['icon-yuechi', 'iconfont']" v-if='node.level===4 && data.isPrimaryKey' class="primaryKey"></i>
              <p :class='{"isRed": data.isRed && !data.isPrimaryKey}'>{{ data.name }}</p>
            </div>
            <div class="setIcon" v-if='node.isHovering'><i :class="['icon-xiangxia2', 'iconfont']" @click="setNode(node, $event)"></i></div>
            <div class="setBox" v-if='node.isSetBoxShow' @click="itemBoxClick(node, $event)">
              <div class="setItemBox" v-if='node.level ===1'>
                <p @click='addDataSet(node)'>新增数据集</p>
                <p @click='copyDataSet(node)'>复制数据集</p>
              </div>
              <div class="setItemBox" v-if='node.level ===2'>
                <p @click='addDB(node)'>新增DB表</p>
                <p @click='relationDB(node)'>关联DB表</p>
                <p @click='copyDB(node)'>复制DB表</p>
                <p @click='removeNode(node)'>删除</p>
              </div>
              <div class="setItemBox" v-if='node.level ===3'>
                <p @click='addFiled(node)' v-if='node.selectType!=="Relative"'>新增字段</p>
                <p @click='removeNode(node)'>删除</p>
              </div>
              <div class="setItemBox" v-if='node.level ===4'>
                <p @click='insertAfter(node)'>插入</p>
                <p @click='removeNode(node)'>删除</p>
              </div>
            </div>
          </div>
        </el-tree>
      </el-scrollbar>
    </div>
    <div class="splitLine" @mousedown='dragg'></div>
    <div class="right">
      <!-- <div class="oprate" v-if="!guide">
        <el-button type='primary' @click.native='saveAll'>保存草稿</el-button>
        <el-button type='primary' @click.native='submitAll'>提交</el-button>
        <el-button type='primary' plain @click.native='cancelAll'>取消</el-button>
      </div> -->
      <div v-if='selectType === 1'>
        <data-model :data='currentNode' :filedOptions='fieldsOptions' :listShow='listShow' v-on:changeDataName="changeDataName"
          :guide="guide" :clickType="clickType" :dataType="dataType" :displayName="displayName" :displayNameFormat="displayNameFormat"
          :lineName="lineName"></data-model>
      </div>
      <div v-else-if='selectType === 2'>
        <data-set :data='currentNode' :filedOptions='fieldsOptions' :treeData='treeData'></data-set>
      </div>
      <div v-else-if='selectType === 3'>
        <data-table :data='currentNode' :modelInfo='treeData' @filedClick='triggerFiledNode' :treeNodeUnquen='treeNodeUnquen'
          @updateUniqune='updateUniqune'></data-table>
      </div>
      <div v-else-if='selectType === 4'>
        <data-filed :data='currentNode' :modelInfo='treeData'></data-filed>
      </div>
      <div v-else-if='selectType === "Relative"'>
        <data-relation-table :data='currentNode' :filedOptions='fieldsOptions' :treeNodeUnquen='treeNodeUnquen'
          @updateUniqune='updateUniqune' @filedClick='triggerFiledNode' @expandNode='triggerExpandNode'></data-relation-table>
      </div>
    </div>
  </div>
  <div class="Btn">
    <el-button type="primary" @click="prev">上一步</el-button>
    <el-button type="primary" @click="saveData" v-show="clickType!==1">保存草稿</el-button>
    <!-- <el-button type="primary" @click="submitData" v-show="clickType!==1">保存</el-button> -->
    <el-button type="primary" @click="edit" v-show="clickType==1">编辑</el-button>
    <el-button type="primary" plain @click="cancel">取消</el-button>
    <el-button type="primary" @click="next">下一步</el-button>
  </div>

  <!--复制数据集弹框-->
  <el-dialog title="复制数据集" :visible.sync="copyDataSetShow" v-if='copyDataSetShow' width="20%">
    <search-box :options='dataSet' muliti type='tree' @select="selectDataSetItem" placeholder="请输入过滤字段"></search-box>
    <div class="btnBox">
      <el-button type='primary' @click='confirmDataSet'>确定</el-button>
      <el-button type='primary' plain @click='cancelDataSet'>取消</el-button>
    </div>
  </el-dialog>

  <!--复制DB表弹框-->
  <el-dialog title="复制DB表" :visible.sync="copyDBShow" v-if='copyDBShow' width="20%">
    <search-box :options='DB' muliti type='tree' @select="selectDBItem" placeholder="请输入过滤字段"></search-box>
    <div class="btnBox">
      <el-button type='primary' @click='confirmDB'>确定</el-button>
      <el-button type='primary' plain @click='cancelDB'>取消</el-button>
    </div>
  </el-dialog>
</div>
