<template>
  <div>
    <el-tree :data='treeData' @node-click="nodeClick" :expand-on-click-node='false' :default-expanded-keys='expandedKeys' node-key="id" ref='tree' draggable :allow-drag="allowDrag" :allow-drop="allowDrop" :filter-node-method='filterTree'>
      <div class="custom-tree-node" slot-scope="{ node, data }" @mousemove="hover(node)" @mouseleave="leave(node)">
        <div class='label'>
          <i :class="['icon-shujuku', 'iconfont']" v-if='node.level===3 && data.tableType !== "Relative"'></i>
          <i :class="['icon-guanlian', 'iconfont']" v-if='node.level===3 && data.tableType === "Relative"'></i>
          <p>{{ node.label }}</p>
        </div>
        <div class="setIcon" v-if='node.isHovering'><i :class="['icon-shezhi', 'iconfont']" @click="setNode(node, $event)"></i></div>
        <div class="setBox" v-if='node.isSetBoxShow' @click="itemBoxClick(node, $event)">
          <slot :node='node'></slot>
        </div>
      </div>
    </el-tree>
  </div>
</template>

<script>
export default {
  name: 'edit-tree',
  props: {
    treeData: Array,
    filerFun: Function,
    type: String
  },
  data () {
    return {
      currentNode: {}
    }
  },
  mounted () {
    document.addEventListener('click', e => {
      this.currentNode.isSetBoxShow = false
    })
  },
  methods: {
    nodeClick (data, node, tree) {
      this.$set(this.currentNode, 'isSetBoxShow', false)
      this.$emit('nodeselect', data, node, tree)
    },
    allowDrag (draggingNode) {
      return true
    },
    allowDrop (draggingNode, dropNode, type) {
      return type !== 'inner'
    },
    hover (node) {
      this.$set(node, 'isHovering', true)
    },
    leave (node) {
      this.$set(node, 'isHovering', false)
    },
    setNode (node, event) {
      this.$set(this.currentNode, 'isSetBoxShow', false)
      this.$set(node, 'isSetBoxShow', true)
      this.currentNode = node
      event.stopPropagation()
    },
    itemBoxClick (node, event) {
      this.$set(this.currentNode, 'isSetBoxShow', false)
      this.$set(node, 'isHovering', false)
      event.stopPropagation()
    },
    append (data, node) {
      this.$refs.tree.append(data, node)
    },
    filterTree (val, data, node) {
      return this.filerFun(val, data, node)
    }
  }
}
</script>

<style lang='scss'>
.custom-tree-node {
  display: flex;
  justify-content: space-between;
  .label {
    display: flex;
    align-items: center;
    i {
      font-size: 12px;
      margin-top: 2px;
    }
  }
  .setIcon {
    height: 15px;
    line-height: 15px;
  }
  .setBox {
    position: absolute;
    right: 0;
    margin-top: 26px;
    padding: 15px;
    background: #fff;
    color: #606266;
    box-shadow: 0px 0px 2px #ccc;
  }
}
</style>
