<template>
  <div>
    <el-form :model="detailForm" ref="detailForm" label-width="120px" class="form" :rules="rules_detail">
      <el-form-item label="字段代码" prop="name">
        <el-input v-model="detailForm.name" :disabled="detailForm.fromRelationTable" @blur="checkFileName($event)"></el-input>
      </el-form-item>
      <el-form-item label="中文名称" prop="displayName">
        <name-express @getExpress='getNameExpress' @click.native="selectNameExpress('displayName')" :initExpress='detailForm.displayNameFormat'></name-express>
      </el-form-item>
      <el-form-item label="字段类别" prop="fieldKind">
        <el-select v-model="detailForm.fieldKind" placeholder="请选择" :disabled="detailForm.fromRelationTable" clearable>
          <el-option v-for='item in fieldKind' :key='item.key' :label='item.value' :value='item.key'></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="数据类型" prop="dataType">
        <el-select v-model="detailForm.dataType" placeholder="请选择" :disabled="detailForm.fromRelationTable" @change="typeChange" clearable>
          <el-option v-for='item in dataKind' :key='item.key' :label='item.value' :value='item.key'></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="长度精度">
        <el-col :span="11">
          <el-form-item prop="size" class="special noPaddingRight">
            <el-input v-model="detailForm.size" placeholder="长度" :disabled="detailForm.fromRelationTable" type='number' min="1"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="2" class="alginCenter">-</el-col>
        <el-col :span="11">
          <el-form-item prop="scale" class="special noPaddingRight">
            <el-input v-model="detailForm.scale" placeholder="精度" :disabled="detailForm.fromRelationTable || (detailForm.dataType !== 'Double' && detailForm.dataType !== 'Decimal')" type='number'></el-input>
          </el-form-item>
        </el-col>
      </el-form-item>
      <el-form-item label="控件类型" prop="controlType">
        <el-select v-model="detailForm.controlType" placeholder="请选择" clearable>
          <el-option v-for='item in showType' :key='item.key' :label='item.value' :value='item.key'></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="默认值" prop="defaultValue">
        <el-input v-model="detailForm.defaultValue" :disabled="detailForm.fromRelationTable"></el-input>
      </el-form-item>
      <el-form-item label="选项数据" prop="pickValueTransed">
        <el-input v-model='detailForm.pickValueTransed' @focus='showOptionsData()' :disabled="detailForm.fromRelationTable">>
          <i slot="suffix" class="el-icon-more" @click="showOptionsData()"></i>
        </el-input>
      </el-form-item>
      <el-form-item label="字段模板" prop="dataField">
        <el-select v-model="detailForm.dataField" placeholder="请选择" :disabled="detailForm.fromRelationTable" clearable>
          <el-option v-for='item in dataDirct' :key='item.value' :label='item.name' :value='item.value'></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="格式化类型" prop="formatType">
        <!--新增属性, key值找王中要-->
        <el-select v-model="detailForm.formatType" placeholder="请选择" :disabled="detailForm.fromRelationTable" clearable>
          <el-option v-for='item in formatType' :key='item.key' :label='item.value' :value='item.key'></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="格式化源字段" prop="formatSourceField">
        <el-select v-model="detailForm.formatSourceField" placeholder="请选择" :disabled="detailForm.fromRelationTable" clearable>
          <el-option v-for='item in currentOptions' :key='item.data.name' :label='item.data.name+"("+item.data.displayName+")"' :value='item.data.name' :disabled="item.data.flag"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="数字验证" prop="numberValidateType">
        <el-select v-model="detailForm.numberValidateType" placeholder="请选择" :disabled="detailForm.fromRelationTable" filterable allow-create clearable @change="func">
          <el-option v-for='item in dataValidateType' :key='item.key' :label='item.value' :value='item.key'></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="允许为Null" prop="allowNull">
        <el-switch v-model="detailForm.allowNull" :disabled="detailForm.fromRelationTable"></el-switch>
      </el-form-item>
      <el-form-item label="字段必填" prop="allowEmpty">
        <el-switch v-model="detailForm.allowEmpty" :disabled="detailForm.fromRelationTable || detailForm.isPrimaryKey"></el-switch>
      </el-form-item>
      <el-form-item label="字段只读" prop="readOnly">
        <el-switch v-model="detailForm.readOnly" :disabled="detailForm.fromRelationTable"></el-switch>
      </el-form-item>
      <el-form-item label="检查被用" prop="checkInUsed">
        <el-switch v-model="detailForm.checkInUsed" :disabled="detailForm.fromRelationTable"></el-switch>
      </el-form-item>
      <el-form-item label="允许复制" prop="canDuplicate">
        <el-switch v-model="detailForm.canDuplicate" :disabled="detailForm.fromRelationTable"></el-switch>
      </el-form-item>
      <el-form-item label="可导入导出" prop="mergeOut">
        <el-switch v-model="detailForm.mergeOut" :disabled="detailForm.fromRelationTable"></el-switch>
      </el-form-item>
      <el-form-item label="显示条件" prop="visibleCondition">
        <el-switch v-model="detailForm.visibleCondition" :disabled="detailForm.fromRelationTable || detailForm.isBlob"></el-switch>
      </el-form-item>
      <el-form-item label="可用于查询" prop="canUseCondition">
        <el-switch v-model="detailForm.canUseCondition" :disabled="detailForm.fromRelationTable || detailForm.isBlob"></el-switch>
      </el-form-item>
      <el-form-item label="多语言输入" prop="useCulture">
        <el-switch v-model="detailForm.useCulture" :disabled="detailForm.fromRelationTable"></el-switch>
      </el-form-item>
      <el-form-item label="自定义转单" prop="allowCustomTransBill">
        <el-switch v-model="detailForm.allowCustomTransBill" :disabled="detailForm.fromRelationTable"></el-switch>
      </el-form-item>
      <el-form-item label="所属配置包" prop="deployModule">
        <el-select v-model="detailForm.deployModule" placeholder="请选择" :disabled="detailForm.fromRelationTable" clearable>
          <el-option v-for='item in deploymodule' :key='item.name' :label='item.value' :value='item.name'></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="前置字段" prop="requiredFieldBeforeUpdate" class="oneLine mulitiSelect" size="small">
        <el-select v-model="detailForm.requiredFieldBeforeUpdate" placeholder="请选择" :disabled="detailForm.fromRelationTable" multiple>
          <el-option v-for='item in currentOptions' :key='item.data.name' :label='item.data.name+"("+item.data.displayName+")"' :value='item.data.name' :disabled="item.data.flag"></el-option>
        </el-select>
        <!-- <select-list :data="beforeOptions" v-model="detailForm.requiredFieldBeforeUpdate" :multiple="true" :props="{label: 'value', value: 'key'}"></select-list> -->
      </el-form-item>
      <el-form-item label="关联数据源" prop="dataSource" class="oneLine">
        <p v-if='detailForm.fromRelationTable && (!detailForm.relativeDataSources || !detailForm.relativeDataSources.length)'>未关联</p>
        <el-input ref='relationSourceInput' @focus='relationSource()' :value="relationSourceText" v-else>
          <i class="icon-gengduo iconfont" slot="suffix" @click='relationSource()'></i>
        </el-input>
      </el-form-item>
      <el-form-item label="字段说明" prop="fieldDescription" class="oneLine">
        <el-input v-model="detailForm.fieldDescription" :disabled="detailForm.fromRelationTable"></el-input>
      </el-form-item>
    </el-form>

    <!--选项数据弹框-->
    <el-dialog title="设置选项数据" :visible.sync="optionsShow" width='600px'>
      <div class="body">
        <el-form>
          <el-form-item label='选项模型'>
            <el-select placeholder="请选择" v-model='pickvaluesTemp.link' clearable>
              <el-option v-for='item in optionsLink' :key='item.name' :label='item.value' :value='item.name'></el-option>
            </el-select>
          </el-form-item>
          <el-button type='text' class="textBtn" @click='addOption'><i class="icon-add iconfont"></i> 新增</el-button>
        </el-form>
        <el-table :data='pickvaluesTemp.data' border style="width: 100%" class="el-form-item">
          <el-table-column prop="code" label="代码">
            <template slot-scope="scope">
              <el-input v-model='scope.row.code' size="small"></el-input>
            </template>
          </el-table-column>
          <el-table-column prop="displayName" label="中文名称">
            <template slot-scope="scope">
              <name-express @getExpress='getOptionExpress' :initExpress='scope.row.displayNameFormat' @click.native="selectOptionExpress(scope.row)"></name-express>
            </template>
          </el-table-column>
          <el-table-column prop="remark" label="备注">
            <template slot-scope="scope">
              <el-input v-model='scope.row.remark' size="small"></el-input>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="operate">
        <el-button type="primary" @click="submitOptions">确定</el-button>
        <el-button type="primary" plain @click='optionsShow=false'>取消</el-button>
      </div>
    </el-dialog>
    <!-- 关联数据源dialog -->
    <params-list dialogTitle="关联数据源" :dialogShow='relationShow' :viewType='detailForm.fromRelationTable' :tree-data="detailForm.relativeDataSources" @childChange='paramsListChildChange' @submitParamsList='submitRelatioList' @cancalParamsList='cancelRelatioList'>
      <template slot='form' slot-scope='{data: currentNode}'>
        <el-form :model="currentNode.data" ref="relationForm" class="form" :rules="relativeRules" label-width="110px" label-position="right">
          <el-form-item label="来源功能" prop="relativeSourceName">
            <el-select :disabled='detailForm.fromRelationTable' v-model="currentNode.data.relativeSourceName" placeholder="请选择" @change='selectSourceFunc(currentNode.data)' clearable>
              <el-option v-for='item in dataModelList' :key='item.name' :label='item.name' :value='item.name'></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="数据集" prop="relativeIndex">
            <el-select :disabled='detailForm.fromRelationTable' v-model="currentNode.data.relativeIndex" placeholder="请选择" @change='selectRelativeIndex(currentNode.data)' clearable>
              <el-option v-for='item in dataSetList' :key='item.name' :label='item.name' :value='item'></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="前置关联主键" prop="relativeMasterFields">
            <selectList :data="masterFieldList" :props='selectListProps' v-model="currentNode.data.relativeMasterFields" placeholder="请选择主键" :multiple="true"></selectList>
          </el-form-item>
          <el-form-item label="检查来源记录" prop="checkDataExist">
            <el-switch :disabled='detailForm.fromRelationTable' v-model="currentNode.data.checkDataExist"></el-switch>
          </el-form-item>
          <el-form-item label="检查有效日期" prop="checkValidDate">
            <el-switch :disabled='detailForm.fromRelationTable' v-model="currentNode.data.checkValidDate"></el-switch>
          </el-form-item>
          <el-form-item label="更新来源" prop="updateSource">
            <el-switch :disabled='detailForm.fromRelationTable' v-model="currentNode.data.updateSource"></el-switch>
          </el-form-item>
          <el-form-item label="关联条件" prop="relativeCondition" style='width:99%;'>
            <el-input :disabled='detailForm.fromRelationTable' v-model="currentNode.data.relativeCondition"></el-input>
          </el-form-item>
        </el-form>
      </template>
      <!-- 关联数据源dialog-table -->
      <template slot='tabs' slot-scope='{data: currentNode}'>
        <el-tabs type="border-card" class="el-form-item">
          <el-tab-pane label="relativeField">
            <el-table :data='currentNode.data.defineRelativeFields' border>
              <el-table-column prop="name" label="字段名称" label-class-name='require'>
                <template slot-scope="scope">
                  <el-select filterable :disabled='detailForm.fromRelationTable' v-model="scope.row.name" placeholder="请选择" @change="selectRelativeField(scope, currentNode.data.defineRelativeFields)">
                    <el-option v-for='option in masterFieldList' :key='option.name' :label='option.name' :value='option.name' :disabled="option.disabled1"></el-option>
                  </el-select>
                </template>
              </el-table-column>
              <el-table-column prop="displayName" label="别名" label-class-name='require'>
                <template slot-scope="scope">
                  <el-input :disabled='detailForm.fromRelationTable' v-model="scope.row.aliasName"></el-input>
                </template>
              </el-table-column>
              <el-table-column prop="displayName" label="中文名称" label-class-name='require'>
                <template slot-scope="scope">
                  <span v-if='detailForm.fromRelationTable'>{{ scope.row.displayName }}</span>
                  <span v-else class="cell-edit-input">
                    <name-express @getExpress='getDataSourceExpress(arguments, scope.row)' :initExpress='scope.row.displayNameFormat'></name-express>
                  </span>
                </template>
              </el-table-column>
              <el-table-column prop="controlType" label="控件类型" label-class-name='require'>
                <template slot-scope="scope">
                  <span class="cell-edit-input">
                    <el-select :disabled='detailForm.fromRelationTable' v-model="scope.row.controlType" placeholder="请选择" clearable>
                      <el-option v-for='item in showType' :key='item.key' :label='item.value' :value='item.key'></el-option>
                    </el-select>
                  </span>
                </template>
              </el-table-column>
              <el-table-column prop="canUseCondition" label="可作为查询条件" width='130'>
                <template slot-scope="scope">
                  <el-switch :disabled='detailForm.fromRelationTable' v-model="scope.row.canUseCondition"></el-switch>
                </template>
              </el-table-column>
              <el-table-column prop="visibleCondition" label="显示条件">
                <template slot-scope="scope">
                  <!-- <el-input :disabled='detailForm.fromRelationTable' v-model="scope.row.visibleCondition"></el-input> -->
                  <!-- <el-input :disabled='detailForm.disabled1' v-model="scope.row.visibleCondition"></el-input> -->
                  <el-switch :disabled='detailForm.fromRelationTable' v-model="scope.row.visibleCondition"></el-switch>
                </template>
              </el-table-column>
              <el-table-column label="操作" width='100' v-if='!detailForm.fromRelationTable'>
                <template slot-scope="scope">
                  <el-button type="text" @click='addRelationFiled(currentNode.data.defineRelativeFields, scope.$index)'>新增</el-button>
                  <el-button type="text" @click='delReltionFiled(currentNode.data.defineRelativeFields, scope.$index)'>删除</el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-tab-pane>
          <!-- checkField表格 -->
          <el-tab-pane label="checkField">
            <el-table :data='currentNode.data.defineRelativeBackFields' border>
              <el-table-column prop="name" label="来源字段" label-class-name='require'>
                <template slot-scope="scope">
                  <el-select :disabled='detailForm.fromRelationTable' v-model="scope.row.name" placeholder="请选择" @change="selectFieldName(scope,  currentNode.data.defineRelativeBackFields)">
                    <el-option v-for='option in masterFieldList' :key='option.name' :label='option.name' :value='option.name' :disabled="option.disabled2"></el-option>
                  </el-select>
                </template>
              </el-table-column>
              <el-table-column prop="useFieldName" label="目的字段" label-class-name='require'>
                <template slot-scope="scope">
                  <!-- <span>{{ scope.row.useFieldName }}</span> -->
                  <el-select :disabled='detailForm.fromRelationTable' v-model="scope.row.useFieldName" placeholder="请选择" @change="selectUseField(scope,  currentNode.data.defineRelativeBackFields)">
                    <el-option v-for='option in useFieldList' :key='option.name' :label='option.name' :value='option.name' :disabled="option.disabled3"></el-option>
                  </el-select>
                </template>
              </el-table-column>
              <el-table-column label="操作" width='100' v-if='!detailForm.fromRelationTable'>
                <template slot-scope="scope">
                  <el-button type="text" @click='addBackFiled(currentNode.data.defineRelativeBackFields, scope.$index)'>新增</el-button>
                  <el-button type="text" @click='delBackFiled(currentNode.data.defineRelativeBackFields, scope.$index)'>删除</el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-tab-pane>
        </el-tabs>
      </template>
    </params-list>
  </div>
</template>

<script>
import lodash from 'lodash'
import searchBox from '@/components/searchBox'
import { nameReg, numReg } from '@/assets/js/comm/constant'
import paramsList from '@/components/paramsList'
import selectList from '@/components/searchBox/selectList' // 下拉列表组件
import editTree from '@/components/editTree'
import nameExpress from '@/components/nameExpress/input.vue'
import { mapState, mapActions } from 'vuex'
import ModelService from '../../../../assets/js/service/modelservice.js'

export default {
  name: 'data-table',
  props: {
    data: Object, // 子节点node
    modelInfo: Object // 当前数据模型的所有信息
  },
  components: {
    editTree,
    nameExpress,
    searchBox,
    paramsList,
    selectList
  },
  computed: {
    ...mapState('options', ['dataKind', 'showType', 'defineTableIndex', 'fieldKind', 'deploymodule', 'dataValidateType', 'dataDirct', 'optionsLink', 'formatType'])
  },
  data () {
    let checkName = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('字段代码不能为空'))
      }
      setTimeout(() => {
        if (!nameReg.test(value)) {
          const firstLetter = value.slice(0, 1)
          if (numReg.test(firstLetter)) {
            callback(new Error('名称不能以数字开头'))
          } else {
            callback(new Error('名称只能为字母数字或._-'))
          }
          return
        }
        callback()
      }, 300)
    }
    return {
      relationForm: {
      },
      detailForm: {
        numberValidateType: ''
      },
      relationFiledData: [],
      relationBackData: [],
      rules_detail: {
        fieldKind: [{ required: true, message: '请选择字段样式', trigger: 'blur' }],
        name: [{ required: true, validator: checkName, trigger: 'blur' }],
        displayName: [{ required: true, message: '请选择显示名称', trigger: 'blur' }],
        dataType: [{ required: true, message: '请选择数据类型', trigger: 'blur' }]
      },
      relativeRules: { // 关联字段dialog中表单的校验
        relativeSourceName: [
          { required: true, message: '请选择来源功能', trigger: 'select' }
        ],
        relativeIndex: [
          { required: true, message: '请选择数据集', trigger: 'select' }
        ]
      },
      currentOptions: [],
      pickvaluesTemp: {},
      beforeOptions: [],
      currentPickValueNode: '',
      optionRow: '',
      optionsShow: false,
      dataSourceRow: '',
      relationShow: false,
      currentMember: {}, // 关联来源：选中成员的data
      dataModelList: [], // 关联来源：来源功能下拉列表
      dataSetList: [], // 关联来源：数据集下拉列表
      masterFieldList: [], // 关联来源：数据集下拉列表
      backups: [], // 备份将要编辑的关联数据源
      nodeChanged: false,
      useFieldList: [], // 关联数据源：目的字段列表
      selectListProps: { // selectList中的props
        value: 'name',
        label: 'label', // 要显示的选项文本
        valueKey: 'name' // 选项唯一性标志的属性
      },
      relationSourceText: '' // 关联数据模型的文本
    }
  },
  methods: {
    ...mapActions('options', ['getDataKind', 'getShowType', 'getDefineTableIndex', 'getFieldKind', 'getDeploymodule', 'getDataValidateType', 'getDataDirct', 'getOptionsLink', 'getformatType']),
    selectNameExpress (key) {
      this.focusRowKey = key
    },
    func (val) {
      console.log('选择', val, this.detailForm)
    },
    getRelationSourceText: function () { // 拼接关联来源的文本
      let dataSource = this.detailForm.relativeDataSources
      if (!dataSource || !dataSource.length || !this.dataModelList.length) {
        this.relationSourceText = ''
      } else {
        let text = ''
        dataSource.map((item) => {
          this.dataModelList.map(model => {
            if (model.name === item.relativeSourceName) {
              text += ';' + model.name + '(' + model.displayName + ')'
            }
          })
        })
        text = text.replace(';', '')
        this.relationSourceText = text
      }
    },
    getNameExpress (shownameResult, express) {
      this.detailForm.displayName = shownameResult
      if (this.focusRowKey === 'displayName') {
        this.detailForm.displayNameFormat = express
      } else {
        this.detailForm.shortDisplayNameFormat = express || shownameResult
      }
    },
    selectOptionExpress (row) {
      this.optionRow = row
    },
    getOptionExpress (name, format) {
      this.optionRow.displayName = name
      this.optionRow.displayNameFormat = format
    },
    getDataSourceExpress (arg, row) {
      row.displayNameFormat = arg[1] || arg[0]
    },
    excludeSelf (arr, item) {
      arr.map((v, i) => {
        if (v.data.name === item.name) {
          arr[i].data.flag = true
        } else {
          arr[i].data.flag = false
        }
      })
    },
    showOptionsData () {
      if (!this.detailForm.pickValue) {
        this.$set(this.detailForm, 'pickValue', {
          link: '',
          data: [
            { code: '', displayName: '', displayNameFormat: '', remark: '' }
          ]
        })
      }
      this.pickvaluesTemp = JSON.parse(JSON.stringify(this.detailForm.pickValue))
      this.optionsShow = true
    },
    addOption () {
      const emptyObj = {
        code: '',
        displayName: '',
        displayNameFormat: '',
        remark: ''
      }
      this.pickvaluesTemp.data.push(emptyObj)
    },
    submitOptions () {
      this.detailForm.pickValue = this.pickvaluesTemp
      let str = ''
      for (let item of this.pickvaluesTemp.data) {
        if (item.code) {
          str += `${item.code},`
        }
      }
      this.detailForm.pickValueTransed = str.substr(0, str.length - 1)
      console.log('数据', this.detailForm)
      this.optionsShow = false
    },
    addBackFiled (defineRelativeBackFields, index) { // 关联来源：新增带回字段
      const empty = {
        name: '',
        aliasName: '',
        useFieldName: '',
        editFlag: true
      }
      defineRelativeBackFields.splice(index + 1, 0, empty)
    },
    addRelationFiled (defineRelativeFields, index) { // 关联来源：新增关联字段
      const empty = {
        name: '',
        aliasName: '',
        controlType: '',
        displayName: '',
        shortDisplayName: '',
        fieldType: '',
        sourceFieldSize: 0,
        useFieldName: '',
        canUseCondition: false,
        visibleCondition: '',
        editFlag: true
      }
      defineRelativeFields.splice(index + 1, 0, empty)
    },
    relationSource () { // 打开关联来源dialog
      this.backups = lodash.cloneDeep(this.detailForm)
      if (this.relationShow) return // 解决input框反复得焦的问题
      if (!this.detailForm.relativeDataSources || !this.detailForm.relativeDataSources.length) {
        this.$set(this.detailForm, 'relativeDataSources', [{ label: 'default-params', id: 1 }])
      } else {
        for (let item of this.detailForm.relativeDataSources) {
          item.label = item.relativeSourceName
        }
      }
      this.relationShow = true
    },
    paramsListChildChange (data) { // 关联数据源：左边树节点的回调data:树节点的data, formName:form表单的mode名字
      // console.log('数据变动吗', data, this.currentMember)
      if (data.relativeSourceName === undefined) this.$set(data, 'relativeSourceName', '')
      if (data.relativeIndex === undefined) this.$set(data, 'relativeIndex', '')
      if (data.relativeMasterFields === undefined) this.$set(data, 'relativeMasterFields', [])
      if (data.relativeCondition === undefined) this.$set(data, 'relativeCondition', '')
      if (data.checkDataExist === undefined) this.$set(data, 'checkDataExist', false)
      if (data.checkValidDate === undefined) this.$set(data, 'checkValid Date', false)
      if (data.updateSource === undefined) this.$set(data, 'updateSource', false)
      if (!data.defineRelativeFields || !data.defineRelativeFields.length) { // 设置relativeField 表格的数据源
        this.$set(data, 'defineRelativeFields', [])
        this.addRelationFiled(data.defineRelativeFields)
        this.addRelationFiled(data.defineRelativeFields)
        this.addRelationFiled(data.defineRelativeFields)
      }
      if (!data.defineRelativeBackFields || !data.defineRelativeBackFields.length) { // 设置checkField 表格的数据源
        this.$set(data, 'defineRelativeBackFields', [])
        this.addBackFiled(data.defineRelativeBackFields)
        this.addBackFiled(data.defineRelativeBackFields)
        this.addBackFiled(data.defineRelativeBackFields)
      }
      const { relativeSourceName, relativeIndex, treeId } = this.currentMember
      if (data.$treeNodeId !== treeId) { // 当切换成员时
        this.currentMember.treeId = data.$treeNodeId
        if (this.masterFieldList && this.masterFieldList.length) {
          // console.log('重置disabled了')
          this.masterFieldList.map((item, i) => {
            this.$set(item, 'disabled1', false)
            this.$set(item, 'disabled2', false)
            this.$set(item, 'disabled3', false)
            data.defineRelativeFields.map(value => { // 遍历relativeField的表格，重置所有禁用选项
              if (item.name === value.name) {
                this.$set(item, 'disabled1', true)
              }
            })
            data.defineRelativeBackFields.map(option => { // 遍历checkField的表格，重置所有禁用选项
              if (item.name === option.name) {
                this.$set(item, 'disabled2', true)
              }
            })
          })
        }
        if (this.useFieldList.length) {
          this.useFieldList.map((item, i) => { // 遍历backField的表格，重置所有禁用选项
            this.$set(item, 'disabled3', false)
            data.defineRelativeBackFields.map(value => {
              if (item.name === value.useFieldName) {
                this.$set(item, 'disabled3', true)
              }
            })
          })
        }
      }
      if (data.relativeSourceName && data.relativeSourceName !== relativeSourceName) { // 关联数据源;如果当前选定的关联功能变化了，就要重新获取数据集的下拉列表
        // console.log('关联数据源变了', data.relativeSourceName, relativeSourceName)
        this.selectSourceFunc(data, true)
        this.currentMember = lodash.cloneDeep(data)
      }
      if (data.relativeIndex && data.relativeIndex !== relativeIndex) { // 关联数据源;如果当前选定的数据集变化了，就要重新获取前置主键的下拉列表
        // console.log('关联数据集变了', data.relativeIndex, relativeIndex)
        this.currentMember = lodash.cloneDeep(data)
        ModelService.getModelInfo('datasourcemodel', data.relativeSourceName).then(res => {
          if (res.data && res.data.defineDataSets && res.data.defineDataSets.length) {
            res.data.defineDataSets.map(item => {
              if (item.name === data.relativeIndex) {
                if (item.defineDBTables && item.defineDBTables.length) {
                  let masterFieldList = []
                  item.defineDBTables.map((option) => {
                    if (option.defineFields && option.defineFields.length) {
                      masterFieldList = this.masterFieldList.concat(option.defineFields)
                    }
                  })
                  this.$set(this, 'masterFieldList', masterFieldList)
                  // console.log('重新设置主键列表：', this.masterFieldList)
                }
              }
            })
          }
        })
      }
    },
    selectSourceFunc (currentData, isGetList) { // 关联数据源：选择来源功能currentData:当前树节点的data  isGetList:是为了得到下拉列表吗
      if (!isGetList) {
        currentData.label = currentData.relativeSourceName
        currentData.relativeIndex = ''
        currentData.relativeMasterFields = []
        currentData.defineRelativeFields = [] // 清空relativeField表格
        currentData.defineRelativeBackFields = []
        this.masterFieldList = [] // 清空前置主键列表
        this.dataSetList = [] // 清空数据集下拉列表
      }
      this.dataModelList.map(item => {
        if (item.name === currentData.relativeSourceName) {
          currentData.displayName = item.displayName
        }
      })
      // console.log(object);
      ModelService.getModelInfo('datasourcemodel', currentData.relativeSourceName).then(res => {
        if (res.data && res.data.defineDataSets) {
          this.dataSetList = res.data.defineDataSets
        }
      })
    },
    selectRelativeIndex (currentData, isGetList) { // 关联来源：选择数据集
      if (!isGetList) {
        currentData.relativeMasterFields = []
        currentData.defineRelativeFields = [] // 清空relativeField表格
        currentData.defineRelativeBackFields = [] // 清空checkField表格
        this.masterFieldList = [] // 清空前置主键列表
        currentData.relativeIndex = currentData.relativeIndex.name
      }
      if (currentData.relativeIndex && currentData.relativeIndex.defineDBTables) {
        let dbTables = currentData.relativeIndex.defineDBTables
        if (dbTables.length) {
          this.masterFieldList = []
          dbTables.map((item) => {
            if (item.defineFields && item.defineFields.length) {
              this.masterFieldList = this.masterFieldList.concat(item.defineFields)
            }
          })
        }
      }
    },
    delReltionFiled (defineRelativeFields, index) { // 关联数据源：删除relativeFild
      defineRelativeFields.splice(index, 1)
      if (!defineRelativeFields.length) {
        this.addBackFiled(defineRelativeFields, 0)
      }
    },
    delBackFiled (defineRelativeBackFields, index) { // 关联数据源：删除checkFild
      defineRelativeBackFields.splice(index, 1)
      if (!defineRelativeBackFields.length) {
        this.addBackFiled(defineRelativeBackFields, 0)
      }
    },
    selectRelativeField (scope, defineRelativeFields) { // 关联数据源：选择一个relativeField
      if (defineRelativeFields.length) {
        this.masterFieldList.map((item, i) => {
          item.controlType = item.controlType || 'Unknown'
          this.$set(item, 'disabled1', false)
          item.aliasName = item.name // 添加一个和name一样的别名
          if (scope.row.name === item.name) defineRelativeFields.splice(scope.$index, 1, item)
          defineRelativeFields.map(value => {
            if (item.name === value.name) {
              this.$set(item, 'disabled1', true)
            }
          })
        })
      }
    },
    selectFieldName (scope, defineRelativeBackFields) { // 关联数据源：选择一个checkField
      // scope.row.useFieldName = scope.row.name
      if (defineRelativeBackFields.length) {
        this.masterFieldList.map((item, i) => {
          this.$set(item, 'disabled2', false)
          defineRelativeBackFields.map(value => {
            if (item.name === value.name) {
              this.$set(item, 'disabled2', true)
            }
          })
        })
      }
    },
    selectUseField (scope, defineRelativeBackFields) { // 关联数据源：选择一个目的字段
      // scope.row.useFieldName = scope.row.name
      if (defineRelativeBackFields.length) {
        this.useFieldList.map((item, i) => {
          this.$set(item, 'disabled3', false)
          defineRelativeBackFields.map(value => {
            if (item.name === value.useFieldName) {
              this.$set(item, 'disabled3', true)
            }
          })
        })
      }
    },
    cancelRelatioList () { // 关联来源：关闭dialog
      this.detailForm = lodash.cloneDeep(this.backups) // 取消编辑，回到编辑前的版本
      this.currentMember = {} // 清空当前成员的数据：再次打开时去请求新的当前成员所需要的下拉列表
      this.dataSetList = [] // 关闭时清空数据集下拉列表
      this.masterFieldList = [] // 关闭时清空前置关联主键下拉列表
      this.relationShow = false
      console.log('取消dialog', this.detailForm)
    },
    submitRelatioList () { // 关联数据源：点击完成后进行校验
      let isComplete = true
      const { relativeDataSources } = this.detailForm
      if (relativeDataSources && relativeDataSources.length) {
        relativeDataSources.map(item => {
          if (item.relativeSourceName) {
            if (!item.relativeIndex) { // 有关联数据源但是数据集没有选
              isComplete = false
              this.$messageService.info('请为成员：' + item.relativeSourceName + '选择数据集')
            } else {
              this.relationShow = false
              if (item.defineRelativeFields && item.defineRelativeFields.length) { // 过滤掉无效的relativeField
                item.defineRelativeFields = item.defineRelativeFields.filter(field => {
                  return field.name && field.displayName && field.controlType && field.aliasName
                })
              }
              if (item.defineRelativeBackFields && item.defineRelativeBackFields.length) { // 过滤掉无效的checkField
                item.defineRelativeBackFields = item.defineRelativeBackFields.filter(field => {
                  return field.name && field.useFieldName
                })
              }
            }
          }
        })
      }
      console.log(this.detailForm)
      if (isComplete) this.relationShow = false
    },
    checkFileName (event) {
      const tempArr = lodash.cloneDeep(this.data.parent.childNodes)
      const index = this.data.parent.childNodes.indexOf(this.data)
      tempArr.splice(index, 1)
      for (let item of tempArr) {
        if (this.data.data.name === item.data.name) {
          this.$alert('同一表中不能有相同字段代码', '', {
            callback: () => {
              event.target.focus()
            }
          })
        }
      }
    },
    typeChange (val) {
      if (val === 'Blob') {
        this.detailForm.visibleCondition = true
        this.detailForm.canUseCondition = true
        this.detailForm.isBlob = true
      } else {
        this.detailForm.isBlob = false
      }
    },
    initBefore () {
      let newArr = []
      this.currentOptions.map((item) => {
        newArr.push({
          value: item.data.name + '(' + item.data.displayName + ')',
          key: item.data.name,
          disabled: item.data.flag
        })
      })
      this.beforeOptions = newArr
      // console.log('beforeOptions', this.beforeOptions)
    }
  },
  async created () { // 在这里去获取所有数据模型
    console.log('node', this.data)
    ModelService.listAll('datasourcemodel').then(res => {
      if (res.data) {
        this.dataModelList = res.data
        this.getRelationSourceText()
      }
    })
  },
  async mounted () {
    this.detailForm = this.data.data ? this.data.data : this.data
    if (this.detailForm.isPrimaryKey) {
      this.detailForm.allowEmpty = false
    }
    if (!this.detailForm.numberValidateType) this.$set(this.detailForm, 'numberValidateType', '')
    // let arr = this.detailForm.requiredFieldBeforeUpdate
    if (!this.detailForm.requiredFieldBeforeUpdate || this.detailForm.requiredFieldBeforeUpdate === '[]') this.$set(this.detailForm, 'requiredFieldBeforeUpdate', [])
    this.currentOptions = (this.data.parent && this.data.parent.childNodes) || []

    this.excludeSelf(this.currentOptions, this.detailForm)
    let str = ''
    if (this.detailForm.pickValue) {
      for (let item of this.detailForm.pickValue.data) {
        if (item.code) {
          str += item.code
        }
      }
      this.detailForm.pickValueTransed = str
    }
    this.initBefore()
    await this.getDataKind()
    await this.getDataDirct()
    await this.getShowType()
    await this.getFieldKind()
    await this.getDeploymodule()
    await this.getDataValidateType()
    await this.getformatType()
    console.log(this.showType)
  },
  watch: {
    data (val) {
      this.nodeChanged = true
      this.currentOptions = (val.parent && val.parent.childNodes) || []
      this.detailForm = val.data ? val.data : val
      if (this.detailForm.isPrimaryKey) {
        this.detailForm.allowEmpty = false
      }
      if (!this.detailForm.numberValidateType) this.$set(this.detailForm, 'numberValidateType', '')
      if (!this.detailForm.requiredFieldBeforeUpdate) this.$set(this.detailForm, 'requiredFieldBeforeUpdate', [])
      let str = ''
      if (this.detailForm.pickValue) {
        for (let item of this.detailForm.pickValue.data) {
          if (item.code) {
            str += item.code
          }
        }
        this.detailForm.pickValueTransed = str
      }
      this.excludeSelf(this.currentOptions, this.detailForm)
      this.initBefore()
    },
    relationShow: function (val) { // 打开关联来源dialog的时候请求来源列表、拿目的字段列表
      if (val) {
        this.useFieldList = [] // 获取目的字段列表
        let currentDataset = this.modelInfo[0].children[0]
        if (currentDataset.children && currentDataset.children.length) {
          currentDataset.children.map(table => {
            if (table.children && table.children.length) {
              table.children.map(field => {
                if (field.name) {
                  this.useFieldList.push(field)
                }
              })
            }
          })
          this.useFieldList = lodash.uniqBy(this.useFieldList, 'name') // 去重一下防止出现一样的字段
        }
      } else {
        setTimeout(() => { // 让dialog消失后再去过滤
          let row = this.detailForm
          if (row.relativeDataSources && row.relativeDataSources.length) {
            row.relativeDataSources = row.relativeDataSources.filter(item => {
              return item.relativeSourceName && item.relativeIndex
            })
          }
          this.getRelationSourceText()
        }, 300)
      }
    },
    'detailForm.name': {
      handler (newVal, oldVal) {
        this.getRelationSourceText()
        if (newVal && oldVal && !this.nodeChanged) {
          let confilctItems = this.data.parent.parent.data[`conFlictFileds_${oldVal}`]
          if (confilctItems && confilctItems.length === 2) {
            confilctItems[0].isRed = false
            confilctItems[1].isRed = false
            delete this.data.parent.parent.data[`conFlictFileds_${oldVal}`]
          } else if (confilctItems && confilctItems.length > 2) {
            const index = this.data.parent.parent.data[`conFlictFileds_${oldVal}`].indexOf(this.detailForm)
            this.detailForm.isRed = false
            this.data.parent.parent.data[`conFlictFileds_${oldVal}`].splice(index, 1)
          }
        }
        this.nodeChanged = false
      }
    },
    masterFieldList: {
      handler: function (newV) {
        if (newV.length) {
          newV.map(item => {
            item.label = item.name + '(' + item.displayName + ')'
          })
        }
      },
      deep: true
    }
  }
}
</script>

<style lang='scss' scoped>
.field {
  .detailBox {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    padding-left: 1%;

    .item {
      width: 33%;
      display: flex;
      height: 50px;
      line-height: 50px;

      &.long {
        width: 100%;
      }

      p {
        margin-right: 15px;

        &::after {
          content: ":";
        }
      }
    }
  }
  .detailTitle {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .mainCon {
    max-height: 500px;
  }

  .mainCon2 {
    max-height: 300px;
  }
}
.body {
  .el-form-item {
    display: inline-block;
    width: 90%;
  }
}
</style>
