<template>
  <div class="dictionnary">
    <div class="dictionnaryTop">
      <div class="dictionnaryTitle">
        <h3>字段字典维护</h3>
        <p>设置字段字典，可添加、删除、修改显示字段字典</p>
      </div>
      <div class="dictionnaryButton">
        <div class="topRow">
          <el-input v-model="queryVal" placeholder="请输入需要搜索的名称" clearable @keyup.enter.native="query"></el-input>
        </div>
        <div class="topRow">
          <el-button type="primary" plain icon="el-icon-search" @click="query">查询</el-button>
        </div>
        <div class="topRow">
          <el-button type="primary" icon="el-icon-plus" @click="add">添加</el-button>
        </div>
      </div>
    </div>
    <div class="dictionnaryTable">
      <el-table :data="tableData" border style="width: 100%">
        <el-table-column fixed type="index" label="序号" width="80">
        </el-table-column>
        <el-table-column prop="name" label="名称" width="">
        </el-table-column>
        <el-table-column prop="displayName" label="中文名称" width="">
        </el-table-column>
        <el-table-column prop="typeOption" label="数据类型" width="">
        </el-table-column>
        <el-table-column prop="default" label="默认值" width="">
        </el-table-column>
        <el-table-column prop="length" label="数据长度" width="">
        </el-table-column>
        <el-table-column prop="digits" label="小数位数" width="">
        </el-table-column>
        <el-table-column prop="note" label="备注" width="">
        </el-table-column>
        <el-table-column fixed="right" label="操作" width="100">
          <template slot-scope="scope">
            <el-button @click="edit(scope.row)" type="text" size="small">编辑</el-button>
            <el-button @click="del(scope.row,scope.$index)" type="text" size="small">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="dictionnaryPagination">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :page-sizes="pageSizeArray" :page-size="pageSize" :total="pageTotal" :current-page="pageNo" layout="total, sizes, prev, pager, next, jumper">
      </el-pagination>
    </div>
    <!-- dialog -->
    <el-dialog title="字段字典明细" :visible.sync="dialogVisible" class="dialog" :close-on-click-modal="false" :before-close="handleClose">
      <el-form :model="dialogForm" label-position="right" :rules="rules" ref="dialogForm" label-width="100px" class="demo-ruleForm">
        <el-form-item label="名称" prop="name">
          <el-input v-model="dialogForm.name" placeholder="请输入名称" maxlength="64"></el-input>
        </el-form-item>
        <el-form-item label="中文名称" prop="displayName">
          <name-express @getExpress='getExpress' :initExpress='dialogForm.displayNameFormat' v-if='dialogVisible'></name-express>
        </el-form-item>
        <el-form-item label="默认值" prop="default">
          <el-input v-model="dialogForm.default" placeholder="请输入默认值" maxlength="100"></el-input>
        </el-form-item>
        <el-form-item label="数据类型" prop="typeOption">
          <el-select v-model="dialogForm.typeOption" placeholder="数据类型（名称，最大长度）" style="width:100%">
            <el-option v-for='item in dataKind' :key='item.key' :label='item.value' :value='item.key'></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="数据长度" prop="length">
          <el-input v-model="dialogForm.length" placeholder="请输入内容" maxlength="4"></el-input>
        </el-form-item>
        <el-form-item label="小数位数" prop="digits">
          <el-input v-model="dialogForm.digits" placeholder="请输入内容" :disabled="isdisabled" maxlength="4"></el-input>
        </el-form-item>
        <el-form-item label="备注" prop="note" class="note">
          <el-input type="textarea" v-model="dialogForm.note" maxlength="400"></el-input>
        </el-form-item>
        <div class="dialog-footer" style="display:flex;justify-content:flex-end;">
          <el-button type="primary" @click="dialogConfirm('dialogForm')">保 存</el-button>
          <el-button type="primary" plain @click="dialogExit('dialogForm')">取 消</el-button>
        </div>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import nameExpress from '../../components/nameExpress/input.vue'
import ModelService from '../../assets/js/service/modelservice.js'
import storage from '../../assets/js/service/cacheservice.js'
import { pageCommon } from '../../assets/js/mixin/mixin.js'
import { typeOptions } from '@/assets/js/data/data'
import { mapState, mapActions } from 'vuex'

export default {
  name: 'dictionary',
  components: {
    nameExpress
  },
  mixins: [pageCommon],
  data () {
    let checkNum = (rule, value, callback) => {
      let re = /(^[1-9]\d*$)/
      if (!value) {
        return callback(new Error('请输入数据长度'))
      }
      setTimeout(() => {
        if (!re.test(value)) {
          callback(new Error('请输入正确的数据长度'))
        } else {
          callback()
        }
      }, 1000)
    }
    let checkName = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('名称不能为空'))
      }
      setTimeout(() => {
        let pattern = /^[a-zA-Z0-9_\.-]{1}$/
        for (let key in value) {
          if (!pattern.test(value[key])) {
            callback(new Error('名称只允许为字母数字或者._-等符号'))
            return
          }
        }
        callback()
      }, 300)
    }
    return {
      time: 1,
      queryVal: '', // 查询输入框内容
      dialogVisible: false, // dialog
      expressShow: false, // 显示名称
      expressTableData: [], // 显示名称组件表格
      express: '', // 数据类型显示内容
      tableData: [], // 字典表格数据
      typeOptions, // 下拉数据列表
      dialogForm: { // 弹出框
        name: '',
        displayName: '',
        displayNameFormat: '',
        default: '',
        length: '',
        digits: '',
        typeOption: '',
        note: ''
      },
      // 表单验证规则
      rules: {
        name: [
          { required: true, validator: checkName, trigger: 'blur' }
        ],
        displayName: [
          { required: true, message: '请输入中文名称', trigger: 'blur' }
        ],
        typeOption: [
          { required: true, message: '请选择数据类型', trigger: 'blur' }
        ],
        length: [
          { required: true, validator: checkNum, trigger: 'blur' }
        ]
      },
      displayNameFormat: '',
      isdisabled: true
    }
  },
  async created () {
    await this.getDataKind()
    this.getExpressTableData()
    storage.getItem('appInfo').then(res => {
      // console.log(res)
      this.appName = res.appName
      this.appVersion = res.appVersion
    })
  },
  computed: {
    ...mapState('options', ['dataKind']),
    pokerHistory () {
      return this.dialogForm.typeOption
    }
  },
  watch: {
    queryVal (Nval) {
      if (Nval === '') {
        this.query()
      }
    },
    pokerHistory (newValue, oldValue) {
      // console.log(newValue)
      if (newValue === 'Double' || newValue === 'Decimal') {
        this.isdisabled = false
      } else {
        this.isdisabled = true
      }
    },
    dialogForm: {
      handler: function (newV) {
        if (this.dialogVisible) {
          this.time++
          // console.log(this.time)
        }
      },
      deep: true
    }
  },
  methods: {
    ...mapActions('options', ['getDataKind']),
    // 查询按钮
    query () {
      this.pageNo = 1
      this.getList()
    },
    getList () {
      ModelService.queryByPage('fielddictmodel',
        this.pageNo,
        this.pageSize,
        this.queryVal
      ).then((response) => {
        // console.log(response)
        if (response.code === 200) {
          let res = response.data
          // console.log(res)
          if (res.list.length > 0) {
            let arr = []
            this.pageTotal = parseInt(res.totalRow)
            for (let item of res.list) {
              arr.push({
                mid: item['mid'],
                name: item['name'],
                displayName: item['displayName'],
                typeOption: item['dataType'],
                default: item['defaultValue'],
                length: item['size'],
                digits: item['scale'],
                note: item['description'],
                displayNameFormat: item['displayNameFormat']
              })
            }
            // console.log(arr)
            this.tableData = [...arr]
          } else {
            this.tableData = []
          }
        } else {
          this.$messageService.error(response.message)
        }
      })
    },
    // 获取显示名称列表
    getExpressTableData () {
      ModelService.listAll('displaynamemodel').then((res) => {
        // console.log(res)
        if (res.code === 200) {
          if (res.data.length > 0) {
            let response = res.data
            let arr = []
            for (let item of response) {
              arr.push({
                name: item.name,
                showname: item.displayName
              })
            }
            this.expressTableData = [...arr]
            // console.log(this.expressTableData)
          } else {
            this.expressTableData = []
          }
        } else {
          this.$messageService.error(res.message)
        }
      })
    },
    // 添加按钮
    add () {
      // console.log(this.dialogForm)
      this.dialogForm = {}
      this.isdisabled = true
      this.time = 1
      this.dialogVisible = true
    },
    // 表格编辑
    edit (data) {
      // console.log(data.displayName)
      this.dialogForm = data
      this.time = 1
      this.dialogVisible = true
    },
    // 表格删除
    del (row, index) {
      // console.log(row, index)
      this.$confirm('此操作将永久删除' + '“' + row.name + '”' + ', 是否继续 ? ', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        ModelService.deleteModel('fielddictmodel', row.mid).then((res) => {
          if (res.code === 200) {
            this.query()
            this.$messageService.success('删除成功')
          }
        })
      })
    },
    getExpress (shownameResult, express) {
      this.dialogForm.displayName = shownameResult
      this.dialogForm.displayNameFormat = express || shownameResult
      this.expressShow = false
    },
    // dialog确定
    dialogConfirm (formName) {
      // console.log(this.dialogForm, this.displayNameFormat)
      this.$refs[formName].validate((valid) => {
        if (valid) {
          ModelService.saveModel('fielddictmodel', {
            mid: this.dialogForm.mid,
            name: this.dialogForm.name,
            displayName: this.dialogForm.displayName,
            displayNameFormat: this.dialogForm.displayNameFormat,
            dataType: this.dialogForm.typeOption,
            defaultValue: this.dialogForm.default,
            size: this.dialogForm.length,
            scale: this.dialogForm.digits,
            description: this.dialogForm.note,
            appName: this.appName,
            appVersion: this.appVersion
          }).then((res) => {
            // console.log(res)
            if (res.code === 200) {
              this.$refs[formName].resetFields()
              this.query()
              this.dialogVisible = false
              this.$messageService.success('保存成功')
            }
          })
        } else {
          // console.log('error submit!!')
          return false
        }
      })
    },
    // dialog取消
    dialogExit (formName) {
      if (this.time > 2) {
        this.$confirm(`是否放弃当前编辑并退出？`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$refs[formName].resetFields()
          this.query()
          this.dialogVisible = false
          this.time = 1
        })
      } else {
        this.$refs[formName].resetFields()
        this.query()
        this.dialogVisible = false
        this.time = 1
      }
    },
    handleClose () {
      this.dialogExit('dialogForm')
    }
  }
}
</script>

<style scoped lang='scss'>
.dictionnary {
  background-color: #fff;
  padding: $content-box-righ-padding;
  box-sizing: border-box;
  border-radius: 5px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .dictionnaryTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 16px 0;
    .dictionnaryTitle {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h3 {
        line-height: 24px;
        font-weight: 700;
        font-size: 18px;
      }
      p {
        line-height: 16px;
        font-size: 14px;
        color: #999999;
      }
    }
    .dictionnaryButton {
      display: flex;
      align-items: center;
      .topRow {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: 12px;
      }
    }
  }
  .dictionnaryTable {
    width: 100%;
    // margin-top: 16px;
    margin-bottom: 32px;
  }
  .dictionnaryPagination {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .dialog {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .dialogMain {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
      flex-wrap: wrap;
      .iptRow {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 45%;
        margin-bottom: 16px;
        div {
          display: flex;
          // justify-content: flex-end;
          align-items: center;
          span {
            color: #f56c6c;
            margin-right: 4px;
          }
        }
      }
      .textarea {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        div {
          display: flex;
          // justify-content: flex-end;
          align-items: center;
        }
      }
    }
  }
}
</style>
<style lang='scss'>
.dictionnary .dialog .el-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dictionnary .el-dialog {
  width: 800px;
}
.dictionnary .dialog .el-form-item {
  width: 48% !important;
  height: 32px;
  line-height: 32px;
  margin-bottom: 18px;
}
.dictionnary .el-form-item__label {
  height: 32px;
  line-height: 32px;
}
.dictionnary .el-input__inner,
.dictionnary .el-form-item__content {
  height: 32px !important;
  line-height: 32px;
}
.dictionnary .dialog .note {
  width: 100%;
}
.dictionnary .dialog .switch {
  width: 48%;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.dictionnary .dialog .dialog-footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
</style>
