<template>
  <div class="permissions">
    <el-input placeholder="请选择权限行为" v-model="selectStr" @focus="getFocus">
      <i slot="suffix" class="el-input__icon" :class="inputStatus ? 'el-icon-arrow-up' : 'el-icon-arrow-down' " @click="changeSelect"></i>
    </el-input>
    <div class="outBox" v-if="inputStatus===true">
      <div class="listBox">
        <el-scrollbar style="height:100%">
          <div class="commonOut">
            <div class="commonRow" v-for="(list,index) in permissions" :key="index" @mouseover="hoverFct(list)" @mouseout="leaveFct(list)">
              <el-checkbox v-model="list.checked">{{list.label}}</el-checkbox>
              <i class="el-icon-delete" v-show="list.delectShow" @click="deleteFc(list,index)"></i>
            </div>
          </div>
        </el-scrollbar>
      </div>
      <div class="addBox" @click="addPonit">
        <i class="el-icon-plus"></i>
      </div>
    </div>
  </div>
</template>
<script type="text/ecmascript-6">
export default {
  name: 'permissions',
  props: {
    permissions: Array,
    selectStr: String,
    inputStatus: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      // inputStatus: false
      // permissions: [
      //   {
      //     value: '',
      //     label: 'add-新增',
      //     checked: 'false',
      //     type: 1,
      //     delectShow: false
      //   }
      // ]
    }
  },
  watch: {

  },
  mounted () {
    console.log(this.permissions)
    window.document.addEventListener('click', this.fn, false)
  },
  methods: {
    getFocus () {
      this.$emit('update:inputStatus', !this.inputStatus)
    },
    // 点击input，切换下拉数据的展开和收起
    changeSelect () {
      this.$emit('changeSelect')
      // console.log(this.inputStatus)
    },
    // 鼠标移入事件
    hoverFct (list) {
      if (list.type !== 0) {
        list.delectShow = true
      }
    },
    // 鼠标移除事件
    leaveFct (list) {
      list.delectShow = false
    },
    // 监听所有的点击事件，离开组件下拉框收起
    fn (e) { // 监听全部点击事件，控制选项框的显示和隐藏
      const className = e.target.className
      if (className === 'outBox' || className === 'el-input__inner' || className === 'el-input__icon el-icon-arrow-down' || className === 'el-checkbox__label' || className === 'el-checkbox__original' || className === 'commonRow' || className === 'el-icon-delete' || className === 'addBox' || className === 'el-icon-plus' || className === 'el-checkbox__inner' || className === 'el-checkbox__input' || className === 'el-checkbox') {
      } else {
        this.$emit('update:inputStatus', false)
      }
    },
    // 删除事件
    deleteFc (val, index) {
      this.$emit('deleteFc', val, index)
    },
    // 添加权限点事件
    addPonit () {
      this.$emit('addPonit')
    }
  }
}
</script>
<style scoped lang='scss'>
.permissions {
  width: 100%;
  height: 100%;
  position: relative;
  .outBox {
    width: 100%;
    height: 230px;
    border: 1px solid #eee;
    border-radius: 2px;
    position: absolute;
    top: 42px;
    z-index: 100000;
    background: #fff;
    display: flex;
    flex-direction: column;
    .addBox {
      width: 100%;
      height: 32px;
      text-align: center;
      line-height: 32px;
      background: #ecf5ff;
      color: #409eff;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
    }
    .listBox {
      width: 100%;
      height: 198px;
      .commonOut {
        width: 100%;
        height: 100%;
        .commonRow {
          width: 100%;
          height: 32px;
          padding: 0 16px;
          line-height: 32px;
          box-sizing: border-box;
          .el-icon-delete {
            float: right;
            height: 32px;
            line-height: 32px;
            cursor: pointer;
          }
        }
        .commonRow:hover {
          background: #ecf5ff;
        }
      }
    }
  }
}
.el-input__icon {
  line-height: 32px;
}
</style>
<style>
.permissions .el-scrollbar__wrap {
  overflow-x: hidden;
}
</style>
