<template>
  <div class="outBox">
    <div class="top">
      <p>显示名称表达式</p>
      <el-input v-model="expressResult" class="expressinput"></el-input>
      <div class="btn">
        <el-button type="primary" @click="submit">确定</el-button>
      </div>
    </div>
    <div class="search">
      <el-input placeholder='请输入需要搜索的名称' v-model="searchText" prefix-icon='el-icon-search'></el-input>
    </div>
    <div class="list">
      <el-table :data="filted" border fixed style="width: 100%">
        <el-table-column prop="name" label="名称">
        </el-table-column>
        <el-table-column prop="showname" label="显示名称">
        </el-table-column>
        <el-table-column label="操作" fixed="right" width="50">
          <template slot-scope="scope">
            <i :class="['icon-iconfontadd', 'iconfont']" @click="addExpress(scope.row)"></i>
          </template>
        </el-table-column>
      </el-table>
      <div class="more">向下加载更多</div>
    </div>
  </div>
</template>
<script>
import ModelService from '../../assets/js/service/modelservice.js'
export default {
  name: 'nameExpress',
  props: {
    tableData: Array,
    initExpress: String
  },
  data () {
    return {
      searchText: '',
      expressResult: '', // 表达式字符串
      showNameResult: '', // 显示名称字符串
      filted: []
    }
  },
  methods: {
    addExpress (row) {
      this.expressResult += `{${row.name}}`
    },
    submit () {
      this.showNameResult = this.expressResult.replace(/{(.*?)}/g, (word) => {
        const val = word.slice(1, word.length - 1)
        this.tableData.forEach(item => {
          if (item.name === val) {
            word = item.showname
          }
        })
        return word
      })
      this.$emit('getExpress', this.showNameResult, this.expressResult)
    }
  },
  watch: {
    searchText (val) {
      if (val) {
        this.filted = this.tableData.filter((item) => {
          const itemStr = item.name.toString().toUpperCase()
          const valStr = val.toUpperCase()
          return itemStr.indexOf(valStr) > -1
        })
      } else {
        this.filted = this.tableData
      }
    }
  },
  async mounted () {
    const res = await ModelService.listAll('displaynamemodel')
    let initData = []
    if (res && res.data && res.data.length) {
      initData = res.data
      for (let item of initData) {
        item.showname = item.displayName
      }
    }
    this.tableData = this.tableData ? this.tableData : initData
    this.filted = this.tableData
    this.expressResult = this.initExpress || ''
  }
}
</script>

<style scoped lang='scss'>
.outBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ccc;
        padding-bottom: 15px;
        p {
            width: 160px;
        }
        .btn {
            margin-left: 15px;
        }
    }
    .search {
        margin-top: 15px;
    }
    .list {
        margin-top: 15px;
    }
    .more {
        text-align: center;
        color: #ccc;
        margin-top: 25px;
        &::before {
            content: "-------- ";
        }
        &::after {
            content: " --------";
        }
    }
}
</style>
