<template>
  <div>
    <el-input
      v-model="inputName"
      @focus="changeInputName"
      @blur="inputBlur"
      id='input'
      ref='input'
      maxlength="100"
    >
      <i
        slot="suffix"
        class="el-icon-search"
        @click="showExpress"
        id='icon'
      ></i>
    </el-input>
    <el-dialog
      title="设定表达式"
      :visible.sync="expressShow"
      v-if='expressShow'
      width="30%"
      class='dialog'
      append-to-body
    >
      <div class="outBox">
        <div class="top">
          <p>表达式</p>
          <el-input
            v-model="expressResult"
            class="expressinput"
            ref='tempInput'
            @mouseup.native="tempMouseup"
          ></el-input>
          <div class="btn">
            <el-button
              type="primary"
              @click="submit"
            >确定</el-button>
          </div>
        </div>
        <div class="search">
          <el-input
            placeholder='请输入需要搜索的名称'
            v-model="searchText"
            prefix-icon='el-icon-search'
          ></el-input>
        </div>
        <div class="list">
          <el-scrollbar
            style="heigh:100%"
            wrap-class="mainCon2"
          >
            <el-table
              :data="filted"
              border
              style="width: 100%;"
            >
              <el-table-column
                prop="name"
                label="名称"
              >
              </el-table-column>
              <el-table-column
                prop="showname"
                label="显示名称"
              >
              </el-table-column>
              <el-table-column
                label="操作"
                width="50"
              >
                <template slot-scope="scope">
                  <i
                    :class="['icon-iconfontadd', 'iconfont']"
                    @click="addExpress(scope.row)"
                  ></i>
                </template>
              </el-table-column>
            </el-table>
            <div class="more">向下加载更多</div>
          </el-scrollbar>
        </div>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import ModelService from '../../assets/js/service/modelservice.js'
import Tools from './tools.js'
export default {
  name: 'nameExpress',
  props: {
    initExpress: String,
    needFcous: Boolean,
    listData: Object
  },
  data () {
    return {
      expressShow: false,
      searchText: '',
      expressResult: '', // 表达式字符串
      showNameResult: '', // 显示名称字符串
      filted: [],
      tableData: [],
      inputName: '',
      tempInputIndex: 0,
      submitFlag: false
    }
  },
  methods: {
    tempMouseup () {
      this.tempInputIndex = this.$refs.tempInput.$el.children[0].selectionStart
    },
    addExpress (row) {
      this.$refs.input.focus()
      this.expressResult = Tools.insertByIndex(this.expressResult, `{${row.name}}`, this.tempInputIndex)
      this.tempInputIndex = this.expressResult.length
    },
    compuetShowNameRes () {
      this.showNameResult = !this.expressResult ? this.expressResult : this.expressResult.replace(/{(.*?)}/g, (word) => {
        const val = word.slice(1, word.length - 1)
        this.tableData.forEach(item => {
          if (item.name === val) {
            word = item.showname
          }
        })
        return word
      })
    },
    submit () {
      this.submitFlag = true
      this.compuetShowNameRes()
      this.expressShow = false
      this.$emit('getExpress', this.showNameResult, this.expressResult)
    },
    showExpress () {
      this.$refs.input.focus()
      this.expressResult = this.inputName
      this.expressShow = true
    },
    changeInputName () {
      this.inputName = this.expressResult
    },
    backToName () {
      this.inputName = this.showNameResult
    },
    inputBlur () {
      if (this.inputName.indexOf('{') === -1) {
        this.showNameResult = this.inputName
      }
      this.$emit('getExpress', this.showNameResult || this.inputName, this.expressResult || this.inputName)
    }
  },
  watch: {
    searchText (val) {
      if (val) {
        this.filted = this.tableData.filter((item) => {
          const itemStr = item.name.toString().toUpperCase()
          const valStr = val.toUpperCase()
          return itemStr.indexOf(valStr) > -1
        })
      } else {
        this.filted = this.tableData
      }
    },
    inputName (val) {
      if (val) {
        this.expressResult = val
        let copyTableData = JSON.parse(JSON.stringify(this.tableData))
        copyTableData = copyTableData.sort(Tools.sortByLength)
        for (let item of copyTableData) {
          if (this.expressResult.indexOf(item.displayName) >= 0 && item.displayName && item.name) {
            this.expressResult = this.expressResult.replace(new RegExp(item.displayName, 'g'), `{${item.name}}`)
          }
        }
      } else {
        this.showNameResult = val
        this.expressResult = val
      }
    },
    initExpress (val) {
      this.inputName = !val ? val : val.replace(/{(.*?)}/g, (word) => {
        const val = word.slice(1, word.length - 1)
        this.tableData.forEach(item => {
          if (item.name === val) {
            word = item.showname
          }
        })
        return word
      })
    },
    expressResult (val) {
      if (!val && this.submitFlag) {
        this.$refs.input.focus()
      }
      this.submitFlag = false
    }
  },
  async mounted () {
    document.addEventListener('click', e => {
      if (e.target.id !== 'input') {
        this.compuetShowNameRes()
        this.backToName()
      }
    })
    if (!this.listData) {
      const res = await ModelService.listAll('displaynamemodel')
      if (res && res.data && res.data.length) {
        this.tableData = res.data
      }
    } else {
      this.tableData = this.listData.data
    }

    for (let item of this.tableData) {
      item.showname = item.displayName
    }

    this.filted = this.tableData
    this.expressResult = this.initExpress || ''
    this.compuetShowNameRes()
    this.inputName = this.showNameResult
  },
  destroyed () {
    this.expressResult = '' // 表达式字符串
    this.showNameResult = '' // 显示名称字符串
  }
}
</script>

<style scoped lang='scss'>
.outBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    p {
      width: 160px;
    }
    .btn {
      margin-left: 15px;
    }
  }
  .search {
    margin-top: 15px;
  }
  .list {
    margin-top: 15px;
  }
  .more {
    text-align: center;
    color: #ccc;
    margin-top: 25px;
    &::before {
      content: "-------- ";
    }
    &::after {
      content: " --------";
    }
  }
}
</style>
