<template>
  <div class="dataBaseBox">
    <div class="step step1" v-if='step===1'>
      <div class="functionTop">
        <div class="functionTitle">
          <h3>升级/创建模型数据结构</h3>
          <p>选取数据模型，进行结构差异分析，执行升级/创建数据表结构</p>
        </div>
      </div>
      <!-- 选择数据模型 -->
      <el-table :data="tableData" border style="width: 100%" key=1 class="el-form-item">
        <el-table-column type="index" label="序号" width="80">
        </el-table-column>
        <el-table-column label="名称" width="130" label-class-name='require'>
          <template slot-scope="scope">
            <span v-if="!scope.row.selectable">{{scope.row.name}}</span>
            <el-select v-else v-model="scope.row.item" placeholder="请选择数据模型" @change='selectModel(scope)'>
              <el-option label="全部模型" :value="allModel"></el-option>
              <el-option v-for="item in dataModelList" :key="item.name" :label="item.name+'('+item.displayName+')'" :value="item" :disabled="item.disabled">
              </el-option>
            </el-select>
          </template>
        </el-table-column>
        <el-table-column label="中文名称">
          <template slot-scope="scope">
            <span>{{scope.row.displayName}}</span>
          </template>
        </el-table-column>
        <el-table-column label="最后修改人">
          <template slot-scope="scope">
            <span>{{scope.row.lastEditor}}</span>
          </template>
        </el-table-column>
        <el-table-column label="最后修改时间">
          <template slot-scope="scope">
            <span>{{scope.row.lastEditTime}}</span>
          </template>
        </el-table-column>
        <el-table-column label="执行状态">
          <template slot-scope="scope">
            <span>{{scope.row.status}}</span>
          </template>
        </el-table-column>
        <el-table-column label="执行方式" label-class-name='require'>
          <template slot-scope="scope">
            <el-select v-model="scope.row.executionMode" placeholder="请选择执行方式" v-if="!scope.row.selectable" :disabled="scope.row.flag">
              <el-option key="1" label="升级结构" value='f'></el-option>
              <el-option key="2" label="强制创建" value='t'></el-option>
            </el-select>
          </template>
        </el-table-column>
        <el-table-column fixed="right" align='left' label="操作" width="100">
          <template slot-scope="scope">
            <el-button @click="setRow('add', scope)" type="text" size="small" v-if="!scope.row.flag">新增</el-button>
            <el-button @click="setRow('del', scope)" type="text" size="small">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- <div class="pagination">
        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="pageNo" :page-sizes="[10, 20, 30, 40]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="pageTotal">
        </el-pagination>
      </div> -->
      <div class='btnBox'>
        <el-button type="primary" @click="addAll">全部模型</el-button>
        <el-button type="primary" @click="analyse">下一步</el-button>
        <el-button type="primary" plain @click="goInit">取消</el-button>
      </div>
    </div>
    <!-- 分析后的结果 -->
    <div class="step step2" v-else-if='step===2'>
      <div class="functionTop">
        <div class="functionTitle">
          <h3>升级/创建模型数据结构</h3>
          <p>选取数据模型，进行结构差异分析，执行升级/创建数据表结构</p>
        </div>
      </div>
      <el-table :data="analyseList" border style="width: 100%" tooltip-effect="light" key=2 :row-class-name="tableRowClassName">
        <el-table-column label="名称" width="130">
          <template slot-scope="scope">
            <span>{{scope.row.dataSourceName}}</span>
          </template>
        </el-table-column>
        <el-table-column label="表名" width="220" :show-overflow-tooltip="true">
          <template slot-scope="scope">
            <span>{{scope.row.dbTableName}}</span>
          </template>
        </el-table-column>
        <el-table-column label="数据库结构">
          <template slot-scope="scope">
            <span :class="[scope.row.noChange==1? 'gray':'']">{{scope.row.oldData}}</span>
          </template>
        </el-table-column>
        <el-table-column label="模型结构" :show-overflow-tooltip="true">
          <template slot-scope="scope">
            <span :class="[scope.row.noChange==1? 'gray':'']">{{scope.row.newData}}</span>
          </template>
        </el-table-column>
      </el-table>
      <div class='btnBox'>
        <el-button type="primary" @click="exportData">导出</el-button>
        <el-button type="primary" @click="lastStep">上一步</el-button>
        <el-button type="primary" @click="upgrade">执行</el-button>
        <el-button type="primary" plain @click="goInit">取消</el-button>
      </div>
    </div>
    <!-- 执行后的结果 -->
    <div class="step step3" v-else-if='step===3'>
      <div class="functionTop">
        <div class="functionTitle">
          <h3>升级/创建模型数据结构</h3>
          <p>选取数据模型，进行结构差异分析，执行升级/创建数据表结构</p>
        </div>
      </div>
      <el-table :data="modelData" border style="width: 100%" key=3 tooltip-effect="light" :row-class-name="tableRowClassName">
        <el-table-column prop="dataSourceName" label="模型名称">
        </el-table-column>
        <el-table-column prop="dbTableName" label="表名">
        </el-table-column>
        <el-table-column prop="success" label="（执行状态）">
          <template slot-scope="scope">
            <span>{{scope.row.success? '处理成功': '处理失败'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="updateType" label="执行方式">
          <template slot-scope="scope">
            <span>{{scope.row.updateType==0? '升级结构': '强制创建'}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="errorMsg" label="执行日志" :show-overflow-tooltip="true" width="600">
        </el-table-column>
      </el-table>
      <div class='btnBox'>
        <el-button type="primary" @click="exportData">导出</el-button>
        <el-button type="primary" plain @click="finished">完成</el-button>
      </div>
    </div>
  </div>
</template>
<script>
import modelService from '@/assets/js/service/modelservice'
import { bus } from '@/assets/js/comm/constant'

export default {
  name: 'dataBase',
  components: {},
  data () {
    return {
      step: 1,
      dataModelList: [{}],
      tableData: [{
        selectable: true
      }],
      analyseList: [],
      upgradeList: [],
      modelData: [],
      allModel: { selectable: false, name: '全部模型', status: '未处理', executionMode: 'f', flag: true }, // 选中所有模型
      pageSizeArray: [10, 20, 50],
      pageNo: 1,
      pageSize: 10,
      pageTotal: 0
    }
  },
  created () {
    this.getList()
    this.appInfo = JSON.parse(localStorage.appInfo)
  },
  methods: {
    getList () { // 获取到所有的数据模型
      modelService.listAll('datasourcemodel').then((res) => {
        if (res.data) {
          this.dataModelList = res.data
        }
      })
    },
    setRow (type, scope) {
      console.log(scope.row)
      const index = scope.$index
      if (type === 'add') {
        this.tableData.splice(index + 1, 0, { selectable: true })
      } else {
        this.tableData.splice(index, 1)
        if (this.tableData.length === 0) this.tableData.push({ selectable: true })
        this.dataModelList.map((v, i) => {
          if (scope.row.name === '全部模型') {
            this.dataModelList[i].disabled = false
          } else {
            if (v.mid === scope.row.mid) this.dataModelList[i].disabled = false
          }
        })
      }
    },
    selectModel (scope) {
      if (scope.row.item.name === '全部模型') {
        this.tableData = []
        this.tableData.push(this.allModel)
      } else {
        this.$set(scope.row.item, 'status', '未处理')
        this.$set(scope.row.item, 'executionMode', 'f')
        this.tableData.splice(scope.$index, 1, scope.row.item)
        // this.tableData.splice(scope.$index + 1, 0, { selectable: true })
        if (scope.$index === this.tableData.length - 1) this.tableData.push({ selectable: true })
      }
      this.dataModelList.map((v, i) => {
        if (v.mid === scope.row.item.mid) this.dataModelList[i].disabled = true
      })
    },
    getIds () {
      let payload = { ids: '', appName: this.appInfo.appName, appVersion: this.appInfo.appVersion }
      if (this.tableData.length === 1 && this.tableData[0].name === '全部模型') {
        payload.ids = 'all'
      } else {
        this.tableData.map((item) => {
          if (item.name) {
            payload.ids += ',' + item.mid + item.executionMode
          }
        })
        payload.ids = payload.ids.replace(',', '')
      }
      return payload
    },
    analyse () { // 分析
      let payload = this.getIds()
      if (payload.ids === '') {
        this.$messageService.info('请先选择数据模型')
        return
      }
      modelService.analyse(payload).then((res) => {
        if (res.data) {
          this.analyseList = res.data.analyseList || []
          this.upgradeList = res.data.upgradeList || []
          this.step = 2
          this.tableData = this.tableData.filter(v => v.name)
        }
      })
    },
    goInit () {
      // if (this.tableData.length !== 0) {
      let index
      JSON.parse(localStorage.tags).map((item, i) => {
        if (this.$route.path === item.path) {
          index = i
        }
      })
      bus.$emit('triggerClick', index)
      // }
      this.tableData = [{ selectable: true }]
      this.step = 1
    },
    exportData () { // 导出数据

    },
    lastStep () {
      this.step = 1
    },
    upgrade () { // 升级
      this.$confirm('升级/创建数据库结构不可撤销，请确定当前数据库没有在使用并且已经进行了数据库备份?', '提示', {
        cancelButtonText: '取消',
        confirmButtonText: '确定',
        type: 'warning'
      }).then(() => {
        let upgradeList = this.upgradeList
        // if (payload.ids === '') {
        //   this.$messageService.info('请先选择数据模型')
        //   return
        // }
        modelService.upgrade(upgradeList).then((res) => {
          this.modelData = res.data
          this.step = 3
        })
      }).catch(() => { })
    },
    createForcibly () { // 强制创建
      let payload = this.getIds()
      if (payload.ids === '') {
        this.$messageService.info('请先选择数据模型')
        return
      }
      modelService.createForcibly(payload).then((res) => {
        if (res.data) {
          this.analyseList = res.data
        }
      })
    },
    select (selected) { // 选择列表选项事件
      this.selected = selected
    },
    // 全部模型
    addAll () {
      this.dataModelList.map((v, i) => {
        this.dataModelList[i].disabled = false
      })
      this.tableData = []
      this.tableData.push(this.allModel)
    },
    // 完成
    finished () {
      this.dataModelList.map((v, i) => {
        this.dataModelList[i].disabled = false
      })
      this.tableData = [{ selectable: true }]
      this.step = 1
    },
    // 设置斑马线
    tableRowClassName ({ row, column, rowIndex }) {
      if (rowIndex % 2 === 0) {
        return 'even'
      } else {
        return 'odd'
      }
    }
  }
}
</script>

<style scoped lang='scss'>
.dataBaseBox {
  min-height: 100%;
  width: 100%;
  background: $main-bg;
  // .el-table {
  //   .warning-row {
  //     background: oldlace;
  //   }
  //   .success-row {
  //     background: #f0f9eb;
  //   }
  // }

  .step {
    background: $main-bg;
    height: 100%;
    box-sizing: border-box;
    padding: $main-padding;
    .pagination {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
    }
    .functionTop {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 16px 0 16px 0;
      .functionTitle {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h3 {
          line-height: 24px;
          font-weight: 700;
          font-size: 18px;
        }
        p {
          line-height: 16px;
          font-size: 14px;
          color: #999999;
        }
      }
    }
    .btnBox {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
      .el-button {
        margin: 0 10px;
      }
    }
    .gray {
      color: #ddd;
    }
  }
}
</style>
