<template>
  <div class='bill'>
    <div class="block">
      <el-date-picker class='picker' v-model="value2" align="right" type="date" placeholder="选择日期" :picker-options="pickerOptions1">
      </el-date-picker>
      <div class="text">次月10日出本月账单</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'bill',
  data () {
    return {
      pickerOptions1: {
        disabledDate (time) {
          return time.getTime() > Date.now()
        },
        shortcuts: [{
          text: '今天',
          onClick (picker) {
            picker.$emit('pick', new Date())
          }
        }, {
          text: '昨天',
          onClick (picker) {
            const date = new Date()
            date.setTime(date.getTime() - 3600 * 1000 * 24)
            picker.$emit('pick', date)
          }
        }, {
          text: '一周前',
          onClick (picker) {
            const date = new Date()
            date.setTime(date.getTime() - 3600 * 1000 * 24 * 7)
            picker.$emit('pick', date)
          }
        }]
      },
      value2: ''
    }
  }
}
</script>

<style scoped lang='scss'>
.bill {
    // @extend %full;
    // background: rgb(221, 204, 106);
    padding: 20px;
    .block {
        height: 500px;
        .picker {
            margin: 0 auto;
        }
    }
    .text {
        color: #666;
        font-size: 14px;
        width: 100%;
        height: 500px;
        text-align: center;
        line-height: 500px;
    }
}
</style>
