<template>
  <div class="configuration">
    <div class="functionTop">
      <div class="functionTitle">
        <h3>配置包维护</h3>
        <p>维护配置包，可添加、编辑、删除，用于定义销售版本</p>
      </div>
      <div class="functionButton">
        <div class="topRow el-form-item">
          <el-input v-model="filterWord" placeholder="请输入需要搜索的名称" maxlength="64"></el-input>
        </div>
        <div class="topRow">
          <el-button type="primary" plain icon="el-icon-search">查询</el-button>
        </div>
        <div class="topRow">
          <el-button type="primary" @click="changeConfig(form, '添加')" icon="el-icon-plus">添加</el-button>
        </div>
      </div>
    </div>
    <!-- 表格树组件 -->
    <div class='configurationTable'>
      <table-tree ref='tableTree' :data="tableData" :columns="tableTreeColumns" :filterText='filterWord' border :props='defaultProps'>
        <el-table-column prop="online" label="限制在线数" width='150px'>
          <template slot-scope="scope">
            <el-switch :value="scope.row.limitOnline === 1 ? true : false" active-color="#13ce66" inactive-color="#dcdfe6" disabled>
            </el-switch>
          </template>
        </el-table-column>
        <el-table-column prop="description" label="描述">
          <template slot-scope="scope">
            {{scope.row.description}}
          </template>
        </el-table-column>
        <el-table-column label="操作" width="100" fixed='right' align='left'>
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="changeConfig(scope.row, '编辑')">编辑</el-button>
            <el-button type="text" size="small" @click='resetForm("您确定删除这个配置项吗？", scope, "delete")'>删除</el-button>
          </template>
        </el-table-column>
      </table-tree>
    </div>
    <!-- dialog中包裹表单 -->
    <el-dialog title="配置包明细" :visible.sync="dialogVisible" :close-on-click-modal="false" :close-on-press-escape='false' :before-close='handleClose'>
      <el-form :model="form" class='tableForm clearfix' label-position="right" :inline="true" :rules="rules" ref='configForm'>
        <el-form-item label="名称:" :label-width="formLabelWidth" prop="name">
          <el-input v-model="form.name" auto-complete="off" maxlength="64"></el-input>
        </el-form-item>
        <el-form-item label="中文名称" prop="displayName" :label-width="formLabelWidth">
          <name-express @getExpress='getExpress' :initExpress='form.displayNameFormat'></name-express>
        </el-form-item>
        <el-form-item label="简称:" :label-width="formLabelWidth" prop="shortName">
          <el-input v-model="form.shortName" auto-complete="off" maxlength="64"></el-input>
        </el-form-item>
        <el-form-item label="上级配置包:" :label-width="formLabelWidth">
          <searchBox1 ref='searchBox' :options='tableData' type='tree' @select="selectThree" placeholder="请选择或者搜索" class='searchBox' limit=2 :disabled='disabled' :props='betaProps'></searchBox1>
        </el-form-item>
        <el-form-item label="限制在线数:" :label-width="formLabelWidth" prop="limitOnline">
          <el-radio v-model="form.limitOnline" :label="1">限制</el-radio>
          <el-radio v-model="form.limitOnline" :label='0'>不限</el-radio>
        </el-form-item>
        <el-form-item label="描述:" :label-width="formLabelWidth">
          <el-input type="text" placeholder="请输入描述" v-model="form.description" maxlength="200">
          </el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="save">保存</el-button>
        <el-button type='primary' plain @click="resetForm('是否放弃当前编辑并退出？', {}, 'close')">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { nameReg } from '@/assets/js/comm/constant'
import tableTree from '@/components/tableTree'
import searchBox1 from '@/components/searchBox/beta'
import nameExpress from '@/components/nameExpress/input.vue'
import modelService from '@/assets/js/service/modelservice'

export default {
  name: 'configuration',
  components: {
    tableTree,
    searchBox1,
    nameExpress
  },
  data () {
    let checkName = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('配置包名称不能为空'))
      }
      setTimeout(() => {
        if (!nameReg.test(value)) {
          callback(new Error('名称只允许为字母数字或者._-且不能数字开头'))
          return
        }
        callback()
      }, 300)
    }
    let checkDisplayName = (rule, value, callback) => {
      let checkName = /^[\u4e00-\u9fa5]+$/
      if (!value) {
        return callback(new Error('请输入中文名称'))
      }
      setTimeout(() => {
        if (!checkName.test(value)) {
          callback(new Error('请输入正确的中文名称,中文名称只允许中文组成'))
        } else {
          callback()
        }
      }, 1000)
    }
    return {
      expressShow: false, // 表达式选择组件
      dialogVisible: false,
      formLabelWidth: '100px',
      parent: {},
      filterWord: '',
      tableData: [],
      time: 1, // 协助判断是否改动了dialog表单值
      defaultProps: { // searchBox中下拉树的props
        children: 'child', // 下拉树或者表格树中表示子节点数组的属性
        label: 'displayName', // 下拉树中用来显示的名称
        id: 'mid', // 用来表示树节点唯一标志的属性
        keyWord: 'name'// 用来筛选或者显示的属性
      },
      betaProps: { // searchBox中下拉树的props
        children: 'child', // 下拉树或者表格树中表示子节点数组的属性
        label: 'label', // 下拉树中用来显示的名称
        id: 'mid', // 用来表示树节点唯一标志的属性
        keyWord: 'name'// 用来筛选或者显示的属性
      },
      changeType: '添加', // 添加或者编辑
      express: '',
      form: {
        show: true, // 控制节点自身是否显示
        visible: false, // 控制节点删除的对话框显示与否
        mid: 0, // 主键 唯一id
        limitOnline: 1, // 限制在线数
        name: '', // 名称
        displayName: '', // 中文名称
        displayNameFormat: '', // 中文名称格式
        shortName: '', // 简称
        description: ''
      },
      rules: {
        name: [
          { required: true, validator: checkName, trigger: 'blur' }
          // { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
        ],
        displayName: [
          { required: true, validator: checkDisplayName, message: '请输入正确的中文名称,中文名称只允许中文组成' }
        ],
        shortName: [
          { required: true, message: '请输入简称', trigger: 'blur' }
        ],
        limitOnline: [
          { required: true, message: '请选择是否限制在线数', trigger: 'blur' }
        ]
      },
      tableTreeColumns: [
        {
          text: '名称',
          value: 'name',
          width: 250
        },
        {
          text: '中文名称',
          value: 'displayName',
          width: 250
        },
        {
          text: '简称',
          value: 'shortName',
          width: 150
        }
      ]
    }
  },
  computed: {
    disabled () {
      return this.changeType === '编辑'
    }
  },
  watch: {
    dialogVisible: function (newValue) {
      if (!newValue) {
        this.$refs.searchBox.selectTreeNode({}, { checkedKeys: [] })
        this.parent = {}
        this.getConfigTree()
      }
    },
    form: {
      handler: function (newV) {
        if (this.dialogVisible) {
          this.time++
        }
      },
      deep: true
    }
  },
  created () {
    this.getConfigTree()
  },
  methods: {
    getConfigTree () { // 获取配置包树
      modelService.configTree().then((res) => {
        if (res.data) {
          this.tableData = res.data
          this.setLabel(this.tableData)
        }
      })
    },
    setLabel (data) { // 给每个树节点设置自定义文本
      data.map((item, index) => {
        item.label = item.name + '(' + item.displayName + ')'
        if (item.child && item.child.length) {
          this.setLabel(item.child)
        }
      })
    },
    selectThree (data, nodes) { // 选择一个父节点
      this.parent = data
    },
    getExpress (name, format) {
      this.expressShow = false
      this.form.displayName = name
      this.form.displayNameFormat = format || name
    },
    cancelDialog () {
      this.dialogVisible = false
      this.form = {
        show: true, // 控制节点自身是否显示
        visible: false, // 控制节点删除的对话框显示与否
        mid: 0, // 主键 唯一id
        limitOnline: 1, // 限制在线数
        name: '', // 模型名称
        displayName: '', // 中文名称
        displayNameFormat: '', // 中文名称格式
        shortName: '', // 简称
        description: ''
      }
      this.time = 1
    },
    changeConfig (data, type) { // 添加/编辑配置包节点 data:要编辑的配置包节点数据
      if (type === '添加') {
        this.cancelDialog()
      } else {
        this.form = data
      }
      this.dialogVisible = true
      this.changeType = type
      this.time = 1
    },
    save () { // 新增/编辑菜单
      this.$refs['configForm'].validate((valid) => {
        if (!valid) return false
        let parentId = this.parent.mid ? this.parent.mid : null
        this.form.child = null
        this.form.parent = null
        const appInfo = JSON.parse(localStorage.appInfo)
        // this.form.displayNameFormat = this.form.displayNameFormat ? this.form.displayNameFormat : this.form.displayName
        let obj = { appName: appInfo.appName, appVersion: appInfo.appVersion, parentId, ...this.form }
        modelService.saveModel('deploymodulemodel', obj).then((res) => {
          this.$messageService.success(`${this.changeType}配置包成功!`)
          this.getConfigTree()
          this.dialogVisible = false
        })
      })
    },
    resetForm (msg, scope, type) { // 删除或者取消前的询问
      if (type === 'delete') {
        this.$confirm(msg, '提示', {
          cancelButtonText: '取消',
          confirmButtonText: '确定',
          type: 'warning'
        }).then(() => {
          this.deleteConfig(scope)
        }).catch(() => { })
      } else {
        // this.$refs.configForm.resetFields()
        if (this.time > 2) { // 取消或者差号或者
          this.$confirm(msg, '提示', {
            cancelButtonText: '取消',
            confirmButtonText: '确定',
            type: 'warning'
          }).then(() => {
            this.$refs.configForm.resetFields()
            this.cancelDialog()
          }).catch(() => { })
        } else {
          this.$refs.configForm.resetFields()
          this.cancelDialog()
        }
      }
    },
    handleClose () {
      this.resetForm('是否放弃当前编辑并退出？', {}, 'close')
    },
    deleteConfig (scope) { // 删除菜单模型
      scope.row.visible = false
      // this.$refs.tableTree.deleteNode(scope.row.mid)
      modelService.deleteModel('deploymodulemodel', scope.row.mid).then((res) => {
        this.$messageService.success('删除配置包成功!')
        this.getConfigTree()
      })
    }
  }
}
</script>

<style scoped lang='scss'>
.configuration {
  background: $main-bg;
  min-height: 100%;
  box-sizing: border-box;
  padding: $main-padding;
  // overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .functionTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 16px 0;
    .functionTitle {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h3 {
        line-height: 24px;
        font-weight: 700;
        font-size: 18px;
      }
      p {
        line-height: 16px;
        font-size: 14px;
        color: #999999;
      }
    }
    .functionButton {
      display: flex;
      align-items: center;
      .topRow {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: 12px;
      }
    }
  }
  .configurationTable {
    width: 100%;
    margin-bottom: 32px;
  }
  .tableForm {
    .iconfont {
      color: #c0c4cc;
      font-size: 14px;
      padding-right: 5px;
      cursor: pointer;
    }
  }
}
</style>
<style lang='scss'>
.configuration {
  .el-dialog__wrapper {
    width: 100%;
    .el-dialog {
      width: 800px;
    }
    .tableForm {
      display: block;
      .el-form-item {
        float: left;
        width: 47%;
        display: flex;
        justify-content: space-between;
        &:nth-child(even) {
          float: right;
        }
        .el-form-item__content {
          flex: 1;
        }
        .el-select {
          width: 100%;
        }
      }
      .el-input__inner,
      .el-form-item__label,
      .el-form-item__content {
        height: 32px;
        line-height: 32px;
      }
    }
  }
}
</style>
