<template src='./index.html'></template>

<script>
import editTree from '@/components/editTree'
import { nameReg, numReg } from '@/assets/js/comm/constant'
import nameExpress from '@/components/nameExpress/input.vue'
import paramsList from '@/components/paramsList'
import { mapState, mapActions } from 'vuex'
import ModelService from '../../../../assets/js/service/modelservice.js'
import storage from '@/assets/js/service/cacheservice.js'
import util from '../../util.js'

export default {
  name: 'data-model',
  props: {
    data: Object, // 子节点数据对象
    type: Number, // 新增|编辑
    filedOptions: Array, // 字段：当前功能模型下，第一个数据集的所有表的字段
    listShow: Array,
    guide: Number,
    displayName: String,
    displayNameFormat: String,
    clickType: Number,
    dataType: Number,
    lineName: String
  },
  components: {
    nameExpress,
    paramsList,
    editTree
  },
  computed: {
    ...mapState('options', ['jumpModes', 'dataKind', 'showType', 'dataCategory', 'mulitiType', 'sourceFunc', 'linkType', 'relationModel', 'dataDirct', 'optionsLink'])
  },
  data () {
    let checkName = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('功能代码不能为空'))
      }
      setTimeout(() => {
        if (!nameReg.test(value)) {
          const firstLetter = value.slice(0, 1)
          if (numReg.test(firstLetter)) {
            callback(new Error('名称不能以数字开头'))
          } else {
            callback(new Error('名称只能为字母数字或._-'))
          }
          return
        }
        callback()
      }, 300)
    }
    let checkDisplayName = (rule, value, callback) => {
      let checkName = /^[\u4e00-\u9fa5]+$/
      if (!value) {
        return callback(new Error('请输入中文名称'))
      }
      setTimeout(() => {
        if (!checkName.test(value)) {
          callback(new Error('请输入正确的中文名称'))
        } else {
          callback()
        }
      }, 300)
    }
    return {
      list: ['BetweenAnd', 'MoreThan'],
      currentForm: '',
      currentFormName: '',
      currentFiledName: '',
      currentPickValueNode: '',
      optionRow: '',
      preSetShow: false,
      relationShow: false,
      rangeShow: false,
      headShow: false,
      optionSetShow: false,
      optionsShow: false,
      basicForm: {},
      preSetForm: {},
      relationForm: {},
      rangeForm: {},
      headForm: {},
      pickvaluesTemp: {},
      optionDisable: true,
      rules: {
        label: [{ required: true, message: '请输入功能名称' }],
        fieldName: [{ required: true, message: '请输入字段代码' }],
        displayName: [{ required: true, validator: checkDisplayName, trigger: 'blur' }],
        dataType: [{ required: true, message: '请选择数据类型' }],
        linkageModelName: [{ required: true, message: '请选计算模型' }],
        caption: [{ required: true, message: '请输入标题' }],
        name: [{ required: true, validator: checkName, trigger: 'blur' }]
      },
      headRules: {
        label: [{ required: true, message: '请输入字段代码' }],
        dataType: [{ required: true, message: '请选择数据类型' }]
      },
      preSetTable: [],
      relationTable: [],
      rangeTable: [],
      empty: {
        relation: {
          defineField: '',
          tableIndex: null,
          linkageFiled: '',
          linkageTableIndex: 0,
          editFlag: true
        },
        range: {
          name: '',
          boundType: '',
          fromValue: null,
          toValue: null,
          editFlag: true
        }
      },
      defaultConditionFieldsTemp: [],
      defineRptBoundsTemp: [],
      defineRptHeadTablesTemp: [],
      linkageMappingsTemp: []
    }
  },
  watch: {
    'rangeForm.name' (newVal, oldVal) {
      this.rangeForm.label = newVal
    },
    'rangeForm.defineRptBoundItems' (newVal, oldVal) {
      if (newVal.length === 0) {
        let emptyRange = {...this.empty.range}
        this.rangeForm.defineRptBoundItems.push(emptyRange)
      }
    }
  },
  methods: {
    blurName () {
      // console.log(this.basicForm.name)
      this.$emit('changeDataName', this.basicForm.name)
    },
    ...mapActions('options', ['getJumpModes', 'getDataKind', 'getShowType', 'getDataCategory', 'getMulitiType', 'getSourceFunc', 'getLinkType', 'getRelationModel', 'getDataDirct', 'getOptionsLink']),
    selectNameExpress (formName, filedName) {
      this.currentFormName = formName
      this.currentFiledName = filedName
    },
    getExpress (shownameResult, expressResult) {
      this.$set(this.currentForm, this.currentFiledName, shownameResult)
      this.$set(this.currentForm, 'displayNameFormat', expressResult || shownameResult)
    },
    selectOptionExpress (row) {
      this.optionRow = row
    },
    getOptionExpress (shownameResult, express) {
      this.optionRow.displayNameFormat = express || shownameResult
    },
    paramsListChildChange (node, formName, tabName, tabKey) {
      // if (typeof(node.allowEmpty) === 'undefined') {
      //   node.allowEmpty = true
      // }
      let str = ''
      if (node.pickValue && node.pickValue.data.length) {
        for (let item of node.pickValue.data) {
          if (item.code) {
            str += item.code
          }
        }
        node.pickValueTransed = str
      }
      this[formName] = node
      if (!node[tabKey]) {
        this.$set(node, tabKey, [])
      }
      this[tabName] = node[tabKey]
      this.currentForm = this[formName]
    },
    showParamsList (showModelName, key) {
      let emptyObj = {
        label: 'default-params',
        id: 1
      }
      if (key === 'defaultConditionFields' || key === 'defineRptHeadTables') {
        emptyObj.displayName = ''
        emptyObj.displayNameFormat = ''
      }
      if (key === 'defineRptBounds') {
        emptyObj.name = 'default-params'
      }
      if (!this.data.data[key] || !this.data.data[key].length) {
        this.$set(this.data.data, key, [emptyObj])
      }
      const tempKey = `${key}Temp`
      this[tempKey] = JSON.parse(JSON.stringify(this.data.data[key]))
      this[showModelName] = true
    },
    cancelParamsList (showModelName) {
      this[showModelName] = false
    },
    validateParamList (formName) {
      return new Promise((resolve, reject) => {
        this.$refs[formName].validate((valid) => {
          resolve(valid)
        })
      })
    },
    submitPreSetList (formName) { // 预设字段
      if (!this.defaultConditionFieldsTemp.length || this.validateParamList(formName)) {
        for (let item of this.preSetTable) {
          if (!item.key || !item.val) {
            this.$alert('请完善新增记录信息')
            return
          }
        }
        this.data.data.defaultConditionFields = this.defaultConditionFieldsTemp
        let PreSetLStr = ''
        this.data.data.defaultConditionFields.map((item) => {
          PreSetLStr += '; ' + item.label + ',' + item.displayName + ',' + item.dataType
        })
        this.basicForm.preset = PreSetLStr.replace(';', '')
        this.preSetShow = false
      }
    },
    submitRelationList (formName) { // 联动计算
      if (!this.linkageMappingsTemp.length || this.validateParamList(formName)) {
        for (let item of this.relationTable) {
          if (!item.defineField) {
            this.$alert('请完善新增记录信息')
            return
          }
        }
        this.data.data.linkageMappings = this.linkageMappingsTemp
        let relationStr = ''
        this.data.data.linkageMappings.map((item) => {
          relationStr += '; ' + item.label
        })
        this.basicForm.relation = relationStr.replace(';', '')
        this.relationShow = false
      }
    },
    submitRangeList (formName) { // 报表自定义
      this.validateParamList(formName)
      if (util.rangeCheck(this)) {
        this.data.data.defineRptBounds = this.defineRptBoundsTemp
        let RangeStr = ''
        this.data.data.defineRptBounds.map((item) => {
          RangeStr += '; ' + item.label + ',' + item.name
        })
        this.basicForm.range = RangeStr.replace(';', '')
        this.rangeShow = false
      }

      // if (!this.defineRptBoundsTemp.length || this.validateParamList(formName)) {
      //   for (let item of this.rangeTable) {
      //     if (!item.name) {
      //       this.$alert('请完善新增记录信息')
      //       return
      //     }
      //   }
      //   this.data.data.defineRptBounds = this.defineRptBoundsTemp
      //   let RangeStr = ''
      //   this.data.data.defineRptBounds.map((item) => {
      //     RangeStr += '; ' + item.label + ',' + item.name
      //   })
      //   this.basicForm.range = RangeStr.replace(';', '')
      //   this.rangeShow = false
      // }
    },
    setInputContent (array, key) {

    },
    submitHeadList (formName) { // 报表条件
      this.validateParamList(formName)
      if (util.headCheck(this)) {
        this.data.data.defineRptHeadTables = this.defineRptHeadTablesTemp
        let HeadStr = ''
        this.data.data.defineRptHeadTables.map((item) => {
          HeadStr += '; ' + item.label + ',' + item.dataType
        })
        this.basicForm.head = HeadStr.replace(';', '')
        this.headShow = false
      }

      // if (!this.defineRptHeadTablesTemp.length || this.validateParamList(formName)) {
      //   this.data.data.defineRptHeadTables = this.defineRptHeadTablesTemp
      //   let HeadStr = ''
      //   this.data.data.defineRptHeadTables.map((item) => {
      //     HeadStr += '; ' + item.label + ',' + item.dataType
      //   })
      //   this.basicForm.head = HeadStr.replace(';', '')
      //   this.headShow = false
      // }
    },
    addTableItem (obj, target) {
      const objCopy = JSON.parse(JSON.stringify(obj))
      this[target].push(objCopy)
    },
    // 当前行下插入一行
    insertTableItem (obj, target, index) {
      const objCopy = JSON.parse(JSON.stringify(obj))
      this[target].splice(index + 1, 0, objCopy)
    },
    // 上下移动
    toUp (scope, target) {
      if (scope.$index === 0) {
        this.$messageService.error('当前项已是第一项')
        return false
      }
      this[target].splice(scope.$index, 1)
      this[target].splice(scope.$index - 1, 0, scope.row)
    },
    toDown (scope, target) {
      if (scope.$index === this[target].length - 1) {
        this.$messageService.error('当前项已是最后一项')
        return false
      }
      this[target].splice(scope.$index, 1)
      this[target].splice(scope.$index + 1, 0, scope.row)
    },
    delTableItem (item, target) {
      const index = this[target].indexOf(item)
      this[target].splice(index, 1)
    },
    async selectLink (item) {
      if (!item) {
        if (this.preSetShow) {
          this.preSetForm.pickvalues = ''
        } else if (this.headShow) {
          this.headForm.pickvalues = ''
        }
        return
      }
      const optionSet = await ModelService.getOptionsSet({}, item)
      let optionSetStr = ''
      for (let item of optionSet.data.pickValueItemList) {
        optionSetStr += `${item.name},`
      }
      const realStr = optionSetStr.substr(0, optionSetStr.length - 1)
      this.optionDisable = true
      if (this.preSetShow) {
        this.preSetForm.pickvalues = realStr ? `{${realStr}}` : ''
      } else if (this.headShow) {
        this.headForm.pickvalues = realStr ? `{${realStr}}` : ''
      }
    },
    selectOptionSet () {
      this.optionSetShow = false
    },
    selectDirct (item) {
      this.headForm.dataFieldName = item === '请选择' ? '' : item
    },
    selectModel (item) {
      if (item) {
        this.relationForm.label = item
      }
    },
    showOptionsData (scope) {
      this.currentPickValueNode = scope.data.data
      if (!scope.data.data.pickValue) {
        this.$set(scope.data.data, 'pickValue', {
          link: '',
          data: [
            { code: '', displayName: '', displayNameFormat: '', remark: '' }
          ]
        })
      }
      this.pickvaluesTemp = JSON.parse(JSON.stringify(scope.data.data.pickValue))
      this.optionsShow = true
    },
    addOption () {
      const emptyObj = {
        code: '',
        displayName: '',
        displayNameFormat: '',
        remark: ''
      }
      this.pickvaluesTemp.data.push(emptyObj)
    },
    submitOptions () {
      this.currentPickValueNode.pickValue = this.pickvaluesTemp
      let str = ''
      for (let item of this.pickvaluesTemp.data) {
        if (item.code) {
          str += `${item.code},`
        }
      }
      this.currentPickValueNode.pickValueTransed = str.substr(0, str.length - 1)
      this.optionsShow = false
    }
  },
  async mounted () {
    if (this.dataType === 0) {
      this.basicForm = this.data.data
      // console.log('打印', this.basicForm.defaultConditionFields)
      this.$set(this.basicForm, 'defaultConditionFields', this.basicForm.defaultConditionFields || [])
      this.basicForm.permissionSourceName = this.lineName
      this.basicForm.name = this.data.data.name || this.lineName
      this.basicForm.displayName = this.displayName
      this.basicForm.displayNameFormat = this.displayNameFormat
    } else {
      this.basicForm = this.data.data
      // console.log('打印', this.basicForm.defualtConditionFields)
      this.$set(this.basicForm, 'defaultConditionFields', this.basicForm.defaultConditionFields || [])
      storage.getItem('functionObj').then(res => {
        this.basicForm.permissionSourceName = res.lineName
      })
      // this.basicForm.name = localStorage.getItem('lineName')
    }
    // console.log(this.dataType)
    // if (this.clickType === 0) {
    //   this.basicForm = this.data.data
    //   this.$set(this.basicForm, 'preset', this.basicForm.preset || [])
    //   this.basicForm.permissionSourceName = localStorage.getItem('lineName')
    //   this.basicForm.name = localStorage.getItem('lineName')
    //   this.basicForm.displayName = this.displayName
    //   this.basicForm.displayNameFormat = this.displayNameFormat
    // } else {
    //   this.basicForm = this.data.data
    //   this.$set(this.basicForm, 'preset', this.basicForm.preset || [])
    //   this.basicForm.permissionSourceName = localStorage.getItem('lineName')
    //   // this.basicForm.name = localStorage.getItem('lineName')
    // }
    this.$set(this.basicForm, 'displayName', this.basicForm.displayName || '')
    this.$set(this.basicForm, 'displayNameFormat', this.basicForm.displayNameFormat || '')

    // this.basicForm.preset = '{集合}'
    // this.basicForm.relation = '{集合}'
    // this.basicForm.range = '{集合}'
    // this.basicForm.head = '{集合}'
    this.currentForm = this.basicForm

    await this.getJumpModes()
    await this.getDataKind()
    await this.getOptionsLink()
    await this.getShowType()
    await this.getDataCategory()
    await this.getMulitiType()
    await this.getSourceFunc()
    await this.getLinkType()
    await this.getRelationModel()
    await this.getDataDirct()
    // console.log('1232133', this.sourceFunc)
  }
}
</script>

<style src='../../index.scss' lang='scss'></style>
