<div>
  <p class="attributeTitle">基础属性</p>
  <el-form :model="basicForm" ref="basicForm" :rules="rules" label-width="120px" class="form">
    <el-form-item label="功能代码" prop="name">
      <el-input v-model="basicForm.name" @blur="blurName"></el-input>
    </el-form-item>
    <el-form-item label="中文名称" prop="displayName">
      <name-express @getExpress='getExpress' :initExpress='basicForm.displayNameFormat' needFcous @click.native="selectNameExpress('basicForm','displayName')"></name-express>
    </el-form-item>
    <el-form-item label="编码规则" prop="jumpMode">
      <el-select v-model="basicForm.jumpMode" placeholder="请选择" clearable>
        <el-option v-for='item in jumpModes' :key='item.key' :label='item.value' :value='item.key'></el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="功能分类" prop="category">
      <el-select v-model="basicForm.category" placeholder="请选择" clearable>
        <el-option v-for='item in dataCategory' :key='item.key' :label='item.value' :value='item.key'></el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="关联功能" prop="permissionSourceName" clearable>
      <el-input v-model="basicForm.permissionSourceName" disabled></el-input>
      <!-- <el-select v-model="basicForm.permissionSourceName" placeholder="请选择" v-else>
        <el-option v-for='item in sourceFunc' :key='item.name' :label='item.value' :value='item.name'></el-option>
      </el-select> -->
    </el-form-item>
  </el-form>
  <p class="attributeTitle">其他设置</p>
  <el-form :model="basicForm" ref="contralForm" :rules="rules" label-width="120px" class="form">
    <el-form-item label="组织字段" prop="companyIdFieldName">
      <el-select v-model="basicForm.companyIdFieldName" placeholder="请选择" filterable clearable>
        <el-option v-for='item in filedOptions' :key='item.key' :label='item.value' :value='item.key'></el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="币别字段" prop="currencyFieldName">
      <el-select v-model="basicForm.currencyFieldName" placeholder="请选择" filterable clearable>
        <el-option v-for='item in filedOptions' :key='item.key' :label='item.value' :value='item.key'></el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="部门字段" prop="deptFieldName">
      <el-select v-model="basicForm.deptFieldName" placeholder="请选择" filterable clearable>
        <el-option v-for='item in filedOptions' :key='item.key' :label='item.value' :value='item.key'></el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="日期字段" prop="dateFieldName">
      <el-select v-model="basicForm.dateFieldName" placeholder="请选择" filterable clearable>
        <el-option v-for='item in filedOptions' :key='item.key' :label='item.value' :value='item.key'></el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="开账起始" prop="openingDataFieldName">
      <el-select v-model="basicForm.openingDataFieldName" placeholder="请选择" filterable clearable>
        <el-option v-for='item in filedOptions' :key='item.key' :label='item.value' :value='item.key'></el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="有效日期">
      <el-col :span="11">
        <el-form-item prop="validotyFromDateFieldName" class="special">
          <el-select v-model="basicForm.validotyFromDateFieldName" placeholder="起始" filterable clearable>
            <el-option v-for='item in filedOptions' :key='item.key' :label='item.value' :value='item.key'></el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="2" class="alginCenter">-</el-col>
      <el-col :span="11">
        <el-form-item prop="validotyToDateFieldName" class="special">
          <el-select v-model="basicForm.validotyToDateFieldName" placeholder="截止" filterable clearable>
            <el-option v-for='item in filedOptions' :key='item.key' :label='item.value' :value='item.key'></el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-form-item>
    <el-form-item label="计算模型" prop="relation" v-show="false">
      <el-input disabled v-model="basicForm.relation" @focus="showParamsList('relationShow', 'linkageMappings')">
        <!-- <i slot="suffix" class="el-icon-more" @click="showParamsList('relationShow', 'linkageMappings')"></i> -->
      </el-input>
      <!--paramList-->
    </el-form-item>
    <el-form-item label="计算模型" prop="linkageName">
      <el-input disabled v-model="basicForm.linkageName"></el-input>
    </el-form-item>
    <el-form-item label="报表自定义" prop="range">
      <el-input v-model="basicForm.range" @focus="showParamsList('rangeShow', 'defineRptBounds')">
        <i slot="suffix" class="el-icon-more" @click="showParamsList('rangeShow', 'defineRptBounds')"></i>
      </el-input>
      <!--paramList-->
    </el-form-item>
    <el-form-item label="报表条件" prop="head">
      <el-input v-model="basicForm.head" @focus="showParamsList('headShow', 'defineRptHeadTables')">
        <i slot="suffix" class="el-icon-more" @click="showParamsList('headShow', 'defineRptHeadTables')"></i>
      </el-input>
    </el-form-item>
    <el-form-item label="列表显示" prop="listFormDefaultFields" class="oneLine mulitiSelect" size="small">
      <el-select v-model="basicForm.listFormDefaultFields" multiple placeholder="请选择" filterable>
        <!--:popper-append-to-body="false"-->
        <el-option v-for='item in listShow' :key='item.key' :label='item.value' :value='item.key'></el-option>
      </el-select>
    </el-form-item>
    <!-- <el-form-item label="扩展查询字段" prop="preset" class="oneLine">
      <el-input v-model="basicForm.preset" @focus="showParamsList('preSetShow', 'defaultConditionFields')">
        <i slot="suffix" class="el-icon-more" @click="showParamsList('preSetShow', 'defaultConditionFields')"></i>
      </el-input>
    </el-form-item> -->
    <el-form-item label="扩展查询字段" prop="defaultConditionFields" class="oneLine mulitiSelect" size="small">
      <el-select v-model="basicForm.defaultConditionFields" multiple placeholder="请选择" filterable>
        <el-option v-for='item in listShow' :key='item.key' :label='item.value' :value='item.key'></el-option>
      </el-select>
    </el-form-item>
  </el-form>

  <!--联动计算模型-->
  <params-list dialogTitle="联动计算模型" :tree-data="linkageMappingsTemp" formName='relationForm' tabName='relationTable'
    tabKey='defineFieldMappings' showModelName='relationShow' :dialogShow='relationShow' @childChange='paramsListChildChange'
    @submitParamsList='submitRelationList' @cancalParamsList='cancelParamsList'>
    <template slot='form' slot-scope="scope">
      <el-form :model="relationForm" ref="relationForm" :rules="rules" label-width="120px" class="form">
        <el-form-item label="联动计算模型" prop="linkageModelName">
          <!--linkageModelName-->
          <el-select v-model="relationForm.linkageModelName" placeholder="请选择" @change='selectModel'>
            <el-option v-for='item in relationModel' :key='item.name' :label='item.value' :value='item.name'></el-option>
          </el-select>
        </el-form-item>
        <div class="btns addBtnBox" style="width: 67%;">
          <el-button type='text' @click='addTableItem(empty.relation, "relationTable")' class="textBtn"><i class="icon-add iconfont"></i>
            新增</el-button>
        </div>
      </el-form>
    </template>
    <template slot='tabs' slot-scope="scope">
      <el-table :data='relationTable' border class="el-form-item">
        <el-table-column prop="defineField" label="自定义字段" label-class-name='require'>
          <template slot-scope="scope">
            <span v-if="!scope.row.editFlag">{{ scope.row.defineField }}</span>
            <span v-if="scope.row.editFlag" class="cell-edit-input">
              <el-input v-model="scope.row.defineField"></el-input>
            </span>
          </template>
        </el-table-column>
        <el-table-column prop="tableIndex" label="表索引">
          <template slot-scope="scope">
            <span v-if="!scope.row.editFlag">{{ scope.row.tableIndex }}</span>
            <span v-if="scope.row.editFlag" class="cell-edit-input">
              <el-input v-model="scope.row.tableIndex"></el-input>
            </span>
          </template>
        </el-table-column>
        <el-table-column prop="linkageFiled" label="联动字段">
          <template slot-scope="scope">
            <span v-if="!scope.row.editFlag">{{ scope.row.linkageFiled }}</span>
            <span v-if="scope.row.editFlag" class="cell-edit-input">
              <el-input v-model="scope.row.linkageFiled"></el-input>
            </span>
          </template>
        </el-table-column>
        <el-table-column prop="relationIndex" label="联动表索引">
          <template slot-scope="scope">
            <span v-if="!scope.row.editFlag">{{ scope.row.relationIndex }}</span>
            <span v-if="scope.row.editFlag" class="cell-edit-input">
              <el-input v-model="scope.row.relationIndex"></el-input>
            </span>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button type="text" @click='delTableItem(scope.row, "relationTable")'>删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </template>
  </params-list>

  <!--报表自定义-->
  <params-list dialogTitle="报表自定义" :tree-data="defineRptBoundsTemp" formName='rangeForm' showModelName='rangeShow'
    tabName='rangeTable' tabKey='defineRptBoundItems' :dialogShow='rangeShow' @childChange='paramsListChildChange'
    @submitParamsList='submitRangeList' @cancalParamsList='cancelParamsList'>
    <template slot='form' slot-scope="scope">
      <el-form :model="rangeForm" ref="rangeForm" :rules="rules" label-width="60px" class="form defineform">
        <el-form-item label="名称" prop="name">
          <!--caption-->
          <el-input v-model="rangeForm.name" maxlength="100"></el-input>
        </el-form-item>
        <el-form-item label="标题" prop="caption" maxlength="100">
          <el-input v-model="rangeForm.caption"></el-input>
        </el-form-item>
        <div class="btns addBtnBox">
          <el-button type='text' @click='addTableItem(empty.range, "rangeTable")' class="textBtn"><i class="icon-add iconfont"></i>
            新增</el-button>
        </div>
      </el-form>
    </template>
    <template slot='tabs' slot-scope="scope">
      <el-table :data='rangeTable' border class="el-form-item">
        <el-table-column prop="name" label="名称" label-class-name='require'>
          <template slot-scope="scope">
            <span v-if="!scope.row.editFlag">{{ scope.row.name }}</span>
            <span v-if="scope.row.editFlag" class="cell-edit-input">
              <el-input v-model="scope.row.name"></el-input>
            </span>
          </template>
        </el-table-column>
        <el-table-column prop="boundType" label="边界类型">
          <template slot-scope="scope">
            <span v-if="!scope.row.editFlag">{{ scope.row.boundType }}</span>
            <span v-if="scope.row.editFlag" class="cell-edit-input">
              <!-- <el-input v-model="scope.row.boundType"></el-input> -->
              <el-select v-model="scope.row.boundType" placeholder="请选择">
                <el-option v-for="item in list" :key="item" :label="item" :value="item">
                </el-option>
              </el-select>
            </span>
          </template>
        </el-table-column>
        <el-table-column prop="fromValue" label="区间起始值">
          <template slot-scope="scope">
            <span v-if="!scope.row.editFlag">{{ scope.row.fromValue }}</span>
            <span v-if="scope.row.editFlag" class="cell-edit-input">
              <el-input v-model="scope.row.fromValue" maxlength="100" type="number" min="0"></el-input>
            </span>
          </template>
        </el-table-column>
        <el-table-column prop="toValue" label="区间结束值">
          <template slot-scope="scope">
            <span v-if="!scope.row.editFlag">{{ scope.row.toValue }}</span>
            <span v-if="scope.row.editFlag" class="cell-edit-input">
              <el-input v-model="scope.row.toValue" maxlength="100" type="number" min="0"></el-input>
            </span>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button type="text" @click='insertTableItem(empty.range, "rangeTable", scope.$index)'>新增</el-button>
            <el-button type="text" @click='toUp(scope, "rangeTable")'>上移</el-button>
            <el-button type="text" @click='toDown(scope, "rangeTable")'>下移</el-button>
            <el-button type="text" @click='delTableItem(scope.row, "rangeTable")'>删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </template>
  </params-list>

  <!--报表条件-->
  <params-list dialogTitle="报表条件" :tree-data="defineRptHeadTablesTemp" formName='headForm' showModelName='headShow'
    :dialogShow='headShow' @childChange='paramsListChildChange' @submitParamsList='submitHeadList' @cancalParamsList='cancelParamsList'>
    <template slot='form' slot-scope="scope">
      <el-form :model="headForm" ref="headForm" :rules="headRules" label-width="120px" class="form">
        <el-form-item label="字段代码" prop="label">
          <el-input v-model="headForm.label"></el-input>
        </el-form-item>
        <el-form-item label="数据类型" prop="dataType">
          <el-select v-model="headForm.dataType" placeholder="请选择">
            <el-option v-for='item in dataKind' :key='item.key' :label='item.value' :value='item.key'></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="中文名称" prop="displayNameFormat">
          <name-express @getExpress='getExpress' :initExpress='headForm.displayNameFormat' @click.native="selectNameExpress('headForm','displayName')"></name-express>
        </el-form-item>
        <el-form-item label="长度精度">
          <el-col :span="11">
            <el-form-item prop="size" class="special">
              <el-input controls-position="right" :precision="0" :min="0" v-model="headForm.size" placeholder="长度" type="number"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="2" class="alginCenter">-</el-col>
          <el-col :span="11">
            <el-form-item prop="scale" class="special">
              <el-input controls-position="right" :precision="0" :min="0" v-model="headForm.scale" placeholder="精度"
                :disabled="headForm.dataType !== 'Double' && headForm.dataType !== 'Decimal'" type="number"></el-input>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item label="默认值" prop="defaultValue">
          <el-input v-model="headForm.defaultValue"></el-input>
        </el-form-item>
        <el-form-item label="允许空值" prop="allowEmpty">
          <el-switch v-model="headForm.allowEmpty"></el-switch>
        </el-form-item>
        <el-form-item label="字段模板" prop="dataField">
          <el-select v-model="headForm.dataField" placeholder="请选择" @change='selectDirct'>
            <el-option v-for='item in dataDirct' :key='item.value' :label='item.name' :value='item.value'></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="选项数据" prop="pickValueTransed">
          <el-input v-model='headForm.pickValueTransed' @focus="showOptionsData(scope)">
            <i slot="suffix" class="el-icon-more" @click="showOptionsData(scope)"></i>
          </el-input>
        </el-form-item>
      </el-form>
    </template>
  </params-list>

  <!--预设查询字段-->
  <params-list dialogTitle="预设查询字段" :tree-data="defaultConditionFieldsTemp" formName='preSetForm' showModelName='preSetShow'
    :dialogShow='preSetShow' @childChange='paramsListChildChange' @submitParamsList='submitPreSetList'
    @cancalParamsList='cancelParamsList'>
    <template slot='form' slot-scope="scope">
      <el-form :model="preSetForm" ref="preSetForm" :rules="rules" label-width="100px" class="form">
        <el-form-item label="字段代码" prop="label">
          <el-input v-model="preSetForm.label"></el-input>
        </el-form-item>
        <el-form-item label="中文名称" prop="displayName">
          <name-express @getExpress='getExpress' :initExpress='preSetForm.displayNameFormat' needFcous @click.native="selectNameExpress('preSetForm','displayName')"></name-express>
        </el-form-item>
        <el-form-item label="数据类型" prop="dataType">
          <el-select v-model="preSetForm.dataType" placeholder="请选择">
            <el-option v-for='item in dataKind' :key='item.key' :label='item.value' :value='item.key'></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="控件显示类型" prop="controlType">
          <el-select v-model="preSetForm.controlType" placeholder="请选择">
            <el-option v-for='item in showType' :key='item.key' :label='item.value' :value='item.key'></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="默认值" prop="defaultValue">
          <el-input v-model="preSetForm.defaultValue"></el-input>
        </el-form-item>
        <el-form-item label="允许空值" prop="allowEmpty">
          <el-switch v-model="preSetForm.allowEmpty"></el-switch>
        </el-form-item>
        <el-form-item label="选项数据" prop="pickValueTransed">
          <el-input v-model='preSetForm.pickValueTransed' @focus="showOptionsData(scope)">
            <i slot="suffix" class="el-icon-more" @click="showOptionsData(scope)"></i>
          </el-input>
        </el-form-item>
        <el-form-item label="来源功能" prop="relativeSourceName">
          <el-select v-model="preSetForm.relativeSourceName" placeholder="请选择">
            <el-option v-for='item in sourceFunc' :key='item.name' :label='item.value' :value='item.name'></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="选择条件" prop="selCondition">
          <el-input v-model="preSetForm.selCondition"></el-input>
        </el-form-item>
        <el-form-item label="多选类型" prop="multiSelType">
          <el-select v-model="preSetForm.multiSelType" placeholder="请选择">
            <el-option v-for='item in mulitiType' :key='item.key' :label='item.value' :value='item.key'></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="显示条件" prop="visibleCondition">
          <el-input v-model="preSetForm.visibleCondition"></el-input>
        </el-form-item>
      </el-form>
    </template>
  </params-list>

  <!--选项数据弹框-->
  <el-dialog title="设置选项数据" :visible.sync="optionsShow" width='600px'>
    <div class="body">
      <el-form>
        <el-form-item label='选项模型'>
          <el-select placeholder="请选择" v-model='pickvaluesTemp.link'>
            <el-option v-for='item in optionsLink' :key='item.name' :label='item.value' :value='item.name'></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div class="btns">
        <el-button type='text' class="textBtn" @click='addOption'><i class="icon-add iconfont"></i> 新增</el-button>
      </div>
      <el-table :data='pickvaluesTemp.data' border style="width: 100%" class="el-form-item">
        <el-table-column prop="code" label="代码">
          <template slot-scope="scope">
            <el-input v-model='scope.row.code'></el-input>
          </template>
        </el-table-column>
        <el-table-column prop="displayName" label="中文名称">
          <template slot-scope="scope">
            <name-express @getExpress='getOptionExpress' :initExpress='scope.row.displayNameFormat' @click.native="selectOptionExpress(scope.row)"></name-express>
          </template>
        </el-table-column>
        <el-table-column prop="remark" label="备注">
          <template slot-scope="scope">
            <el-input v-model='scope.row.remark'></el-input>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="operate">
      <el-button type="primary" @click="submitOptions">确定</el-button>
      <el-button type="primary" plain @click='optionsShow=false'>取消</el-button>
    </div>
  </el-dialog>
</div>
