<template>
  <div class='compute'>
    <div class="computeTop">
      <div class="computeTitle">
        <h3>联动计算维护</h3>
        <p>设置联动计算，可添加、删除、修改显示联动计算信息</p>
      </div>
      <div class="computeButton">
        <div class="topRow el-form-item">
          <el-input v-model="queryVal" placeholder="请输入需要搜索的名称" clearable @keyup.enter.native="query"></el-input>
        </div>
        <div class="topRow">
          <el-button type="primary" plain icon="el-icon-search" @click="query">查询</el-button>
        </div>
        <div class="topRow">
          <el-button type="primary" icon="el-icon-plus" @click="add">添加</el-button>
        </div>
      </div>
    </div>
    <div class="computeTable">
      <el-table :data="tableData" border style="width: 100%">
        <el-table-column fixed type="index" label="序号" width="80">
        </el-table-column>
        <el-table-column prop="name" label="名称" width="">
        </el-table-column>
        <el-table-column prop="showName" label="中文名称" width="">
        </el-table-column>
        <el-table-column fixed="right" label="操作" width="100">
          <template slot-scope="scope">
            <el-button @click="edit(scope.row, 'edit')" type="text" size="small">编辑</el-button>
            <el-button @click="del(scope.row,scope.$index)" type="text" size="small">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="computePagination" v-show="tableData.length>0">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :page-sizes="pageSizeArray" :page-size="pageSize" :total="pageTotal" :current-page="pageNo" layout="total, sizes, prev, pager, next, jumper">
      </el-pagination>
    </div>
    <!-- dialog -->
    <el-dialog title="计算模型明细" :visible.sync="dialogVisible" class="dialog" :close-on-click-modal="false" :before-close="dialogExit">
      <div class="dialogMain">
        <div class="mainTop el-form-item">
          <div class="iptRow">
            <div style="width:80px;text-align:left;">
              <span>*</span>名称</div>
            <el-input v-model="dialogForm.name" placeholder="请输入内容" maxlength="64"></el-input>
          </div>
          <div class="iptRow">
            <div style="width:100px;text-align:left;">
              <span>*</span>中文名称</div>
            <name-express @getExpress='getExpress' :initExpress='dialogForm.showName'></name-express>
          </div>
          <div class="iptRow">
            <div style="width:100px;text-align:left;">
              <span>*</span>字段来源</div>
            <el-select v-model="dataValue" filterable placeholder="字段来源（可搜索）" style="width:100%" @blur="init">
              <el-option v-for="item in dataOptions" :key="item.value" :label="item.label" :value="item.value" @mousedown.native="opClick(item.value)">
              </el-option>
            </el-select>
          </div>
        </div>
        <div class="mainBot">
          <div class="mainBotLeft">
            <div class="searchBox">
              <div class="searchTop" @click="showTree">
                <i class="icon-iconfontadd iconfont" style="font-size:16px"> 选取字段</i>
              </div>
              <div class="treeBorder" v-show="show===1">
                <el-tree :data="fieldData" show-checkbox default-expand-all node-key="id" :default-checked-keys="fieldNameList" ref="tree" highlight-current :props="defaultProps" @check-change="checkNode">
                </el-tree>
                <div class="button">
                  <el-button type="primary" @click="clickDone">确定</el-button>
                </div>
              </div>
            </div>
            <div class="tree" v-show="show===0" style="overflow:auto;">
              <el-tree default-expand-all :data="data" :props="defaultProps" @node-click="handleNodeClick"></el-tree>
            </div>
          </div>
          <div class="mainBotRight">
            <el-tabs v-model="activeName" @tab-click="handleClick" class="el-form-item">
              <el-tab-pane label="计算规则" name="first">
                <div class="expressTable">
                  <el-table :data="expressTableData" style="width: 100%" height="380" class="rightTable">
                    <el-table-column fixed prop="comment" label="注释" width="">
                      <template slot-scope="scope">
                        <span class="cell-edit-input">
                          <el-input v-model="scope.row.comment"></el-input>
                        </span>
                      </template>
                    </el-table-column>
                    <el-table-column prop="condition" label="条件" width="">
                      <template slot-scope="scope">
                        <span class="cell-edit-input">
                          <el-input v-model="scope.row.condition">
                            <i slot="suffix" class="el-input__icon el-icon-more" @click="conditionsEdit(scope.row,scope.$index)"></i>
                          </el-input>
                        </span>
                      </template>
                    </el-table-column>
                    <el-table-column prop="expression" label="表达式" width="">
                      <template slot-scope="scope">
                        <span class="cell-edit-input">
                          <el-input v-model="scope.row.expression">
                            <i slot="suffix" class="el-input__icon el-icon-more" @click="expressionEdit(scope.row,scope.$index)"></i>
                          </el-input>
                        </span>
                      </template>
                    </el-table-column>
                    <el-table-column label="排序" width="60">
                      <template slot-scope="scope">
                        <el-button type="text" size="small" icon="el-icon-arrow-up" @click="expressionUp(scope.row,scope.$index)"></el-button>
                        <el-button type="text" size="small" icon="el-icon-arrow-down" @click="expressionDown(scope.row,scope.$index)" style="margin-left:0"></el-button>
                      </template>
                    </el-table-column>
                    <el-table-column fixed="right" label="操作" width="100">
                      <template slot-scope="scope">
                        <el-button @click="addExpress(scope.row,scope.$index)" type="text" size="small">新增</el-button>
                        <el-button @click="delExpress(scope.row,scope.$index)" type="text" size="small">删除</el-button>
                      </template>
                    </el-table-column>
                  </el-table>
                </div>
              </el-tab-pane>
              <el-tab-pane label="验证规则" name="second">
                <div class="checkTable">
                  <el-table :data="checkTableData" style="width: 100%" height="380">
                    <el-table-column fixed prop="errCondition" label="错误条件" width="">
                      <template slot-scope="scope">
                        <span class="cell-edit-input">
                          <el-input v-model="scope.row.errCondition"></el-input>
                        </span>
                      </template>
                    </el-table-column>
                    <el-table-column prop="invalidMessage" label="验证消息" width="">
                      <template slot-scope="scope">
                        <span class="cell-edit-input">
                          <el-input v-model="scope.row.invalidMessage"></el-input>
                        </span>
                      </template>
                    </el-table-column>
                    <el-table-column prop="invalidArgs" label="验证参数" width="">
                      <template slot-scope="scope">
                        <span class="cell-edit-input">
                          <el-input v-model="scope.row.invalidArgs"></el-input>
                        </span>
                      </template>
                    </el-table-column>
                    <el-table-column label="排序" width="60">
                      <template slot-scope="scope">
                        <el-button type="text" size="small" icon="el-icon-arrow-up" @click="checkUp(scope.row,scope.$index)"></el-button>
                        <el-button type="text" size="small" icon="el-icon-arrow-down" @click="checkDown(scope.row,scope.$index)" style="margin-left:0"></el-button>
                      </template>
                    </el-table-column>
                    <el-table-column fixed="right" label="操作" width="100">
                      <template slot-scope="scope">
                        <el-button @click="addCheck(scope.row,scope.$index)" type="text" size="small">新增</el-button>
                        <el-button @click="delCheck(scope.row,scope.$index)" type="text" size="small">删除
                        </el-button>
                      </template>
                    </el-table-column>
                  </el-table>
                </div>
              </el-tab-pane>
            </el-tabs>
          </div>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogConfirm">保 存</el-button>
        <el-button type="primary" plain @click="dialogExit">取 消</el-button>
      </span>
    </el-dialog>
    <computeDialog ref="computeDialog" v-on:getConditions="getConditions" :textarea="textarea" :codeTreeData="data" :funTreeData="funTreeData"></computeDialog>
  </div>
</template>

<script>
import nameExpress from '../../components/nameExpress/input.vue'
import computeDialog from '../../components/computeDialog/index'
import ModelService from '../../assets/js/service/modelservice.js'
import storage from '../../assets/js/service/cacheservice.js'
import { pageCommon } from '../../assets/js/mixin/mixin.js'
export default {
  name: 'compute',
  components: {
    nameExpress,
    computeDialog
  },
  mixins: [pageCommon],
  data () {
    return {
      codeTreeData: [{
        label: 'saled_price',
        children: [{
          label: 'saled_price'
        }]
      }, {
        label: 'saled_price',
        children: [{
          label: 'saled_price'
        }, {
          label: 'saled_price'
        }]
      }, {
        label: 'saled_price',
        children: [{
          label: 'saled_price'
        }, {
          label: 'saled_price'
        }]
      }, {
        label: 'saled_price',
        children: [{
          label: 'saled_price'
        }, {
          label: 'saled_price'
        }]
      }, {
        label: 'saled_price',
        children: [{
          label: 'saled_price'
        }, {
          label: 'saled_price'
        }]
      }],
      funTreeData: [{
        'name': 'String',
        'displayName': '字符串',
        'children': [{
          'name': 'SubString',
          'value': 'SUBSTRING(,,)',
          'tips': '求子串'
        }, {
          'name': 'ToString',
          'value': 'TOSTRING()',
          'tips': '转成字符串'
        }]
      }, {
        'name': 'Aggregate',
        'displayName': '聚合',
        'children': [{
          'name': 'Count',
          'value': 'COUNT()',
          'tips': '计数'
        }, {
          'name': 'MAX',
          'value': 'MAX(,)',
          'tips': '最大值'
        }, {
          'name': 'MIN',
          'value': 'MIN(,)',
          'tips': '最小值'
        }]
      }],
      addButton: 1,
      activeName: 'first',
      queryVal: '', // 查询输入框内容
      switchVal: false, // 只读状态开关
      codeArr: [],
      show: 0,
      fieldData: [], // 选字段
      data: [], // 字段树
      defaultProps: {
        children: 'children',
        label: 'name'
      },
      dataOptions: [], // 字段来源
      expressShow: false, // 显示名称
      expressTableData1: [],
      dialogVisible: false, // dialog
      tableData: [], // 表格数据
      dialogForm: { // 弹出框信息
        name: '',
        showName: ''
      },
      dataValue: '',
      checkTableData: [], // 逻辑验证表格数据
      expressTableData: [], // 表达式表格数据
      nowIndex: '',
      clickType: 1,
      textarea: '',
      parentName: '',
      childrenName: '',
      fieldModelList: [],
      childrenId: '',
      label: '',
      express: '',
      mid: '',
      fieldNameList: [],
      way: 0,
      time: 0,
      optionValue: ''
    }
  },
  created () {
    this.getDataModel()
    this.getExpressTableData()
    storage.getItem('appInfo').then(res => {
      // console.log(res)
      this.appName = res.appName
      this.appVersion = res.appVersion
    })
  },
  watch: {
    queryVal (Nval) {
      if (Nval === '') {
        this.query()
      }
    },
    dataValue (newVal, oldVal) {
      // this.data = []
      this.time++
      this.fieldData = []
      if (newVal) {
        this.getfieldData()
      }
    },
    dialogForm: {
      handler: function (val) {
        this.time++
      },
      deep: true
    },
    data: {
      handler: function (val) {
        this.time++
      },
      deep: true
    }
  },
  methods: {
    init () {
      if (this.data.length > 0) {
        this.$confirm('此操作将清空已选字段，是否继续 ? ', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.dataValue = this.optionValue
          this.fieldNameList = []
          this.data = []
        }).catch(() => {

        })
      }
    },
    opClick (val) {
      this.optionValue = val
    },
    // 获取字段树
    getfieldData () {
      ModelService.getTables({}, this.dataValue).then((response) => {
        // console.log(response)
        if (response.code === 200) {
          let res = response.data
          // console.log(res)
          if (res.length > 0) {
            let arr = []
            for (let list of res) {
              // console.log(list.name)
              let childrenList = []
              for (let item of list.defineFields) {
                // console.log(item)
                childrenList.push({
                  name: item.name + '(' + item.displayName + ')',
                  dataFieldName: item.displayName,
                  fieldName: item.name,
                  parentName: list.name,
                  id: item.id
                })
              }
              arr.push({
                children: [...childrenList],
                name: list.name
              })
            }
            this.fieldData = [...arr]
          } else {
            this.fieldData = []
          }
        } else {
          this.$messageService.error(response.message)
        }
      })
    },
    // 获取字段来源方法
    getDataModel () {
      ModelService.listAll('datasourcemodel').then((res) => {
        // console.log(res)
        if (res.code === 200) {
          if (res.data.length > 0) {
            let arr = []
            for (let item of res.data) {
              arr.push({
                value: item.name,
                label: item.name
              })
            }
            this.dataOptions = [...arr]
          } else {
            this.dataOptions = []
          }
        } else {
          this.$messageService.error(res.message)
        }
      })
    },
    // 查询
    query () {
      this.pageNo = 1
      this.getList()
    },
    getList () {
      ModelService.queryByPage('linkagemodel',
        this.pageNo,
        this.pageSize,
        this.queryVal
      ).then((response) => {
        // console.log(response)
        if (response.code === 200) {
          let res = response.data
          // console.log(res)
          if (res.list.length > 0) {
            let arr = []
            this.pageTotal = parseInt(res.totalRow)
            for (let item of res.list) {
              arr.push({
                mid: item['mid'],
                name: item['name'],
                showName: item['displayName'],
                datasourceName: item['datasourceName'],
                fieldModelList: item['fieldModelList'],
                tableList: item['tableList'],
                dataValue: item['datasourceName']
              })
            }
            this.tableData = [...arr]
          } else {
            this.tableData = []
          }
        } else {
          this.$messageService.error(response.message)
        }
      })
    },
    // 获取显示名称列表
    getExpressTableData () {
      ModelService.listAll('displaynamemodel').then((res) => {
        // console.log(res)
        if (res.code === 200) {
          if (res.data.length > 0) {
            let response = res.data
            let arr = []
            for (let item of response) {
              arr.push({
                name: item.name,
                showname: item.displayName
              })
            }
            this.expressTableData1 = [...arr]
            // console.log(this.expressTableData)
          } else {
            this.expressTableData1 = []
          }
        } else {
          this.$messageService.error(res.message)
        }
      })
    },
    // 树节点点击
    handleNodeClick (data, node) {
      // this.checkTableData = []
      // console.log(data)
      this.childrenName = data.name
      this.childrenId = node.id
      // this.checkTableData = []
      this.checkTableData = data.linkageValidateModelList
      this.expressTableData = data.linkageExpressionModelList
      this.label = node.label
    },
    checkNode (data, flag) {
      // console.log('选中', data)
      for (let item of this.fieldData) {
        let children = []
        if (data.parentName) {
          if (data.parentName === item.name) {
            if (flag) {
              let arr1 = []
              let arr2 = []
              for (let i = 0; i < 3; i++) {
                arr1.push({
                  comment: '',
                  condition: '',
                  expression: ''
                })
                arr2.push({
                  errCondition: '',
                  invalidArgs: '',
                  invalidMessage: ''
                })
              }
              children.push({
                name: data.name,
                mid: data.mid,
                fieldId: data.id,
                dataFieldName: data.dataFieldName,
                fieldName: data.fieldName,
                linkageExpressionModelList: [...arr1],
                linkageValidateModelList: [...arr2]
              })
              if (this.data.length > 0) {
                let has = true
                this.data.map((v, i) => {
                  if (v.name === item.name) {
                    has = false
                    let arr = []
                    this.data[i].children.map((value) => {
                      arr.push(value.fieldName)
                    })
                    if (arr.indexOf(children[0].fieldName) === -1) { this.data[i].children.push(...children) }
                  }
                })
                if (has) {
                  this.data.push({
                    children: children,
                    name: item.name
                  })
                }
              } else {
                this.data.push({
                  children: children,
                  name: item.name
                })
              }
            } else {
              this.data.map((v, i) => {
                if (v.name === item.name) {
                  v.children.map((val, ind) => {
                    if (data.fieldName === val.fieldName) {
                      this.data[i].children.splice(ind, 1)
                    }
                  })
                  if (this.data[i].children.length === 0) {
                    this.data.splice(i, 1)
                  }
                }
              })
            }
          }
        }
      }
    },
    // 确定按钮
    clickDone () {
      this.show = 0
    },
    // 点击选取字段
    showTree () {
      if (!this.dataValue) {
        this.$messageService.error('请选择字段来源！')
      } else if (this.show === 0) {
        this.checkTableData = []
        this.expressTableData = []
        this.show = 1
      } else if (this.show === 1) {
        this.show = 0
      }
    },
    getConditions (textarea) {
      // console.log(this.clickType)
      if (this.clickType === 1) {
        this.expressTableData[this.nowIndex].condition = textarea
      } else {
        this.expressTableData[this.nowIndex].expression = textarea
      }
    },
    // 添加按钮
    add () {
      // console.log(2)
      this.way = 0
      this.dialogForm = {}
      this.dialogForm.showName = ''
      this.dataValue = ''
      this.mid = ''
      this.data = []
      this.fieldData = []
      this.checkTableData = []
      this.expressTableData = []
      this.fieldNameList = []
      this.dialogVisible = true
    },
    // 表格编辑
    edit (data) {
      // console.log('data', data)
      this.way = 1
      this.fieldNameList = []
      this.mid = data.mid
      this.dialogForm.name = data.name
      this.dialogForm.showName = data.showName
      this.dataValue = data.datasourceName
      this.expressTableData = []
      this.checkTableData = []
      let checkList = []
      if (data.tableList.length > 0) {
        let dataList = data.tableList
        let arr = []
        for (let item of dataList) {
          // console.log(item)
          let array = []
          for (let list of item.defineFields) {
            checkList.push(list.fieldId)
            // console.log(list)
            if (list.linkageExpressionModelList.length === 0) {
              list.linkageExpressionModelList.push({
                comment: '',
                condition: '',
                expression: ''
              })
            }
            if (list.linkageValidateModelList.length === 0) {
              list.linkageValidateModelList.push({
                errCondition: '',
                invalidArgs: '',
                invalidMessage: ''
              })
            }
            array.push({
              mid: list.mid,
              fieldId: list.fieldId,
              parentId: list.parentId,
              comment: list.comment,
              fieldName: list.fieldName,
              dataFieldName: list.displayName,
              name: list.fieldName + '(' + list.displayName + ')',
              linkageExpressionModelList: list.linkageExpressionModelList,
              linkageValidateModelList: list.linkageValidateModelList
            })
          }
          arr.push({
            name: item.name,
            children: [...array]
          })
        }
        this.data = [...arr]
      } else {
        this.data = []
      }
      this.getfieldData()
      this.fieldNameList = [...checkList]
      this.dialogVisible = true
    },
    // 表格删除
    del (row, index) {
      this.$confirm('此操作将永久删除' + '“' + row.name + '”' + ', 是否继续 ? ', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        ModelService.deleteModel('linkagemodel', row.mid).then((res) => {
          if (res.code === 200) {
            this.query()
            this.$messageService.success('删除成功')
          }
        })
      }).catch(() => {

      })
    },
    // dialog保存
    dialogConfirm () {
      // console.log(this.mid)
      if (!this.dialogForm.name || !this.dialogForm.showName || !this.dataValue) {
        this.$messageService.error('请输入必填信息')
      } else {
        let array = []
        for (let list of this.data) {
          // console.log(list)
          for (let item of list.children) {
            // console.log(item.id)
            // console.log(item.linkageValidateModelList.filter(list => list.errCondition || list.invalidArgs || list.invalidMessage))
            array.push({
              tableName: list.name,
              linkageValidateModelList: item.linkageValidateModelList.filter(list => list.errCondition || list.invalidArgs || list.invalidMessage),
              linkageExpressionModelList: item.linkageExpressionModelList.filter(list => list.comment || list.condition || list.expression),
              mid: item.mid,
              fieldId: item.fieldId,
              fieldName: item.fieldName,
              displayName: item.dataFieldName,
              parentId: item.parentId
            })
          }
          // console.log(array)
        }
        this.fieldModelList = [...array]
        // console.log(this.fieldModelList)
        ModelService.saveModel('linkagemodel', {
          mid: this.mid,
          name: this.dialogForm.name,
          displayName: this.dialogForm.showName,
          displayNameFormat: this.express,
          appName: this.appName,
          appVersion: this.appVersion,
          fieldModelList: this.fieldModelList,
          datasourceName: this.dataValue
        }).then(res => {
          if (res.code === 200) {
            this.query()
            this.$messageService.success('保存成功')
            this.dialogVisible = false
            this.time = 0
          } else {
            this.$messageService.error(res.message)
          }
        })
      }
    },
    // dialog取消
    dialogExit () {
      if (!this.dialogForm.name && !this.dialogForm.showName && !this.dataValue && this.way === 0) {
        this.show = 0
        this.dialogVisible = false
        this.time = 0
      } else if (this.way === 1 && this.time <= 3) {
        this.show = 0
        this.dialogVisible = false
        this.time = 0
      } else {
        this.$confirm(`是否放弃当前编辑并退出？`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.show = 0
          this.dialogVisible = false
          this.time = 0
        })
      }
    },
    // 显示名称
    handleShowName () {
      this.expressShow = true
      this.dialogForm.showName = this.expressResult
    },
    getExpress (shownameResult, express) {
      this.expressShow = false
      this.dialogForm.showName = express || shownameResult
      this.express = express || shownameResult
    },
    handleClick (tab, event) {
      // console.log(tab)
      if (tab.name === 'first') {
        this.addButton = 1
      } else {
        this.addButton = 0
      }
    },
    // 校验上下移动
    checkUp (row, index) {
      // console.log(row, index)
      this.checkTableData.splice(index, 1)
      this.checkTableData.splice(index - 1, 0, row)
    },
    checkDown (row, index) {
      // console.log(row, index)
      this.checkTableData.splice(index, 1)
      this.checkTableData.splice(index + 1, 0, row)
    },
    addCheck (row, index) {
      let emptyIem = {
        conditions: '',
        message: '',
        parameter: ''
      }
      this.checkTableData.splice(index + 1, 0, emptyIem)
    },
    // 校验保存
    saveCheck (row) {
      if (!row.errCondition || !row.invalidMessage || !row.invalidArgs) {
        this.$messageService.error('请输入完整信息')
      }
    },
    // 校验删除按钮
    delCheck (row, index) {
      // 请求删除接口
      // this.$messageService.success('删除成功')
      this.checkTableData.splice(index, 1)
    },
    addExpress (row, index) {
      if (this.childrenName) {
        let emptyIem = {
          comment: '',
          condition: '',
          expression: ''
        }
        this.expressTableData.splice(index + 1, 0, emptyIem)
      } else {
        this.$messageService.error('未选择字段')
      }
    },
    // 条件编辑
    conditionsEdit (row, index) {
      // console.log(row)
      this.textarea = row.condition
      this.clickType = 1
      this.nowIndex = index
      // console.log(row, index)
      this.$refs.computeDialog.dialogVisible = true
    },
    // 表达式编辑
    expressionEdit (row, index) {
      this.textarea = row.expression
      this.clickType = 2
      // console.log(this.clickType)
      this.nowIndex = index
      this.$refs.computeDialog.dialogVisible = true
    },
    // 表达式上下移动
    expressionUp (row, index) {
      // console.log(row, index)
      this.expressTableData.splice(index, 1)
      this.expressTableData.splice(index - 1, 0, row)
    },
    expressionDown (row, index) {
      // console.log(row, index)
      this.expressTableData.splice(index, 1)
      this.expressTableData.splice(index + 1, 0, row)
    },
    // 表达式保存
    saveExpress (row, index) {
      if (!row.comment || !row.condition || !row.expression) {
        this.$messageService.error('请输入完整信息')
      }
    },
    // 表达式删除按钮
    delExpress (row, index) {
      // 请求删除接口
      // this.$messageService.success('删除成功')
      this.expressTableData.splice(index, 1)
    }
  }
}
</script>

<style scoped lang='scss'>
.compute {
  background-color: #fff;
  padding: $content-box-righ-padding;
  box-sizing: border-box;
  border-radius: 5px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .computeTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 16px 0;
    .computeTitle {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h3 {
        line-height: 24px;
        font-weight: 700;
        font-size: 18px;
      }
      p {
        line-height: 16px;
        font-size: 14px;
        color: #999999;
      }
    }
    .computeButton {
      display: flex;
      align-items: center;
      .topRow {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: 12px;
      }
    }
  }
  .computeTable {
    width: 100%;
    margin-bottom: 32px;
    // margin-top: 16px;
  }
  .computePagination {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .dialog {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .dialogMain {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 500px;
      .mainTop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        height: 10%;
        .iptRow {
          width: 30%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          div {
            display: flex;
            align-items: center;
            span {
              color: #f56c6c;
              margin-right: 4px;
            }
          }
        }
      }
      .mainBot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 90%;
        .mainBotLeft {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          width: 24%;
          .searchBox {
            width: 100%;
            height: 40px;
            position: relative;
            border-bottom: 2px solid #e4e7ed;
            box-sizing: border-box;
            .searchTop {
              border-radius: 4px;
              width: 100%;
              cursor: pointer;
              .iconfont {
                line-height: 40px;
                float: right;
                margin-right: 15px;
                color: #409eff;
              }
            }
            .treeBorder {
              width: 99%;
              height: 394px;
              border: 1px solid #dcdfe6;
              border-radius: 4px;
              position: absolute;
              z-index: 100;
              top: 38px;
              .el-tree {
                height: 88%;
                overflow-y: auto;
              }
              .button {
                margin-top: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
          .tree {
            width: 100%;
          }
        }
        .mainBotRight {
          width: 72%;
          height: 100%;
          position: relative;
          .addButton {
            z-index: 100;
            position: absolute;
            right: 6px;
            top: 6px;
          }
        }
      }
    }
  }
}
</style>
<style>
.compute .el-dialog {
  width: 1000px;
}
.compute .el-input__icon {
  line-height: 32px;
}
.compute .tree .is-current > .el-tree-node__content {
  background: #f5f8fb;
}
</style>
