<template>
  <div class='myBox'>
    <v-head :is-hidden="true"></v-head>
    <div class="content">
      <div class="main">
        <div class="tabs">
          <div :class="[item.path === activeName ? 'active' : '', 'tabPane']" v-for='item in myList' :key='item.path'>
            <router-link :to="'/my/'+ item.path">{{item.label}}</router-link>
          </div>
        </div>
        <div class="box">
          <router-view></router-view>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import vHead from '@/components/layout/Header.vue'
export default {
  name: 'my',
  data () {
    return {
      activeName: 'service',
      myList: [
        { path: 'service', label: '我的服务' },
        { path: 'bill', label: '云服务账单' },
        { path: 'serviceDetail', label: '云服务使用明细' },
        { path: 'modulePubHistory', label: '模块购买记录' },
        { path: 'rechargeInvoice', label: '充值与发票' },
        { path: 'setting', label: '个人设置' }
      ]
    }
  },
  components: {
    vHead
  },
  watch: {
    $route () {
      if (this.activeName === this.$route.name) return
      this.activeName = this.$route.name
    }
  },
  created () {
    if (this.activeName === this.$route.name) return
    this.activeName = this.$route.name
  },
  methods: {
  }
}
</script>

<style scoped lang='scss'>
.myBox {
  height: 100%;
  width: 100%;
  @extend %flex-center-col;
  justify-content: flex-start;

  .content {
    flex: 1;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    background: $content-bg;
    box-sizing: border-box;
    padding: 50px 0;

    .main {
      box-sizing: border-box;
      border: $border;
      min-height: 100%;
      width: 1140px;
      margin: 0 auto;
      box-shadow: 0 1px 4px rgb(182, 217, 231);
      background: $main-bg;
      @extend %flex-center-col;
      justify-content: flex-start;

      .tabs {
        height: $tags-height + 10px;
        width: 100%;
        background: skyblue;
        @extend %flex-center-row;

        .tabPane {
          flex: 1;
          height: 100%;
          border-right: $border;
          border-bottom: $border;
          box-sizing: border-box;
          background: $main-bg;
          line-height: $tags-height + 10px;
          text-align: center;
          a {
            display: inline-block;
            width: 100%;
            height: 100%;
          }
          &.active {
            padding: 0 5px;
            border-bottom: 2px solid $color-text-active;
            transition: all $duration ease-in-out;
            a {
              color: $color-text-active;
            }
          }
          // &:first-child {
          //   border-left: $border;
          // }
          &:last-child {
            border-right: none;
          }
          &:hover {
            border-bottom: 2px solid $color-text-active;
            a {
              color: $color-text-active;
            }
          }
        }
      }
      .box {
        flex: 1;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 30px;
        position: relative;
      }
    }
  }
}
</style>
