<template>
  <div class='dataTableBox'>
    <el-tabs v-model="activeName">
      <el-tab-pane label="表属性" name='first'>
        <el-form :model="tableFiledForm" ref="tableFiledForm" :rules="rules" label-width="100px" class="form">
          <el-form-item label="DB表名称" prop="name">
            <el-input v-model="tableFiledForm.name"></el-input>
          </el-form-item>
          <el-form-item label="连接方式" prop="joinKind">
            <el-select v-model="tableFiledForm.joinKind" placeholder="请选择" clearable>
              <el-option v-for='item in linkType' :key='item.key' :label='item.value' :value='item.key'></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="主键" prop="primaryKeyFields">
            <selectList :data="primaryKeyList" :props='selectListProps' v-model="tableFiledForm.primaryKeyFields" placeholder="请选择主键" :multiple="true"></selectList>
          </el-form-item>
        </el-form>
        <div class='addRow'>
          <el-button type='text' @click='addFiled'><i class="icon-add iconfont"></i> 添加</el-button>
          <el-button type='text' @click='copyFiled'><i class="icon-daoru3 iconfont"></i> 导入</el-button>
        </div>
        <el-table :data="tableData" border>
          <el-table-column prop="name" label="字段名称" label-class-name='require' min-width='100'>
            <template slot-scope="scope">
              <span class="cell-edit-input">{{scope.row.name}} </span>
              <!-- <el-input v-model="scope.row.name" @blur='checkFiledConflict($event, scope)' ref='fileNameInputRef' :class="scope.row.nameCheck === false ? 'warningItem' : ''" maxlength="64"></el-input> -->
            </template>
          </el-table-column>
          <el-table-column prop="displayName" label="中文名称" label-class-name='require' min-width='100'>
            <template slot-scope="scope">
              <span class="cell-edit-input">{{scope.row.displayName}}</span>
              <!-- <name-express @getExpress='getExpress' :initExpress='scope.row.displayNameFormat' @click.native="selectExpress(scope.row,'displayName')" v-if='!detailShow && showNameList' :listData='showNameList'></name-express> -->
            </template>
          </el-table-column>
          <el-table-column prop="dataType" label="数据类型" label-class-name='require' min-width='100'>
            <template slot-scope="scope">
              <span class="cell-edit-input">{{scope.row.dataType}} </span>
              <!-- <el-select v-model="scope.row.dataType" placeholder="请选择" @change='selectDataType(scope)'>
                  <el-option v-for='item in dataKind' :key='item.key' :label='item.value' :value='item.key'></el-option>
                </el-select> -->
            </template>
          </el-table-column>
          <el-table-column label="数据长度" width='100'>
            <template slot-scope="scope">
              <span class="cell-edit-input">{{scope.row.size}} </span>
              <!-- <el-input-number :ref='"sizeInput" + scope.$index ' size="mini" controls-position="right" :precision="0" v-model="scope.row.size" :min="0" label="请选择数据长度" @blur='getRightSize(scope)'></el-input-number> -->
            </template>
          </el-table-column>
          <el-table-column label="精度" width='100' label-class-name='miniColumn'>
            <template slot-scope="scope">
              <span class="cell-edit-input">{{scope.row.scale}} </span>
              <!-- <el-input-number size="mini" controls-position="right" :precision="0" v-model="scope.row.scale" :min="0" label="请选择精度" :disabled='scope.row.dataType !== "Double" && scope.row.dataType !== "Decimal"'></el-input-number> -->
            </template>
          </el-table-column>
          <el-table-column prop="allowEmpty" label="允许空值" width='100'>
            <template slot-scope="scope">
              <span>
                <el-switch v-model="scope.row.allowEmpty" disabled></el-switch>
              </span>
            </template>
          </el-table-column>
          <el-table-column prop="dataSource" label="关联数据源" min-width='120'>
            <template slot-scope="scope">
              <span class="cell-edit-input">{{relativeText(scope.row.relativeDataSources)}} </span>
              <!-- <el-input ref='relationSourceInput' :value="relativeText(scope.row.relativeDataSources)" :placeholder="placeholder" @focus='relationSource(scope)'>
                <i class="icon-gengduo iconfont" slot="suffix" @click='relationSource(scope)'></i>
              </el-input> -->
            </template>
          </el-table-column>
          <el-table-column label="操作" width='100' fixed='right' align='left'>
            <template slot-scope="scope" width="80">
              <el-button type='text' @click="detailClick(scope)">详情</el-button>
              <el-button type="text" @click='delTable(scope.row)'>删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
      <el-tab-pane label="表索引" name="second">
        <el-button type='primary' @click='addIndex'>新增索引</el-button>
        <el-table :data="indexData" border class="el-form-item">
          <el-table-column prop="name" label="索引名称" label-class-name='require'>
            <template slot-scope="scope">
              <span v-if="!scope.row.editFlag">{{ scope.row.name }}</span>
              <span v-if="scope.row.editFlag" class="cell-edit-input">
                <el-input v-model="scope.row.name"></el-input>
              </span>
            </template>
          </el-table-column>
          <el-table-column prop="isUniqueIndex" label="是否唯一索引">
            <template slot-scope="scope">
              <el-switch v-model="scope.row.isUniqueIndex"></el-switch>
            </template>
          </el-table-column>
          <el-table-column prop="fieldDetailText" label="字段" label-class-name='require'>
            <template slot-scope="scope">
              <span v-if="!scope.row.editFlag">{{ scope.row.fieldDetailText }}</span>
              <span v-if="scope.row.editFlag" class="cell-edit-input">
                <el-input v-model="scope.row.fieldDetailText" suffix-icon="el-icon-more" @focus='selectFiled(scope.row)'></el-input>
              </span>
            </template>
          </el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button type="text" @click='delIndex(scope.row)'>删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
    </el-tabs>
    <!--关联数据源dialog-->
    <params-list dialogTitle="关联数据源" formName='relationForm' showModelName='relationShow' :dialogShow='relationShow' :tree-data="currentTableRow.relativeDataSources" @childChange='paramsListChildChange' @submitParamsList='submitRelatioList' @cancalParamsList='cancelRelatioList'>
      <template slot='form' slot-scope='{data: currentNode}'>
        <!-- 关联数据源dialog-form -->
        <el-form :model="currentNode.data" ref="relationForm" class="relationForm" :rules="relativeRules" label-width="110px" label-position="right">
          <el-form-item label="来源功能" prop="relativeSourceName">
            <el-select v-model="currentNode.data.relativeSourceName" placeholder="请选择" @change='selectSourceFunc(currentNode.data)'>
              <el-option v-for='item in dataModelList' :key='item.name' :label='item.name' :value='item.name'></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="数据集" prop="relativeIndex">
            <el-select v-model="currentNode.data.relativeIndex" placeholder="请选择" @change='selectRelativeIndex(currentNode.data)'>
              <el-option v-for='item in dataSetList' :key='item.name' :label='item.name' :value='item'></el-option>
            </el-select>
            <!-- <el-input v-model="currentNode.data.relativeIndex"></el-input> -->
          </el-form-item>
          <el-form-item label="前置关联主键" prop="relativeMasterFields">
            <el-select v-model="currentNode.data.relativeMasterFields" placeholder="请选择" multiple collapse-tags>
              <el-option v-for='item in masterFieldList' :key='item.name' :label='item.name' :value='item.name'></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="关联条件" prop="relativeCondition">
            <el-input v-model="currentNode.data.relativeCondition"></el-input>
          </el-form-item>
          <el-form-item label="来源必须存在" prop="checkDataExist">
            <el-switch v-model="currentNode.data.checkDataExist"></el-switch>
          </el-form-item>
          <el-form-item label="检查有效日期" prop="checkValidDate">
            <el-switch v-model="currentNode.data.checkValidDate"></el-switch>
          </el-form-item>
          <el-form-item label="更新来源" prop="updateSource">
            <el-switch v-model="currentNode.data.updateSource"></el-switch>
          </el-form-item>
        </el-form>
      </template>
      <!-- 关联数据源dialog-table -->
      <template slot='tabs' slot-scope='{data: currentNode}'>
        <el-tabs type="border-card">
          <!-- relativeField表格 -->
          <el-tab-pane label="relativeField">
            <el-table :data='currentNode.data.defineRelativeFields' border>
              <el-table-column prop="name" label="字段名称" label-class-name='require'>
                <template slot-scope="scope">
                  <el-select v-model="scope.row.name" placeholder="请选择" @change="selectRelativeField(scope, currentNode.data.defineRelativeFields)">
                    <el-option v-for='option in masterFieldList' :key='option.name' :label='option.name' :value='option.name' :disabled="option.disabled1"></el-option>
                  </el-select>
                </template>
              </el-table-column>
              <el-table-column prop="displayNameFormat" label="中文名称" label-class-name='require'>
                <template slot-scope="scope">
                  <name-express @getExpress='getDataSourceExpress(arguments, scope.row)' :initExpress='scope.row.displayNameFormat' @click.native="selectExpress(scope.row,'displayName')"></name-express>
                </template>
              </el-table-column>
              <el-table-column prop="controlType" label="控件类型" label-class-name='require'>
                <template slot-scope="scope">
                  <span class="cell-edit-input">
                    <el-select v-model="scope.row.controlType" placeholder="请选择">
                      <el-option v-for='item in showType1' :key='item.key' :label='item.value' :value='item.key'></el-option>
                    </el-select>
                  </span>
                </template>
              </el-table-column>
              <el-table-column prop="canUseCondition" label="可作为查询条件" width='130'>
                <template slot-scope="scope">
                  <el-switch v-model="scope.row.canUseCondition"></el-switch>
                </template>
              </el-table-column>
              <el-table-column prop="visibleCondition" label="显示条件">
                <template slot-scope="scope">
                  <!-- <el-input v-model="scope.row.visibleCondition"></el-input> -->
                  <el-switch v-model="scope.row.visibleCondition"></el-switch>
                </template>
              </el-table-column>
              <el-table-column label="操作" width='100'>
                <template slot-scope="scope">
                  <el-button type="text" @click='addRelationFiled(currentNode.data.defineRelativeFields, scope.$index)'>新增</el-button>
                  <el-button type="text" @click='delReltionFiled(currentNode.data.defineRelativeFields, scope.$index)'>删除</el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-tab-pane>
          <!-- checkField表格 -->
          <el-tab-pane label="checkField">
            <el-table :data='currentNode.data.defineRelativeBackFields' border>
              <el-table-column prop="fieldName" label="来源字段" label-class-name='require'>
                <template slot-scope="scope">
                  <el-select v-model="scope.row.name" placeholder="请选择" @change="selectFieldName(scope, currentNode.data.defineRelativeBackFields)">
                    <el-option v-for='option in masterFieldList' :key='option.name' :label='option.name' :value='option.name' :disabled="option.disabled2"></el-option>
                  </el-select>
                </template>
              </el-table-column>
              <el-table-column prop="useFieldName" label="目的字段" label-class-name='require'>
                <template slot-scope="scope">
                  <span>{{ scope.row.useFieldName }}</span>
                </template>
              </el-table-column>
              <el-table-column label="操作" width='100'>
                <template slot-scope="scope">
                  <el-button type="text" @click='addBackFiled(currentNode.data.defineRelativeBackFields, scope.$index)'>新增</el-button>
                  <el-button type="text" @click='delBackFiled(currentNode.data.defineRelativeBackFields, scope.$index)'>删除</el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-tab-pane>
        </el-tabs>
      </template>
    </params-list>
    <!--新增系统字段-->
    <el-dialog title="新增系统字段" :visible.sync="systemFiledShow" v-if='systemFiledShow' width="15%">
      <search-box placeholder="代码" muliti :options='systemFiled' :showKeys='["value","name"]' filterKey='value'></search-box>
      <div class="btnBox">
        <el-button type='primary' @click='systemFiledOk'>确定</el-button>
        <el-button type='primary' plain @click='systemFiledCancel'>取消</el-button>
      </div>
    </el-dialog>

    <!--导入字段的dialog-->
    <el-dialog title="导入字段" :visible.sync="copyFiledShow" v-if='copyFiledShow' width="400px" class='copyFiledDialog'>
      <div class="copyModelBox">
        <span>选择模型</span>
        <el-select v-model="nowDataModel" placeholder="请选择" value-key='name' @change='selectCopyModel'>
          <el-option v-for='item in CopyDataModelList' :key='item.name' :label='item.name' :value='item'></el-option>
        </el-select>
      </div>
      <div class="copyTreeBox">
        <p>选择字段</p>
        <el-scrollbar>
          <el-tree ref='copyTree' :props="defaultProps" node-key='name' show-checkbox check-on-click-node @check-change="selectCopyField" :data='copyTreeData' default-expand-all>
          </el-tree>
        </el-scrollbar>
      </div>
      <div class="switchBox">
        <span>覆盖同名字段 </span>
        <el-radio v-model="allowCover" :label="true">允许</el-radio>
        <el-radio v-model="allowCover" :label="false">不允许</el-radio>
        <!-- <el-switch v-model="allowCover"></el-switch> -->
      </div>
      <div class="btnBox">
        <el-button type='primary' @click='filedOk'>确定</el-button>
        <el-button type='primary' plain @click='filedCancel'>取消</el-button>
      </div>
    </el-dialog>

    <!--选择表字段作为索引-->
    <el-dialog title="选择索引字段" :visible.sync="indexShow" v-if='indexShow' width="40%">
      <div class="indexBox">
        <div class="leftBox">
          <p>选择</p>
          <search-box :options='tableData' muliti :showKeys='["name", "displayName"]' filterKey='filedcode' @select='selectIndex'></search-box>
        </div>
        <div class="rightBox">
          <p>已选</p>
          <div>
            <p v-if='!currentIndex.filedSelected || !currentIndex.filedSelected.length' class="noData">请选择字段</p>
            <div v-for='item in currentIndex.filedSelected' class="item" :key='item.name'>
              <p class="filedname">{{item.name}}</p>
              <el-select v-model='item.orderType'>
                <el-option label="升序" value="1"></el-option>
                <el-option label="降序" value="2"></el-option>
              </el-select>
              <p @click='moveUp(item)'>上移</p>
              <p @click='moveDown(item)'>下移</p>
            </div>
          </div>
        </div>
      </div>
      <div class="oprate center">
        <el-button type='primary' @click='confirmIndex'>确定</el-button>
        <el-button type='primary' plain @click='cancelIndex'>取消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import lodash from 'lodash'
import { nameReg, numReg } from '@/assets/js/comm/constant'
import { mapState, mapActions } from 'vuex'
import searchBox from '@/components/searchBox'
import selectList from '@/components/searchBox/selectList' // 下拉列表组件
import paramsList from '@/components/paramsList'
import editTree from '@/components/editTree'
import nameExpress from '@/components/nameExpress/input.vue'
import ModelService from '../../../../assets/js/service/modelservice.js'

export default {
  name: 'data-table',
  components: {
    editTree,
    nameExpress,
    searchBox,
    selectList,
    paramsList
  },
  props: {
    modelInfo: Object, // 当前数据模型的所有信息
    data: Object, // 当前表在左边树的node
    type: Number, // 新增|编辑
    treeNodeUnquen: Number
  },
  data () {
    let checkName = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('DB名称不能为空'))
      }
      setTimeout(() => {
        if (!nameReg.test(value)) {
          const firstLetter = value.slice(0, 1)
          if (numReg.test(firstLetter)) {
            callback(new Error('名称不能以数字开头'))
          } else {
            callback(new Error('名称只能为字母数字或._-'))
          }
          return
        }
        callback()
      }, 300)
    }
    return {
      currentMember: {}, // 关联来源：选中成员的data(主要是响应currentNode的深度监听，来判断一些东西)
      dataModelList: [], // 关联来源：来源功能下拉列表
      dataSetList: [], // 关联来源：数据集下拉列表
      masterFieldList: [], // 关联来源：数据集下拉列表
      backups: {}, // 备份将要编辑的关联数据源
      nowDataModel: {}, // 当前模型的所有数据
      copyTreeData: [], // 当前模型的树形结构
      copyList: [], // 选中的将要导入的字段
      allowCover: true, // 导入字段重复时是否允许覆盖
      defaultProps: {
        label: 'name'
      },
      selectListProps: { // selectList中的props
        value: 'value',
        label: 'label',
        valueKey: 'value'// 用来表示option选项唯一标志的属性
      },
      activeName: 'first',
      activeNames: ['basic', 'contral'],
      currentTableRow: {},
      systemFiledShow: false,
      copyFiledShow: false,
      detailShow: false,
      relationShow: false, // 关联dialog
      indexShow: false,
      optionDisable: true,
      focusRow: '',
      focusRowKey: '',
      selectedNode: [],
      showNameList: null,
      currentIndex: {
        filedSelected: []
      },
      tableFiledForm: {},
      detailForm: {},
      tableData: [],
      indexData: [],
      relationFiledData: [],
      relationBackData: [],
      systemFiled: [
        // 数据字典
        {
          name: '公司ID号',
          value: 'co_id'
        },
        {
          name: '采购单号',
          value: 'po_num'
        }
      ],
      rules: {
        name: [{ required: true, validator: checkName, trigger: 'blur' }]
      },
      relativeRules: { // 关联字段dialog中表单的校验
        relativeSourceName: [
          { required: true, message: '请选择来源功能', trigger: 'select' }
        ],
        relativeIndex: [
          { required: true, message: '请选择数据集', trigger: 'select' }
        ]
      }
    }
  },
  computed: {
    ...mapState('options', [
      'dataKind',
      'showType',
      'sourceFunc',
      'linkType',
      'defineTableIndex',
      'fieldKind',
      'deploymodule',
      'dataValidateType',
      'dataDirct',
      'optionsLink'
    ]),
    primaryKeyList: function () { // 主键列表，只要名字
      // console.log(this.tableData)
      if (this.tableData && this.tableData.length) {
        let newArr = []
        this.tableData.map(item => {
          const label = item.name + '(' + item.displayName + ')'
          if (item.name) newArr.push({ value: item.name, label })
        })
        return newArr
      } else {
        return []
      }
    },
    sourceFuncList: function () { // 去除关联数据源列表中的无效选项
      if (this.sourceFunc) {
        return this.sourceFunc.filter(item => {
          return item.name
        })
      }
    },
    showType1: function () { // 去除显示类型中的请选择这一项
      // console.log('显示类型', this.showType)
      if (this.showType) {
        const arr = this.showType.filter(item => {
          return item.key
        })
        return arr
      }
    },
    CopyDataModelList: function () { // 导入字段，先选择本模型再选其他模型
      let newDataModelList = []
      if (this.dataModelList) {
        let isInsert = true
        this.dataModelList.map(item => { // 如果是编辑模型，当前模型已经在列表中了
          if (item.name === this.modelInfo[0].name) {
            isInsert = false
          }
        })
        newDataModelList = this.dataModelList
        if (isInsert) {
          newDataModelList = newDataModelList.concat(this.modelInfo[0])
          newDataModelList.splice(0, 0, newDataModelList[newDataModelList.length - 1])
          newDataModelList.splice(newDataModelList.length - 1, 1)
        }
      }
      return newDataModelList
    }
  },
  watch: {
    data (val) {
      // console.log('数据：', this.data)
      this.tableFiledForm = this.data.data
      if (!this.data.data.children) {
        this.$set(this.data.data, 'children', [])
      }
      this.tableData = this.data.data.children
      if (!this.data.data.defineIndices) {
        this.$set(this.data.data, 'defineIndices', [])
      }
      this.indexData = this.data.data.defineIndices
    },
    'tableFiledForm.primaryKeyFields': function (val) { // 主键变化时，去给字段设置标识
      if (val) {
        this.selectPrimaryKey(val)
      }
    },
    relationShow: function (val) { // 关闭关联数据源的dialog时去除无效的成员
      if (!val) {
        setTimeout(() => { // 让dialog消失后再去过滤
          let row = this.currentTableRow
          if (row.relativeDataSources && row.relativeDataSources.length) {
            row.relativeDataSources = row.relativeDataSources.filter(item => {
              return item.relativeSourceName && item.relativeIndex
            })
          }
        }, 300)
      }
    },
    copyFiledShow: function (val) { // 打开导入dialog时禁选当前表下的字段
      if (!val) return
      // console.log('打开导入', this.copyTreeData)
      this.copyTreeData.map(dataSet => { // 遍历数据集的数组，然后给当前db表禁选
        this.$set(dataSet, 'disabled', true)
        if (dataSet.children && dataSet.children.length) {
          dataSet.children.map(table => {
            if (table.name === this.data.data.name && table.$treeNodeId === this.data.data.$treeNodeId) {
              this.$set(table, 'disabled', true)
              if (table.children && table.children.length) {
                table.children.map(field => {
                  this.$set(field, 'disabled', true)
                })
              }
            } else {
              this.$set(table, 'disabled', false)
              if (table.children && table.children.length) {
                table.children.map(field => {
                  this.$set(field, 'disabled', false)
                })
              }
            }
          })
        }
      })
    }
  },
  async created () {
    console.log('当前node', this.data)
    this.nowDataModel = this.modelInfo[0] // 导入模型时默认选中本模型
    this.copyTreeData = this.modelInfo[0].children // 默认展示当前模型的树结构做为导入字段的树
    this.showNameList = await ModelService.listAll('displaynamemodel')
    ModelService.listAll('datasourcemodel').then(res => { // 初始化的时候获取所有数据模型列表
      if (res.data) {
        this.dataModelList = res.data
      }
    })
  },
  async mounted () {
    this.tableFiledForm = this.data.data
    if (!this.data.data.children) {
      this.$set(this.data.data, 'children', [])
    }
    this.tableData = this.data.data.children

    if (!this.data.data.defineIndices) {
      this.$set(this.data.data, 'defineIndices', [])
    }
    this.indexData = this.data.data.defineIndices
    await this.getDataKind() // 获取数据类型
    await this.getDataDirct()
    await this.getShowType()
    // await this.getSourceFunc() // 获取来源功能(功能模型和数据模型一一对应)
    await this.getLinkType()
    await this.getFieldKind()
    await this.getDeploymodule()
    await this.getDataValidateType()
  },
  methods: {
    ...mapActions('options', [
      'getDataKind',
      'getShowType',
      'getSourceFunc',
      'getLinkType',
      'getDefineTableIndex',
      'getFieldKind',
      'getDeploymodule',
      'getDataValidateType',
      'getDataDirct',
      'getOptionsLink'
    ]),
    copyFiled () { // 点击导入按钮
      this.copyFiledShow = true
    },
    selectCopyModel (model) { // 选择一个要导入的模型
      this.copyList = []
      const str = model.name + '/tree_struct'
      ModelService.getModelTree({}, str).then(res => { // 获取要导入的树结构并添加level
        if (res.data) {
          this.copyTreeData = res.data
          if (this.copyTreeData.length) {
            this.copyTreeData.map(dataSet => {
              this.$set(dataSet, 'disabled', true)
              this.$set(dataSet, 'level', 2)
              if (dataSet.children && dataSet.children.length) {
                dataSet.children.map(table => {
                  this.$set(table, 'level', 3)
                  if (table.children && table.children.length) {
                    table.children.map(field => {
                      this.$set(field, 'level', 4)
                    })
                  }
                })
              }
            })
          }
        }
      })
    },
    selectCopyField (item, isCheck) { // 选择一个导入字段时
      // console.log('选择导入字段', item)
      if (item.level === 4) {
        if (isCheck) {
          let isPush = true
          this.copyList.map(option => {
            if (option.name === item.name) {
              isPush = false
              this.$refs.copyTree.setChecked(item.name, false)
              this.$messageService.info('不允许选择同名字段同时导入')
            }
          })
          item.treeNodeUnquen = this.treeNodeUnquen++
          this.$emit('updateUniqune', this.treeNodeUnquen)
          if (isPush) this.copyList.push(item)
        } else {
          this.copyList.map((option, i) => {
            if (option.name === item.name) {
              this.copyList.splice(i, 1)
            }
          })
        }
      }
    },
    filedOk () { // 确认导入字段
      // console.log('准备导入', this.copyList, this.data, this.allowCover)
      // let isPaste = true
      let arr = [] // 用来放选中字段和表中重复的字段的数组
      if (this.copyList && this.copyList.length) { // 查看是否有和本表字段重复的字段，并把名字放进arr
        for (let i = 0; i < this.copyList.length; i++) {
          let item = this.copyList[i]
          for (let j = 0; j < this.tableData.length; j++) {
            let old = this.tableData[j]
            if (item.name === old.name) {
              item.index = j
              arr.push(item.name)
            }
          }
        }
      }
      // if (arr.length) { // 询问
      //   const str = arr.toString()
      //   await this.$confirm('字段' + str + '和当前表中字段重复，是否覆盖?', '提示', {
      //     cancelButtonText: '取消',
      //     confirmButtonText: '确定',
      //     type: 'warning'
      //   }).then(() => {
      //   }).catch(() => {
      //     isPaste = false
      //   })
      // }

      if (this.copyList.length) {
        let arrList = lodash.cloneDeep(this.copyList)
        arrList.map(item => {
          let isRepeat = false
          item.isPrimaryKey = false
          this.tableData.map((option, j) => {
            if (option.name === item.name) { // 找到同名字段
              isRepeat = true
              if (this.allowCover) { // 是否允许覆盖同名字段
                item.isPrimaryKey = option.isPrimaryKey
                this.tableData.splice(j, 1, item)
              } else { // 不允许覆盖就取一个当前表中不存在的名字给他，然后push
                // let row = lodash.cloneDeep(item)
                let result = this.getUniqueName(this.tableData, item.name + '1')
                item.name = result
                this.tableData.push(item)
              }
            }
          })
          if (!isRepeat) {
            this.tableData.push(item)
          }
        })
      }
      this.copyFiledShow = false
      this.copyList = []
    },
    getUniqueName (tableData, name) { // 查看当前表格中是否有同名的，同名就再判断是否有和name+'1'一样的，递归
      let isRepeat = false
      tableData.map((option) => {
        if (name === option.name) {
          isRepeat = true
        }
      })
      if (!isRepeat) {
        return name
      } else {
        return this.getUniqueName(tableData, name + '1')
      }
    },
    filedCancel () {
      // console.log('准备导入', this.copyList, this.data, this.allowCover)
      this.copyFiledShow = false
      this.copyList = []
    },
    systemFiledOk () {
      this.addFiled() // 需要带入系统字段
      this.systemFiledShow = false
    },
    systemFiledCancel () {
      this.systemFiledShow = false
    },
    addFiled () { // 新增db表字段
      const empty = {
        label: 'default-field',
        name: 'default-field',
        fieldName: 'default-field',
        displayName: '默认字段',
        displayNameFormat: '默认字段',
        fieldKind: 'Actual',
        allowEmpty: true,
        readOnly: true,
        checkInUsed: true,
        canDuplicate: true,
        mergeOut: true,
        visibleCondition: true,
        canUseCondition: true,
        allowCustomTransBill: true,
        treeNodeUnquen: this.treeNodeUnquen++,
        editFlag: true,
        flag: true,
        fromRelationTable: undefined,
        level: 4,
        numberValidateType: '',
        dataType: 'Unknown'
      }
      this.$emit('updateUniqune', this.treeNodeUnquen)
      this.tableData.push(empty)
      this.$nextTick(() => { // 等待dom更新后再跳转，防止左边树找不到高亮的字段
        this.$emit('filedClick', empty)
      })
    },
    delTable (row) {
      const index = this.tableData.indexOf(row)
      this.tableData.splice(index, 1)
      if (row.isPrimaryKey) { // 判断删除的是否是主键字段
        this.tableFiledForm.primaryKeyFields.filter(item => {
          return item.name !== row.name
        })
      }
    },
    addIndex () {
      const empty = {
        name: '',
        isUniqueIndex: false,
        fieldDetailText: '',
        editFlag: true
      }
      this.indexData.push(empty)
    },
    delIndex (row) {
      const index = this.indexData.indexOf(row)
      this.indexData.splice(index, 1)
    },
    selectFiled (row) {
      this.currentIndex = row
      for (let item of this.tableData) {
        if (row.filedSelected && row.filedSelected.length) {
          for (let selectedItem of row.filedSelected) {
            item.checked = item.filedName === selectedItem.filedName // 需要唯一标示
          }
        } else {
          item.checked = false
        }
      }
      this.indexShow = true
    },
    selectIndex (selected) {
      this.$set(this.currentIndex, 'filedSelected', selected)
    },
    confirmIndex () {
      let str = ''
      for (let item of this.currentIndex.filedSelected) {
        str += `${item.name},`
      }
      this.currentIndex.fieldDetailText = str
      this.indexShow = false
    },
    cancelIndex () {
      this.indexShow = false
    },
    selectPrimaryKey (selected) { // 给字段设置是否是主键的标识
      for (let item of this.tableData) {
        this.$set(item, 'isPrimaryKey', false)
        for (let name of selected) {
          if (name === item.name) {
            this.$set(item, 'isPrimaryKey', true)
          }
        }
      }
      console.log('tableData', this.tableData, selected)
    },
    selectDataType (scope) {
      // 选择数据类型的回调
      if (scope.row.dataType === 'GUID') {
        scope.row.size = 10
      }
    },
    getRightSize (scope) {
      // 当数据类型为'GUID'
      if (scope.row.dataType === 'GUID') {
        if (!scope.row.size) {
          const refName = 'sizeInput' + scope.$index
          this.$messageService.info('数据类型为"GUID"时,数据长度不可为空或0')
          this.$refs[refName].focus()
        }
      }
    },
    detailClick (scope) { // 点击详情
      console.log(scope.row)
      this.$emit('filedClick', scope.row)
    },
    selectExpress (row, key) {
      this.focusRow = row
      this.focusRowKey = key
    },
    getExpress (shownameResult, express) {
      this.focusRow[this.focusRowKey] = shownameResult
      if (this.focusRowKey === 'displayName') {
        this.focusRow.displayNameFormat = express
      } else {
        this.focusRow.shortDisplayNameFormat = express || shownameResult
      }
    },
    getDataSourceExpress (arg, row) {
      row.displayNameFormat = arg[1] || arg[0]
    },
    selectNameExpress (key) {
      this.focusRowKey = key
    },
    getNameExpress (shownameResult, express) {
      this.detailForm.displayName = shownameResult
      if (this.focusRowKey === 'displayName') {
        this.detailForm.displayNameFormat = express
      } else {
        this.detailForm.shortDisplayNameFormat = express || shownameResult
      }
    },
    moveUp (item) {
      const index = this.currentIndex.filedSelected.indexOf(item)
      let preItem
      if (index > 0) {
        preItem = this.currentIndex.filedSelected[index - 1]
        this.$set(this.currentIndex.filedSelected, index - 1, item)
        this.$set(this.currentIndex.filedSelected, index, preItem)
      }
    },
    moveDown (item) {
      const index = this.currentIndex.filedSelected.indexOf(item)
      const nextItem = this.currentIndex.filedSelected[index + 1]
      if (nextItem) {
        this.$set(this.currentIndex.filedSelected, index + 1, item)
        this.$set(this.currentIndex.filedSelected, index, nextItem)
      }
    },
    cancelDetail () {
      this.detailShow = false
    },
    checkFiledConflict (e, scope) { // 字段名称失焦校验
      setTimeout(() => { // 删除的时候不进行校验
        if (this.tableData[scope.$index] && this.tableData[scope.$index].name === scope.row.name) {
          const tmepData = lodash.cloneDeep(this.tableData)
          tmepData.splice(scope.$index, 1) // 删除自身
          this.$set(scope.row, 'nameCheck', true)
          if (!scope.row.name) {
            this.$set(scope.row, 'nameCheck', false)
            this.$messageService.info(
              '字段名称不允许为空'
            )
            return
          }
          if (!nameReg.test(scope.row.name)) {
            this.$set(scope.row, 'nameCheck', false)
            this.$messageService.info(
              '字段名称只允许为字母数字或者._-且不能数字开头'
            )
          } else {
            for (let item of tmepData) {
              if (item.name && scope.row.name === item.name) {
                this.$set(scope.row, 'nameCheck', false)
                this.$messageService.info('表字段不能重复')
                return
              }
            }
          }
        }
      }, 500)
    },
    addSystemFiled () {
      this.systemFiledShow = true
    },
    confirmDetial () {
      this.$refs.detailForm.validate(valid => {
        if (valid) {
          this.detailShow = false
        }
      })
    },
    selectDirct (item) {
      this.detailForm.dataFieldName = item
    },
    async selectLink (item) {
      const optionSet = await ModelService.getOptionsSet({}, item)
      let optionSetStr = ''
      for (let item of optionSet.data.pickValueItemList) {
        optionSetStr += `${item.name},`
      }
      const realStr = optionSetStr.substr(0, optionSetStr.length - 1)
      this.optionDisable = true
      this.detailForm.pickvalues = realStr ? `{${realStr}}` : ''
    },
    relativeText (dataSource) { // 拼接关联来源的文本
      if (!dataSource || !dataSource.length) return ''
      let text = ''
      dataSource.map((item) => {
        text += ';' + item.relativeSourceName + '(' + item.displayName + ')'
      })
      text = text.replace(';', '')
      return text
    },
    relationSource (scope) { // 打开关联来源dialog
      // console.log('打开', scope.row)
      const row = scope.row
      this.backups = lodash.cloneDeep(row) // 编辑前先备份，取消编辑时返回上次编辑
      this.backups.index = scope.$index
      if (this.relationShow) return // 解决input框反复得焦的问题
      if (!row.relativeDataSources || !row.relativeDataSources.length) {
        this.$set(row, 'relativeDataSources', [{ label: 'default-params', id: 1 }])
      } else if (row.relativeDataSources.length === 1 && row.relativeDataSources.label) { // 只有一个默认成员时，不处理
        // console.log(row)
      } else {
        row.relativeDataSources.map(item => {
          item.label = item.relativeSourceName
        })
      }
      this.currentTableRow = row // 当前这一行所有的数据
      this.relationShow = true
    },
    paramsListChildChange (data) { // 关联数据源：左边树节点的回调data:树节点的data, formName:form表单的mode名字
      if (data.relativeSourceName === undefined) this.$set(data, 'relativeSourceName', '')
      if (data.relativeIndex === undefined) this.$set(data, 'relativeIndex', '')
      if (data.relativeMasterFields === undefined) this.$set(data, 'relativeMasterFields', [])
      if (data.relativeCondition === undefined) this.$set(data, 'relativeCondition', '')
      if (data.checkDataExist === undefined) this.$set(data, 'checkDataExist', false)
      if (data.checkValidDate === undefined) this.$set(data, 'checkValidDate', false)
      if (data.updateSource === undefined) this.$set(data, 'updateSource', false)
      if (!data.defineRelativeFields || !data.defineRelativeFields.length) { // 设置relativeField 表格的数据源
        this.$set(data, 'defineRelativeFields', [])
        this.addRelationFiled(data.defineRelativeFields)
        this.addRelationFiled(data.defineRelativeFields)
        this.addRelationFiled(data.defineRelativeFields)
      }
      if (!data.defineRelativeBackFields || !data.defineRelativeBackFields.length) { // 设置checkField 表格的数据源
        this.$set(data, 'defineRelativeBackFields', [])
        this.addBackFiled(data.defineRelativeBackFields)
        this.addBackFiled(data.defineRelativeBackFields)
        this.addBackFiled(data.defineRelativeBackFields)
      }
      const { relativeSourceName, relativeIndex } = this.currentMember
      if (data.relativeSourceName && data.relativeSourceName !== relativeSourceName) { // 关联数据源;如果当前选定的关联功能变化了，就要重新获取数据集的下拉列表
        this.selectSourceFunc(data, true)
        this.currentMember = lodash.cloneDeep(data)
      }
      if (data.relativeIndex && data.relativeIndex !== relativeIndex) { // 关联数据源;如果当前选定的数据集变化了，就要重新获取前置主键的下拉列表
        this.currentMember = lodash.cloneDeep(data)
        ModelService.getModelInfo('datasourcemodel', data.relativeSourceName).then(res => {
          if (res.data && res.data.defineDataSets && res.data.defineDataSets.length) {
            res.data.defineDataSets.map(item => {
              if (item.name === data.relativeIndex) {
                if (item.defineDBTables && item.defineDBTables.length) {
                  this.masterFieldList = []
                  item.defineDBTables.map((option) => {
                    if (option.defineFields && option.defineFields.length) {
                      this.masterFieldList = this.masterFieldList.concat(option.defineFields)
                    }
                  })
                }
              }
            })
          }
        })
      }
    },
    selectSourceFunc (currentData, isGetList) { // 关联数据源：选择来源功能currentData:当前树节点的data  isGetList:是为了得到下拉列表吗
      if (!isGetList) {
        currentData.label = currentData.relativeSourceName
        currentData.relativeIndex = ''
        currentData.relativeMasterFields = []
        this.masterFieldList = [] // 清空前置主键列表
        this.dataSetList = [] // 清空数据集下拉列表
      }
      ModelService.getModelInfo('datasourcemodel', currentData.relativeSourceName).then(res => {
        if (res.data && res.data.defineDataSets) {
          this.dataSetList = res.data.defineDataSets
        }
      })
    },
    selectRelativeIndex (currentData, isGetList) { // 关联来源：选择数据集
      if (!isGetList) {
        currentData.relativeMasterFields = []
        this.masterFieldList = [] // 清空前置主键列表
        currentData.relativeIndex = currentData.relativeIndex.name
      }
      if (currentData.relativeIndex && currentData.relativeIndex.defineDBTables) {
        let dbTables = currentData.relativeIndex.defineDBTables
        if (dbTables.length) {
          this.masterFieldList = []
          dbTables.map((item) => {
            if (item.defineFields && item.defineFields.length) {
              this.masterFieldList = this.masterFieldList.concat(item.defineFields)
            }
          })
        }
      }
    },
    addRelationFiled (defineRelativeFields, index) { // 关联来源：新增关联字段
      const empty = {
        name: '',
        aliasName: '',
        controlType: '',
        displayName: '',
        shortDisplayName: '',
        fieldType: '',
        sourceFieldSize: 0,
        useFieldName: '',
        canUseCondition: false,
        visibleCondition: '',
        editFlag: true
      }
      defineRelativeFields.splice(index + 1, 0, empty)
    },
    addBackFiled (defineRelativeBackFields, index) { // 关联来源：新增带回字段
      const empty = {
        name: '',
        aliasName: '',
        useFieldName: '',
        editFlag: true
      }
      if (index !== undefined) {
        defineRelativeBackFields.splice(index + 1, 0, empty)
      } else {
        defineRelativeBackFields.push(empty)
      }
    },
    delReltionFiled (defineRelativeFields, index) { // 关联数据源：删除relativeFild
      defineRelativeFields.splice(index, 1)
      if (!defineRelativeFields.length) {
        this.addRelationFiled(defineRelativeFields, 0)
      }
    },
    delBackFiled (defineRelativeBackFields, index) { // 关联数据源：删除checkFild
      defineRelativeBackFields.splice(index, 1)
      if (!defineRelativeBackFields.length) {
        this.addBackFiled(defineRelativeBackFields, 0)
      }
    },
    selectRelativeField (scope, defineRelativeFields) { // 关联数据源：选择一个relativeField
      if (this.masterFieldList.length && defineRelativeFields.length) {
        this.masterFieldList.map((item, i) => {
          item.controlType = item.controlType || 'Unknown'
          this.$set(item, 'disabled1', false)
          if (scope.row.name === item.name) defineRelativeFields.splice(scope.$index, 1, item)
          defineRelativeFields.map(value => {
            if (item.name === value.name) {
              this.$set(item, 'disabled1', true)
            }
          })
        })
      }
    },
    selectFieldName (scope, defineRelativeBackFields) { // 关联数据源：选择一个checkField
      scope.row.useFieldName = scope.row.name
      if (this.masterFieldList.length && defineRelativeBackFields.length) {
        this.masterFieldList.map((item, i) => {
          this.$set(item, 'disabled2', false)
          defineRelativeBackFields.map(value => {
            if (item.name === value.name) {
              this.$set(item, 'disabled2', true)
            }
          })
        })
      }
    },
    cancelRelatioList () { // 关联来源：关闭dialog
      const row = lodash.cloneDeep(this.backups) // 取消编辑，回到编辑前的版本
      this.tableData.splice(row.index, 1, row)
      this.relationShow = false
    },
    submitRelatioList () { // 关联数据源：点击完成后进行校验
      let isComplete = true
      if (this.currentTableRow.relativeDataSources && this.currentTableRow.relativeDataSources.length) {
        const list = this.currentTableRow.relativeDataSources
        list.map(item => {
          if (item.relativeSourceName) {
            if (!item.relativeIndex) { // 有关联数据源但是数据集没有选
              isComplete = false
              this.$messageService.info('请为成员：' + item.relativeSourceName + '选择数据集')
            } else {
              this.relationShow = false
              if (item.defineRelativeFields && item.defineRelativeFields.length) { // 过滤掉无效的relativeField
                item.defineRelativeFields = item.defineRelativeFields.filter(field => {
                  return field.name && field.displayName && field.controlType
                })
              }
              if (item.defineRelativeBackFields && item.defineRelativeBackFields.length) { // 过滤掉无效的checkField
                item.defineRelativeBackFields = item.defineRelativeBackFields.filter(field => {
                  return field.name
                })
              }
            }
          } else {
            item.defineRelativeBackFields = []
            item.defineRelativeFields = []
          }
        })
      }
      if (isComplete) this.relationShow = false
    }
  }
}
</script>

<style lang='scss' scoped>
.dataTableBox {
  .copyFiledDialog {
    .copyModelBox {
      padding-bottom: 20px;
      // background: skyblue;
    }
    .switchBox {
      padding: 20px 0;
      span {
        display: inline-block;
        margin-right: 20px;
      }
    }
  }

  .relationForm {
    display: flex;
    flex-wrap: wrap;

    .el-form-item {
      width: 33%;
      // margin-right: 25px;
      .el-select {
        width: 100%;
      }
    }
  }

  .addRow {
    .el-button {
      margin-right: 10px;
    }
  }

  .require {
    & > div {
      &::before {
        content: "*";
        color: red;
      }
    }
  }

  .indexBox {
    display: flex;
    justify-content: space-between;

    .leftBox {
      flex: 5;

      & > p {
        margin-bottom: 10px;
      }
    }

    .rightBox {
      flex: 5;
      margin-left: 35px;

      & > p {
        margin-bottom: 10px;
      }

      & > div {
        min-height: 100px;
        padding: 5px;
        box-shadow: 0px 0px 2px #ccc;

        .noData {
          height: 100px;
          color: #ccc;
        }
      }

      .item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .el-input {
          width: 80px;
          margin-left: 10px;
        }

        p {
          cursor: pointer;
          margin-left: 10px;
        }

        .filedname {
          min-width: 60px;
        }
      }
    }
  }

  .tab-box {
    background: #fff;
    border-radius: 5px;
    height: 100%;
    padding: 20px;

    .headbox {
      display: flex;
      justify-content: space-between;
    }

    .h3 {
      margin-top: 15px;
      font-size: 18px;
    }

    .viaTitle {
      font-size: 14px;
      margin-top: 5px;
      color: #999;
    }

    .searchBox {
      height: 40px;
      display: flex;
      justify-content: flex-start;

      .searchInput {
        margin-right: 10px;
      }
    }

    .table {
      margin-top: 15px;
    }

    .pagination {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
    }
  }

  .datasource {
    display: block;
    width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .el-table {
    margin-top: 15px;
  }

  .tree .is-current > .el-tree-node__content {
    background: #409eff;
    color: #fff;
  }

  .custom-tree-node {
    width: 300px;
    display: flex;
    justify-content: space-between;
    .label {
      display: flex;
      align-items: center;
      i {
        font-size: 12px;
        margin-top: 2px;
      }
    }
    .setIcon {
      height: 15px;
      line-height: 15px;
    }
    .setBox {
      position: absolute;
      right: 0;
      margin-top: 26px;
      padding: 15px;
      background: #fff;
      color: #606266;
      box-shadow: 0px 0px 2px #ccc;
    }
  }
}
</style>
<style lang='scss'>
.dataTableBox {
  .el-table {
    .warningItem {
      .el-input__inner {
        color: red;
        border: 1px solid red;
      }
    }
  }
  .el-select__tags {
    overflow: hidden;
  }
  .el-tag--info {
    overflow-x: hidden;
    .el-select__tags-text {
      display: inline-block;
      max-width: 90px;
    }
  }
  .copyTreeBox {
    margin-bottom: 20px;
    p {
      margin-bottom: 10px;
    }
    .el-scrollbar__wrap {
      height: 250px;
    }
  }
}
</style>
