<template>
  <div class='menu' ref='menu'>
    <!-- dialog中包裹表单 -->
    <el-dialog title="菜单明细" :visible.sync="dialogVisible" :close-on-click-modal="false" :close-on-press-escape='false' :before-close='handleClose' width='800px'>
      <el-form :model="form" class='tableForm clearfix' label-position="right" :inline="true" :rules="rules" ref='dialogForm'>
        <el-form-item label="名称" :label-width="formLabelWidth" prop='name'>
          <el-input v-model="form.name" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="中文名称" prop="displayName" :label-width="formLabelWidth">
          <name-express @getExpress='getExpress' :initExpress='form.displayNameFormat'></name-express>
        </el-form-item>
        <el-form-item label="菜单类型" :label-width="formLabelWidth" prop='menuStyle'>
          <el-select v-model="form.menuStyle" placeholder="请选择">
            <el-option label="Class(分类)" value="Class"></el-option>
            <el-option label="Normal(功能)" value="Normal"></el-option>
            <el-option label="Separator(分隔符)" value="Separator"></el-option>
            <el-option label="ShellCommand(链接)" value="ShellCommand"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="菜单关联功能" :label-width="formLabelWidth">
          <el-select :disabled='form.menuStyle!=="Normal"' v-model="form.functionName" placeholder="请选择" filterable clearable>
            <el-option v-for='fun in functionList' :label='fun.name+"("+fun.displayName+")"' :value="fun.name" :key='fun.displayName'></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="菜单链接" :label-width="formLabelWidth">
          <el-input :disabled='form.menuStyle!=="ShellCommand"' v-model="form.functionUrl" auto-complete="off" maxlength="100"></el-input>
        </el-form-item>
        <el-form-item label="上级菜单" :label-width="formLabelWidth">
          <searchBox1 v-show="editFlag==='添加'" ref='searchBox' :options='tableData' type='tree' @select="selectThree" placeholder="请选择或者搜索" class='searchBox' limit=2 :props='betaProps' :disabled='disabled'></searchBox1>
          <el-input disabled v-show="editFlag==='编辑'" v-model="parentName"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="saveMenu">保存</el-button>
        <el-button type="primary" plain @click="resetForm('是否放弃当前编辑并退出？', {}, 'cancel')">取 消</el-button>
      </div>
    </el-dialog>
    <!-- 标题搜索栏 -->
    <div class="functionTop">
      <div class="functionTitle">
        <h3>菜单模型维护</h3>
        <p>设置菜单列表，可以增删改查</p>
      </div>
      <div class="functionButton">
        <div class="topRow el-form-item">
          <el-input v-model="filterWord" placeholder="请输入名称搜索" maxlength="64"></el-input>
        </div>
        <div class="topRow">
          <el-button type="primary" plain icon="el-icon-search">查询</el-button>
        </div>
        <div class="topRow">
          <el-button type='primary' @click="changeMenu(form, '添加')" icon="el-icon-plus">添加</el-button>
        </div>
      </div>
    </div>
    <!-- 选择移动位置 -->
    <el-dialog :disable='disable' title="选择父级节点" :visible.sync="brotherShow" v-if='brotherShow' width="400px" :close-on-click-modal="false" :close-on-press-escape='false' :before-close='moveDialogClose'>
      <el-form :model="brother" class='moveForm' label-position="left" :inline="true">
        <el-form-item label="节点位置" :label-width="formLabelWidth" prop='menuStyle'>
          <searchBox1 :options='tableData' type='tree' @select="selectParent" placeholder="请选择或者搜索" class='searchBox' :props='betaProps' limit=2></searchBox1>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="moveMenu1">保存</el-button>
        <el-button type="primary" plain @click="resetForm('是否放弃当前选择并退出？', {}, 'cancel')">取 消</el-button>
      </div>
    </el-dialog>
    <!-- 表格树组件 -->
    <div class='tableBox'>
      <table-tree ref='tableTree' :data="tableData" :columns="tableTreeColumns" border :filterText='filterWord' :props='defaultProps'>
        <el-table-column label="操作" width="180" fixed='right' align='left'>
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="changeMenu(scope.row, '编辑')">编辑</el-button>
            <el-button type="text" size="small" @click='resetForm("您确定删除这个菜单项吗？", scope, "delete")'>删除</el-button>
            <el-dropdown @command="moveMenu" class="tags-close-box">
              <span class='el-dropdown-link'>
                更多<i class="el-icon-arrow-down el-icon--right"></i>
              </span>
              <el-dropdown-menu size="small" slot="dropdown" class='comList'>
                <el-dropdown-item :command='{type: "上移", scope}'>
                  <i class="icon-shangyi iconfont"></i>
                  <span>上移</span>
                </el-dropdown-item>
                <el-dropdown-item :command='{type: "下移", scope}'>
                  <i class="icon-xiayi iconfont"></i>
                  <span>下移</span>
                </el-dropdown-item>
                <el-dropdown-item :command='{type: "升级", scope}'>
                  <i class="icon-banbenshengji iconfont"></i>
                  <span>升级</span>
                </el-dropdown-item>
                <el-dropdown-item :command='{type: "降级", scope}'>
                  <i class="icon-banbenshengji iconfont reverse"></i>
                  <span>降级</span>
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </template>
        </el-table-column>
      </table-tree>
    </div>
  </div>
</template>

<script>
import { nameReg, chineseReg } from '@/assets/js/comm/constant'
import tableTree from '@/components/tableTree'
import nameExpress from '@/components/nameExpress/input.vue'
import searchBox1 from '../../components/searchBox/beta'
import modelService from '@/assets/js/service/modelservice'
import lodash from 'lodash'

export default {
  name: 'menuModel',
  components: {
    tableTree,
    searchBox1,
    nameExpress
  },
  data () {
    let checkName = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('菜单名称不能为空'))
      }
      setTimeout(() => {
        if (!nameReg.test(value)) {
          callback(new Error('名称只允许为字母数字或者._-且不能数字开头'))
          return
        }
        callback()
      }, 300)
    }
    let checkDisplayName = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('中文名称不能为空'))
      }
      setTimeout(() => {
        if (!chineseReg.test(value)) {
          callback(new Error('中文名称只允许为中文'))
          return
        }
        callback()
      }, 300)
    }
    return {
      parentName: '', // 编辑上级菜单名称
      editFlag: '',
      dialogVisible: false,
      expressShow: false,
      brotherShow: false,
      formLabelWidth: '100px',
      filterWord: '',
      parent: {},
      brother: {},
      changeType: '',
      tableData: [],
      time: 1, // 协助判断是否改动了dialog表单值
      functionList: [], // 功能模型列表
      defaultProps: {
        // searchBox中下拉树的props
        children: 'menus', // 下拉树或者表格树中表示子节点数组的属性
        label: 'displayName', // 下拉树中用来显示的名称
        id: 'mid', // 用来表示树节点唯一标志的属性
        keyWord: 'name' // 用来筛选或者显示的属性
      },
      betaProps: {
        // searchBox中下拉树的props
        children: 'menus', // 下拉树或者表格树中表示子节点数组的属性
        label: 'label', // 下拉树中用来显示的名称
        id: 'mid', // 用来表示树节点唯一标志的属性
        keyWord: 'name' // 用来筛选或者显示的属性
      },
      form: {
        show: true, // 控制节点自身是否显示
        mid: 0,
        menuStyle: '', // 菜单类型 下拉
        functionName: '', // 菜单关联功能
        functionUrl: '', // 菜单链接 前端路由
        name: '', // 名称
        displayName: '', // 中文名称
        displayNameFormat: '' // 中文名称格式
      },
      rules: {
        menuStyle: [
          {
            required: true,
            message: '请选择菜单类型',
            trigger: 'change'
          }
        ],
        functionName: [
          {
            required: true,
            message: '请选择菜单关联功能',
            trigger: 'blur'
          }
        ],
        functionUrl: [
          {
            required: true,
            message: '请输入菜单链接',
            trigger: 'blur'
          }
        ],
        name: [
          { required: true, validator: checkName, trigger: 'blur' },
          { min: 0, max: 64, message: '长度不得超过64个字符', trigger: 'blur' }
        ],
        displayName: [
          {
            required: true,
            validator: checkDisplayName,
            trigger: 'blur'
          },
          { min: 0, max: 100, message: '长度不得超过100个字符', trigger: 'blur' }
        ]
      },
      tableTreeColumns: [
        {
          text: '名称',
          value: 'name',
          width: 250
        },
        {
          text: '中文名称',
          value: 'displayName',
          width: 250
        },
        {
          text: '菜单类型',
          value: 'menuStyle',
          width: 150
        },
        {
          text: '关联功能',
          value: 'functionName',
          width: 200
        },
        {
          text: '菜单链接',
          value: 'functionUrl'
        }
      ]
    }
  },
  computed: {
    disabled () {
      return this.changeType === '编辑'
    }
  },
  watch: {
    dialogVisible: function (newValue) {
      if (!newValue) {
        this.$refs.searchBox.selectTreeNode(
          {},
          {
            checkedKeys: []
          }
        )
        this.parent = {}
        this.getTableList()
      }
    },
    form: {
      handler: function (newV) {
        if (this.dialogVisible) {
          this.time++
        }
      },
      deep: true
    },
    'form.menuStyle': function (newV) {
      if (newV !== 'Normal') {
        this.form.functionName = ''
      } else if (newV !== 'ShellCommand') {
        this.form.functionUrl = ''
      }
    },
    'form.functionName': function (newV, oldV) {
      if (!this.form.displayName) return false // 没有中文名称时不处理
      let arr = this.form.displayName.split('(')
      let arrFormat = this.form.displayNameFormat.split('(')
      let suffix = arr[arr.length - 1]
      if (this.time > 2) {
        if (newV) {
          // 选择一个有值的选项
          if (oldV && oldV + ')' === suffix) {
            arr.splice(arr.length - 1, 1)
            arrFormat.splice(arr.length - 1, 1)
            this.form.displayName = arr.join('') + '(' + newV + ')'
            this.form.displayNameFormat = arr.join('') + '(' + newV + ')'
          } else {
            this.form.displayName += '(' + newV + ')'
            this.form.displayNameFormat += '(' + newV + ')'
          }
        } else {
          // 清除一个选项或者关闭
          if (oldV && oldV + ')' === suffix) {
            arr.splice(arr.length - 1, 1)
            arrFormat.splice(arr.length - 1, 1)
            this.form.displayName = arr.join('')
            this.form.displayNameFormat = arr.join('')
          }
        }
      }
    }
  },
  created () {
    this.getTableList()
    this.getFunctionList()
  },
  methods: {
    getFunctionList () {
      modelService.listAll('functionmodel').then(res => {
        this.functionList = res.data
      })
    },
    getTableList () {
      // 获取菜单模型树
      modelService.menuTree().then(res => {
        if (res.data) {
          this.tableData = res.data
          this.getMaxSeq(this.tableData)
          this.setLabel(this.tableData)
          // console.log(this.tableData)
        }
      })
    },
    selectThree (data, nodes) {
      // 选择一个父节点
      this.parent = data
    },
    selectParent (data, nodes) {
      const data1 = lodash.cloneDeep(data)
      console.log('树：', data1, nodes)
      // 选择一个父节点降级
      if (data._level === this.sortList[0]._level && data.mid === this.sortList[0].mid) { // 选择自己
        this.parent = {}
      } else if (data.parentId === this.sortList[0].mid) { // 选择子元素
        this.parent = {}
      } else {
        this.parent = data
      }
      console.log(this.parent)
    },
    getBrother (name, format) {
      // 选择中文名称格式
      this.expressShow = true
    },
    getExpress (name, format) {
      // 选择中文名称格式
      this.expressShow = false
      this.form.displayName = name
      this.form.displayNameFormat = format
    },
    cancelDialog () {
      this.dialogVisible = false
      this.brotherShow = false
      this.form = {
        show: true, // 控制节点自身是否显示
        mid: 0,
        menuStyle: '', // 菜单类型 下拉
        functionName: '', // 菜单关联功能
        functionUrl: '', // 菜单链接 前端路由
        seq: '', // 排序字段
        name: '', // 名称
        displayName: '', // 中文名称
        shortDisplayNameFormat: '', // 显示简称
        displayNameFormat: '' // 中文名称格式
      }
      this.time = 1
    },
    changeMenu (data, type) {
      // 添加/编辑菜单节点 data:要编辑的菜单节点数据
      if (type === '添加') {
        this.cancelDialog()
        this.editFlag = '添加'
      } else {
        this.form = data
        this.editFlag = '编辑'
        console.log(data)
        if (data._level !== 1) {
          this.parentName = data.parent.name
        }
      }
      this.time = 1
      this.changeType = type
      this.dialogVisible = true
    },
    saveMenu () {
      // 新增/编辑菜单
      this.$refs.dialogForm.validate(valid => {
        if (valid) {
          if (this.changeType === '添加') {
            this.form.parentId = this.parent.mid || '0'
          }
          this.form.parent = null
          this.form.menus = null
          this.form.displayNameFormat = this.form.displayNameFormat || this.form.displayName
          const appInfo = JSON.parse(localStorage.appInfo)
          let obj = {
            appName: appInfo.appName,
            appVersion: appInfo.appVersion,
            ...this.form
          }
          modelService.saveModel('menumodel', obj).then(res => {
            this.$messageService.success(`${this.changeType}菜单成功!`)
            this.$refs.dialogForm.resetFields()
            this.dialogVisible = false
            this.parent = {}
          })
        }
      })
    },
    resetForm (msg, scope, type) {
      // 删除或者取消前的询问
      if (type === 'delete') {
        this.$confirm(msg, '提示', {
          cancelButtonText: '取消',
          confirmButtonText: '确定',
          type: 'warning'
        })
          .then(() => {
            this.deleteMenu(scope)
          })
          .catch(() => { })
      } else {
        if (this.time > 2) {
          this.$confirm(msg, '提示', {
            cancelButtonText: '取消',
            confirmButtonText: '确定',
            type: 'warning'
          })
            .then(() => {
              this.$refs.dialogForm.resetFields()
              this.setDisabled({}, true) // 重置所有禁止选项
              this.cancelDialog()
            })
            .catch(() => { })
        } else {
          if (this.dialogVisible) this.$refs.dialogForm.resetFields()
          this.setDisabled({}, true) // 重置所有禁止选项
          this.cancelDialog()
        }
      }
    },
    handleClose () {
      // 对话框关闭
      this.resetForm('是否放弃当前编辑并退出？', {}, 'close')
    },
    moveDialogClose () {
      this.resetForm('是否放弃当前选择并退出？', {}, 'close')
    },
    deleteMenu (scope) {
      // 删除菜单模型
      modelService.deleteModel('menumodel', scope.row.mid).then(res => {
        this.$messageService.success('删除菜单成功!')
        this.getTableList()
      })
    },
    moveMenu (command) {
      // 移动菜单项
      const { scope, type } = command
      this.sortList = []
      if (type === '降级') {
        this.sortList.push(scope.row)
        if (scope.row._level >= 3) {
          this.$messageService.info('当前菜单已经是三级菜单了')
        } else {
          this.brotherShow = true // 选择父级节点的dialog
          this.setDisabled(scope.row, false) // 禁止选择自己
        }
        return false
      } else {
        this.getSortList(
          {
            menus: this.tableData
          },
          scope.row.mid,
          type
        )
      }
      if (this.sortList.length > 0) {
        this.sortList.map(item => {
          item.menus = null
          item.parent = null
        })
        modelService.sortMenu(this.sortList).then(res => {
          this.$messageService.success(`${type}菜单成功!`)
          this.sortList = []
          this.getTableList()
        })
      }
    },
    moveMenu1 () {
      // 降级操作
      if (!this.parent.mid) {
        this.$messageService.info(`请选择正确的父元素!`)
        return false
      }
      let son = this.sortList[0]
      this.canDowngrade = true // 能否降级
      this.getCanDowngrade(son, this.parent._level, son._level)
      if (!this.canDowngrade) {
        this.$messageService.info(`最多允许三级菜单，请选择正确的父元素!`)
        return false
      }
      this.brotherShow = false
      this.setDisabled({}, true) // 禁止选择自己
      this.getSortList(
        {
          menus: this.tableData
        },
        this.sortList[0].mid,
        '降级'
      )
      if (this.sortList.length > 0) {
        this.sortList.map(item => {
          item.menus = null
          item.parent = null
        })
        modelService.sortMenu(this.sortList).then(res => {
          this.$messageService.success(`菜单降级成功!`)
          this.sortList = []
          this.parent = {}
          this.getTableList()
        })
      }
    },
    getCanDowngrade (data, parentlevel, sonLevel) {
      // 预判降级后是否会超过三级菜单
      if (data.menus && data.menus.length) {
        data.menus.map(item => {
          if (item._level - sonLevel + 1 + parentlevel > 3) {
            this.canDowngrade = false
          } else {
            this.getCanDowngrade(item, parentlevel, sonLevel)
          }
        })
      }
    },
    /**
     * 降级时不允许选择自己和自己的子元素
     * @param {Object} data 当前要降级的行的data
     * @param {Boolean}  isReset 是否是重置，降级成功或者取消要重置
     */
    setDisabled (data, isReset) {
      if (isReset) {
        this.tableData.map(item => {
          item.disabled = false
          if (item.menus && item.menus.length) {
            item.menus.map(son => {
              son.disabled = false
            })
          }
        })
      } else {
        data.disabled = true
        if (data._level === 1 && data.menus && data.menus.length) {
          data.menus.map(item => {
            item.disabled = true
          })
        }
      }
    },
    getSortList (data, id, type) {
      // 递归找到要移动的节点数据
      let tem = ''
      let menus = data.menus
      menus.map((item, index) => {
        if (id === item.mid) {
          if (type === '上移') {
            if (index === 0) {
              this.$messageService.info('当前菜单已经是第一项了')
              return false
            } else {
              tem = item.seq
              item.seq = menus[index - 1].seq
              menus[index - 1].seq = tem
              this.sortList.push(menus[index - 1])
              this.sortList.push(item)
            }
          } else if (type === '下移') {
            if (index >= menus.length - 1) {
              this.$messageService.info('当前菜单已经是最后一项了')
              return false
            } else {
              tem = item.seq
              item.seq = menus[index + 1].seq
              menus[index + 1].seq = tem
              this.sortList.push(menus[index + 1])
              this.sortList.push(menus[index])
            }
          } else if (type === '升级') {
            if (item.parentId === '0') {
              this.$messageService.info('当前菜单已经是一级菜单了')
              return false
            } else {
              item.parentId = data.parentId
              item.seq = data.maxSeq + 1
              this.$set(this, 'sortList', menus.slice(index + 1))
              this.sortList.map((x, i) => {
                x.seq--
              })
              this.sortList.push(item)
            }
          } else if (type === '降级') {
            item.parentId = this.parent.mid
            console.log(this.tableData)
            this.getMenus(this.tableData, this.parent.mid)
            if (this.parent.menus && this.parent.menus.length) {
              item.seq = this.parent.menus[0].maxSeq + 1
            } else {
              item.seq = 1
            }
            this.$set(this, 'sortList', menus.slice(index + 1)) // 得到要降级节点的弟弟们
            this.sortList.map((x, i) => { // 弟弟们seq都减1
              x.seq--
            })
            this.sortList.push(item)
          }
        } else {
          if (item.menus && item.menus.length) {
            this.getSortList(item, id, type)
          }
        }
      })
    },
    getMaxSeq (data) { // 获取每个层级的最大seq
      data.map((item, index) => {
        item.seq = index + 1
        item.maxSeq = data.length
        if (item.menus && item.menus.length) {
          this.getMaxSeq(item.menus)
        }
      })
    },
    getMenus (data, id) { // 降级时为父元素找到menus
      data.map((item, index) => {
        if (item.mid === id) {
          this.parent = item
        } else {
          if (item.menus && item.menus.length) {
            this.getMenus(item.menus, id)
          }
        }
      })
    },
    setLabel (data) {
      // 给每个树节点设置自定义文本
      data.map((item, index) => {
        item.label = item.name + '(' + item.displayName + ')'
        if (item.menus && item.menus.length) {
          this.setLabel(item.menus)
        }
      })
    }
  }
}
</script>

<style scoped lang='scss'>
.menu {
  background: $main-bg;
  min-height: 100%;
  box-sizing: border-box;
  padding: $main-padding;
  .functionTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 16px 0;
    .functionTitle {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h3 {
        line-height: 24px;
        font-weight: 700;
        font-size: 18px;
      }
      p {
        line-height: 16px;
        font-size: 14px;
        color: #999999;
      }
    }
    .functionButton {
      display: flex;
      align-items: center;
      .topRow {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: 12px;
      }
    }
  }
  .tags-close-box {
    width: 80px;
    height: 30px;
    padding-left: 10px;
    box-sizing: border-box;
    text-align: left;
    font-size: 12px;
    .el-dropdown-link {
      @extend %unable-select;
      color: #409eff;
      text-align: center;
      line-height: 26px;
      box-sizing: border-box;
    }
  }
}

.el-dropdown-menu__item {
  font-size: 12px;
}

.reverse:before {
  display: inline-block;
  transition: transform 0.3s;
  transform: rotate(-180deg);
}
</style>
<style lang='scss'>
.menu {
  .el-dialog {
    .tableForm {
      // overflow: hidden;
      .el-form-item {
        float: left;
        width: 47%;
        display: flex;
        justify-content: space-between;
        &:nth-child(even) {
          // 偶数
          float: right;
        }
        .el-form-item__content {
          flex: 1;
        }
        .el-select {
          width: 100%;
        }
      }
    }
    .moveForm {
      width: 95%;
    }
    .el-form-item__label {
      height: 32px;
      line-height: 32px;
    }
    .el-input__inner,
    .el-form-item__content {
      height: 32px;
      line-height: 32px;
    }
  }
}
</style>
